Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, pull-oss-test-infra-oss-terraform-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-test-infra-gencred-refresh-kubeconfig

pull-prow-config-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20231208-e9e4b8c0b8
      imagePullPolicy: Always
      command:
      - checkconfig
      args:
      - --config-path=./prow/oss/config.yaml
      - --job-config-path=./prow/prowjobs
      - --plugin-config=prow/oss/plugins.yaml
  ...

pull-oss-test-infra-check-create-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20231208-e9e4b8c0b8
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
      - --prow-config=prow/oss/config.yaml
      - --prow-job-config=prow/prowjobs
  ...

pull-oss-test-infra-oss-terraform-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-terraform:v20210810-2149cda
      command:
      - make
      args:
      - -C
      - prow/oss/terraform
      - validate
      resources:
        requests:
          cpu: 100m
          memory: 1Gi

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-test-infra/gcloud-in-go:v20220607-33951ed1ed
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-create-testgrid-config:
  labels:
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    serviceAccountName: testgrid-config-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20231208-e9e4b8c0b8
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
  ...

post-test-infra-gencred-refresh-kubeconfig:
  decorate: true
  spec:
    serviceAccountName: gencred-refresher
    containers:
    - name: gencred
      image: gcr.io/k8s-prow/gencred:v20231208-e9e4b8c0b8
      command:
      - gencred
      args:
      - --config=./prow/oss/gencred-config/gencred-config.yaml

Bump version for kfp-kubernetes-execution-tests
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Update OWNERS for prow/prowjobs/GoogleCloudPlatform/esp-v2/OWNERS
  prow/prowjobs/GoogleCloudPlatform/esp-v2/OWNERS
Due: pull-prow-config-validate

chore: bump release branch CI to v1.18
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Temporarily make KFP e2e test and upgrade test non-blocking
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Change the default Git provider to CSR
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update ESPv2 prow to gcr.io/cloudesf-testing/gcpproxy-prow:v20240503-v2.46.0-17-ge72b17e9-master
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Require self-approval for Kubeflow repos
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Add ubuntu 2410 to ubuntu-daily CIT runs
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add always pull image param for better debugging and iterating.
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

chore(kubeflow): Remove Google CLA check for kubeflow.
  prow/oss/config.yaml
Due: pull-prow-config-validate

Update ESPv2 prow image to version . The previous prow didn't work because it was too new version and isn't compatible with alpine.
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Onboard github.com/GoogleCloudPlatform/cloud-image-tests to prow
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Add presubmit tests for cloud-image-tests
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/cloud-image-tests.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Remove imagetest presubmits from guest-test-infra
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/cloud-image-tests.yaml
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Enable trigger for cloud-image-tests
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Pin to a specific cluster version for Autopilot rapid and rapid-latest
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

ci: use local git provider as default for CS jobs
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

chore: Bump python version for Kubeflow Pipelines CI
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-periodics.yaml
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-postsubmits.yaml
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Bump ubuntu daily shapevalidation periodic timeout
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add new test grid for osconfig-agent pkg testing version
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

fix typo
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add CIT period tests for packageupgrade test
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Exclude packageupgrade from cit-periodics
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

CentOS Stream 8 is EOL.
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update gcp-guest-config.yaml
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Remove KFP presubmit backend test prow config
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Removing from ubuntu shape test
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

fix
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Path conditions:
  pull-prow-config-validate: any of: ^prow/(oss/(config|plugins)\.yaml$|prowjobs/)|^\.prow
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(\.prow.*|prow/prowjobs/.*|testgrid/config)\.yaml$
  pull-oss-test-infra-oss-terraform-validate: any of: ^prow/oss/terraform/
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-test-infra-gencred-refresh-kubeconfig: any of: ^prow/oss/gencred-config/
