Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, pull-oss-test-infra-oss-terraform-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  pull-prow-config-validate: any of: ^prow/(oss/(config|plugins)\.yaml$|prowjobs/)|^\.prow
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(\.prow.*|prow/prowjobs/.*|testgrid/config)\.yaml$
  pull-oss-test-infra-oss-terraform-validate: any of: ^prow/oss/terraform/
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-test-infra-gencred-refresh-kubeconfig: any of: ^prow/oss/gencred-config/

chore: update owners for Config Sync repository
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/OWNERS
Due: pull-prow-config-validate

chore: add tiffanny29631 as owner
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/OWNERS
Due: pull-prow-config-validate

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/cherrypicker.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Bumping k8s-staging-test-infra GCR images
  .prow/presubmits.yaml
  prow/prowjobs/GoogleCloudPlatform/gke-networking-api/gke-networking-api-config.yaml
  prow/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/k8s-cloud-provider-config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

kpt-config-sync: increase stress test memory
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

kpt-config-sync: more stress test nodes
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add a new build cluster to the OSS Prow cluster’s configuration.
  prow/oss/config.yaml
Due: pull-prow-config-validate

Update kubeconfigs.yaml with new build cluster
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Update presubmit config to use new ConfigMap and Secret names
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update the cluster parameter to orcl-prow-build-cluster
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

set the cluster parameter to build-gcp-oracle-team
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

rename nonrac-asm-syd1 to nonrac-asm-sao1
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Remove old cluster context from the legacy kubeconfig secret.
  prow/oss/cluster/prow-controller-manager.yaml
Due: post-oss-test-infra-deploy-prow

Set up linter for YAML files
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Change the image to cytopia/ansible-lint
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

remove always_run:true
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Bumping k8s-staging-test-infra GCR images
  .prow/presubmits.yaml
  prow/prowjobs/GoogleCloudPlatform/gke-networking-api/gke-networking-api-config.yaml
  prow/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/k8s-cloud-provider-config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-postsubmits.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Treat GH approve as LGTM for kubeflow org
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

feat(kubeflow): Enable milestoneapplier plugin and milestone team
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

fix(plugins): rename kubeflow-trainer-maintainers to kubeflow-trainer-team.
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Switch from single-instance configuration to a RAC cluster
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

add rac-config ConfigMap
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add milestone for Kubeflow SDK
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Remove references to the old build cluster
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/kubernetes_external_secrets.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/config.yaml
  prow/oss/gencred-config/gencred-config.yaml
Due: pull-prow-config-validate, post-oss-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Set custom service account for presubmit tests
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

add kubeflow community repo and mantainers
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

add milestone
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

new milestone
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Update Config Sync release branch CI to v1.21
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

chore: update stress test job definition
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config
