Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, pull-oss-test-infra-oss-terraform-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  pull-prow-config-validate: any of: ^prow/(oss/(config|plugins)\.yaml$|prowjobs/)|^\.prow
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(\.prow.*|prow/prowjobs/.*|testgrid/config)\.yaml$
  pull-oss-test-infra-oss-terraform-validate: any of: ^prow/oss/terraform/
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/Makefile|^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-test-infra-gencred-refresh-kubeconfig: any of: ^prow/oss/gencred-config/

Adding additional us-central1 zones for testing
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add release package test config for c3 machine family
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

update gcs-fuse-driver prow job to use team build cluster
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/gcs-fuse-csi-driver/gcs-fuse-csi-driver-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

reduce the resource request and limits as the tests would now run in boskos project
  prow/prowjobs/GoogleCloudPlatform/gcs-fuse-csi-driver/gcs-fuse-csi-driver-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

run prow job in team specific cluster
  prow/prowjobs/GoogleCloudPlatform/gcs-fuse-csi-driver/gcs-fuse-csi-driver-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Specifying x86 architecture type for e2/c3 machine release package periodics
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add new TestGrid for release package testing against ARM64 C4A machines
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Updating c4a release package testing cron schedule
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Updating cron schedule for development purposes.
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Create new release package testing TestGrid for N4 machine family
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Fix incorrect architecture shape argument: arm64 -> x86
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Increase parallel count to address timeout errors
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Fix: Address resource not found errors by updating zones and machine availability
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Expand timeout window for release package periodics
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Set timeout to 12h to align with cron scheduling
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Increase parallel count based off of current timeout results
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Bumping k8s-staging-test-infra GCR images
  .prow/presubmits.yaml
  prow/prowjobs/GoogleCloudPlatform/gcs-fuse-csi-driver/gcs-fuse-csi-driver-config.yaml
  prow/prowjobs/GoogleCloudPlatform/gke-networking-api/gke-networking-api-config.yaml
  prow/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/k8s-cloud-provider-config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-postsubmits.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/cherrypicker.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Update release package testing schedule
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

kubeflow: add dependabot to trusted_apps to auto-run ci on bot prs
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

config(kube-agents): add Prow setup for gke-labs/kube-agents
  prow/prowjobs/gke-labs/kube-agents/OWNERS
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update release package testing schedules + Typo fix
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add section for kubeflow/pipelines
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Update approvers list in OWNERS file
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
Due: pull-prow-config-validate

update job mormory limits
  prow/prowjobs/GoogleCloudPlatform/gcs-fuse-csi-driver/gcs-fuse-csi-driver-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

update the boskos URL as it not discoverable across namesapces
  prow/prowjobs/GoogleCloudPlatform/gcs-fuse-csi-driver/gcs-fuse-csi-driver-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Enable override plugin for kube-agents
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Make pull-kube-agents-smoke-test optional / manual for now
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add atulydvg to the list of owners
  OWNERS
Due: none

run tests on locally built driver
  prow/prowjobs/GoogleCloudPlatform/gcs-fuse-csi-driver/gcs-fuse-csi-driver-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update the prow config pararms
  prow/prowjobs/GoogleCloudPlatform/gcs-fuse-csi-driver/gcs-fuse-csi-driver-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

configs(kube-agents): update presubmit job to pull devops-bench harness image, scripts to run full smoke tests and temporarily fetch Gemini key from Secret Manager
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

feat: Add v0.1 milestone for Kubeflow MCP Server
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

feat: enable /milestone for kubeflow/mcp-server and add SDK team as manitainers
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

configs(kube-agents): update presubmit job to use kube-agents-prow registry
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

fix(kube-agents): remove uv sync from presubmit script to prevent missing pyproject.toml error
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update memory limits for prow job
  prow/prowjobs/GoogleCloudPlatform/gcs-fuse-csi-driver/gcs-fuse-csi-driver-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

configs(kube-agents): install make and envsubst for kube-agents-prow to reuse installation script
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

update zonal cluster to regional cluster
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

increase test timeout to match internal prow job timeout
  prow/prowjobs/GoogleCloudPlatform/gcs-fuse-csi-driver/gcs-fuse-csi-driver-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config
