Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, pull-oss-test-infra-oss-terraform-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  pull-prow-config-validate: any of: ^prow/(oss/(config|plugins)\.yaml$|prowjobs/)|^\.prow
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(\.prow.*|prow/prowjobs/.*|testgrid/config)\.yaml$
  pull-oss-test-infra-oss-terraform-validate: any of: ^prow/oss/terraform/
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/Makefile|^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-test-infra-gencred-refresh-kubeconfig: any of: ^prow/oss/gencred-config/

kube-agents: fleet reconcile periodics start in --dry-run for their first week
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

fix(kube-agents): take lgtm only from accounts the OWNERS files name
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

configs(tide): require ci-passed status for kubeflow/pipelines master merges
  prow/oss/config.yaml
Due: pull-prow-config-validate

kube-agents: weekly fleet reconcile on Wednesday morning
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update configurator image version in presubmits.yaml
  .prow/presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config

kube-agents: no TestGrid email for the weekly fleet reconcile; the CI health bot will watch it
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

kube-agents: the seeded-fleet reconcile applies, and the CI health bot watches it and the pull sweep
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

kube-agents: the pull sweep and fleet reconciles log to a bucket kube-agents owns
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

feat(kube-agents): increase smoke test max_concurrency from 30 to 35
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

fix(kube-agents): send the pull-sweep's logs to a bucket kube-agents owns
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

configs(tide): drop fields checkconfig rejects
  prow/oss/config.yaml
Due: pull-prow-config-validate

Bumping k8s-staging-test-infra GCR images
  prow/prowjobs/GoogleCloudPlatform/gke-networking-api/gke-networking-api-config.yaml
  prow/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/k8s-cloud-provider-config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-postsubmits.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

kube-agents: run the smoke test's step 0 before the Boskos lease
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Migrate C3 periodics to run in gce-unstable-pkg-test-images.
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

kube-agents: hand step 0 the App key path, not the PAT
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Target deprecated images in gce-unstable-pkg-test-images CleanerUpper.
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

kube-agents: say what the smoke test's step 0 trades away
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

feat(kube-agents): run the nightly's pull-request cases on a second project
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

kube-agents: a GitLab eval presubmit and a GitLab pass in the pull sweep (gke-labs/kube-agents#2394)
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

kube-agents: the seeded fleet is applied on merge and daily, four projects at a time under a budget, stopping when main moves
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
  prow/prowjobs/gke-labs/kube-agents/kube-agents-postsubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

feat(kube-agents): add today and next nightlies with the agent on Claude
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

kube-agents: the on-merge fleet reconcile starts on any change under bench/tf/fleet, the tree a running one stops on
  prow/prowjobs/gke-labs/kube-agents/kube-agents-postsubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

fix(kube-agents): give the Claude nightlies a 900m budget
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config
