Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, pull-oss-test-infra-oss-terraform-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  pull-prow-config-validate: any of: ^prow/(oss/(config|plugins)\.yaml$|prowjobs/)|^\.prow
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(\.prow.*|prow/prowjobs/.*|testgrid/config)\.yaml$
  pull-oss-test-infra-oss-terraform-validate: any of: ^prow/oss/terraform/
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-test-infra-gencred-refresh-kubeconfig: any of: ^prow/oss/gencred-config/

Enable Workload Identity for ansible-runner Pod
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/cherrypicker.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Add a test case for single-instance setup on BMS
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Use different SSH keys for RAC and single-instance setup
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update GKE E2E test image version to v2.0.0-go1.24.3-gcloud513.0.0-docker20.10.14
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update reservation in a4 prow grid
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Bumping k8s-staging-test-infra GCR images
  .prow/presubmits.yaml
  prow/prowjobs/GoogleCloudPlatform/gke-networking-api/gke-networking-api-config.yaml
  prow/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/k8s-cloud-provider-config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-postsubmits.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

ci: skip config sync e2e when only .github changes
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

add hold plugin to kpt-config-sync
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Update cadence and timeout for cleanerupper
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update cleanerupper timeout to 1h45m
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update OWNERS file
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
Due: pull-prow-config-validate

Split cleanerupper job into logical groups
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update job name
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update tab names
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Drop test pool projects from osconfig cleanup
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Remove ansible linter from oracle-toolkit
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

chore: bump kubekins-e2e for config sync e2e
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-postsubmits.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Remove ubuntu-2004 from testgrid, they're EOL
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Split cleanerupper runs into per-project runs
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add deb12 and deb12_arm64 to package build validation presubmits
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

enable owners-label plugin on kubeflow repos
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Add v2.1 milestore for Kubeflow Trainer
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Remove RHEL 8.4 for SAP
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add guest-package-builder project cleanerupper jobs
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Give unique tab names
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config
