Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, pull-oss-test-infra-oss-terraform-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-test-infra-gencred-refresh-kubeconfig

Path conditions:
  pull-prow-config-validate: any of: ^prow/(oss/(config|plugins)\.yaml$|prowjobs/)|^\.prow
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(\.prow.*|prow/prowjobs/.*|testgrid/config)\.yaml$
  pull-oss-test-infra-oss-terraform-validate: any of: ^prow/oss/terraform/
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/Makefile|^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-test-infra-gencred-refresh-kubeconfig: any of: ^prow/oss/gencred-config/

configs(kube-agents): install missing packages for kube-agents-prow to reuse installation script
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

configs(kube-agents): increase presubmit test timeout
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Enhance the create cluster script to support regional cluster creation
  prow/oss/create-build-cluster.sh
Due: none

update cluster name to trigger cluster refresh for regional cluster
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
  prow/oss/config.yaml
Due: pull-prow-config-validate, post-oss-test-infra-deploy-prow

Revert "update zonal cluster to regional cluster"
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

update cluster name to trigger cluster refresh for regional cluster
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Revert "Merge pull request #2643 from Sneha-at/update_cluster_cert"
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

update zonal cluster to regional
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Bumping k8s-staging-test-infra GCR images
  .prow/presubmits.yaml
  prow/prowjobs/GoogleCloudPlatform/gcs-fuse-csi-driver/gcs-fuse-csi-driver-config.yaml
  prow/prowjobs/GoogleCloudPlatform/gke-networking-api/gke-networking-api-config.yaml
  prow/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/k8s-cloud-provider-config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-postsubmits.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/cherrypicker.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

add Kubeflow MCP 0.2 milestone
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

feat(kube-agents): skip the smoke presubmit on the unit tests under scripts/
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

configs(pipelines): scope ci-passed gate to master; block needs-ok-to-test in Tide queries
  prow/oss/config.yaml
Due: pull-prow-config-validate

Update release-package TestGrid parallel test and zone configurations.
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Remove Ubuntu 1604
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

feat(kube-agents): add the post-kube-agents-eval-rc release-candidate postsubmit
  prow/prowjobs/gke-labs/kube-agents/kube-agents-postsubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

fix(kube-agents): red post-kube-agents-eval-rc when no summary is written
  prow/prowjobs/gke-labs/kube-agents/kube-agents-postsubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add Kubeflow SDK 0.6 milestone
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Add gce-unstable-pkg-test-images project to cleanerupper Prow cluster.
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/legacy-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

fix(kube-agents): reprice the nightly's budget comment against the current catalog
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

feat(kube-agents): nightly at 8 PM ET with an 8-hour budget and parallelism 6
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

ci(kubeflow): require a fresh driver compile before merging
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

feat(kube-agents): arm the baseline evidence store on the nightly and the presubmit
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Remove deprecated image families for the list
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

fix(kube-agents): send the nightly's logs to a bucket kube-agents owns
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Remove restricted asia-south1 zones
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

ci(kube-agents): skip the smoke test for eval-dashboard-only changes
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

feat(kube-agents): gate staging promotion on the release-candidate eval
  prow/prowjobs/gke-labs/kube-agents/kube-agents-postsubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

feat(kube-agents): write the pool-pressure JUnit file so TestGrid graphs the numbers
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

feat(kube-agents): nightly at parallelism 8 after six measured nights
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

kube-agents: periodic that closes the eval agent's leftover pull requests in free pool projects
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Use kubekins-e2e:latest-master for pull-gcs-fuse-csi-driver-e2e-test
  prow/prowjobs/GoogleCloudPlatform/gcs-fuse-csi-driver/gcs-fuse-csi-driver-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

feat(kube-agents): add the pull-kube-agents-smoke-test-next optional presubmit
  prow/prowjobs/gke-labs/kube-agents/kube-agents-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

feat(kube-agents): add the ci-kube-agents-eval-next six-hourly periodic
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

kube-agents: periodics that re-apply the seeded fleet in free pool projects
  prow/prowjobs/gke-labs/kube-agents/kube-agents-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config
