Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, pull-oss-test-infra-oss-terraform-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-test-infra-gencred-refresh-kubeconfig

pull-prow-config-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20231208-e9e4b8c0b8
      imagePullPolicy: Always
      command:
      - checkconfig
      args:
      - --config-path=./prow/oss/config.yaml
      - --job-config-path=./prow/prowjobs
      - --plugin-config=prow/oss/plugins.yaml
  ...

pull-oss-test-infra-check-create-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20231208-e9e4b8c0b8
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
      - --prow-config=prow/oss/config.yaml
      - --prow-job-config=prow/prowjobs
  ...

pull-oss-test-infra-oss-terraform-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-terraform:v20210810-2149cda
      command:
      - make
      args:
      - -C
      - prow/oss/terraform
      - validate
      resources:
        requests:
          cpu: 100m
          memory: 1Gi

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-test-infra/gcloud-in-go:v20220607-33951ed1ed
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-create-testgrid-config:
  labels:
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    serviceAccountName: testgrid-config-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20231208-e9e4b8c0b8
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
  ...

post-test-infra-gencred-refresh-kubeconfig:
  decorate: true
  spec:
    serviceAccountName: gencred-refresher
    containers:
    - name: gencred
      image: gcr.io/k8s-prow/gencred:v20231208-e9e4b8c0b8
      command:
      - gencred
      args:
      - --config=./prow/oss/gencred-config/gencred-config.yaml

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Remove CIT alerting configuration
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Change the default Git provider to CSR
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Run performance periodics on a longer, lower interval
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Tune E2E_NUM_CLUSTERS for kpt-config-sync CI to decrease parallism
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Bump cit-performance-peridiocs parallel count
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update deployment files to point to new configs
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Update CA Certificate for gcp-guest cluster
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Specify namespace in update kubeconfig target
  prow/oss/Makefile
Due: none

Make postsubmit deploy job run on Makefile changes.
  prow/oss/cluster/prow-controller-manager.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Correct the CA cert for the gcp-guest cluster
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Fix gcp-guest CA cert and IP address.
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Update compute-daisy presubmit config
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-daisy.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Disable tide on compute-daisy
  prow/oss/config.yaml
Due: pull-prow-config-validate

Add autobump consistency exceptions for non-prow container images.
  prow/oss/oss-autobump-config.yaml
Due: none

Run all daisy status checks for every PR
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-daisy.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Trust copybara service to trigger tests
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Don't set exit status in cit-periodics and oslogin-periodics
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Revert changes to daisy presubmits
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-daisy.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update plugins.yaml
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

remove listx from OWNERS
  .prow/OWNERS
  OWNERS
Due: pull-prow-config-validate

Change prow command for k8s-cloud-providers
  prow/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/k8s-cloud-provider-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add renovate.json
  renovate.json
Due: none

Enable N4 in cit periodics filters
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Modify the test related to python3.7
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Path conditions:
  pull-prow-config-validate: any of: ^prow/(oss/(config|plugins)\.yaml$|prowjobs/)|^\.prow
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(\.prow.*|prow/prowjobs/.*|testgrid/config)\.yaml$
  pull-oss-test-infra-oss-terraform-validate: any of: ^prow/oss/terraform/
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-test-infra-gencred-refresh-kubeconfig: any of: ^prow/oss/gencred-config/
