Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, pull-oss-test-infra-oss-terraform-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-test-infra-gencred-refresh-kubeconfig

pull-prow-config-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20231208-e9e4b8c0b8
      imagePullPolicy: Always
      command:
      - checkconfig
      args:
      - --config-path=./prow/oss/config.yaml
      - --job-config-path=./prow/prowjobs
      - --plugin-config=prow/oss/plugins.yaml
  ...

pull-oss-test-infra-check-create-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20231208-e9e4b8c0b8
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
      - --prow-config=prow/oss/config.yaml
      - --prow-job-config=prow/prowjobs
  ...

pull-oss-test-infra-oss-terraform-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gcloud-terraform:v20210810-2149cda
      command:
      - make
      args:
      - -C
      - prow/oss/terraform
      - validate
      resources:
        requests:
          cpu: 100m
          memory: 1Gi

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-test-infra/gcloud-in-go:v20220607-33951ed1ed
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-create-testgrid-config:
  labels:
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    serviceAccountName: testgrid-config-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20231208-e9e4b8c0b8
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
  ...

post-test-infra-gencred-refresh-kubeconfig:
  decorate: true
  spec:
    serviceAccountName: gencred-refresher
    containers:
    - name: gencred
      image: gcr.io/k8s-prow/gencred:v20231208-e9e4b8c0b8
      command:
      - gencred
      args:
      - --config=./prow/oss/gencred-config/gencred-config.yaml

Enable always-run oracle-toolkit-presubmit
  prow/prowjobs/google/oracle-toolkit/oracle-toolkit-presubmit.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Rename kubeflow/training-operator to kubeflow/trainer
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/cherrypicker.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Update create-build-cluster.sh
  prow/oss/create-build-cluster.sh
Due: none

Add credentials for build-kubeflow
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Remove old kubeconfig for build-kubeflow.
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Remove volumeMounts for build-kubeflow.
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Changes add the openshift cluster test.
  prow/prowjobs/openshift/OWNERS
  prow/prowjobs/openshift/origin/openshift-origin-base-test.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Adding imagePullSecret and questioning the cluster.
  prow/prowjobs/openshift/origin/openshift-origin-base-test.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add credentials for espv2-prow-build
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Update user go gke-auth-plugin
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Fix format
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Change cluster name to espv2
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Revert "Add credentials for espv2-prow-build"
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Correct the espv2 cluster name
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
Due: post-oss-test-infra-deploy-prow

Add external secret from build cluster for openshift-eng
  prow/oss/cluster/kubernetes_external_secrets.yaml
  prow/oss/gencred-config/gencred-config.yaml
Due: post-oss-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Add build cluster kubeconfig for openshift-eng
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Check in a copy of the remote create-build-cluster.sh.
  prow/oss/create-build-cluster.sh
Due: none

Modernize create-build-cluster.sh to use gke-auth-plugin kubeconfigs rather than gencred+KES.
  prow/oss/create-build-cluster.sh
Due: none

Fix create-build-cluster.sh Prow SA binding to test cluster.
  prow/oss/create-build-cluster.sh
Due: none

Fix create_build_cluster.sh with missing resource name and forced KUBECONFIG generation.
  prow/oss/create-build-cluster.sh
Due: none

Fix broken links to old Prow source location.
  README.md
  prow/oss/README.md
  prow/oss/onboarding.md
Due: none

Bumping k8s-staging-test-infra GCR images
  .prow/presubmits.yaml
  prow/prowjobs/GoogleCloudPlatform/gke-networking-api/gke-networking-api-config.yaml
  prow/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/k8s-cloud-provider-config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-postsubmits.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Add the machine shape argument to accelerator tests
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Pass in europe-west1-b as the zone for a3u accelerator periodics
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Pass in the accelerator type
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Updating base test with correct cluster and pull secret.
  prow/prowjobs/openshift/origin/openshift-origin-base-test.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Changes add a hello world test to verify that the build cluster is wired up correctly.
  prow/prowjobs/openshift/origin/openshift-origin-base-test.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Updatess include testgrid details.
  prow/prowjobs/openshift/origin/openshift-origin-base-test.yaml
  testgrid/config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Fixing shubhanan's github account.
  prow/prowjobs/openshift/OWNERS
Due: pull-prow-config-validate

Use the correct reservation for a3u
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Stop LGTM acting as approve in Kubeflow
  prow/oss/plugins.yaml
Due: pull-prow-config-validate

kpt-config-sync: more nodes for stress tests
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add A4 to CIT accelerator periodics
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

chore: bump kubekins-e2e for Config Sync jobs
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-postsubmits.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: pull-prow-config-validate, pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Path conditions:
  pull-prow-config-validate: any of: ^prow/(oss/(config|plugins)\.yaml$|prowjobs/)|^\.prow
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(\.prow.*|prow/prowjobs/.*|testgrid/config)\.yaml$
  pull-oss-test-infra-oss-terraform-validate: any of: ^prow/oss/terraform/
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-test-infra-gencred-refresh-kubeconfig: any of: ^prow/oss/gencred-config/
