Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/gce-vm-image-export, prow/presubmit/gotest/gce-vm-image-export, prow/presubmit/gobuild/gce-vm-image-export, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/import-precheck, prow/presubmit/gotest/import-precheck, prow/presubmit/gobuild/import-precheck, prow/presubmit/gocheck/gce-image-publish, prow/presubmit/gotest/gce-image-publish, prow/presubmit/gobuild/gce-image-publish, prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/diagnostics, prow/presubmit/gotest/diagnostics, prow/presubmit/gobuild/diagnostics, prow/presubmit/gocheck/daisy-test-runner, prow/presubmit/gotest/daisy-test-runner, prow/presubmit/gobuild/daisy-test-runner, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/import-export-tests, prow/presubmit/gotest/import-export-tests, prow/presubmit/gobuild/import-export-tests, prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests, prow/presubmit/gocheck/windows-upgrade-tests, prow/presubmit/gotest/windows-upgrade-tests, prow/presubmit/gobuild/windows-upgrade-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/gocheck/gce-windows-upgrade:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_windows_upgrade/

prow/presubmit/gotest/gce-windows-upgrade:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_windows_upgrade/

prow/presubmit/gobuild/gce-windows-upgrade:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_windows_upgrade/

prow/presubmit/gocheck/gce-ovf-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_ovf_import/

prow/presubmit/gotest/gce-ovf-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_ovf_import/

prow/presubmit/gobuild/gce-ovf-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_ovf_import/

prow/presubmit/gocheck/gce-vm-image-export:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_export/

prow/presubmit/gotest/gce-vm-image-export:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_export/

prow/presubmit/gobuild/gce-vm-image-export:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_export/

prow/presubmit/gocheck/gce-vm-image-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_import/

prow/presubmit/gotest/gce-vm-image-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_import/

gofmt
  daisy/step_create_instances.go
  daisy/step_create_instances_test.go
  daisy/step_wait_for_instances_signal.go
  daisy/step_wait_for_instances_signal_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

testing gotest
  daisy/cli/main.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Use absolute paths when looking up workflow directory. (#1246)
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add Containers w/ UEFI firmware
  daisy_workflows/image_build/windows_for_containers/windows-1903-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1909-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-for-containers-uefi.wf.json
Due: none

Add Containers w/ UEFI firmware (#1245)
  daisy_workflows/image_build/windows_for_containers/windows-1903-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1909-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-for-containers-uefi.wf.json
Due: none

Update Docker version to latest
  daisy_workflows/image_build/windows_for_containers/container_image_install.ps1
Due: none

Sanitize control characters from image filename. (#1244)
  daisy_workflows/image_import/import_image.sh
  daisy_workflows/image_import/inflate_file.wf.json
Due: none

Update Docker version to latest (#1248)
  daisy_workflows/image_build/windows_for_containers/container_image_install.ps1
Due: none

test-infra: update FreeBSD images (#1064)
  test-infra/prow/config.yaml
Due: none

pr fixes
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/buffered_writer.go
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/common/utils/storage/storage_object.go
  cli_tools/mocks/mock_storage_object.go
  cli_tools/mocks/mock_storage_object_creator.go
  cli_tools/mocks/mock_storage_object_interface.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

pr fixes
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/common/utils/storage/storage_object.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[windows upgrade] post-upgrade step; log privacy
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix test
  cli_tools/common/utils/storage/buffered_writer_test.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Refactor buffered writer (#1240)
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/buffered_writer.go
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/common/utils/storage/storage_object.go
  cli_tools/common/utils/storage/tar_gcs_extractor.go
  cli_tools/common/utils/storage/tar_gcs_extractor_test.go
  cli_tools/gce_export/main.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_import/importer/source.go
  cli_tools/gce_vm_image_import/importer/source_test.go
  cli_tools/gce_vm_image_import/main.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_object_deleter.go
  cli_tools/mocks/mock_storage_client.go
  cli_tools/mocks/mock_storage_object.go
  cli_tools/mocks/mock_storage_object_creator.go
Due: prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/gce-vm-image-export, prow/presubmit/gotest/gce-vm-image-export, prow/presubmit/gobuild/gce-vm-image-export, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

refactor aws logic
  cli_tools/gce_onestep_image_import/aws_importer/args.go
  cli_tools/gce_onestep_image_import/aws_importer/importer.go
  cli_tools/gce_onestep_image_import/importer/importer.go
  cli_tools/gce_onestep_image_import/main.go
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add log changes
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add external ip flag to daisy export workflows to allow disabling external address from initial creation of export instance
  daisy/instance.go
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

refine text
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade

[windows upgrade] post-upgrade step; log privacy (#1249)
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

log
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_windows_upgrade/main.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[windows upgrade] show cleanup guide again when success
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  cli_tools/gce_windows_upgrade/upgrader/utils_test.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

more
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/utils_test.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Ensure destination image doesn't exist prior to running import.
  cli_tools/gce_vm_image_import/importer/data_disk_processor.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_vm_image_import/importer/validator.go
  cli_tools/gce_vm_image_import/importer/validator_test.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

tune error message
  cli_tools/gce_vm_image_import/importer/validator.go
  cli_tools/gce_vm_image_import/importer/validator_test.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Ensure destination image doesn't exist prior to running import. (#1257)
  cli_tools/gce_vm_image_import/importer/data_disk_processor.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_vm_image_import/importer/validator.go
  cli_tools/gce_vm_image_import/importer/validator_test.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Sanitize control characters from image filename. (#1244)"
  daisy_workflows/image_import/import_image.sh
  daisy_workflows/image_import/inflate_file.wf.json
Due: none

structure done, need to add logging and refine detail
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_onestep_image_import/main.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer/args.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Sanitize control characters from image filename. (#1244)" (#1258)
  daisy_workflows/image_import/import_image.sh
  daisy_workflows/image_import/inflate_file.wf.json
Due: none

[windows upgrade] firelog: adjust field sequence (#1255)
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_windows_upgrade/main.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[windows upgrade] show cleanup guide again when success (#1256)
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  cli_tools/gce_windows_upgrade/upgrader/utils_test.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Clear immutable attr from 70-persistent-net.rules before deleting.
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

Add script to export image and package metadata for deiban and enterprise linux Write to GCS storage
  cli_tools_e2e_test/go.sum
  daisy_workflows/guest_package.txt
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
Due: prow/presubmit/flake8

refine importer
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_onestep_image_import/main.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer/args.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_utils/utils.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Don't allocate an external IP during inflation.
  daisy_workflows/image_import/inflate_file.wf.json
Due: none

Fix flake8 code style
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
Due: prow/presubmit/flake8

Support ShieldedInstanceInitialState in the publish workflow
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
Due: prow/presubmit/gocheck/gce-image-publish, prow/presubmit/gotest/gce-image-publish, prow/presubmit/gobuild/gce-image-publish, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

pr structure fixes except dockerfile and readme
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_onestep_image_import/main.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer/args.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
  cli_tools/gce_onestep_image_import/onestep_utils/utils.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix lint and readme
  cli_tools/gce_onestep_image_import/README.md
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Don't allocate an external IP during inflation. (#1262)
  daisy_workflows/image_import/inflate_file.wf.json
Due: none

Support ShieldedInstanceInitialState in the publish workflow (#1259)
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
Due: prow/presubmit/gocheck/gce-image-publish, prow/presubmit/gotest/gce-image-publish, prow/presubmit/gobuild/gce-image-publish, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gotest/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gobuild/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gocheck/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gotest/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gobuild/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gocheck/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gotest/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gobuild/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gocheck/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gotest/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gobuild/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gocheck/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gotest/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gobuild/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gocheck/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gotest/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gobuild/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gocheck/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gotest/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gobuild/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gocheck/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gotest/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gobuild/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gocheck/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gotest/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gobuild/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export/.*
  prow/presubmit/gotest/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gobuild/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gocheck/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gotest/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gobuild/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gocheck/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gotest/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gobuild/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
