Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/gce-vm-image-export, prow/presubmit/gotest/gce-vm-image-export, prow/presubmit/gobuild/gce-vm-image-export, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/import-precheck, prow/presubmit/gotest/import-precheck, prow/presubmit/gobuild/import-precheck, prow/presubmit/gocheck/gce-image-publish, prow/presubmit/gotest/gce-image-publish, prow/presubmit/gobuild/gce-image-publish, prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/diagnostics, prow/presubmit/gotest/diagnostics, prow/presubmit/gobuild/diagnostics, prow/presubmit/gocheck/daisy-test-runner, prow/presubmit/gotest/daisy-test-runner, prow/presubmit/gobuild/daisy-test-runner, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/import-export-tests, prow/presubmit/gotest/import-export-tests, prow/presubmit/gobuild/import-export-tests, prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests, prow/presubmit/gocheck/windows-upgrade-tests, prow/presubmit/gotest/windows-upgrade-tests, prow/presubmit/gobuild/windows-upgrade-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gotest/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gobuild/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gocheck/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gotest/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gobuild/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gocheck/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gotest/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gobuild/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gocheck/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gotest/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gobuild/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gocheck/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gotest/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gobuild/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gocheck/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gotest/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gobuild/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gocheck/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gotest/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gobuild/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gocheck/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gotest/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gobuild/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gocheck/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gotest/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gobuild/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export/.*
  prow/presubmit/gotest/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gobuild/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gocheck/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gotest/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gobuild/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gocheck/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gotest/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gobuild/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Check for /etc/resolvconf/resolv.conf.d/base before modifying it. (#1285)
  daisy_workflows/image_import/ubuntu/translate.py
Due: prow/presubmit/flake8

Nit: remove name in el. cmd space
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
Due: prow/presubmit/flake8

pr feedback
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/test_utils_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils_test.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

change cmd string to using format string
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
Due: prow/presubmit/flake8

use single quote
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

cleanup time for timeout
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils_test.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

use implicit link join
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
Due: prow/presubmit/flake8

Add script to export image and package metadata during linux builds (#1252)
  cli_tools_e2e_test/go.sum
  daisy_workflows/guest_package.txt
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian.wf.json
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_9.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/debian/debian_sid_fai.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_6.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_7.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_7_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_8.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_8_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
  daisy_workflows/image_build/enterprise_linux/rhel_6.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_6_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_uefi.wf.json
Due: prow/presubmit/flake8

remove changes in go.sum and go.mod, remove build_repo
  cli_tools_e2e_test/go.sum
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

fix go mod and go sum
  daisy/go.mod
  daisy/go.sum
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Delete go.sum
  cli_tools_e2e_test/go.sum
Due: none

log text change
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

feedback from Zoran.
  cli_tools/common/vdisk/file_inspector.go
  cli_tools/common/vdisk/file_inspector_test.go
  cli_tools/common/vdisk/qemu_img_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  gce_vm_image_import.Dockerfile
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Avoid resizing PDs on inflation worker during import.
  cli_tools/common/gcsfuse/client.go
  cli_tools/common/utils/files/files.go
  cli_tools/common/utils/files/files_test.go
  cli_tools/common/vdisk/file_inspector.go
  cli_tools/common/vdisk/file_inspector_test.go
  cli_tools/common/vdisk/qemu_img.go
  cli_tools/common/vdisk/qemu_img_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  daisy_workflows/image_import/import_image.sh
  daisy_workflows/image_import/inflate_file.wf.json
  gce_vm_image_import.Dockerfile
  gcsfuse-apt-key.gpg
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

feedback from Zoran and Tony
  cli_tools/common/imagefile/inspector.go
  cli_tools/common/imagefile/inspector_test.go
  cli_tools/common/imagefile/qemu_img.go
  cli_tools/common/imagefile/qemu_img_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Use array lookup instead of substring search.
  cli_tools/common/imagefile/qemu_img.go
  cli_tools/common/imagefile/qemu_img_test.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add script to export image and package metadata during windows builds (#1264)
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

Set timeout of 2hr for osconfig tests (#1281)
  test-infra/prow/config.yaml
Due: none

For image import tests, delineate between testing import and testing gcloud.
  cli_tools_e2e_test/common/logging/logging.go
  cli_tools_e2e_test/gce_image_import_export/main.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/post_translate_test.sh
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/post_translate_test.wf.json
Due: prow/presubmit/gocheck/import-export-tests

remove symlink for post_translate_test.sh
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/post_translate_test.sh
  gce_image_import_export_tests.Dockerfile
Due: prow/presubmit/gocheck/import-export-tests

Fix comment name
  cli_tools_e2e_test/common/logging/logging.go
Due: none

An image import suite focused on translation logic. (#1277)
  cli_tools_e2e_test/common/logging/logging.go
  cli_tools_e2e_test/gce_image_import_export/main.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/post_translate_test.wf.json
  gce_image_import_export_tests.Dockerfile
Due: prow/presubmit/gocheck/import-export-tests

Avoid resizing PDs on inflation worker during import. (#1283)
  cli_tools/common/gcsfuse/client.go
  cli_tools/common/imagefile/inspector.go
  cli_tools/common/imagefile/inspector_test.go
  cli_tools/common/imagefile/qemu_img.go
  cli_tools/common/imagefile/qemu_img_test.go
  cli_tools/common/utils/files/files.go
  cli_tools/common/utils/files/files_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  daisy_workflows/image_import/import_image.sh
  daisy_workflows/image_import/inflate_file.wf.json
  gce_vm_image_import.Dockerfile
  gcsfuse-apt-key.gpg
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

onestep image from AWS (#1261)
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/gce_onestep_image_import/README.md
  cli_tools/gce_onestep_image_import/main.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/test_utils_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  gce_onestep_image_import.Dockerfile
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Feedback from Zoran
  cli_tools/common/disk/inspect.go
  cli_tools/gce_vm_image_import/importer/args.go
  daisy_workflows/image_import/inspection/inspect_disk.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

tony's feedback; remove protoc
  cli_tools/common/disk/README
  cli_tools/common/disk/disk.pb.go
  cli_tools/common/disk/disk.proto
  cli_tools/common/disk/inspect.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/processor.go
  daisy_workflows/image_import/inspection/inspect-disk.wf.json
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Scaffold for disk inspection.
  cli_tools/common/disk/README
  cli_tools/common/disk/disk.pb.go
  cli_tools/common/disk/disk.proto
  cli_tools/common/disk/inspect.go
  cli_tools/daisycommon/daisy_utils.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  daisy_workflows/image_import/inspection/inspect-disk.wf.json
  daisy_workflows/image_import/inspection/inspect_disk.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Fix build failure 1 make export-metadata and save-build-logs in parallel 2 fix guest package name
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
Due: prow/presubmit/flake8

Fix build failure (#1287)
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
Due: prow/presubmit/flake8

Scaffold for disk inspection. (#1286)
  cli_tools/common/disk/inspect.go
  cli_tools/daisycommon/daisy_utils.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  daisy_workflows/image_import/inspection/inspect-disk.wf.json
  daisy_workflows/image_import/inspection/inspect_disk.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

addressed design doc feedback
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_onestep_image_import/README.md
  cli_tools/gce_onestep_image_import/main.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/test_utils_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils_test.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix logic
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer_test.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

pr feedback, help text draft
  cli_tools/gce_onestep_image_import/README.md
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

readme wording fix
  cli_tools/gce_onestep_image_import/README.md
Due: none

[new vmdk api] alpha API
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

text changes
  cli_tools/gce_onestep_image_import/README.md
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer_test.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Don't install the python guest in EL imports.
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

fix
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Don't install the EOL python guest in EL imports. (#1291)
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Pass inflation disk sizes during OVF data disk import.
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  daisy_workflows/image_import/import_image.sh
Due: prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools
