Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/gce-vm-image-export, prow/presubmit/gotest/gce-vm-image-export, prow/presubmit/gobuild/gce-vm-image-export, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/import-precheck, prow/presubmit/gotest/import-precheck, prow/presubmit/gobuild/import-precheck, prow/presubmit/gocheck/gce-image-publish, prow/presubmit/gotest/gce-image-publish, prow/presubmit/gobuild/gce-image-publish, prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/diagnostics, prow/presubmit/gotest/diagnostics, prow/presubmit/gobuild/diagnostics, prow/presubmit/gocheck/daisy-test-runner, prow/presubmit/gotest/daisy-test-runner, prow/presubmit/gobuild/daisy-test-runner, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/import-export-tests, prow/presubmit/gotest/import-export-tests, prow/presubmit/gobuild/import-export-tests, prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests, prow/presubmit/gocheck/windows-upgrade-tests, prow/presubmit/gotest/windows-upgrade-tests, prow/presubmit/gobuild/windows-upgrade-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/gocheck/gce-windows-upgrade:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_windows_upgrade/

prow/presubmit/gotest/gce-windows-upgrade:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_windows_upgrade/

prow/presubmit/gobuild/gce-windows-upgrade:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_windows_upgrade/

prow/presubmit/gocheck/gce-ovf-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_ovf_import/

prow/presubmit/gotest/gce-ovf-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_ovf_import/

prow/presubmit/gobuild/gce-ovf-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_ovf_import/

prow/presubmit/gocheck/gce-vm-image-export:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_export/

prow/presubmit/gotest/gce-vm-image-export:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_export/

prow/presubmit/gobuild/gce-vm-image-export:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_export/

prow/presubmit/gocheck/gce-vm-image-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_import/

prow/presubmit/gotest/gce-vm-image-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_import/

Add two steps to crate a disk with root.tar.gz
  cli_tools/go.mod
  cli_tools/go.sum
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian.wf.json
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_9.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/debian/debian_sid_fai.wf.json
Due: prow/presubmit/flake8

[New VMDK API adoption] verify the new API on PROD [alpha] (#1282)
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/literal_loggable_test.go
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/main.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
  daisy_workflows/image_import/import_image.sh
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

remove intermediate destination for root.tar.gz
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian.wf.json
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_9.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/debian/debian_sid_fai.wf.json
Due: prow/presubmit/flake8

Remove create disk step
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_9.wf.json
  daisy_workflows/image_build/debian/debian_sid_fai.wf.json
Due: none

e2e tests
  cli_tools_e2e_test/gce_image_import_export/main.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/aws_test_utils.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/scripts/post_translate_test.ps1
  cli_tools_e2e_test/gce_image_import_export/test_suites/scripts/post_translate_test.wf.json
  cli_tools_e2e_test/go.mod
  gce_image_import_export_tests.Dockerfile
Due: prow/presubmit/gocheck/import-export-tests

e2e comments, prop arg change
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/aws_test_utils.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: prow/presubmit/gocheck/import-export-tests

fix docker
  gce_image_import_export_tests.Dockerfile
Due: none

Remove image_dest in debian_10_fai, Using TIMESTAMP
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_9.wf.json
Due: none

Zoran's feedback.
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/image_import/windows/translate.ps1
Due: prow/presubmit/flake8

Remove Ubuntu and SLES
  daisy_integration_tests/opensuse_15_1.wf.json
  daisy_integration_tests/sles_12_4_byol.wf.json
  daisy_integration_tests/sles_12_5_byol.wf.json
  daisy_integration_tests/sles_15_1_byol.wf.json
  daisy_integration_tests/sles_sap_12_4_byol.wf.json
  daisy_integration_tests/ubuntu_1604_vmware_translate.wf.json
  daisy_integration_tests/ubuntu_1804_aws.wf.json
  daisy_integration_tests/ubuntu_1804_azure.wf.json
  daisy_integration_tests/ubuntu_1804_vmware.wf.json
  daisy_workflows/image_import/suse/translate.py
  daisy_workflows/image_import/ubuntu/translate.py
Due: prow/presubmit/flake8

Liam's feedback
  daisy_integration_tests/scripts/post_translate_test.sh
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Install OS config agent during during import.
  daisy_integration_tests/2008r2_vmware_translate.wf.json
  daisy_integration_tests/debian_8_translate.wf.json
  daisy_integration_tests/scripts/post_translate_test.ps1
  daisy_integration_tests/scripts/post_translate_test.sh
  daisy_integration_tests/ubuntu_1404_img_translate.wf.json
  daisy_integration_tests/windows_10_x86_byol.wf.json
  daisy_integration_tests/windows_7_x86_byol.wf.json
  daisy_integration_tests/windows_8_x86_byol.wf.json
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/suse/translate.py
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/image_import/windows/translate.ps1
Due: prow/presubmit/flake8

Don't install os config on Ubuntu.
  daisy_workflows/image_import/ubuntu/translate.py
Due: prow/presubmit/flake8

Add Licences GuestOsFeatures, modify description according to debian publish.json, use build_date instead time
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_9.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/debian/debian_sid_fai.wf.json
Due: none

use input test variables
  cli_tools_e2e_test/gce_image_import_export/main.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/export/image_export_test_suite.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/aws_test_utils.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/scripts/post_translate_test.ps1
  cli_tools_e2e_test/gce_image_import_export/test_suites/scripts/post_translate_test.wf.json
  cli_tools_e2e_test/gce_ovf_import/main.go
  cli_tools_e2e_test/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_e2e_test/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_e2e_test/gce_windows_upgrade/main.go
  cli_tools_e2e_test/gce_windows_upgrade/test_suites/windows_upgrade/windows_upgrade_test_suite.go
  go/e2e_test_utils/launcher.go
Due: prow/presubmit/gocheck/import-export-tests, prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests, prow/presubmit/gocheck/windows-upgrade-tests, prow/presubmit/gotest/windows-upgrade-tests, prow/presubmit/gobuild/windows-upgrade-tests

change aws_cred to input variable
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/aws_test_utils.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: prow/presubmit/gocheck/import-export-tests

Added client version flag to all the wrappers and added it to logging for debugging purposes.
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_onestep_image_import/main.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/main.go
  cli_tools/gce_windows_upgrade/main.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/gce-vm-image-export, prow/presubmit/gotest/gce-vm-image-export, prow/presubmit/gobuild/gce-vm-image-export, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add variable map to e2e test run
  go/e2e_test_utils/go.mod
  go/e2e_test_utils/launcher.go
Due: none

Install OS config agent during import. (#1289)
  daisy_integration_tests/2008r2_vmware_translate.wf.json
  daisy_integration_tests/debian_8_translate.wf.json
  daisy_integration_tests/opensuse_15_1.wf.json
  daisy_integration_tests/scripts/post_translate_test.ps1
  daisy_integration_tests/scripts/post_translate_test.sh
  daisy_integration_tests/sles_12_4_byol.wf.json
  daisy_integration_tests/sles_12_5_byol.wf.json
  daisy_integration_tests/sles_15_1_byol.wf.json
  daisy_integration_tests/sles_sap_12_4_byol.wf.json
  daisy_integration_tests/ubuntu_1404_img_translate.wf.json
  daisy_integration_tests/ubuntu_1604_vmware_translate.wf.json
  daisy_integration_tests/ubuntu_1804_aws.wf.json
  daisy_integration_tests/ubuntu_1804_azure.wf.json
  daisy_integration_tests/ubuntu_1804_vmware.wf.json
  daisy_integration_tests/windows_10_x86_byol.wf.json
  daisy_integration_tests/windows_7_x86_byol.wf.json
  daisy_integration_tests/windows_8_x86_byol.wf.json
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/windows/translate.ps1
Due: prow/presubmit/flake8

pr feedback
  go/e2e_test_utils/launcher.go
Due: none

pr feedback
  go/e2e_test_utils/go.mod
  go/e2e_test_utils/launcher.go
Due: none

Add variables flag to E2E tests (#1309)
  go/e2e_test_utils/go.mod
  go/e2e_test_utils/launcher.go
Due: none

pr feedback
  cli_tools_e2e_test/gce_image_import_export/main.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/export/image_export_test_suite.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_e2e_test/gce_ovf_import/main.go
  cli_tools_e2e_test/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_e2e_test/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_e2e_test/gce_windows_upgrade/main.go
  cli_tools_e2e_test/gce_windows_upgrade/test_suites/windows_upgrade/windows_upgrade_test_suite.go
  cli_tools_e2e_test/go.mod
  go/e2e_test_utils/launcher.go
Due: prow/presubmit/gocheck/import-export-tests, prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests, prow/presubmit/gocheck/windows-upgrade-tests, prow/presubmit/gotest/windows-upgrade-tests, prow/presubmit/gobuild/windows-upgrade-tests

Image import: Include UEFI guest OS feature during inflation, if requested.
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/post_translate_test.wf.json
  daisy_integration_tests/scripts/post_translate_test.ps1
  gce_image_import_export_tests.Dockerfile
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/import-export-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Include UEFI guest OS feature during inflation, if requested. (#1310)
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/post_translate_test.wf.json
  daisy_integration_tests/scripts/post_translate_test.ps1
  gce_image_import_export_tests.Dockerfile
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/import-export-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Don't check for OSConfig agent in Ubuntu e2e test.
  daisy_integration_tests/image_import_and_translate_ova_with_spaces_in_vmdk_filename.wf.json
Due: none

Don't check for OSConfig agent in Ubuntu e2e test. (#1311)
  daisy_integration_tests/image_import_and_translate_ova_with_spaces_in_vmdk_filename.wf.json
Due: none

pr feedback - change test name, increase aws temp permission time
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/aws_test_utils.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: prow/presubmit/gocheck/import-export-tests

Check for OS config agent in Windows e2e
  daisy_integration_tests/scripts/post_translate_test.ps1
Due: none

OVF e2e: Omit Ubuntu and Windows 2008 from OS config tests.
  cli_tools_e2e_test/common/compute/instance.go
  cli_tools_e2e_test/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests

RHEL 8 for SAP. Add useful logs and change workflows to use serial logging for builds.
  daisy_workflows/image_build/enterprise_linux/build_installer_uefi.py
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/el6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-1-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
  daisy_workflows/image_build/enterprise_linux/rhel_8_sap.wf.json
Due: prow/presubmit/flake8

Swap sapconf for the new rhel-system-roles-sap package.
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-sap-post.cfg
Due: none

Make sure we install python3.
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-packages.cfg
Due: none

Cleanups and better error handling.
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/build_installer_uefi.py
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/cleanup.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el6-cleanup.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el6-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-cleanup.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-cleanup.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-byos-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
  daisy_workflows/image_build/enterprise_linux/save_logs.py
Due: prow/presubmit/flake8

fix
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/build_installer_uefi.py
Due: prow/presubmit/flake8

add onestep import test variables
  test-infra/prow/config.yaml
Due: none

[Onestep Import] e2e tests (#1307)
  cli_tools_e2e_test/gce_image_import_export/main.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/aws_test_utils.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/scripts/post_translate_test.wf.json
  cli_tools_e2e_test/go.mod
  gce_image_import_export_tests.Dockerfile
Due: prow/presubmit/gocheck/import-export-tests

fix
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/build_installer_uefi.py
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-sap-post.cfg
Due: prow/presubmit/flake8

Add comments.
  daisy_workflows/image_build/enterprise_linux/kickstart/el6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-sap-post.cfg
Due: none

add onestep import test variables (#1314)
  test-infra/prow/config.yaml
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gotest/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gobuild/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gocheck/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gotest/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gobuild/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gocheck/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gotest/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gobuild/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gocheck/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gotest/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gobuild/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gocheck/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gotest/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gobuild/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gocheck/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gotest/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gobuild/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gocheck/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gotest/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gobuild/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gocheck/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gotest/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gobuild/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gocheck/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gotest/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gobuild/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export/.*
  prow/presubmit/gotest/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gobuild/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gocheck/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gotest/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gobuild/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gocheck/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gotest/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gobuild/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
