Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/import-export-tests, prow/presubmit/gotest/import-export-tests, prow/presubmit/gobuild/import-export-tests, prow/presubmit/gocheck/import-precheck, prow/presubmit/gotest/import-precheck, prow/presubmit/gobuild/import-precheck, prow/presubmit/gocheck/gce-image-publish, prow/presubmit/gotest/gce-image-publish, prow/presubmit/gobuild/gce-image-publish, prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/daisy-test-runner, prow/presubmit/gotest/daisy-test-runner, prow/presubmit/gobuild/daisy-test-runner, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/gocheck/gce-windows-upgrade:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_windows_upgrade/

prow/presubmit/gotest/gce-windows-upgrade:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_windows_upgrade/

prow/presubmit/gobuild/gce-windows-upgrade:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_windows_upgrade/

prow/presubmit/gocheck/import-export-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/gce_image_import_export_tests/

prow/presubmit/gotest/import-export-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/gce_image_import_export_tests/

prow/presubmit/gobuild/import-export-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/gce_image_import_export_tests/

prow/presubmit/gocheck/import-precheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/import_precheck/

prow/presubmit/gotest/import-precheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/import_precheck/

prow/presubmit/gobuild/import-precheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/import_precheck/

prow/presubmit/gocheck/gce-image-publish:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_image_publish/

prow/presubmit/gotest/gce-image-publish:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_image_publish/

change param
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_windows_upgrade/main.go
  cli_tools/gce_windows_upgrade/upgrader/test_common_test.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader_test.go
  cli_tools/gce_windows_upgrade/upgrader/utils_test.go
  cli_tools/gce_windows_upgrade/upgrader/validators_test.go
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
  cli_tools/gce_windows_upgrade/upgrader/workflows_test.go
  cli_tools_e2e_test/common/compute/instance.go
  cli_tools_e2e_test/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_e2e_test/gce_windows_upgrade/test_suites/windows_upgrade/windows_upgrade_test_suite.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

format
  cli_tools/gce_windows_upgrade/upgrader/test_common_test.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[windows upgrade] improve params (#1226)
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_windows_upgrade/main.go
  cli_tools/gce_windows_upgrade/upgrader/test_common_test.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader_test.go
  cli_tools/gce_windows_upgrade/upgrader/utils_test.go
  cli_tools/gce_windows_upgrade/upgrader/validators_test.go
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
  cli_tools/gce_windows_upgrade/upgrader/workflows_test.go
  cli_tools_e2e_test/common/compute/instance.go
  cli_tools_e2e_test/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_e2e_test/gce_windows_upgrade/test_suites/windows_upgrade/windows_upgrade_test_suite.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

adding object_handle wrapper in progress
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/buffered_writer.go
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/common/utils/storage/object_handle.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/tar_gcs_extractor.go
  cli_tools/gce_export/main.go
  cli_tools/mocks/mock_storage_client.go
Due: prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Show detection results only when libguestfs's results can be verified.
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/common/verify/doc.go
  cli_tools/common/verify/verify.go
  cli_tools/common/verify/verify_test.go
  cli_tools/gce_vm_image_import/importer/errors.go
  cli_tools/gce_vm_image_import/importer/errors_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedback.
  cli_tools/common/distro/distro.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

/verify/assert/
  cli_tools/common/assert/assert.go
  cli_tools/common/assert/assert_test.go
  cli_tools/common/assert/doc.go
  cli_tools/common/distro/distro.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Added custom cancel reason to Daisy workflow. This will allow us to provide different error messages when workflows are canceled for different reasons. For example, timed out vs. canceled by users.
  daisy/step.go
  daisy/workflow.go
  daisy/workflow_test.go
Due: none

Image import: Show detection results only when libguestfs's results can be verified. (#1222)
  cli_tools/common/assert/assert.go
  cli_tools/common/assert/assert_test.go
  cli_tools/common/assert/doc.go
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/gce_vm_image_import/importer/errors.go
  cli_tools/gce_vm_image_import/importer/errors_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

extra test, and test fix
  daisy/workflow_test.go
Due: none

recommit due to formatting issues
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/buffered_writer.go
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/common/utils/storage/object_handle.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/common/utils/storage/tar_gcs_extractor_test.go
  cli_tools/gce_export/main.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_import/main.go
  cli_tools/mocks/mock_storage_client.go
Due: prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add mocks
  cli_tools/mocks/mock_object_handle.go
  cli_tools/mocks/mock_object_handle_creator.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Introduced CancelWithReason to have a single point of entry when cancelling a workflow with a reason.
  daisy/workflow.go
  daisy/workflow_test.go
Due: none

Use disk file from daisy's scratch path. (#1168)
  daisy_workflows/image_import/import_disk.wf.json
  daisy_workflows/image_import/import_image.sh
Due: none

pr suggestion fixes
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/buffered_writer.go
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/common/utils/storage/object_handle.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/common/utils/storage/tar_gcs_extractor_test.go
  cli_tools/gce_export/main.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_import/importer/source.go
  cli_tools/gce_vm_image_import/importer/source_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_object_deleter.go
  cli_tools/mocks/mock_object_handle.go
  cli_tools/mocks/mock_object_handle_creator.go
  cli_tools/mocks/mock_storage_client.go
  cli_tools/test_data/test_buffered_writer.txt
Due: prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

added test
  cli_tools/common/utils/storage/buffered_writer_test.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

lint
  cli_tools/common/utils/storage/buffered_writer_test.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Use disk file from daisy's scratch path."
  daisy_workflows/image_import/import_disk.wf.json
  daisy_workflows/image_import/import_image.sh
Due: none

Revert "Use disk file from daisy's scratch path." (#1241)
  daisy_workflows/image_import/import_disk.wf.json
  daisy_workflows/image_import/import_image.sh
Due: none

Added custom cancel reason to Daisy workflow. (#1239)
  daisy/step.go
  daisy/workflow.go
  daisy/workflow_test.go
Due: none

move back add tmp
  cli_tools/common/utils/storage/buffered_writer.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Added global timeout to OVF import
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_logger.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

change back file copyright to 2019-review fixes
  cli_tools/mocks/mock_storage_client.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Added global timeout to OVF import (#1242)
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_logger.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

addressed pr reviews
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/buffered_writer.go
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/common/utils/storage/object_handle.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/common/utils/storage/storage_object.go
  cli_tools/mocks/mock_storage_object.go
  cli_tools/mocks/mock_storage_object_creator.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Daisy: Consolidate reading of serial port output.
  daisy/serial_output_watcher.go
  daisy/serial_output_watcher_test.go
  daisy/step_create_instances.go
  daisy/step_create_instances_test.go
  daisy/step_wait_for_instances_signal.go
  daisy/step_wait_for_instances_signal_test.go
  daisy/workflow.go
Due: none

Split image import into two phases.
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/literal_loggable_test.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/bootable_finisher.go
  cli_tools/gce_vm_image_import/importer/bootable_finisher_test.go
  cli_tools/gce_vm_image_import/importer/data_disk_finisher.go
  cli_tools/gce_vm_image_import/importer/data_disk_finisher_test.go
  cli_tools/gce_vm_image_import/importer/finisher.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools/gce_vm_image_import/importer/testdata/image_import
  cli_tools/gce_vm_image_import/main.go
  daisy_workflows/image_import/inflate_image.wf.json
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

/bootableProcessor/bootableDiskProcessor/
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

feedback from zoran
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/literal_loggable_test.go
  cli_tools/common/utils/logging/service/logger_test.go
  cli_tools/common/utils/string/string_utils.go
  cli_tools/common/utils/string/string_utils_test.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/bootable_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_processor_test.go
  cli_tools/gce_vm_image_import/importer/data_disk_processor.go
  cli_tools/gce_vm_image_import/importer/data_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_vm_image_import/importer/source_test.go
  daisy_integration_tests/image_export_vmdk.subwf.json
  daisy_integration_tests/image_export_vmdk_given_size_verify.subwf.json
  daisy_workflows/image_import/import_and_translate.wf.json
  daisy_workflows/image_import/import_image.sh
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/ovf_import/import_ovf_to_instance.wf.json
  daisy_workflows/ovf_import/import_ovf_to_machine_image.wf.json
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

don't export workflowDir
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/processor.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Split image import into two phases. (#1227)
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/literal_loggable_test.go
  cli_tools/common/utils/logging/service/logger_test.go
  cli_tools/common/utils/string/string_utils.go
  cli_tools/common/utils/string/string_utils_test.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/data_disk_processor.go
  cli_tools/gce_vm_image_import/importer/data_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_vm_image_import/importer/source_test.go
  cli_tools/gce_vm_image_import/importer/testdata/image_import
  cli_tools/gce_vm_image_import/main.go
  daisy_integration_tests/image_export_vmdk.subwf.json
  daisy_integration_tests/image_export_vmdk_given_size_verify.subwf.json
  daisy_workflows/image_import/import_and_translate.wf.json
  daisy_workflows/image_import/import_image.sh
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/inflate_image.wf.json
  daisy_workflows/ovf_import/import_ovf_to_instance.wf.json
  daisy_workflows/ovf_import/import_ovf_to_machine_image.wf.json
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Sanitize control characters from image filename.
  daisy_workflows/image_import/import_image.sh
  daisy_workflows/image_import/inflate_file.wf.json
Due: none

added more tests, make struct not exported
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/buffered_writer.go
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/common/utils/storage/storage_object.go
  cli_tools/common/utils/storage/tar_gcs_extractor_test.go
  cli_tools/gce_export/main.go
  cli_tools/gce_vm_image_import/importer/source_test.go
  cli_tools/mocks/mock_storage_client.go
  cli_tools/mocks/mock_storage_object.go
  cli_tools/mocks/mock_storage_object_creator.go
  cli_tools/mocks/mock_storage_object_interface.go
Due: prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Use absolute paths when looking up workflow directory.
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

clarify that only OVAs with VMDKs are supported by the check.
  daisy_workflows/image_import/import_image.sh
Due: none

zoran's feedback
  daisy/serial_output_watcher.go
  daisy/serial_output_watcher_test.go
  daisy/step_create_instances.go
  daisy/step_create_instances_test.go
  daisy/step_wait_for_instances_signal.go
  daisy/workflow.go
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gotest/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gobuild/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gocheck/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gotest/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gobuild/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gocheck/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gotest/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gobuild/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gocheck/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gotest/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gobuild/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gocheck/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gotest/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gobuild/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gocheck/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gotest/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gobuild/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gocheck/daisy: any of: daisy/cli/.*
  prow/presubmit/gotest/daisy: any of: daisy/cli/.*
  prow/presubmit/gobuild/daisy: any of: daisy/cli/.*
  prow/presubmit/gocheck/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import_tests/.*
  prow/presubmit/gotest/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import_tests/.*
  prow/presubmit/gobuild/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import_tests/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
