Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/gce-vm-image-export, prow/presubmit/gotest/gce-vm-image-export, prow/presubmit/gobuild/gce-vm-image-export, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/import-precheck, prow/presubmit/gotest/import-precheck, prow/presubmit/gobuild/import-precheck, prow/presubmit/gocheck/gce-image-publish, prow/presubmit/gotest/gce-image-publish, prow/presubmit/gobuild/gce-image-publish, prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/diagnostics, prow/presubmit/gotest/diagnostics, prow/presubmit/gobuild/diagnostics, prow/presubmit/gocheck/daisy-test-runner, prow/presubmit/gotest/daisy-test-runner, prow/presubmit/gobuild/daisy-test-runner, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/import-export-tests, prow/presubmit/gotest/import-export-tests, prow/presubmit/gobuild/import-export-tests, prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests, prow/presubmit/gocheck/windows-upgrade-tests, prow/presubmit/gotest/windows-upgrade-tests, prow/presubmit/gobuild/windows-upgrade-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gotest/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gobuild/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gocheck/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gotest/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gobuild/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gocheck/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gotest/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gobuild/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gocheck/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gotest/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gobuild/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gocheck/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gotest/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gobuild/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gocheck/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gotest/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gobuild/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gocheck/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gotest/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gobuild/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gocheck/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gotest/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gobuild/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gocheck/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gotest/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gobuild/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export/.*
  prow/presubmit/gotest/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gobuild/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gocheck/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gotest/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gobuild/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gocheck/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gotest/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gobuild/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

export image metatdata to gcs for windows
  daisy_workflows/image_build/windows/post_install.ps1
  daisy_workflows/image_build/windows/windows-build.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc.wf.json
Due: none

Improve the logging of diagnostics
  cli_tools/diagnostics/main.go
Due: prow/presubmit/gocheck/diagnostics, prow/presubmit/gotest/diagnostics, prow/presubmit/gobuild/diagnostics, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

During inflate, allocate external IP unless NoExternalIP is set.
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  daisy_workflows/image_import/inflate_file.wf.json
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Genereate UUID for id
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

Fix: Some Metadata put in wrong step
  daisy/go.mod
  daisy/go.sum
  daisy_workflows/image_build/windows/post_install.ps1
  daisy_workflows/image_build/windows/windows-build.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc.wf.json
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Remove release_time field. For image release_date, foloow RFC3339
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
Due: prow/presubmit/flake8

Improve the logging of diagnostics (#1251)
  cli_tools/diagnostics/main.go
Due: prow/presubmit/gocheck/diagnostics, prow/presubmit/gotest/diagnostics, prow/presubmit/gobuild/diagnostics, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

During inflate, allocate external IP unless NoExternalIP is set. (#1265)
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  daisy_workflows/image_import/inflate_file.wf.json
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

dockerfile and readme draft
  cli_tools/gce_onestep_image_import/README.md
  gce_onestep_image_import.Dockerfile
Due: none

Daisy steps to respect context being canceled.
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

fix err typo, otherwise it won't be built in bazel
  daisy/workflow.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

fix all
  daisy/disk.go
  daisy/disk_test.go
  daisy/instance.go
  daisy/resource_registry.go
  daisy/step_attach_disks.go
  daisy/step_detach_disk_test.go
  daisy/step_detach_disks.go
  daisy_integration_tests/step_detach_disks.wf.json
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

fix device url validation
  daisy/step_detach_disk_test.go
  daisy/step_detach_disks.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

more
  daisy/step_detach_disk_test.go
  daisy/step_detach_disks.go
  daisy_integration_tests/step_detach_disks.wf.json
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

add e2e
  daisy_integration_tests/daisy_e2e.test.gotmpl
Due: none

[windows upgrade] rename 'OS disk' to 'boot disk' on user interface
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader_test.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  cli_tools/gce_windows_upgrade/upgrader/validators.go
  cli_tools/gce_windows_upgrade/upgrader/validators_test.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

revert unnecessary change
  cli_tools/gce_windows_upgrade/upgrader/upgrader_test.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

format
  daisy/resource_registry.go
  daisy/step_detach_disk_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

fix err typo, otherwise it won't be built in bazel (#1268)
  daisy/workflow.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

[windows upgrade] rename 'OS disk' to 'boot disk' on user interface (#1270)
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  cli_tools/gce_windows_upgrade/upgrader/validators.go
  cli_tools/gce_windows_upgrade/upgrader/validators_test.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

move code to dedup
  daisy/disk.go
  daisy/instance.go
  daisy/step_attach_disks.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

adjust logic
  daisy/step_detach_disks.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Adress Comments.
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/enterprise_linux/centos_6.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_7.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_7_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_8.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_8_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
  daisy_workflows/image_build/enterprise_linux/rhel_6.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_6_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_uefi.wf.json
Due: prow/presubmit/flake8

[daisy] fixed 2 DetachDisks problem (#1269)
  daisy/disk.go
  daisy/disk_test.go
  daisy/instance.go
  daisy/resource_registry.go
  daisy/step_attach_disks.go
  daisy/step_detach_disk_test.go
  daisy/step_detach_disks.go
  daisy_integration_tests/daisy_e2e.test.gotmpl
  daisy_integration_tests/step_detach_disks.wf.json
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

[windowsd upgrade] use enw daisy module
  cli_tools/go.mod
  cli_tools/go.sum
Due: none

[windows-upgrade e2e] add gclud e2e tests
  cli_tools_e2e_test/common/utils/utils.go
  cli_tools_e2e_test/gce_windows_upgrade/test_suites/windows_upgrade/windows_upgrade_test_suite.go
Due: prow/presubmit/gocheck/windows-upgrade-tests, prow/presubmit/gotest/windows-upgrade-tests, prow/presubmit/gobuild/windows-upgrade-tests

less logic
  cli_tools_e2e_test/common/utils/utils.go
  cli_tools_e2e_test/gce_windows_upgrade/test_suites/windows_upgrade/windows_upgrade_test_suite.go
Due: prow/presubmit/gocheck/windows-upgrade-tests, prow/presubmit/gotest/windows-upgrade-tests, prow/presubmit/gobuild/windows-upgrade-tests

Image import global timeout handler - bootable disk processor and inflater unit tests
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import global timeout handler - introduced import step enum
  cli_tools/gce_vm_image_import/importer/importer.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import global timeout handler - pointer receivers for all processors
  cli_tools/gce_vm_image_import/importer/data_disk_processor.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import global timeout handler
  cli_tools/gce_vm_image_import/importer/data_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import global timeout handling
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/data_disk_processor.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/processor.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import global timeout handler - checking whether import is cancelled before starting the next step; tests
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import global timeout handler - refactored to use context for timeouts
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import global timeout handler - cleanup
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import global timeout handler - more realistic timeout for the test
  cli_tools/gce_vm_image_import/importer/importer_test.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import global timeout handler - added a check for context expiration prior to running a step.
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

pr fixes
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
  gce_onestep_image_import.Dockerfile
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

lint
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Remove epel from EL7 now that the python guest is no longer used.
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-post.cfg
Due: none
