Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/gce-vm-image-export, prow/presubmit/gotest/gce-vm-image-export, prow/presubmit/gobuild/gce-vm-image-export, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/import-precheck, prow/presubmit/gotest/import-precheck, prow/presubmit/gobuild/import-precheck, prow/presubmit/gocheck/gce-image-publish, prow/presubmit/gotest/gce-image-publish, prow/presubmit/gobuild/gce-image-publish, prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/diagnostics, prow/presubmit/gotest/diagnostics, prow/presubmit/gobuild/diagnostics, prow/presubmit/gocheck/daisy-test-runner, prow/presubmit/gotest/daisy-test-runner, prow/presubmit/gobuild/daisy-test-runner, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/import-export-tests, prow/presubmit/gotest/import-export-tests, prow/presubmit/gobuild/import-export-tests, prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests, prow/presubmit/gocheck/windows-upgrade-tests, prow/presubmit/gotest/windows-upgrade-tests, prow/presubmit/gobuild/windows-upgrade-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/gocheck/gce-windows-upgrade:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_windows_upgrade/

prow/presubmit/gotest/gce-windows-upgrade:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_windows_upgrade/

prow/presubmit/gobuild/gce-windows-upgrade:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_windows_upgrade/

prow/presubmit/gocheck/gce-ovf-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_ovf_import/

prow/presubmit/gotest/gce-ovf-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_ovf_import/

prow/presubmit/gobuild/gce-ovf-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_ovf_import/

prow/presubmit/gocheck/gce-vm-image-export:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_export/

prow/presubmit/gotest/gce-vm-image-export:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_export/

prow/presubmit/gobuild/gce-vm-image-export:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_export/

prow/presubmit/gocheck/gce-vm-image-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_import/

prow/presubmit/gotest/gce-vm-image-import:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/gce_vm_image_import/

zoran's feedback
  daisy_workflows/image_import/import_image.sh
Due: none

Pass inflation disk sizes during OVF data disk import. (#1292)
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  daisy_workflows/image_import/import_image.sh
Due: prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Load inspection workflow relative to workflow root directory.
  cli_tools/common/disk/inspect.go
  cli_tools/daisycommon/daisy_utils.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[new vmdk api] alpha API (#1290)
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Load inspection workflow relative to workflow root directory. (#1294)
  cli_tools/common/disk/inspect.go
  cli_tools/daisycommon/daisy_utils.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Ensure gce_vm_image_import.Dockerfile has CA certs.
  gce_vm_image_import.Dockerfile
Due: none

Switch to GCE managed base image.
  gce_vm_image_import.Dockerfile
Due: none

Ensure gce_vm_image_import.Dockerfile has CA certs. (#1295)
  gce_vm_image_import.Dockerfile
Due: none

initial
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/main.go
  daisy_workflows/image_import/import_image.sh
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Fix build failure (#1287)"
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
Due: prow/presubmit/flake8

Revert "Add script to export image and package metadata during linux builds (#1252)"
  cli_tools_e2e_test/go.sum
  daisy_workflows/guest_package.txt
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian.wf.json
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_9.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/debian/debian_sid_fai.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_6.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_7.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_7_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_8.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_8_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
  daisy_workflows/image_build/enterprise_linux/rhel_6.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_6_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_uefi.wf.json
Due: prow/presubmit/flake8

Rollback Linux image metadata changes. (#1296)
  cli_tools_e2e_test/go.sum
  daisy_workflows/guest_package.txt
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian.wf.json
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_9.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/debian/debian_sid_fai.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_6.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_7.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_7_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_8.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_8_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/export_metadata.py
  daisy_workflows/image_build/enterprise_linux/rhel_6.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_6_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_uefi.wf.json
Due: prow/presubmit/flake8

[Onestep import] change text/flags, cleanup AWS resource (#1288)
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_onestep_image_import/README.md
  cli_tools/gce_onestep_image_import/main.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/test_utils_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils_test.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Don't install Cloud SDK when importing Debian 8.
  daisy_integration_tests/scripts/post_translate_test.sh
  daisy_workflows/image_import/debian/translate.py
Due: prow/presubmit/flake8

merge
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/literal_loggable_test.go
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Replace bug links with description.
  daisy_integration_tests/scripts/post_translate_test.sh
  daisy_workflows/image_import/debian/translate.py
Due: prow/presubmit/flake8

Don't install Cloud SDK when importing Debian 8. (#1298)
  daisy_integration_tests/scripts/post_translate_test.sh
  daisy_workflows/image_import/debian/translate.py
Due: prow/presubmit/flake8

Increase timeout for 'Don't use proxy test'
  daisy_integration_tests/el_import_dont_use_proxy.wf.json
Due: none

Increase timeout for 'Don't use proxy test' (#1293)
  daisy_integration_tests/el_import_dont_use_proxy.wf.json
Due: none

Ensure that gcloud shows image import translation logs.
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools/gce_vm_image_import/main.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Switch to gcr.io endpoint that doesn't require auth.
  gce_vm_image_import.Dockerfile
Due: none

Update cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Switch to gcr.io endpoint that doesn't require auth. (#1300)
  gce_vm_image_import.Dockerfile
Due: none

log
  cli_tools/common/utils/logging/service/logger.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Ensure that gcloud shows image import translation logs. (#1299)
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools/gce_vm_image_import/main.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF improt: use OS ID from OVF descriptor in addition to OS Type to support a wider range of OVFs that might not have OS Type set (or use OS Type from a different name space, like vbox)
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_loader_test.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils_test.go
Due: prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update osconfig-unstable tests to target zonal endpoints
  test-infra/prow/config.yaml
Due: none

more descriptive error messages
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils_test.go
Due: prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update osconfig-unstable tests to target zonal endpoints (#1303)
  test-infra/prow/config.yaml
Due: none

fix comma in config.yaml
  test-infra/prow/config.yaml
Due: none

fix comma in config.yaml (#1304)
  test-infra/prow/config.yaml
Due: none

Added field/func descriptions
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
Due: prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

use ms other than s
  cli_tools/gce_vm_image_import/importer/importer.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

e2e_tests: update osconfig-unstable flags
  test-infra/prow/config.yaml
Due: none

Removed "Other" and "Other 64-bit" from OVF OS mapping
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
Due: prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

e2e_tests: update osconfig-unstable flags (#1305)
  test-infra/prow/config.yaml
Due: none

OVF import: use OS ID from OVF descriptor in addition to OS Type (#1302)
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_loader_test.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils_test.go
Due: prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gotest/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gobuild/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gocheck/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gotest/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gobuild/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gocheck/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gotest/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gobuild/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gocheck/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gotest/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gobuild/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gocheck/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gotest/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gobuild/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gocheck/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gotest/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gobuild/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gocheck/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gotest/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gobuild/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gocheck/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gotest/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gobuild/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gocheck/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gotest/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gobuild/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export/.*
  prow/presubmit/gotest/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gobuild/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gocheck/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gotest/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gobuild/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gocheck/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gotest/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gobuild/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
