Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/gce-vm-image-export, prow/presubmit/gotest/gce-vm-image-export, prow/presubmit/gobuild/gce-vm-image-export, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/import-precheck, prow/presubmit/gotest/import-precheck, prow/presubmit/gobuild/import-precheck, prow/presubmit/gocheck/gce-image-publish, prow/presubmit/gotest/gce-image-publish, prow/presubmit/gobuild/gce-image-publish, prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/diagnostics, prow/presubmit/gotest/diagnostics, prow/presubmit/gobuild/diagnostics, prow/presubmit/gocheck/daisy-test-runner, prow/presubmit/gotest/daisy-test-runner, prow/presubmit/gobuild/daisy-test-runner, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/import-export-tests, prow/presubmit/gotest/import-export-tests, prow/presubmit/gobuild/import-export-tests, prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests, prow/presubmit/gocheck/windows-upgrade-tests, prow/presubmit/gotest/windows-upgrade-tests, prow/presubmit/gobuild/windows-upgrade-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gotest/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gobuild/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gocheck/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gotest/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gobuild/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gocheck/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gotest/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gobuild/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gocheck/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gotest/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gobuild/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gocheck/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gotest/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gobuild/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gocheck/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gotest/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gobuild/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gocheck/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gotest/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gobuild/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gocheck/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gotest/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gobuild/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gocheck/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gotest/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gobuild/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export/.*
  prow/presubmit/gotest/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gobuild/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gocheck/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gotest/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gobuild/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gocheck/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gotest/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gobuild/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

zoran's feedback
  cli_tools_e2e_test/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests

Fix
  daisy_workflows/image_build/enterprise_linux/kickstart/el6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-byos-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-sap-post.cfg
Due: none

OVF e2e: Whitelist platforms not supporting osconfig agent (#1313)
  cli_tools_e2e_test/common/compute/instance.go
  cli_tools_e2e_test/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests

Check for OS config agent in Windows e2e (#1312)
  daisy_integration_tests/scripts/post_translate_test.ps1
Due: none

EL import: Ensure /etc/yum.repos.d exists.
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

EL import: Ensure /etc/yum.repos.d exists. (#1315)
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

switch from win 8 (which times out) to win 10
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/import-export-tests

move sections to trigger update
  test-infra/prow/config.yaml
Due: none

move sections to trigger update (#1316)
  test-infra/prow/config.yaml
Due: none

Zoran's feedback
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/scripts/post_translate_test.wf.json
  daisy_workflows/image_import/inspection/README.md
  daisy_workflows/image_import/inspection/daisy-shim.sh
  daisy_workflows/image_import/inspection/daisy_shim.py
  daisy_workflows/image_import/inspection/inspect-disk.py
  daisy_workflows/image_import/inspection/inspect-disk.wf.json
  daisy_workflows/image_import/inspection/inspection.py
  daisy_workflows/image_import/inspection/inspectors/os/linux.py
  daisy_workflows/image_import/inspection/system/filesystems.py
  daisy_workflows/image_import/inspection/tests/__init__.py
  daisy_workflows/image_import/inspection/tests/linux_tests.py
  daisy_workflows/image_import/inspection/tests/model_tests.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/import-export-tests

fix
  daisy_workflows/image_build/enterprise_linux/kickstart/el6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-byos-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-sap-post.cfg
Due: none

Disable OS config test on windows_7_x64_byol.wf.json
  daisy_integration_tests/windows_7_x64_byol.wf.json
Due: none

Disable OS config test on windows_7_x64_byol.wf.json (#1318)
  daisy_integration_tests/windows_7_x64_byol.wf.json
Due: none

prow config: add cos to osconfig-head-images tests
  test-infra/prow/config.yaml
Due: none

EL build fixes and additions (#1297)
  daisy_workflows/image_build/enterprise_linux/build_installer.py
  daisy_workflows/image_build/enterprise_linux/build_installer_uefi.py
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux_uefi.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/cleanup.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el6-cleanup.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el6-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-cleanup.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-cleanup.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-packages.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-byos-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-1-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
  daisy_workflows/image_build/enterprise_linux/rhel_8_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/save_logs.py
Due: prow/presubmit/flake8

prow config: add cos to osconfig-head-images tests (#1319)
  test-infra/prow/config.yaml
Due: none

Added client version flag to all the wrappers and added it to logging for debugging purposes. (#1317)
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_onestep_image_import/main.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/main.go
  cli_tools/gce_windows_upgrade/main.go
Due: prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/gce-vm-image-export, prow/presubmit/gotest/gce-vm-image-export, prow/presubmit/gobuild/gce-vm-image-export, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

removed adding http client option to gcs client
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer_test.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Fix return statement in RHEL 7 SAP build.
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-sap-post.cfg
Due: none

fix
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-sap-post.cfg
Due: none

Fix return statement in RHEL 7 SAP build. (#1321)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel7-sap-post.cfg
Due: none

add full scope
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/go.mod
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[Onestep Image Import] Remove adding HTTP client option to gcs client (#1320)
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer_test.go
  cli_tools/go.mod
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

skip os-config-agent check for ubuntu
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/aws_test_utils.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/scripts/post_translate_test.wf.json
Due: prow/presubmit/gocheck/import-export-tests

fix e2e test
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: prow/presubmit/gocheck/import-export-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

skip os-config-agent check for ubuntu (#1324)
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/aws_test_utils.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/scripts/post_translate_test.wf.json
Due: prow/presubmit/gocheck/import-export-tests

change osconfig to previous version
  cli_tools/go.mod
Due: none

[Onestep Image Import E2E] Fix e2e test errors (#1325)
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
  cli_tools/go.mod
  cli_tools_e2e_test/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: prow/presubmit/gocheck/import-export-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

cleanup translation VMs
  daisy_integration_tests/v2v_adapt_windows.wf.json
  daisy_integration_tests/v2v_adapt_windows_byol.wf.json
Due: none

Test RHEL 8 import with e2e
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  daisy_integration_tests/rhel_8_translate.wf.json
Due: prow/presubmit/gocheck/import-export-tests

re-add JSON wf.
  daisy_integration_tests/rhel_8_translate.wf.json
Due: none

Test RHEL 8 import with e2e (#1323)
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/import-export-tests

Increase v2v adapt test frequency to 12hrs, reduced parallel count to 10
  daisy_integration_tests/v2v_adapt_e2e.test.gotmpl
  test-infra/prow/config.yaml
Due: none

Addressed review feedback: added minCpuPlatform to support nested KVM; extracted the call to the adaptation docker image into a script to improve readability.
  daisy_integration_tests/scripts/v2v_adapt.sh
  daisy_integration_tests/v2v_adapt_windows.wf.json
  daisy_integration_tests/v2v_adapt_windows_byol.wf.json
Due: none

First batch of M4CE adaptation E2E tests (#1327)
  daisy_integration_tests/2012r2_vmware_translate.wf.json
  daisy_integration_tests/2019_translate.wf.json
  daisy_integration_tests/scripts/v2v_adapt.sh
  daisy_integration_tests/v2v_adapt_e2e.test.gotmpl
  daisy_integration_tests/v2v_adapt_windows.wf.json
  daisy_integration_tests/v2v_adapt_windows_byol.wf.json
  daisy_integration_tests/windows_10_x64_byol.wf.json
  daisy_integration_tests/windows_7_x64_byol.wf.json
  daisy_integration_tests/windows_8_x64_byol.wf.json
  test-infra/prow/config.yaml
Due: none

Adding more Windows V2V adapt E2E tests
  daisy_integration_tests/2016_translate.wf.json
  daisy_integration_tests/v2v_adapt_e2e.test.gotmpl
  daisy_integration_tests/windows_10_x86_byol.wf.json
  daisy_integration_tests/windows_7_x86_byol.wf.json
  daisy_integration_tests/windows_8_x86_byol.wf.json
Due: none

Adding more Windows 2008r2 vmware V2V adapt E2E test
  daisy_integration_tests/2008r2_vmware_translate.wf.json
  daisy_integration_tests/v2v_adapt_e2e.test.gotmpl
Due: none
