Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/gocheck/gce-windows-upgrade, prow/presubmit/gotest/gce-windows-upgrade, prow/presubmit/gobuild/gce-windows-upgrade, prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/gce-vm-image-export, prow/presubmit/gotest/gce-vm-image-export, prow/presubmit/gobuild/gce-vm-image-export, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/import-precheck, prow/presubmit/gotest/import-precheck, prow/presubmit/gobuild/import-precheck, prow/presubmit/gocheck/gce-image-publish, prow/presubmit/gotest/gce-image-publish, prow/presubmit/gobuild/gce-image-publish, prow/presubmit/gocheck/gce-export, prow/presubmit/gotest/gce-export, prow/presubmit/gobuild/gce-export, prow/presubmit/gocheck/diagnostics, prow/presubmit/gotest/diagnostics, prow/presubmit/gobuild/diagnostics, prow/presubmit/gocheck/daisy-test-runner, prow/presubmit/gotest/daisy-test-runner, prow/presubmit/gobuild/daisy-test-runner, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/import-export-tests, prow/presubmit/gotest/import-export-tests, prow/presubmit/gobuild/import-export-tests, prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests, prow/presubmit/gocheck/windows-upgrade-tests, prow/presubmit/gotest/windows-upgrade-tests, prow/presubmit/gobuild/windows-upgrade-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/gocheck/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gotest/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gobuild/gce-windows-upgrade: any of: cli_tools/gce_windows_upgrade/.*
  prow/presubmit/gocheck/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gotest/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gobuild/gce-ovf-import: any of: cli_tools/gce_ovf_import/.*
  prow/presubmit/gocheck/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gotest/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gobuild/gce-vm-image-export: any of: cli_tools/gce_vm_image_export/.*
  prow/presubmit/gocheck/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gotest/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gobuild/gce-vm-image-import: any of: cli_tools/gce_vm_image_import/.*
  prow/presubmit/gocheck/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gotest/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gobuild/import-precheck: any of: cli_tools/import_precheck/.*
  prow/presubmit/gocheck/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gotest/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gobuild/gce-image-publish: any of: cli_tools/gce_image_publish/.*
  prow/presubmit/gocheck/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gotest/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gobuild/gce-export: any of: cli_tools/gce_export/.*
  prow/presubmit/gocheck/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gotest/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gobuild/diagnostics: any of: cli_tools/diagnostics/.*
  prow/presubmit/gocheck/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gotest/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gobuild/daisy-test-runner: any of: daisy/daisy_test_runner/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export/.*
  prow/presubmit/gotest/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gobuild/import-export-tests: any of: cli_tools_e2e_test/gce_image_import_export_tests/.*
  prow/presubmit/gocheck/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gotest/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gobuild/ovf-import-tests: any of: cli_tools_e2e_test/gce_ovf_import/.*
  prow/presubmit/gocheck/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gotest/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gobuild/windows-upgrade-tests: any of: cli_tools_e2e_test/gce_windows_upgrade/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

change image import path
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

change image import path (#1330)
  cli_tools/gce_onestep_image_import/onestep_importer/utils.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Adding more Windows V2V adapt E2E tests (#1328)
  daisy_integration_tests/2008r2_vmware_translate.wf.json
  daisy_integration_tests/2016_translate.wf.json
  daisy_integration_tests/v2v_adapt_e2e.test.gotmpl
  daisy_integration_tests/windows_10_x86_byol.wf.json
  daisy_integration_tests/windows_7_x86_byol.wf.json
  daisy_integration_tests/windows_8_x86_byol.wf.json
Due: none

Support import of Ubuntu 20.04
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/gce_onestep_image_import/README.md
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_ovf_import/README.md
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/image_import/ubuntu/translate_ubuntu_2004.wf.json
Due: prow/presubmit/flake8, prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/import-export-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

remove extra ubuntu-1804
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
Due: prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Increase wait period prior to checking logs
  daisy_integration_tests/scripts/run_daisy_and_check_logs.sh
Due: none

Increase wait period prior to checking logs (#1331)
  daisy_integration_tests/scripts/run_daisy_and_check_logs.sh
Due: none

Support import of Ubuntu 20.04 (#1329)
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/gce_onestep_image_import/README.md
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_ovf_import/README.md
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/image_import/ubuntu/translate_ubuntu_2004.wf.json
Due: prow/presubmit/flake8, prow/presubmit/gocheck/gce-ovf-import, prow/presubmit/gotest/gce-ovf-import, prow/presubmit/gobuild/gce-ovf-import, prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/import-export-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Configure unit tests to work with pytest
  daisy_workflows/image_import/inspection/README.md
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/inspection/daisy-shim.sh
  daisy_workflows/image_import/inspection/inspectors/os/__init__.py
  daisy_workflows/image_import/inspection/pyproject.toml
  daisy_workflows/image_import/inspection/setup.py
  daisy_workflows/image_import/inspection/src/boot_inspect/__init__.py
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/__init__.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/__init__.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/architecture.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/linux.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/windows.py
  daisy_workflows/image_import/inspection/src/boot_inspect/model.py
  daisy_workflows/image_import/inspection/src/boot_inspect/system/__init__.py
  daisy_workflows/image_import/inspection/src/boot_inspect/system/filesystems.py
  daisy_workflows/image_import/inspection/tests/linux_tests.py
  daisy_workflows/image_import/inspection/tests/test_linux.py
  daisy_workflows/image_import/inspection/tests/test_model.py
Due: prow/presubmit/flake8

Deploying image import wrappers to Artifact registry (two zones to start with for POC purposes, all zones and all wrappers to follow) to allow for regional wrapper deployment for reliability purposes.
  cli_tools_cloudbuild.yaml
Due: none

zoran's test feedback
  daisy_workflows/image_import/inspection/tests/test_model.py
Due: prow/presubmit/flake8

Configure Python inspection unit tests to work with pytest (#1326)
  daisy_workflows/image_import/inspection/README.md
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/inspection/daisy-shim.sh
  daisy_workflows/image_import/inspection/inspectors/os/__init__.py
  daisy_workflows/image_import/inspection/pyproject.toml
  daisy_workflows/image_import/inspection/setup.py
  daisy_workflows/image_import/inspection/src/boot_inspect/__init__.py
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/__init__.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/__init__.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/architecture.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/linux.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/windows.py
  daisy_workflows/image_import/inspection/src/boot_inspect/model.py
  daisy_workflows/image_import/inspection/src/boot_inspect/system/__init__.py
  daisy_workflows/image_import/inspection/src/boot_inspect/system/filesystems.py
  daisy_workflows/image_import/inspection/tests/linux_tests.py
  daisy_workflows/image_import/inspection/tests/test_linux.py
  daisy_workflows/image_import/inspection/tests/test_model.py
Due: prow/presubmit/flake8

Update Go inspection clients workflow reference
  cli_tools/common/disk/inspect.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update Go inspection clients workflow reference (#1334)
  cli_tools/common/disk/inspect.go
Due: prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add two steps to create a disk with root.tar.gz for debian (#1306)
  cli_tools/go.mod
  cli_tools/go.sum
  daisy_workflows/image_build/debian/build.py
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian.wf.json
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_9.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/debian/debian_sid_fai.wf.json
Due: prow/presubmit/flake8

fix bug, use date
  daisy_workflows/image_build/debian/debian_9.wf.json
Due: none

Deploying image import wrappers to Artifact registry: fixed the path to published Docker images by adding repository name (wrappers)
  cli_tools_cloudbuild.yaml
Due: none

Deploying image import wrappers to Artifact registry: fixed the path to published Docker images by adding repository name (wrappers) (#1337)
  cli_tools_cloudbuild.yaml
Due: none

support creatdisk from beta api
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

fix UT
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

DaisyCompute client: support CreatDisk from beta api (#1339)
  daisy/compute/compute.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

initial
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

switch to beta
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

format
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/mocks/mock_compute_client.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add tests for EL 7.8 and EL 8.2
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/import-export-tests

new VMDK API adoption: shadow test alpha -> beta (#1340)
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
Due: prow/presubmit/gocheck/gce-vm-image-import, prow/presubmit/gotest/gce-vm-image-import, prow/presubmit/gobuild/gce-vm-image-import, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

try specific build if kaniko to debug AR auth issues
  cli_tools_cloudbuild.yaml
Due: none

single AR destination test
  cli_tools_cloudbuild.yaml
Due: none

try publish to a single region AR without publish to GCR
  cli_tools_cloudbuild.yaml
Due: none

publish to gcr.io and pkg.dev as separate kaniko steps
  cli_tools_cloudbuild.yaml
Due: none

add cache to kaniko
  cli_tools_cloudbuild.yaml
Due: none

Switched cli tools cloud build to Kaniko v1.0.0 as it supports Artifact registry authentication
  cli_tools_cloudbuild.yaml
Due: none

deploy to two regions in AR
  cli_tools_cloudbuild.yaml
Due: none

Split publishing to different repos in separate steps. Upgrade kaniko executor version. (#1342)
  cli_tools_cloudbuild.yaml
Due: none

Add tests for EL 7.8 and EL 8.2 (#1341)
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/import-export-tests

Use a non-GUI image to avoid flaky RHEL8 test.
  daisy_integration_tests/rhel_8_translate.wf.json
Due: none

Use a non-GUI image to avoid flaky RHEL8 test. (#1343)
  daisy_integration_tests/rhel_8_translate.wf.json
Due: none

Increase verbosity of disk resizing.
  daisy_workflows/image_import/import_image.sh
Due: none

Increase verbosity of disk resizing. (#1344)
  daisy_workflows/image_import/import_image.sh
Due: none

Introduced failureMatches for OVF import and Windows upgrade E2E tests. Windows upgrade still needs to be updated to have failure match strings actually set.
  cli_tools_e2e_test/common/compute/instance.go
  cli_tools_e2e_test/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_e2e_test/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_e2e_test/gce_windows_upgrade/test_suites/windows_upgrade/windows_upgrade_test_suite.go
Due: prow/presubmit/gocheck/ovf-import-tests, prow/presubmit/gotest/ovf-import-tests, prow/presubmit/gobuild/ovf-import-tests, prow/presubmit/gocheck/windows-upgrade-tests, prow/presubmit/gotest/windows-upgrade-tests, prow/presubmit/gobuild/windows-upgrade-tests
