Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Fix windows-image-build-standard publish-to-prod pipelines and align test configuration with linux pipelines (#859)
  concourse/pipelines/windows-image-build-standard.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add sbom requirements to staging pipeline
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove Server 2012R2 from Staging pipeline
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add sbomresource definitions to staging pipeline
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Test pdbalanced performance on ARM64 images in storageperf (#841)
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add image validation to mbr pipeline on build
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Json formatting fix
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add extra args back in
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Formatting fix
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix architecture check and vm zone in storage perf.
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix architecture check and vm zone in storage perf. (#863)
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Wait calls for hotattach
  imagetest/test_suites/hotattach/hot_attach_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix error message text
  imagetest/test_suites/hotattach/hot_attach_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix naming error in workflow def
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Removing extra args
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Testing validation on one liner else condition
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add image validation to mbr pipeline on build (#862)
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Wait calls for hotattach (#864)
  imagetest/test_suites/hotattach/hot_attach_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Run networkperf on multiple machine types, defined in test setup.
  imagetest/test_suites/networkperf/performance_test.go
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Document usage of the compute.Image property
  imagetest/README.md
Due: none

Shutdown attribute (#855)
  imagetest/cmd/wrapper/main.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

merge GoogleCloudPlatform/master into acrate/computeapirefactor
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/windows-image-build-mbr.jsonnet
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
  imagetest/test_suites/hotattach/hot_attach_test.go
  imagetest/test_suites/imageboot/setup.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

rebase
  imagetest/cmd/wrapper/main.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add a wait for disk quota step (#847)
  imagetest/fixtures.go
  imagetest/fixtures_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Catch up Windows Staging pipeline to current state (#861)
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Guest attribute testing and network reboot setup
  imagetest/fixtures_test.go
  imagetest/test_suites/network/setup.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Swap testing platform in registry image task definition
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Swap testing platform in registry image task definition (#867)
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove publish from mbr build
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove publish from mbr build (#868)
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Guest attribute testing and network reboot setup (#866)
  imagetest/fixtures_test.go
  imagetest/test_suites/network/setup.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Quick style fix
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Quick style fix (#869)
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Stop skipping hotattach on arm
  imagetest/test_suites/hotattach/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Run networkperf on multiple machine types, defined in test setup. (#865)
  imagetest/test_suites/networkperf/performance_test.go
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Define new vm param struct
  imagetest/fixtures.go
  imagetest/fixtures_test.go
  imagetest/test_suites/hotattach/setup.go
  imagetest/test_suites/metadata/setup.go
  imagetest/test_suites/network/setup.go
  imagetest/test_suites/shapevalidation/setup.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Stop skipping hotattach on arm (#870)
  imagetest/test_suites/hotattach/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Moving test runs to build job, removing build
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
