Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Call cleanerupper after running a CIT suite to clean up any resources left behind by Daisy.
  container_images/cleanerupper/go-cleanerupper/cleanerupper.go
  container_images/cleanerupper/go-cleanerupper/cleanerupper_test.go
  imagetest/go.mod
  imagetest/go.sum
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Call cleanerupper after running a CIT suite to clean up any resources left behind by Daisy. (#942)
  container_images/cleanerupper/go-cleanerupper/cleanerupper.go
  container_images/cleanerupper/go-cleanerupper/cleanerupper_test.go
  imagetest/go.mod
  imagetest/go.sum
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Switch order of read and write tests
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Split read and write tests between vms
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

export CGO_ENABLED
  imagetest/local_build.sh
Due: none

Build dockerfile relative to root directory to pick up local copy of go-cleanerupper
  concourse/pipelines/container-build.jsonnet
  imagetest/Dockerfile
  imagetest/README.md
Due: prow/presubmit/fly-validate-pipelines

fix typo on conatiner-build pipeline
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix various issues with dockerfile builds (#945)
  concourse/pipelines/container-build.jsonnet
  imagetest/Dockerfile
  imagetest/README.md
  imagetest/local_build.sh
Due: prow/presubmit/fly-validate-pipelines

Print more detailed error message
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update TestGuestPackages to test for all the packages and check by Arch and check for packages that should not be installed
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

print detailed error message in fio cmd as well
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

revert fio run cmd stderr print
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Print more detailed error message (#946)
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

updated based on PR review feedback
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Move the mdsmtls test suite to a guestagent test suite to test agent features.
  imagetest/cmd/manager/main.go
  imagetest/cmd/wrapper/main.go
  imagetest/test_suites/guestagent/mds_mtls_test.go
  imagetest/test_suites/guestagent/setup.go
  imagetest/test_suites/guestagent/telemetry.go
  imagetest/utils/metadata.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/cmd/manager/main.go
  imagetest/cmd/wrapper/main.go
  imagetest/test_suites/guestagent/telemetry.go
  imagetest/utils/metadata.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix example comment
  imagetest/utils/metadata.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update redhat arm64 secure boot issue link
  imagetest/test_suites/imageboot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update redhat arm64 secure boot issue link (#951)
  imagetest/test_suites/imageboot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update findUniq to use slices.Contains
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update TestGuestPackages (#947)
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

package build: use private image for concourse metrics
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

package build: use private image for concourse metrics (#952)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

send google creds for private guest os owned registry images
  concourse/pipelines/artifact-releaser-test.jsonnet
  concourse/pipelines/guest-package-build.jsonnet
  concourse/tasks/generate-timestamp.yaml
  concourse/tasks/gotest.yaml
  concourse/tasks/publish-coverage.yaml
  concourse/tasks/publish-job-result.yaml
  concourse/tasks/publish-time-since.yaml
  concourse/tasks/render-templates.yaml
  concourse/tasks/validate-integtest-result.yaml
Due: prow/presubmit/fly-validate-pipelines

send google creds for private guest os owned registry images (#948)
  concourse/pipelines/artifact-releaser-test.jsonnet
  concourse/tasks/generate-timestamp.yaml
  concourse/tasks/gotest.yaml
  concourse/tasks/publish-coverage.yaml
  concourse/tasks/publish-job-result.yaml
  concourse/tasks/publish-time-since.yaml
  concourse/tasks/render-templates.yaml
  concourse/tasks/validate-integtest-result.yaml
Due: prow/presubmit/fly-validate-pipelines

render-templates: use registry-image-forked
  concourse/tasks/render-templates.yaml
Due: none

render-templates: use registry-image-forked (#953)
  concourse/tasks/render-templates.yaml
Due: none

render-templates: use registry-image
  concourse/tasks/render-templates.yaml
Due: none

render-templates: use registry-image (#954)
  concourse/tasks/render-templates.yaml
Due: none

pipeline-set: use registry-image-private
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/tasks/render-templates.yaml
Due: prow/presubmit/fly-validate-pipelines

pipeline-set: use registry-image-private (#955)
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/tasks/render-templates.yaml
Due: prow/presubmit/fly-validate-pipelines

Define guest-image-private within render-templates.yaml
  concourse/tasks/render-templates.yaml
Due: none

Define guest-image-private within render-templates.yaml (#956)
  concourse/tasks/render-templates.yaml
Due: none

Use guest-image-private resource_type
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/tasks/render-templates.yaml
Due: prow/presubmit/fly-validate-pipelines

guest-image-private -> registry-image-private
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/tasks/render-templates.yaml
Due: prow/presubmit/fly-validate-pipelines

Use guest-image-private resource_type (#957)
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/tasks/render-templates.yaml
Due: prow/presubmit/fly-validate-pipelines

Remove tag from registry-image-private fetch
  concourse/tasks/render-templates.yaml
Due: none

Remove tag from registry-image-private fetch (#958)
  concourse/tasks/render-templates.yaml
Due: none

Add tag to resource_type in pipeline-set-pipelines
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines
