Repository GoogleCloudPlatform/guest-agent: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/packagebuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/daisy-builder:latest
      command:
      - /main.sh
      args:
      - gcp-guest
      - us-west1-a
      - deb10,deb11_arm64,el7,el8,el8_arm64,el9,el9_arm64,goo

Fix typo in windows build script (#501)
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild

Bundle new gce metadata script runner binary in agent package
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Update startup/shutdown services to launch compat manager
  google-shutdown-scripts.service
  google-startup-scripts.service
  packaging/googet/run_shutdown_scripts.cmd
  packaging/googet/run_startup_scripts.cmd
Due: prow/presubmit/packagebuild

Add 'created-by' metadata, and pass it as option to logging library
  google_guest_agent/main.go
  metadata/metadata.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add MIG labelling to other guest binaries
  gce_workload_cert_refresh/main.go
  google_authorized_keys/main.go
  google_metadata_script_runner/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Revert bundling new binaries in the package
  google-guest-agent-manager.service
  google-guest-compat-manager.service
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Revert bundling new binaries in the package (#509)
  google-guest-agent-manager.service
  google-guest-compat-manager.service
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Update dev branch with latest changes for testing (#510)
  google-shutdown-scripts.service
  google-startup-scripts.service
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/run_shutdown_scripts.cmd
  packaging/googet/run_startup_scripts.cmd
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Revert "Revert bundling new binaries in the package (#509)"
  google-guest-compat-manager.service
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Revert "Revert bundling new binaries in the package (#509)" (#511)
  google-guest-compat-manager.service
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Bundle new gce metadata script runner binary in agent package (#502)
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Update startup/shutdown services to launch compat manager (#503)
  google-shutdown-scripts.service
  google-startup-scripts.service
  packaging/googet/run_shutdown_scripts.cmd
  packaging/googet/run_startup_scripts.cmd
Due: prow/presubmit/packagebuild

Bundle compat metadata script runner binary in package
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Bundle compat metadata script runner binary in package (#513)
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Fix debian build path
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Fix debian build path (#514)
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Fix dependencies ran go mod tidy -v
  go.mod
  go.sum
Due: none

Fix dependencies ran go mod tidy -v (#515)
  go.mod
  go.sum
Due: none

Fix package build issues
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Fix package build issues (#517)
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Fix core plugin path
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Fix core plugin path (#518)
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Enable guest services on package upgrade
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

oslogin: Correctly handle newlines at the end of modified files
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

oslogin: Correctly handle newlines at the end of modified files (#520)
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Re-enable disabled services if the core plugin was enabledt
  packaging/debian/postinst
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Enable guest services on package upgrade (#519)
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Re-enable disabled services if the core plugin was enabled
  packaging/debian/postinst
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Re-enable disabled services if the core plugin was enabled (#522)
  packaging/debian/postinst
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Re-enable disabled services if the core plugin was enabled (#521)
  packaging/debian/postinst
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Revert "oslogin: Correctly handle newlines at the end of modified files (#520)"
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Revert "oslogin: Correctly handle newlines at the end of modified files (#520)" (#523)
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update go.mod and go.sum
  go.mod
  go.sum
Due: none

gofmt
  google_authorized_keys/main.go
  metadata/metadata.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
  prow/presubmit/packagebuild: any of: packaging/.*
