Repository GoogleCloudPlatform/osconfig: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/packagebuild, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/packagebuild: any of: packaging/
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Fix previous PR: exec.CommandContext cannot be reused (#425)
  packages/apt_deb.go
  packages/apt_deb_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Support COS on arm64
  packages/cos.go
  packages/cos_stub.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Support COS on arm64 (#426)
  packages/cos.go
  packages/cos_stub.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

adding authentication signature for onprem vms
  agentconfig/agentconfig.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add default timeout for pip and gem list commands
  packages/gem.go
  packages/packages.go
  packages/pip.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

new example policy to ensure sshd is running on windows VMs
  examples/OSPolicyAssignments/console/win-ensure-openssh.yaml
  examples/OSPolicyAssignments/gcloud/win-ensure-openssh.yaml
Due: none

Add default timeout for pip and gem list commands (#429)
  packages/gem.go
  packages/packages.go
  packages/pip.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

new example policy to ensure sshd is running on windows VMs (#430)
  examples/OSPolicyAssignments/console/win-ensure-openssh.yaml
  examples/OSPolicyAssignments/gcloud/win-ensure-openssh.yaml
Due: none

support 1.16
  go.mod
Due: none

path
  packaging/debian/rules
Due: prow/presubmit/packagebuild

upgrade to golang 1.16 and override deb build settings for compatibility (#432)
  go.mod
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Add timeouts for pip/gem updates.
  packages/gem.go
  packages/pip.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add timeouts for pip/gem updates. (#433)
  packages/gem.go
  packages/pip.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Close client when RegisterAgent fails.
  main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update main.go
  main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

update OWNERS
  OWNERS
Due: none

Close client when RegisterAgent fails. (#436)
  main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

update OWNERS (#438)
  OWNERS
Due: none

replace /usr/bin/pip with /usr/bin/pip3
  packages/pip.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix exclude packages field processing
  agentendpoint/patch_linux_test.go
  ospatch/exclude.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

refactor test to use new util function
  agentendpoint/patch_linux_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix linter issue
  ospatch/exclude.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Check for exclusive patches.
  ospatch/updates_windows.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Missing space.
  ospatch/updates_windows.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Check for exclusive patches. (#442)
  ospatch/updates_windows.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix exclude packages field processing (#440)
  agentendpoint/patch_linux_test.go
  ospatch/exclude.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Delete yum tranaction files if created.
  packages/yum.go
  packages/yum_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Some style changes.
  packages/yum.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Delete yum transaction files if created. (#445)
  packages/yum.go
  packages/yum_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Don't print raw pointer data.
  agentendpoint/inventory.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Don't print raw pointer data. (#446)
  agentendpoint/inventory.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Close clients that are not passed anywhere
  agentendpoint/exec_task.go
  policies/recipes/artifacts.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Close clients that are not passed anywhere (#450)
  agentendpoint/exec_task.go
  policies/recipes/artifacts.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Call FQDN
  agentconfig/agentconfig.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix test that checks if endpoint is correct
  agentconfig/agentconfig_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Call FQDN (#454)
  agentconfig/agentconfig.go
  agentconfig/agentconfig_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update owners file.
  OWNERS
Due: none

Update owners file. (#455)
  OWNERS
Due: none

Fix the error in the `copy_file_from_bucket.yaml` example.
  examples/OSPolicyAssignments/gcloud/copy_file_from_bucket.yaml
Due: none

Fix the error in the `copy_file_from_bucket.yaml` example. (#456)
  examples/OSPolicyAssignments/gcloud/copy_file_from_bucket.yaml
Due: none
