Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Handle nil quotas in the caller instead of the WaitForVMQuota function
  imagetest/fixtures.go
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove unnecessary casts in sleep call.
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Handle a single quota in WaitForVMQuota
  imagetest/fixtures.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add wait for vm quota test workflow step, and functions to append quotas (#831)
  imagetest/cmd/manager/main.go
  imagetest/fixtures.go
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/shapevalidation/setup.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add back guest attributes with fix for metadata shutdown test (#826)
  imagetest/cmd/wrapper/main.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix nil ptr in WaitForVMQuota
  imagetest/fixtures.go
  imagetest/fixtures_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix nil ptr in WaitForVMQuota (#833)
  imagetest/fixtures.go
  imagetest/fixtures_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update README.md with correct link to Kaniko Repository
  concourse/pipelines/README.md
Due: prow/presubmit/fly-validate-pipelines

Update README.md
  concourse/pipelines/README.md
Due: prow/presubmit/fly-validate-pipelines

Update README.md
  concourse/README.md
Due: none

Update README.md with correct Kaniko Repository link
  concourse/pipelines/README.md
Due: prow/presubmit/fly-validate-pipelines

Revert "Add back guest attributes with fix for metadata shutdown test (#826)"
  imagetest/cmd/wrapper/main.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Revert "Add back guest attributes with fix for metadata shutdown test (#826)" (#835)
  imagetest/cmd/wrapper/main.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

docs: Update README.md with correct link to Kaniko Repository & Fix typos (#834)
  concourse/README.md
  concourse/pipelines/README.md
Due: prow/presubmit/fly-validate-pipelines

Enable MBR Windows pipeline, remove standard Windows pipeline
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

Add standard Windows server pipeline back
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

Enable MBR Windows pipeline, remove standard Windows pipeline (#836)
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

Double boot changes
  imagetest/cmd/wrapper/main.go
  imagetest/fixtures.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Replace MBR with BIOS in step naming
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update MBR build pipeline image/workflow naming
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update MBR build pipeline image/workflow naming (#838)
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update image and sbom naming for MBR pipeline
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

guest attribute for shutdown
  imagetest/cmd/wrapper/main.go
  imagetest/test_suites/metadata/setup.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Updating img and group names
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update image and sbom naming for MBR pipeline (#839)
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Check for gve in gvnic tests as well
  imagetest/test_suites/network/gvnic_test.go
  imagetest/test_suites/networkperf/gvnic_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Change && to ||
  imagetest/test_suites/networkperf/gvnic_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Revert || back to &&
  imagetest/test_suites/networkperf/gvnic_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Check for gve in gvnic tests as well (#840)
  imagetest/test_suites/network/gvnic_test.go
  imagetest/test_suites/networkperf/gvnic_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Test pdbalanced performance on ARM64 images in storageperf
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Wait for CPUS instead of N1 CPUs during N1 shape validation
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Wait for CPUS instead of N1 CPUs during N1 shape validation (#842)
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Handle arm images in hotattach suite (use an appropriate machine type, and skip until they're fixed)
  imagetest/test_suites/hotattach/hot_attach_test.go
  imagetest/test_suites/hotattach/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Handle arm images in hotattach suite (use an appropriate machine type, and skip until they're fixed) (#843)
  imagetest/test_suites/hotattach/hot_attach_test.go
  imagetest/test_suites/hotattach/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update cli-tools-module-tests container to base off bullseye correctly.
  container_images/cli-tools-module-tests/Dockerfile
Due: none

Update cli-tools-module-tests container to base off bullseye correctly. (#844)
  container_images/cli-tools-module-tests/Dockerfile
Due: none

Check quota less frequently
  imagetest/fixtures.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Move VM build tasks out of gcp-guest.
  concourse/tasks/daisy-build-package-image.yaml
  concourse/tasks/package-gointegtest.yaml
Due: none

Move VM build tasks out of gcp-guest. (#846)
  concourse/tasks/daisy-build-package-image.yaml
  concourse/tasks/package-gointegtest.yaml
Due: none

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
