Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Skipping boot test for Alma Linux
  imagetest/test_suites/image_boot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Added support for Alma Linux boot test
  imagetest/test_suites/image_boot/image_boot_test.go
  imagetest/test_suites/image_boot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Added support for Alma Linux boot test (#553)
  imagetest/test_suites/image_boot/image_boot_test.go
  imagetest/test_suites/image_boot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove staging publication (except oslogin staging).
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/partner-image-export.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add Driver packages tests.
  imagetest/test_suites/windows/driver_package_test.go
  imagetest/test_suites/windows/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add missing test to setup.
  imagetest/test_suites/windows/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix for testing.
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

windows build/publish fix
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

fix
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove staging publication (except oslogin staging). (#554)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/partner-image-export.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove unused partner exports. oslogin-staging publish is automatic after prod.
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/partner-image-export.jsonnet
Due: prow/presubmit/fly-validate-pipelines

fix
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove unused partner exports. oslogin-staging publish is automatic (#556)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/partner-image-export.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add epel-release to package test
  imagetest/test_suites/image_validation/package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add epel-release to package test (#557)
  imagetest/test_suites/image_validation/package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

VirtIO driver updates.
  imagetest/test_suites/windows/driver_package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add driver packages tests. (#555)
  imagetest/test_suites/windows/driver_package_test.go
  imagetest/test_suites/windows/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add new OWNERS file
  imagetest/OWNERS
Due: none

Update Metadata tests to support Windows.
  imagetest/fixtures.go
  imagetest/test_suites/metadata/setup.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/test_suites/metadata/startup_script_test.go
  imagetest/test_suites/metadata/startup_shutdown_script_test.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Rework Windows build pipeline environments
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove duplicate variable in ImgResource
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove oslogin-staging publish.
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/partner-image-export.jsonnet
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

Remove oslogin-staging publish. (#561)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/partner-image-export.jsonnet
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

Update Windows pipeline to include new environment
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Revert to 2 publish jobs for clients
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update environments for client builds
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fixing client_envs values
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add client to ImgPublishJob
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix publish name in passed criteria for client env
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update Windows pipeline to include new environment (#562)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add more READMEs
  README.md
  container_images/README.md
  packagebuild/README.md
Due: none

PR feedback
  container_images/README.md
  packagebuild/README.md
Due: none

add more READMEs (#563)
  README.md
  container_images/README.md
  packagebuild/README.md
Due: none

add concourse/pipelines/README.md
  README.md
  concourse/pipelines/README.md
Due: prow/presubmit/fly-validate-pipelines

add concourse/pipelines/README.md (#564)
  README.md
  concourse/pipelines/README.md
Due: prow/presubmit/fly-validate-pipelines

add RHUI testing image
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

fix presubmit
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add RHUI testing image (#565)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

update RHUI image builds
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
