Repository GoogleCloudPlatform/guest-agent: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/packagebuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/daisy-builder:latest
      command:
      - /main.sh
      args:
      - gcp-guest
      - us-west1-a
      - deb10,deb11_arm64,el7,el8,el8_arm64,el9,el9_arm64,goo

Log metadata error message to Stderr if there was an error getting created-by attribute
  gce_workload_cert_refresh/main.go
  google_metadata_script_runner/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add 'created-by' metadata, and pass it as option to logging library (#508)
  gce_workload_cert_refresh/main.go
  go.mod
  go.sum
  google_authorized_keys/main.go
  google_guest_agent/main.go
  google_metadata_script_runner/main.go
  metadata/metadata.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

wicked: Only reload interfaces for which configurations are written
  google_guest_agent/network/manager/wicked_linux.go
  google_guest_agent/network/manager/wicked_linux_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Don't run ifreload if there is nothing to reload
  google_guest_agent/network/manager/wicked_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update guest-logging-go dependency
  go.mod
  go.sum
Due: none

Update guest-logging-go dependency (#526)
  go.mod
  go.sum
Due: none

Remove error messages from gce_workload_cert_refresh and metadata script runner
  gce_workload_cert_refresh/main.go
  google_metadata_script_runner/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove error messages from gce_workload_cert_refresh and metadata script runner (#527)
  gce_workload_cert_refresh/main.go
  google_metadata_script_runner/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

selinux: introduce policy module
  selinux/google_guest_agent.fc
  selinux/google_guest_agent.if
  selinux/google_guest_agent.te
Due: none

Skip packaging legacy guest agent
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Add AuthorizedKeysCompat to windows packaging
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild

Rename binaries based on presence of compat manager
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild

Skip packaging legacy guest agent (#529)
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Add AuthorizedKeysCompat to windows packaging (#530)
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild

delete the unused sshtrustedca_windows.go
  google_guest_agent/events/sshtrustedca/sshtrustedca_windows.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

wrap NSS cache refresh in a goroutine
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Make sure agent added connections are activated by NM
  google_guest_agent/network/manager/network_manager_linux.go
  google_guest_agent/network/manager/network_manager_linux_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Wicked: Only reload interfaces for which configurations are written or changed. (#524)
  google_guest_agent/network/manager/wicked_linux.go
  google_guest_agent/network/manager/wicked_linux_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

wrap NSS cache refresh in a goroutine (#533)
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Make sure agent added connections are activated by NM (#534)
  google_guest_agent/network/manager/network_manager_linux.go
  google_guest_agent/network/manager/network_manager_linux_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Preparing stable build.
  README.md
Due: none

Update core plugin path as per main branch
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Update core plugin path as per main branch (#535)
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Enable debug logging for core plugin testing
  instance_configs.cfg
Due: none

Enable debug logging for core plugin testing (#537)
  instance_configs.cfg
Due: none

startup script: wrap compatibility decision into its own scripts
  google-startup-scripts.service
  google_metadata_script_runner_adapt
  packaging/debian/rules
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Reapply "oslogin: Correctly handle newlines at the end of modified files (#520)" (#523)
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Reapply "oslogin: Correctly handle newlines at the end of modified files (#520)" (#523) (#540)
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

startup script: wrap compatibility decision into its own scripts (#538)
  google-startup-scripts.service
  google_metadata_script_runner_adapt
  packaging/debian/rules
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Packaging changes to include routes script installation
  packaging/debian/rules
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Create directories
  packaging/debian/rules
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Update CLI name in packaging
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

prepare stable release.
  README.md
Due: none

systemd should manage only the main process
  google-guest-agent-manager.service
Due: none

systemd should manage only the main process (#544)
  google-guest-agent-manager.service
Due: none

Update CLI name in packaging (#543)
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Update dev branch packaging as per #543 changes
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Update dev branch packaging as per #543 changes (#545)
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Path conditions:
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
  prow/presubmit/packagebuild: any of: packaging/.*
