Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Cover is not a binary, no need to install it (#629)
  container_images/gotest/Dockerfile
Due: none

registry-image-forked: remove go download (#628)
  container_images/registry-image-forked/dockerfiles/alpine/Dockerfile
  container_images/registry-image-forked/dockerfiles/ubuntu/Dockerfile
Due: none

Fix 'registry-image-forked' build
  concourse/pipelines/container-build.jsonnet
  container_images/registry-image-forked/dockerfiles/alpine/Dockerfile
  container_images/registry-image-forked/dockerfiles/ubuntu/Dockerfile
Due: prow/presubmit/fly-validate-pipelines

Fix 'registry-image-forked' build (#630)
  concourse/pipelines/container-build.jsonnet
  container_images/registry-image-forked/dockerfiles/alpine/Dockerfile
  container_images/registry-image-forked/dockerfiles/ubuntu/Dockerfile
Due: prow/presubmit/fly-validate-pipelines

registry-image-forked: fix failing testsuite
  container_images/registry-image-forked/suite_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

change cit directive and make presubmit tests happy again.
  imagetest/test_suites/disk/disk_resize_test.go
  imagetest/test_suites/image_boot/image_boot_test.go
  imagetest/test_suites/image_validation/clock_test.go
  imagetest/test_suites/image_validation/image_validation_test.go
  imagetest/test_suites/image_validation/license_test.go
  imagetest/test_suites/image_validation/linux_license_test.go
  imagetest/test_suites/image_validation/package_test.go
  imagetest/test_suites/metadata/metadata_test.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/test_suites/metadata/startup_script_test.go
  imagetest/test_suites/network/alias_ip_test.go
  imagetest/test_suites/network/dhcp_test.go
  imagetest/test_suites/network/gvnic_test.go
  imagetest/test_suites/network/mtu_test.go
  imagetest/test_suites/network/multinic_minimal_network_test.go
  imagetest/test_suites/oslogin/oslogin_test.go
  imagetest/test_suites/security/image_security_test.go
  imagetest/test_suites/ssh/host_key_test.go
  imagetest/test_suites/ssh/image_ssh_test.go
  imagetest/test_suites/windows/driver_package_test.go
  imagetest/test_suites/windows/googet_test.go
  imagetest/test_suites/windows_containers/docker_container_test.go
  imagetest/test_suites/windows_image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix linter reported errors all across the repo.
  imagetest/test_suites/image_boot/image_boot_test.go
  imagetest/test_suites/oslogin/oslogin_test.go
  imagetest/test_suites/windows_containers/docker_container_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

registry-image-forked: fix failing testsuite (#631)
  container_images/registry-image-forked/suite_test.go
  imagetest/test_suites/disk/disk_resize_test.go
  imagetest/test_suites/image_boot/image_boot_test.go
  imagetest/test_suites/image_validation/clock_test.go
  imagetest/test_suites/image_validation/image_validation_test.go
  imagetest/test_suites/image_validation/license_test.go
  imagetest/test_suites/image_validation/linux_license_test.go
  imagetest/test_suites/image_validation/package_test.go
  imagetest/test_suites/metadata/metadata_test.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/test_suites/metadata/startup_script_test.go
  imagetest/test_suites/network/alias_ip_test.go
  imagetest/test_suites/network/dhcp_test.go
  imagetest/test_suites/network/gvnic_test.go
  imagetest/test_suites/network/mtu_test.go
  imagetest/test_suites/network/multinic_minimal_network_test.go
  imagetest/test_suites/oslogin/oslogin_test.go
  imagetest/test_suites/security/image_security_test.go
  imagetest/test_suites/ssh/host_key_test.go
  imagetest/test_suites/ssh/image_ssh_test.go
  imagetest/test_suites/windows/driver_package_test.go
  imagetest/test_suites/windows/googet_test.go
  imagetest/test_suites/windows_containers/docker_container_test.go
  imagetest/test_suites/windows_image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix go build directives all across the repo.
  imagetest/test_suites/disk/disk_resize_test.go
  imagetest/test_suites/image_boot/image_boot_test.go
  imagetest/test_suites/image_validation/clock_test.go
  imagetest/test_suites/image_validation/image_validation_test.go
  imagetest/test_suites/image_validation/license_test.go
  imagetest/test_suites/image_validation/linux_license_test.go
  imagetest/test_suites/image_validation/package_test.go
  imagetest/test_suites/metadata/metadata_test.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/test_suites/metadata/startup_script_test.go
  imagetest/test_suites/network/alias_ip_test.go
  imagetest/test_suites/network/dhcp_test.go
  imagetest/test_suites/network/gvnic_test.go
  imagetest/test_suites/network/mtu_test.go
  imagetest/test_suites/network/multinic_minimal_network_test.go
  imagetest/test_suites/oslogin/oslogin_test.go
  imagetest/test_suites/security/image_security_test.go
  imagetest/test_suites/ssh/host_key_test.go
  imagetest/test_suites/ssh/image_ssh_test.go
  imagetest/test_suites/windows/driver_package_test.go
  imagetest/test_suites/windows/googet_test.go
  imagetest/test_suites/windows_containers/docker_container_test.go
  imagetest/test_suites/windows_image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix go build directives all across the repo. (#632)
  imagetest/test_suites/disk/disk_resize_test.go
  imagetest/test_suites/image_boot/image_boot_test.go
  imagetest/test_suites/image_validation/clock_test.go
  imagetest/test_suites/image_validation/image_validation_test.go
  imagetest/test_suites/image_validation/license_test.go
  imagetest/test_suites/image_validation/linux_license_test.go
  imagetest/test_suites/image_validation/package_test.go
  imagetest/test_suites/metadata/metadata_test.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/test_suites/metadata/startup_script_test.go
  imagetest/test_suites/network/alias_ip_test.go
  imagetest/test_suites/network/dhcp_test.go
  imagetest/test_suites/network/gvnic_test.go
  imagetest/test_suites/network/mtu_test.go
  imagetest/test_suites/network/multinic_minimal_network_test.go
  imagetest/test_suites/oslogin/oslogin_test.go
  imagetest/test_suites/security/image_security_test.go
  imagetest/test_suites/ssh/host_key_test.go
  imagetest/test_suites/ssh/image_ssh_test.go
  imagetest/test_suites/windows/driver_package_test.go
  imagetest/test_suites/windows/googet_test.go
  imagetest/test_suites/windows_containers/docker_container_test.go
  imagetest/test_suites/windows_image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update Golang version in `cloud-image-tests` for consistency
  imagetest/Dockerfile
Due: none

Update Golang version in `cloud-image-tests` for consistency (#633)
  imagetest/Dockerfile
Due: none

Fix OpenSSL version mismatch
  imagetest/Dockerfile
Due: none

Fix OpenSSL version mismatch (#634)
  imagetest/Dockerfile
Due: none

Add CE Docker builds to Windows pipeline
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add CE Docker builds to Windows pipeline (#635)
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update workflow names in pipeline def
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update workflow names in pipeline def (#636)
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

debian packages: fetch sbomutil from gcs
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/workflows/build_deb10.wf.json
  packagebuild/workflows/build_deb11.wf.json
  packagebuild/workflows/build_deb11_arm64.wf.json
  packagebuild/workflows/build_deb9.wf.json
Due: none

rpm packages: fetch sbomutil from gcs
  packagebuild/daisy_startupscript_rpm.sh
  packagebuild/workflows/build_el6.wf.json
  packagebuild/workflows/build_el7.wf.json
  packagebuild/workflows/build_el8.wf.json
  packagebuild/workflows/build_el8_arm64.wf.json
  packagebuild/workflows/build_el9.wf.json
  packagebuild/workflows/build_el9_arm64.wf.json
Due: none

debian packages: fetch sbomutil from gcs (#637)
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_rpm.sh
  packagebuild/workflows/build_deb10.wf.json
  packagebuild/workflows/build_deb11.wf.json
  packagebuild/workflows/build_deb11_arm64.wf.json
  packagebuild/workflows/build_deb9.wf.json
  packagebuild/workflows/build_el6.wf.json
  packagebuild/workflows/build_el7.wf.json
  packagebuild/workflows/build_el8.wf.json
  packagebuild/workflows/build_el8_arm64.wf.json
  packagebuild/workflows/build_el9.wf.json
  packagebuild/workflows/build_el9_arm64.wf.json
Due: none

googet packages: fetch sbomutil from gcs
  packagebuild/daisy_startupscript_goo.sh
  packagebuild/workflows/build_goo.wf.json
Due: none

googet packages: fetch sbomutil from gcs (#638)
  packagebuild/daisy_startupscript_goo.sh
  packagebuild/workflows/build_goo.wf.json
Due: none

package build: pass down sbom_util_gcs_root
  concourse/pipelines/guest-package-build.jsonnet
  packagebuild/workflows/build_package.wf.json
Due: prow/presubmit/fly-validate-pipelines

package build: pass down sbom_util_gcs_root (#639)
  concourse/pipelines/guest-package-build.jsonnet
  packagebuild/workflows/build_package.wf.json
Due: prow/presubmit/fly-validate-pipelines

package build(sbom): sbomutil fetching
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_goo.sh
  packagebuild/daisy_startupscript_rpm.sh
Due: none

package build(sbom): sbomutil fetching (#640)
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_goo.sh
  packagebuild/daisy_startupscript_rpm.sh
Due: none

sbom: start publishing sboms to its own bucket
  concourse/pipelines/linux-image-build.jsonnet
  concourse/tasks/generate-build-id-sbom.yaml
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

sbom: start publishing sboms to its own bucket (#641)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/tasks/generate-build-id-sbom.yaml
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

sbom: remove root folder on bucket definition
  concourse/templates/common.libsonnet
Due: none

sbom: remove root folder on bucket definition (#642)
  concourse/templates/common.libsonnet
Due: none

gcssbom resource: use the resource's "constructor"
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

gcssbom resource: add a middle dir component.
  concourse/templates/common.libsonnet
Due: none

gcssbom resource: use the resource's "constructor" (#643)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

arlepublishtask: make sure to pass the sbom's path
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/arle.libsonnet
Due: prow/presubmit/fly-validate-pipelines

arlepublishtask: make sure to pass the sbom's path (#644)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/arle.libsonnet
Due: prow/presubmit/fly-validate-pipelines

arle: pass sbom_gcs_path to all jobs of interest
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/arle.libsonnet
Due: prow/presubmit/fly-validate-pipelines

arle: pass sbom_gcs_path to all jobs of interest (#645)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/arle.libsonnet
Due: prow/presubmit/fly-validate-pipelines

sbom: start passing sbom's gcs path to arle's pubsub
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/arle.libsonnet
Due: prow/presubmit/fly-validate-pipelines

sbom: start passing sbom's gcs path to arle's pubsub (#646)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/arle.libsonnet
Due: prow/presubmit/fly-validate-pipelines
