Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Check quota less frequently (#845)
  imagetest/fixtures.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add a wait for disk quota step
  imagetest/fixtures.go
  imagetest/fixtures_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Shutdown reboot special step
  imagetest/cmd/wrapper/main.go
  imagetest/fixtures.go
  imagetest/test_suites/metadata/setup.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/cmd/wrapper/main.go
  imagetest/fixtures.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove unused print
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Move hotattach to primary image tests.
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Move hotattach to primary image tests. (#849)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Reuse current method name for testvm
  imagetest/fixtures.go
  imagetest/test_suites/metadata/setup.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Exempt EL7 from C3D shape validation
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Exempt EL7 from C3D shape validation (#850)
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Changing naming schema for mbr builds
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Shutdown Script Minor Change (#848)
  imagetest/fixtures.go
  imagetest/test_suites/metadata/setup.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Refactor TestWorkflow structure to provide a compute client instead of an image name
  imagetest/cmd/manager/main.go
  imagetest/fixtures_test.go
  imagetest/test_suites/cvm/setup.go
  imagetest/test_suites/imageboot/setup.go
  imagetest/test_suites/metadata/setup.go
  imagetest/test_suites/network/setup.go
  imagetest/test_suites/networkperf/setup.go
  imagetest/test_suites/shapevalidation/setup.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/windowsimagevalidation/setup.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/cmd/manager/main.go
  imagetest/test_suites/shapevalidation/setup.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Check number of guest CPUs directly in networkperf setup
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Compare arch directly in hotattach
  imagetest/test_suites/hotattach/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Handle shapevalidation shape exceptions
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt/lint/vet
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

guest attribute implementation for shutdown script
  imagetest/cmd/wrapper/main.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update fixtures.go
  imagetest/fixtures.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

RHEL for SAP BYOS and RHEL 9 BYOS for arm64
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove telemetry from non-prod windows pipelines
  concourse/pipelines/windows-image-build-mbr.jsonnet
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
Due: prow/presubmit/fly-validate-pipelines

print statement
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

more printsA
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix boolean check
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip broken secureboot test on opensuse-leap
  imagetest/test_suites/imageboot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip broken secureboot test on opensuse-leap (#854)
  imagetest/test_suites/imageboot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Check difF
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix typo
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

RHEL for SAP BYOS and RHEL 9 BYOS for arm64 (#852)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix pipeline name.
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Change paramMap to a struct defining the options for storageperf test run.
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove telemetry from non-prod windows pipelines (#853)
  concourse/pipelines/windows-image-build-mbr.jsonnet
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix windows-image-build-standard publish-to-prod pipelines and align test configuration with linux pipelines
  concourse/pipelines/windows-image-build-standard.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove 2012 R2 from prod windows build pipeline
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove hard requirement for 2012R2 in daisy lib
  concourse/templates/daisy.libsonnet
Due: none

Revert removal of 2012r2 secrets
  concourse/pipelines/windows-image-build.jsonnet
  concourse/templates/daisy.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Add iso_path back in
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

gofmt/lint
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove 2012 R2 from prod windows build pipeline (#860)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines
