Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Update order so internal is after prod
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update order so internal is after prod (#484)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add el9_arm64 packagebuild workflow (#482)
  packagebuild/workflows/build_el9_arm64.wf.json
Due: none

Add Windows SSH to guest-package-build.
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

prune unused guest-package-build.yaml
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add Windows SSH to guest-package-build.
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix typo
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

prune unused guest-package-build.yaml (#486)
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add Windows SSH to guest-package-build. (#487)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

extract generate-timestamp to template
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

extract generate-timestamp to template (#488)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

disable flaky last-stable step
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

only one should tag stable
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix last stable (#489)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

correct windows package paths
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

correct windows package paths (#490)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add rhel-9-arm64 image build
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add rhel-9-arm64 image build (#491)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Infer osUnderTest
  imagetest/cmd/manager/main.go
  imagetest/fixtures_test.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add image boot test for windows
  imagetest/Dockerfile
  imagetest/cmd/startup.ps1
  imagetest/cmd/wrapper/main.go
  imagetest/test_suites/image_boot/image_boot_test.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix import
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/test_suites/image_boot/image_boot_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

skip secure boot test on arm
  imagetest/test_suites/image_boot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

skip secure boot test on arm (#492)
  imagetest/test_suites/image_boot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

use direct ping library in multinic test
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/network/multinic_minimal_network_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add all image_boot tests for windows
  imagetest/Dockerfile
  imagetest/cmd/wrapper/main.go
  imagetest/test_suites/image_boot/image_boot_test.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove startup.ps1
  imagetest/cmd/startup.ps1
Due: none

gofmt
  imagetest/cmd/wrapper/main.go
  imagetest/test_suites/image_boot/image_boot_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove osUnderTest
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

remove imagetest-specific OWNERS file
  imagetest/OWNERS
Due: none

remove imagetest-specific OWNERS file (#494)
  imagetest/OWNERS
Due: none

Add CIT for windows image build
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
  concourse/templates/image-test-task.libsonnet
Due: prow/presubmit/fly-validate-pipelines

use direct ping library in multinic test (#493)
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/network/multinic_minimal_network_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add first windows CIT image boot test (#478)
  imagetest/Dockerfile
  imagetest/cmd/wrapper/main.go
  imagetest/test_suites/image_boot/image_boot_test.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Follow normal windows file naming practices
  imagetest/Dockerfile
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

8.3 naming
  imagetest/Dockerfile
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix image path
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

lint
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix variable usage
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Follow 8.3 windows file naming and support x86 images (#495)
  imagetest/Dockerfile
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest
