Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Update hana script
  concourse/scripts/sap_hana.tf
Due: none

add forked crt to windows image build
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add forked crt to windows image build (#409)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

generate CSR
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

and rm template
  concourse/templates/lego.libsonnet
Due: none

PR feedback
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

generate CSR (#410)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/lego.libsonnet
Due: prow/presubmit/fly-validate-pipelines

fix keyname
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

cleanup
  concourse/pipelines/linux-image-build.jsonnet
  concourse/scripts/sap_hana.tf
Due: prow/presubmit/fly-validate-pipelines

Removing underscore replacement since the files currently use dashes
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Removing underscore replacement since the files currently use dashes (#412)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Use prod bucket
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

rename error
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add SAP workload test job (#394)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/scripts/sap_hana.tf
  concourse/scripts/sap_post_script.sh
Due: prow/presubmit/fly-validate-pipelines

use alpine sdk image
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

useless use of cat
  concourse/scripts/sap_post_script.sh
Due: none

Add myself and remove lawrence from owners
  OWNERS
Due: none

add neil to OWNERS
  OWNERS
Due: none

Add myself and remove lawrence from owners (#414)
  OWNERS
Due: none

use alpine sdk image (#413)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/scripts/sap_post_script.sh
Due: prow/presubmit/fly-validate-pipelines

fix keyname (#411)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Adding missing / to GCS Path
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Adding missing / to GCS Path (#415)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

cds build: split inputs
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

cds build: split inputs (#416)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

2012r2 --> 2012-r2
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

2012r2 --> 2012-r2 (#417)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix Windows publish workflows reference.
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove Windows Server 2004 build (EOL)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove Windows Server 2004 build (EOL) (#419)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

[concourse] build and publish debian-11-worker-amd64
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

refine
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

[concourse] build and publish debian-11-worker-amd64 (#421)
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

window-install-media build-publish
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/pipelines/windows-install-media-image-build.yaml
  concourse/tasks/daisy-build-windows-install-media.yaml
Due: prow/presubmit/fly-validate-pipelines

revert
  concourse/pipelines/guest-package-build.yaml
  packagebuild/workflows/build_deb11_arm64.wf.json
  packagebuild/workflows/build_package.wf.json
Due: prow/presubmit/fly-validate-pipelines

new line
  packagebuild/workflows/build_deb11_arm64.wf.json
Due: none

[concourse for ARM packages] support ARM packages build (#420)
  concourse/pipelines/guest-package-build.yaml
  packagebuild/workflows/build_deb11_arm64.wf.json
  packagebuild/workflows/build_package.wf.json
Due: prow/presubmit/fly-validate-pipelines

add cleanerupper
  concourse/pipelines/container-build.jsonnet
  container_images/cleanerupper/Dockerfile
  container_images/cleanerupper/go.mod
  container_images/cleanerupper/go.sum
  container_images/cleanerupper/main.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add cleanerupper (#422)
  concourse/pipelines/container-build.jsonnet
  container_images/cleanerupper/Dockerfile
  container_images/cleanerupper/go.mod
  container_images/cleanerupper/go.sum
  container_images/cleanerupper/main.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
