Repository GoogleCloudPlatform/guest-agent: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

Path conditions:
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
  prow/presubmit/packagebuild: any of: packaging/.*

Add support for including agent manager in guest-agent package
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild

packaging: add plugin manager to rhel packaging
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Add support for including agent manager in guest-agent package (#456)
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild

Add plugin manager to debian build
  packaging/debian/control
  packaging/debian/rules
Due: prow/presubmit/packagebuild

packaging: add plugin manager to rhel packaging (#454)
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

rpm packaging: fix plugin manager assumptions
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

rpm packaging: fix plugin manager assumptions (#458)
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Add plugin manager to debian build (#457)
  packaging/debian/control
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Add GOPATH to PATH in debian build
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Remove protobuf-compiler from dependencies
  packaging/debian/control
Due: prow/presubmit/packagebuild

Add downloaded protoc to debian PATH
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Add GOPATH to PATH in debian build (#459)
  packaging/debian/control
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Revert plugin manager packaging
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Revert plugin manager packaging (#460)
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

network: force NetworkManager to connect to primary nic
  google_guest_agent/network/manager/network_manager_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

network: force NetworkManager to connect to primary nic (#461)
  google_guest_agent/network/manager/network_manager_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Avoid changing permissions of directory if parent is /
  google_guest_agent/command/command_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Avoid changing permissions of directory if parent is / (#463)
  google_guest_agent/command/command_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Bring back side-by-side packaging
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Bring back side-by-side packaging (#464)
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Add missing packaging spec
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild

Add missing packaging spec (#466)
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild

networkd(vlan): remove the interface in addition to config
  google_guest_agent/network/manager/systemd_networkd_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Implement support for vlan dynamic removal, update dhclient to remove only if configured
  google_guest_agent/network/manager/common.go
  google_guest_agent/network/manager/common_test.go
  google_guest_agent/network/manager/dhclient_linux.go
  google_guest_agent/network/manager/dhclient_linux_test.go
  google_guest_agent/network/manager/netplan_linux.go
  google_guest_agent/network/manager/netplan_linux_test.go
  google_guest_agent/network/manager/wicked_linux.go
  utils/file.go
  utils/file_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update readme with guest agent manager
  README.md
Due: none

Update readme with guest agent manager (#469)
  README.md
Due: none

Fixing fallback from systemd-networkd to dhclient
  google_guest_agent/network/manager/systemd_networkd_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

network: fix nmcli check pattern
  google_guest_agent/network/manager/network_manager_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

network: fix nmcli check pattern (#472)
  google_guest_agent/network/manager/network_manager_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fixing fallback from systemd-networkd to dhclient (#471)
  google_guest_agent/network/manager/systemd_networkd_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

stable/network: fix cliExists() call pattern
  google_guest_agent/network/manager/network_manager_linux.go
  google_guest_agent/network/manager/systemd_networkd_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

stable/network: fix cliExists() call pattern (#474)
  google_guest_agent/network/manager/network_manager_linux.go
  google_guest_agent/network/manager/systemd_networkd_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update metadata script runner to honor cloud logging config flag
  google_metadata_script_runner/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update metadata script runner to honor cloud logging config flag (#475)
  google_metadata_script_runner/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

readme: add notes about plugin manager
  README.md
Due: none

readme: add notes about plugin manager (#476)
  README.md
Due: none

Remove Pat from owners file.
  OWNERS
Due: none

Remove Pat from owners file. (#478)
  OWNERS
Due: none
