Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Sbom dest (#607)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/tasks/generate-build-id-sbom.yaml
  concourse/templates/daisy.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove staging windows build from pipeline
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

Remove staging windows build from pipeline (#608)
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

add id generation to windows staging
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add id generation to windows staging (#609)
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Change resource type for worker
  concourse/templates/common.libsonnet
Due: none

Change resource type for worker (#610)
  concourse/templates/common.libsonnet
Due: none

Add comments for common id generation
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add comments for common id generation (#611)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove remaining references to env in windows-staging pipeline
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Re-introduce windows staging build into pipelines
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

Re-introduce Windows staging env (#612)
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update OWNERS
  OWNERS
Due: none

Update OWNERS (#613)
  OWNERS
Due: none

Removing Windows 8.1 from build pipelines
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Removing Windows 8.1 from build pipelines (#614)
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Split Windows pipeline into standard and DC ver
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update image family references for SQL 2019 builds
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Drop non-dc preview build from dc pipeline
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix 2022 builds for non-dc pipeline
  concourse/pipelines/windows-image-build-standard.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Drop preview build from standard pipeline
  concourse/pipelines/windows-image-build-standard.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add standard windows builds to pipeline
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

Split Windows pipeline into standard and DC ver (#615)
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/pipelines/windows-image-build-standard.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update build to go1.19.6 as 1.18 is EOL, update tests to match go version
  container_images/gobuild/Dockerfile
  container_images/gointegtest/Dockerfile
  container_images/gotest/Dockerfile
  packagebuild/common.sh
Due: none

one more dockerfile
  container_images/gocheck/Dockerfile
Due: none

Removing RHUI image build and release process
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/pipelines/rhui-release.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add RHEL 9.0 for SAP to image build workflow. (#622)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Removing RHUI image build and release process (#621)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/pipelines/rhui-release.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix license tests for RHEL 9 for SAP.
  imagetest/test_suites/image_validation/license_test.go
  imagetest/test_suites/image_validation/linux_license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix license tests for RHEL 9 for SAP. (#623)
  imagetest/test_suites/image_validation/license_test.go
  imagetest/test_suites/image_validation/linux_license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix missing variable in worker builds.
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

fix
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Fix missing variable in worker builds. (#624)
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Update build to go1.19.6 as 1.18 is EOL, update tests to match go version (#620)
  container_images/gobuild/Dockerfile
  container_images/gocheck/Dockerfile
  container_images/gointegtest/Dockerfile
  container_images/gotest/Dockerfile
  packagebuild/common.sh
Due: none

Fix sbom file pattern for all Debian images
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix sbom file pattern for all Debian images (#626)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Replace go get calls with go install
  container_images/gocheck/Dockerfile
  container_images/gointegtest/Dockerfile
  container_images/gotest/Dockerfile
Due: none

Replace go get calls with go install (#627)
  container_images/gocheck/Dockerfile
  container_images/gointegtest/Dockerfile
  container_images/gotest/Dockerfile
Due: none

registry-image-forked: remove go download
  container_images/registry-image-forked/dockerfiles/alpine/Dockerfile
  container_images/registry-image-forked/dockerfiles/ubuntu/Dockerfile
Due: none

Cover is not a binary, no need to install it
  container_images/gotest/Dockerfile
Due: none

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
