Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gocheck/cleanerupper, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/cit, prow/presubmit/gotest/cleanerupper, prow/presubmit/gotest/registryimage

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck/root: any of: \.go$
  prow/presubmit/gocheck/cit: any of: imagetest.*\.go$
  prow/presubmit/gocheck/cleanerupper: any of: container_images/cleanerupper.*\.go$
  prow/presubmit/gocheck/registryimage: any of: container_images/registry-image-forked.*\.go$
  prow/presubmit/gobuild/root: any of: (\.go|go\.mod|go\.sum)$
  prow/presubmit/gobuild/cit: any of: imagetest/.*(\.go|go\.mod|go\.sum|Dockerfile|\.sh)$
  prow/presubmit/gobuild/cleanerupper: any of: container_images/cleanerupper.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gobuild/registryimage: any of: container_images/registry-image-forked.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/root: any of: (\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/cit: any of: imagetest.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/cleanerupper: any of: container_images/cleanerupper.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/registryimage: any of: container_images/registry-image-forked.*(\.go|go\.mod|go\.sum)$

On EL7, use an extra VM to test gvnic instead of the multinic vm (#1124)
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Enforce a lack of dashes in testworkflow vm names. (#1125)
  imagetest/fixtures.go
  imagetest/test_suites/cvm/setup.go
  imagetest/test_suites/disk/setup.go
  imagetest/test_suites/guestagent/setup.go
  imagetest/test_suites/hotattach/setup.go
  imagetest/test_suites/metadata/setup.go
  imagetest/test_suites/network/setup.go
  imagetest/test_suites/networkperf/setup.go
  imagetest/test_suites/packagevalidation/setup.go
  imagetest/test_suites/security/setup.go
  imagetest/test_suites/shapevalidation/setup.go
  imagetest/test_suites/sql/setup.go
  imagetest/test_suites/ssh/setup.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Upgrade go sdk version to latest.
  container_images/gointegtest/common.sh
  packagebuild/common.sh
Due: none

Upgrade go sdk version to latest. (#1126)
  container_images/gointegtest/common.sh
  packagebuild/common.sh
Due: none

Remove shutdown script time tests (#1121)
  imagetest/test_suites/metadata/setup.go
  imagetest/test_suites/metadata/shutdown_script_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Fix GetRealVMName call in ssh suite
  imagetest/test_suites/ssh/host_key_test.go
  imagetest/test_suites/ssh/image_ssh_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Disable registry package build call
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Disable registry package build call (#1128)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Use single quote string in windows password test
  imagetest/test_suites/guestagent/windows_password_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Fix GetRealVMName call in ssh suite (#1127)
  imagetest/test_suites/ssh/host_key_test.go
  imagetest/test_suites/ssh/image_ssh_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Disable CIT in windows piplines
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Disable CIT in windows piplines (#1130)
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update go-junit-report library to v2
  imagetest/go.mod
  imagetest/go.sum
  imagetest/junit.go
  imagetest/junit_test.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Clean up failure messages in junit_test.go
  imagetest/go.mod
  imagetest/go.sum
  imagetest/junit_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Switch junit.Testcase.Message -> junit.Testcase.Data
  imagetest/junit_test.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Delete unused "file"
  imagetest/file
Due: none

Disable dhcp test on debian 12
  imagetest/test_suites/network/dhcp_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Disable dhcp test on debian 12 (#1132)
  imagetest/test_suites/network/dhcp_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

package build: disable debian-10 backport repos
  packagebuild/daisy_startupscript_deb.sh
Due: none

package build: disable debian-10 backport repos (#1133)
  packagebuild/daisy_startupscript_deb.sh
Due: none

Vendor cleanerupper for CIT
  container_images/cleanerupper/go-cleanerupper/go.mod
  imagetest/cleanerupper/cleanerupper.go
  imagetest/cleanerupper/cleanerupper_test.go
  imagetest/go.mod
  imagetest/go.sum
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gotest/root, prow/presubmit/gotest/cit, prow/presubmit/gotest/cleanerupper

Drop go-ping dependency in multinic minimal network test
  imagetest/test_suites/network/multinic_minimal_network_test.go
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

gofmt
  imagetest/junit_test.go
  imagetest/test_suites/network/multinic_minimal_network_test.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Prepare CIT for the move to a new repository (#1131)
  container_images/cleanerupper/go-cleanerupper/go.mod
  imagetest/cleanerupper/cleanerupper.go
  imagetest/cleanerupper/cleanerupper_test.go
  imagetest/file
  imagetest/go.mod
  imagetest/go.sum
  imagetest/junit.go
  imagetest/junit_test.go
  imagetest/test_suites/network/multinic_minimal_network_test.go
  imagetest/test_suites/network/setup.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gotest/root, prow/presubmit/gotest/cit, prow/presubmit/gotest/cleanerupper

Make CIT's post-testworkflow cleanerupper more aggressive
  imagetest/cleanerupper/cleanerupper.go
  imagetest/cleanerupper/cleanerupper_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Use single quote string in windows password test (#1129)
  imagetest/test_suites/guestagent/windows_password_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Rename ping marker file for windows images
  imagetest/test_suites/network/multinic_minimal_network_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Rename ping marker file for windows images (#1137)
  imagetest/test_suites/network/multinic_minimal_network_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Add Debian 12 worker builds.
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

package build(goo): disable debian-10 backport repos
  packagebuild/daisy_startupscript_goo.sh
Due: none

package build(goo): disable debian-10 backport repos (#1138)
  packagebuild/daisy_startupscript_goo.sh
Due: none

Fix resources.
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Fix
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add Debian 12 worker builds. (#1139)
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Don't fail metadata tests unless the agent fails to reinstall
  imagetest/test_suites/metadata/metadata_utils.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/test_suites/metadata/startup_script_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Don't fail metadata tests unless the agent fails to reinstall (#1140)
  imagetest/test_suites/metadata/metadata_utils.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/test_suites/metadata/startup_script_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Make CIT's post-testworkflow cleanerupper more aggressive (#1136)
  imagetest/cleanerupper/cleanerupper.go
  imagetest/cleanerupper/cleanerupper_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Wait for ping on first boot instead of second
  imagetest/test_suites/network/multinic_minimal_network_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Wait for ping on first boot instead of second (#1141)
  imagetest/test_suites/network/multinic_minimal_network_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Require n4 shapevalidation for linux image releases
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines
