Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

run ARM tests for guest agent based on test image (#425)
  concourse/pipelines/guest-package-build.yaml
  concourse/tasks/daisy-build-package-image.yaml
  concourse/tasks/image-test-args.yaml
Due: prow/presubmit/fly-validate-pipelines

[package test image] specify us-central1-a for arm machine type
  concourse/tasks/daisy-build-package-image.yaml
Due: none

[package test image] specify us-central1-a for arm machine type (#468)
  concourse/tasks/daisy-build-package-image.yaml
Due: none

machine type for amd64 test
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

machine type for amd64 test (#469)
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

[image-test-args] fix a minor typo
  concourse/tasks/image-test-args.yaml
Due: none

[image-test-args] fix a minor typo (#470)
  concourse/tasks/image-test-args.yaml
Due: none

use us-central1-a instead of us-west1-a for guest agent image test for supportng ARM
  concourse/tasks/image-test-args.yaml
Due: none

add rhel9 build
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add rhel9 build (#472)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

run agent image tests in us-central1
  concourse/tasks/image-test-args.yaml
Due: none

run agent image tests in us-central1 (#473)
  concourse/tasks/image-test-args.yaml
Due: none

[guest-agent image test] verify that shut down script executed no less than 80s
  imagetest/test_suites/metadata/shutdown_script_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Strip the word stable from date
  concourse/tasks/get-last-stable-tag.yaml
Due: none

Strip the word stable from date (#475)
  concourse/tasks/get-last-stable-tag.yaml
Due: none

don't change file name
  imagetest/test_suites/metadata/shutdown_script_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

[guest-agent image test] fix: verify that shut down script executed no less than 80s (#474)
  imagetest/test_suites/metadata/shutdown_script_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

template guest package build
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

use direct task configs
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

rename steps
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

use rendered template
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

fix git version on EL7
  packagebuild/daisy_startupscript_rpm.sh
Due: none

fix git version on EL7 (#477)
  packagebuild/daisy_startupscript_rpm.sh
Due: none

prune stray newlines
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

PR feedback, add publishresulttask
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

fix presubmit
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add linux_test build tags
  imagetest/Dockerfile
  imagetest/test_suites/disk/disk_resize_test.go
  imagetest/test_suites/image_validation/clock_test.go
  imagetest/test_suites/image_validation/image_validation_test.go
  imagetest/test_suites/image_validation/license_test.go
  imagetest/test_suites/image_validation/linux_license_test.go
  imagetest/test_suites/image_validation/package_test.go
  imagetest/test_suites/metadata/metadata_test.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/test_suites/metadata/startup_script_test.go
  imagetest/test_suites/network/alias_ip_test.go
  imagetest/test_suites/network/dhcp_test.go
  imagetest/test_suites/network/mtu_test.go
  imagetest/test_suites/network/multinic_minimal_network_test.go
  imagetest/test_suites/oslogin/oslogin_test.go
  imagetest/test_suites/security/image_security_test.go
  imagetest/test_suites/ssh/host_key_test.go
  imagetest/test_suites/ssh/image_ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add osUnderTest Flag
  imagetest/cmd/manager/main.go
  imagetest/fixtures_test.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

PR feedback, add comments
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

PR feedback
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

pr feedback; rename repos field
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Use templates for guest package build pipeline (#476)
  concourse/pipelines/guest-package-build.jsonnet
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

fix daisy typo in guest package build
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

fix daisy typo in guest package build (#480)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add missing input
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add missing input (#481)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add el9_arm64 packagebuild workflow
  packagebuild/workflows/build_el9_arm64.wf.json
Due: none

Update windows pipeline to support internal env
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fixing syntax in publish conditional
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update windows pipeline to support internal env (#483)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines
