Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gocheck/cleanerupper, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/cit, prow/presubmit/gotest/cleanerupper, prow/presubmit/gotest/registryimage

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck/root: any of: \.go$
  prow/presubmit/gocheck/cit: any of: imagetest.*\.go$
  prow/presubmit/gocheck/cleanerupper: any of: container_images/cleanerupper.*\.go$
  prow/presubmit/gocheck/registryimage: any of: container_images/registry-image-forked.*\.go$
  prow/presubmit/gobuild/root: any of: (\.go|go\.mod|go\.sum)$
  prow/presubmit/gobuild/cit: any of: imagetest/.*(\.go|go\.mod|go\.sum|Dockerfile|\.sh)$
  prow/presubmit/gobuild/cleanerupper: any of: container_images/cleanerupper.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gobuild/registryimage: any of: container_images/registry-image-forked.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/root: any of: (\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/cit: any of: imagetest.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/cleanerupper: any of: container_images/cleanerupper.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/registryimage: any of: container_images/registry-image-forked.*(\.go|go\.mod|go\.sum)$

Revert previous change to use concourse registry image
  concourse/pipelines/windows-image-build-staging.jsonnet
  container_images/registry-image-forked/go.mod
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add context to authenticator call in types.go
  container_images/registry-image-forked/types.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Fix imports
  container_images/registry-image-forked/types.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Fix context declaration
  container_images/registry-image-forked/types.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update types.go
  container_images/registry-image-forked/types.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Change the timeout for Windows CIT tests run in the build pipeline to 60m.
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Change the timeout for Windows CIT tests run in the build pipeline to (#1323)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Downgrade to 0.12.1
  container_images/registry-image-forked/go.mod
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Drop context from NewEnvAuthenticator
  container_images/registry-image-forked/types.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Add rocky linux accelerator images with nvidia 550 to the pipelines
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Revert go mod changes; attempt to use native registry-image
  concourse/pipelines/windows-image-build-staging.jsonnet
  container_images/registry-image-forked/go.mod
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Revert previous change to use concourse registry image (#1321)
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update artifact releaser pipeline - Remove obsolete builds for packages - Remove mirantis and docker images from autopush pipeline - Remove prelease images from autopush pipeline
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update A3Ultra reservation name
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update A3Ultra reservation name (#1325)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update go-containerregistry version
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/types.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update gomega to recent version
  container_images/registry-image-forked/go.mod
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Fix missing HEAD handlers
  container_images/registry-image-forked/out_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Incorporate check.go changes and in_test changes
  container_images/registry-image-forked/check_test.go
  container_images/registry-image-forked/commands/check.go
  container_images/registry-image-forked/in_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Use same context across AuthOptions
  container_images/registry-image-forked/types.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update context declaration
  container_images/registry-image-forked/types.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update go-containerregistry version (#1326)
  container_images/registry-image-forked/check_test.go
  container_images/registry-image-forked/commands/check.go
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/in_test.go
  container_images/registry-image-forked/out_test.go
  container_images/registry-image-forked/types.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update go-containerregistry sum
  container_images/registry-image-forked/go.sum
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update go-containerregistry sum (#1327)
  container_images/registry-image-forked/go.sum
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Updating go deps
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/go.sum
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update Go deps for registry-image-forked (#1328)
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/go.sum
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update dependencies
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/go.sum
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update dependencies (#1329)
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/go.sum
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update windows staging pipeline to use forked registry image
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update windows staging pipeline to use forked registry image (#1330)
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add resource type for registry-image-forked
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add resource type for registry-image-forked to windows staging pipeline (#1331)
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Move rhel-8-arm64 and rhel-8-byos-arm64 to linux-image-build-dev
  concourse/pipelines/linux-image-build-dev.jsonnet
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add rocky linux accelerator images with nvidia 550 to the dev pipelines
  concourse/pipelines/linux-image-build-dev.jsonnet
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add rocky linux accelerator images with nvidia 550 to the dev pipelines (#1324)
  concourse/pipelines/linux-image-build-dev.jsonnet
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Cleanup owners file.
  OWNERS
Due: none

Run accelerator tests on the accelerator images in -dev
  concourse/pipelines/linux-image-build-dev.jsonnet
Due: prow/presubmit/fly-validate-pipelines
