Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

update RHUI image builds (#566)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Windows Builds
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update windows-image-build.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Windows Builds (#567)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Windows GVNIC test
  imagetest/fixtures.go
  imagetest/fixtures_test.go
  imagetest/test_suites/windows/gvnic_test.go
  imagetest/test_suites/windows/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Windows GVNIC test
  imagetest/test_suites/windows/gvnic_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Files Formatting
  imagetest/fixtures.go
  imagetest/test_suites/windows/gvnic_test.go
  imagetest/test_suites/windows/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Some updates from code review.
  imagetest/test_suites/metadata/setup.go
  imagetest/test_suites/metadata/startup_shutdown_script_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove ext param.
  imagetest/fixtures.go
  imagetest/test_suites/metadata/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Removed ping test
  imagetest/test_suites/windows/gvnic_test.go
  imagetest/test_suites/windows/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

linux test
  imagetest/test_suites/network/gvnic_test.go
  imagetest/test_suites/network/setup.go
  imagetest/test_suites/windows/gvnic_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

multiplatform support
  imagetest/fixtures.go
  imagetest/fixtures_test.go
  imagetest/test_suites/network/gvnic_test.go
  imagetest/test_suites/network/setup.go
  imagetest/test_suites/windows/gvnic_test.go
  imagetest/test_suites/windows/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

RHEL 7.6 for SAP is EOL, stop building it.
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

RHEL 7.6 for SAP is EOL, stop building it. (#569)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

GVNIC test (#568)
  imagetest/fixtures.go
  imagetest/fixtures_test.go
  imagetest/test_suites/network/gvnic_test.go
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add SQL Server 2022 release versions to Concourse
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix for gvnic error for debian-10
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

comment added
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix for gvnic error for debian-10 (#571)
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Change data structure for metadata scripts.
  imagetest/test_suites/metadata/setup.go
  imagetest/test_suites/metadata/startup_shutdown_script_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add Windows image validation test.
  imagetest/cmd/manager/main.go
  imagetest/test_suites/windows_image_validation/image_validation_test.go
  imagetest/test_suites/windows_image_validation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove a couple of unnecessary constants.
  imagetest/test_suites/windows_image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add SQL Server 2022 release versions to Concourse (#570)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add success/failure metrics to imgpublishjob
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add success/failure metrics to imgpublishjob (#573)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add googet to guest package build
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

version fix
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

use guest attributes in packagebuild
  packagebuild/common.sh
  packagebuild/workflows/build_package.wf.json
Due: none

Generate timestamp and load into var for image publish.
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Generate timestamp and load into var for image publish. (#576)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Increase timeout for daisy package build pipeline default
  concourse/tasks/daisy-build-package-image.yaml
Due: none

Increase timeout for daisy package build pipeline default (#577)
  concourse/tasks/daisy-build-package-image.yaml
Due: none

Update timeout thresholds for package builds
  packagebuild/workflows/build_deb10.wf.json
  packagebuild/workflows/build_deb11.wf.json
  packagebuild/workflows/build_deb11_arm64.wf.json
  packagebuild/workflows/build_deb9.wf.json
  packagebuild/workflows/build_el6.wf.json
  packagebuild/workflows/build_el7.wf.json
  packagebuild/workflows/build_el8.wf.json
  packagebuild/workflows/build_el8_arm64.wf.json
  packagebuild/workflows/build_el9.wf.json
  packagebuild/workflows/build_el9_arm64.wf.json
Due: none

Update timeout thresholds for package builds (#578)
  packagebuild/workflows/build_deb10.wf.json
  packagebuild/workflows/build_deb11.wf.json
  packagebuild/workflows/build_deb11_arm64.wf.json
  packagebuild/workflows/build_deb9.wf.json
  packagebuild/workflows/build_el6.wf.json
  packagebuild/workflows/build_el7.wf.json
  packagebuild/workflows/build_el8.wf.json
  packagebuild/workflows/build_el8_arm64.wf.json
  packagebuild/workflows/build_el9.wf.json
  packagebuild/workflows/build_el9_arm64.wf.json
Due: none

Move timeout definition for package build steps
  packagebuild/workflows/build_deb10.wf.json
  packagebuild/workflows/build_deb11.wf.json
  packagebuild/workflows/build_deb11_arm64.wf.json
  packagebuild/workflows/build_deb9.wf.json
  packagebuild/workflows/build_el6.wf.json
  packagebuild/workflows/build_el7.wf.json
  packagebuild/workflows/build_el8.wf.json
  packagebuild/workflows/build_el8_arm64.wf.json
  packagebuild/workflows/build_el9.wf.json
  packagebuild/workflows/build_el9_arm64.wf.json
Due: none

Move timeout definition for package build steps (#579)
  packagebuild/workflows/build_deb10.wf.json
  packagebuild/workflows/build_deb11.wf.json
  packagebuild/workflows/build_deb11_arm64.wf.json
  packagebuild/workflows/build_deb9.wf.json
  packagebuild/workflows/build_el6.wf.json
  packagebuild/workflows/build_el7.wf.json
  packagebuild/workflows/build_el8.wf.json
  packagebuild/workflows/build_el8_arm64.wf.json
  packagebuild/workflows/build_el9.wf.json
  packagebuild/workflows/build_el9_arm64.wf.json
Due: none

Add Windows image validation test. (#572)
  imagetest/cmd/manager/main.go
  imagetest/test_suites/windows_image_validation/image_validation_test.go
  imagetest/test_suites/windows_image_validation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
