Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

PR feedback
  imagetest/cmd/manager/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

more lint
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

ARM image tests (#390)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/tasks/image-test.yaml
  imagetest/Dockerfile
  imagetest/cmd/manager/main.go
  imagetest/test_suites/network/alias_ip_test.go
  imagetest/test_suites/network/dhcp_test.go
  imagetest/test_suites/network/mtu_test.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix license test for python2-futures.
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix license test for python2-futures. (#395)
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gointegtest: use workload ID
  container_images/gointegtest/main.sh
Due: none

more wlid prunes
  container_images/daisy-builder/Dockerfile
  container_images/gobuild/Dockerfile
  container_images/gocheck/Dockerfile
Due: none

container images: use workload ID (#396)
  container_images/daisy-builder/Dockerfile
  container_images/gobuild/Dockerfile
  container_images/gocheck/Dockerfile
  container_images/gointegtest/main.sh
Due: none

build daisy-builder from root
  container_images/daisy-builder/Dockerfile
Due: none

copy dir
  container_images/daisy-builder/Dockerfile
Due: none

update build pipeline
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Modified promote to staging to use package operation task
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Missed artifact registry promote to staging
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Include packagebuild dir in daisy-builder (#397)
  concourse/pipelines/container-build.jsonnet
  container_images/daisy-builder/Dockerfile
Due: prow/presubmit/fly-validate-pipelines

fix daisy-builder path
  container_images/daisy-builder/main.sh
Due: none

fix daisy-builder path (#399)
  container_images/daisy-builder/main.sh
Due: none

add gce_image_publish
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add gce_image_publish (#400)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add SAP workload test
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/sap-test.libsonnet
  concourse/workload-tests/SAP/sap_hana.tf
  concourse/workload-tests/SAP/sap_post_script.sh
Due: prow/presubmit/fly-validate-pipelines

Container builds: Add a tag with commit sha
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Container builds: Add a tag with commit sha (#402)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Daisy build: Add pre-release tests
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Review comments
  concourse/pipelines/linux-image-build.jsonnet
  concourse/scripts/sap_hana.tf
  concourse/scripts/sap_post_script.sh
  concourse/templates/sap-test.libsonnet
Due: prow/presubmit/fly-validate-pipelines

review comments
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Daisy build: Add pre-release tests (#401)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Allow newer SSH root user setting "prohibit-password".
  imagetest/test_suites/security/image_security_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Allow newer SSH root user setting "prohibit-password". (#403)
  imagetest/test_suites/security/image_security_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

short circuit dns propagation
  concourse/templates/lego.libsonnet
Due: none

short circuit dns propagation (#404)
  concourse/templates/lego.libsonnet
Due: none

cds image build: correct input
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

cds image build: correct input (#405)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

use terraform directly
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

lint
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update EL9 package build to use centos-cloud.
  packagebuild/workflows/build_el9.wf.json
Due: none

Update EL9 package build to use centos-cloud. (#406)
  packagebuild/workflows/build_el9.wf.json
Due: none

Updating 2012r2 name to match build-publish files
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Updating 2012r2 reference
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Updating SQL 2012r2 dependency names
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

update overlay paths
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Updating 2012r2 name to match build-publish files (#408)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
