Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

prune trailing slash (#384)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Publish daisy binaries to compute-image-tools (#381)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add build for daisy test runner
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Daisy bin publish: Fix 'sh: illegal option -'
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

liam's feedback
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Daisy bin publish: Fix 'sh: illegal option -' (#386)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add EricEdens to OWNERS
  OWNERS
Due: none

add EricEdens to OWNERS (#387)
  OWNERS
Due: none

Container build for "daisy test runner" (#385)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

prepend gcs path arg (#382)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

use specified GCS bucket for rhui build (#377)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

rename -arm to -arm64 (#375)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

use full gcs path (#383)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/thefile
Due: prow/presubmit/fly-validate-pipelines

Add daisy binary steps to container-build (#372)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Windows template (#371)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/pipelines/thefile
  concourse/pipelines/windows-image-build.jsonnet
  concourse/pipelines/windows-image-build.yaml
  concourse/templates/arle.libsonnet
  concourse/templates/common.libsonnet
  concourse/templates/daisy.libsonnet
  concourse/templates/gcp-secret-manager.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Migrating Enterprise Linux builds to use secret manager (#380)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

put gcspath arg in correct location (#379)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

rename arm64 pt 2 (#378)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update container build workflow (#369)
  concourse/pipelines/container-build.jsonnet
  concourse/pipelines/container-build.yaml
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/tasks/image-test-args.yaml
  concourse/tasks/image-test.yaml
Due: prow/presubmit/fly-validate-pipelines

fix typo (#373)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

correct lego key path
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

correct lego key path (#388)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

enable arm in CIT
  imagetest/Dockerfile
  imagetest/cmd/manager/main.go
  imagetest/test_suites/network/alias_ip_test.go
  imagetest/test_suites/network/dhcp_test.go
  imagetest/test_suites/network/mtu_test.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

run arm tests
  concourse/pipelines/linux-image-build.jsonnet
  concourse/tasks/image-test.yaml
Due: prow/presubmit/fly-validate-pipelines

change util getinterface
  imagetest/test_suites/network/alias_ip_test.go
  imagetest/test_suites/network/dhcp_test.go
  imagetest/test_suites/network/mtu_test.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

daisy binaries: use latest, ensure public
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

daisy binaries: use latest, ensure public (#389)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

remove trailing space
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

remove trailing space (#391)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add license for python2-futures.
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add license for python2-futures. (#392)
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

WIP
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/pipelines/sap-workload-test.yaml
Due: prow/presubmit/fly-validate-pipelines

lint
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest
