Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gocheck/cleanerupper, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/cit, prow/presubmit/gotest/cleanerupper, prow/presubmit/gotest/registryimage

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck/root:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gocheck/cit:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - imagetest/

prow/presubmit/gocheck/cleanerupper:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - container_images/cleanerupper/

prow/presubmit/gocheck/registryimage:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - container_images/registry-image-forked/

prow/presubmit/gobuild/root:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild/cit:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/citpresubmit:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - build

prow/presubmit/gobuild/cleanerupper:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - container_images/cleanerupper/

prow/presubmit/gobuild/registryimage:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - container_images/registry-image-forked/

prow/presubmit/gotest/root:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest/cit:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/citpresubmit:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - test

prow/presubmit/gotest/cleanerupper:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - container_images/cleanerupper/

prow/presubmit/gotest/registryimage:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - container_images/registry-image-forked/

add rhel-10 to dev image pipeline (#1389)
  concourse/pipelines/linux-image-build-dev.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update accelerator-image-build.jsonnet to stagger with 90 minutes
  concourse/pipelines/accelerator-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update accelerator-image-build.jsonnet
  concourse/pipelines/accelerator-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Create a windows image client pipeline on its own
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/pipelines/windows-image-build-client.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update accelerator-image-build.jsonnet to stagger with 90 minutes (#1390)
  concourse/pipelines/accelerator-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add Debian-13 to dev build pipeline
  concourse/pipelines/linux-image-build-dev.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add Debian13 to common prefixes
  concourse/templates/common.libsonnet
Due: none

Add Debian-13 to dev build pipeline (#1392)
  concourse/pipelines/linux-image-build-dev.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Add cos-125 to pipeline for new agent testing
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update reservations for A4 in build pipeline
  concourse/pipelines/accelerator-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update reservations for A4 in build pipeline (#1394)
  concourse/pipelines/accelerator-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Disable cos to unblock agent dev testing
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Disable cos to unblock agent dev testing (#1395)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add time to cleanerupper log messages
  container_images/cleanerupper/main.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cleanerupper, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gotest/root, prow/presubmit/gotest/cleanerupper

Add time to cleanerupper log messages (#1396)
  container_images/cleanerupper/main.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cleanerupper, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gotest/root, prow/presubmit/gotest/cleanerupper

Fix formatting in logs, and add missing time log for Load Balancer
  container_images/cleanerupper/main.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cleanerupper, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gotest/root, prow/presubmit/gotest/cleanerupper

Fix formatting in logs, and add missing time log for Load Balancer (#1397)
  container_images/cleanerupper/main.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cleanerupper, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gotest/root, prow/presubmit/gotest/cleanerupper

Update artifact releaser pipeline - Remove obsolete builds for packages - Remove mirantis and docker images from autopush pipeline - Remove prelease images from autopush pipeline
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update package build workflow for Deb13
  packagebuild/workflows/build_deb13.wf.json
Due: none

Update debian13 package build paths
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update Debian13 image paths for testing (#1398)
  concourse/pipelines/guest-package-dev-build.jsonnet
  packagebuild/workflows/build_deb13.wf.json
Due: prow/presubmit/fly-validate-pipelines

Add debian13-arm to package builds in dev
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

package build: make sure we fetch tags as well
  packagebuild/common.sh
Due: none

package build: make sure we fetch tags as well (#1400)
  packagebuild/common.sh
Due: none

package build: force fetching tags from github repo
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

package build: force fetching tags from github repo (#1401)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix name typo in apt-build
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add debian13-arm to package builds in dev (#1399)
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update package builds with debian13-arm
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update package builds with debian13-arm (#1402)
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add debian13_arm packagebuild workflow
  packagebuild/workflows/build_deb13_arm64.wf.json
Due: none

Add debian13_arm packagebuild workflow (#1403)
  packagebuild/workflows/build_deb13_arm64.wf.json
Due: none

Remove RHEL 10 from Dev package build (Temporary)
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Scope down dev package pipeline to Deb13 only
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Scope down dev package builds to Deb13 only
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Clean up unused resources
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Restore accidental deletion
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Scope down dev package builds to Deb13 only (#1405)
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Updating image and package paths for Deb13
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck/root: any of: \.go$
  prow/presubmit/gocheck/cit: any of: imagetest.*\.go$
  prow/presubmit/gocheck/cleanerupper: any of: container_images/cleanerupper.*\.go$
  prow/presubmit/gocheck/registryimage: any of: container_images/registry-image-forked.*\.go$
  prow/presubmit/gobuild/root: any of: (\.go|go\.mod|go\.sum)$
  prow/presubmit/gobuild/cit: any of: imagetest/.*(\.go|go\.mod|go\.sum|Dockerfile|\.sh)$
  prow/presubmit/gobuild/cleanerupper: any of: container_images/cleanerupper.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gobuild/registryimage: any of: container_images/registry-image-forked.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/root: any of: (\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/cit: any of: imagetest.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/cleanerupper: any of: container_images/cleanerupper.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/registryimage: any of: container_images/registry-image-forked.*(\.go|go\.mod|go\.sum)$
