Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Remove TestEmpty
  imagetest/test_suites/networkperf/performance_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update networkperf test suite to support windows images (#777)
  imagetest/fixtures.go
  imagetest/test_suites/networkperf/performance_test.go
  imagetest/test_suites/networkperf/setup.go
  imagetest/test_suites/networkperf/startupscripts/windows_clientstartup.ps1
  imagetest/test_suites/networkperf/startupscripts/windows_serverstartup.ps1
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix fmt missing issue
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix fmt missing issue (#780)
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Throughput testing
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add shapevalidation test
  concourse/pipelines/guest-package-build.jsonnet
  concourse/pipelines/image-release-testing.jsonnet
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/partner-image-validations.jsonnet
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/tasks/image-test-args.yaml
  imagetest/cmd/manager/main.go
  imagetest/fixtures.go
  imagetest/fixtures_test.go
  imagetest/test_suites/shapevalidation/setup.go
  imagetest/test_suites/shapevalidation/shapevalidation_test.go
  imagetest/test_suites/shapevalidation/sysinfo_linux.go
  imagetest/test_suites/shapevalidation/sysinfo_windows.go
  imagetest/testworkflow.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add shapevalidation test (#782)
  concourse/pipelines/guest-package-build.jsonnet
  concourse/pipelines/image-release-testing.jsonnet
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/partner-image-validations.jsonnet
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/tasks/image-test-args.yaml
  imagetest/cmd/manager/main.go
  imagetest/fixtures.go
  imagetest/fixtures_test.go
  imagetest/test_suites/shapevalidation/setup.go
  imagetest/test_suites/shapevalidation/shapevalidation_test.go
  imagetest/test_suites/shapevalidation/sysinfo_linux.go
  imagetest/test_suites/shapevalidation/sysinfo_windows.go
  imagetest/testworkflow.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

hot attach working on debian
  imagetest/test_suites/hotattach/hot_attach_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Throughput testing (#781)
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Hot attach test suite
  concourse/pipelines/guest-package-build.jsonnet
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/partner-image-validations.jsonnet
  concourse/tasks/image-test-args.yaml
  imagetest/cmd/manager/main.go
  imagetest/test_suites/README.md
  imagetest/test_suites/hotattach/hot_attach_test.go
  imagetest/test_suites/hotattach/setup.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

testworkflow iam scopes
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove debian-12 arm secure boot exception
  imagetest/test_suites/imageboot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip FQDN test on EL9. It appears that the forced zonal DNS rollout has broken this case.
  imagetest/test_suites/imagevalidation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip FQDN test on EL9. It appears that the forced zonal DNS rollout has (#784)
  imagetest/test_suites/imagevalidation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/cmd/manager/main.go
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove debian-12 arm secure boot exception (#783)
  imagetest/test_suites/imageboot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Hot Attach Test Suite (#785)
  concourse/pipelines/guest-package-build.jsonnet
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/partner-image-validations.jsonnet
  concourse/tasks/image-test-args.yaml
  imagetest/cmd/manager/main.go
  imagetest/test_suites/README.md
  imagetest/test_suites/hotattach/hot_attach_test.go
  imagetest/test_suites/hotattach/setup.go
  imagetest/test_suites/shapevalidation/setup.go
  imagetest/testworkflow.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Enable C3D shape validation
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Enable C3D shape validation (#786)
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Create basic check for CVM existing
  imagetest/fixtures.go
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Make tests functional
  imagetest/cmd/manager/main.go
  imagetest/fixtures.go
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Initial commit for Confidential VM test suite
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove useless network setup from CVM setup
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Nits
  imagetest/fixtures.go
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove superfluous SetMachineType function, use more comprehensive list for testing for boot, and nits
  imagetest/fixtures.go
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Nit
  imagetest/test_suites/cvm/cvm_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Reduce machine type to lowest CPU to save using unneeded quota and resources
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Create CVM Test Suite. (#778)
  imagetest/cmd/manager/main.go
  imagetest/fixtures.go
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add release testing set prior to publishing linux images to prod, including shape validation and hotattach.
  concourse/pipelines/image-release-testing.jsonnet
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/pipeline-set-pipeline.yaml
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add c3d and n2 for fio tests
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

remove comment
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add release testing set prior to publishing linux images to prod, including shape validation and hotattach. (#787)
  concourse/pipelines/image-release-testing.jsonnet
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/pipeline-set-pipeline.yaml
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gocheck
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Enable release testing in windows release pipelines
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Enable release testing in windows release pipelines (#789)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fiomachinetypes (#788)
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix nil error in build
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

only check create vm steps nil
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix nil error in build (#790)
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Benchmarks for disk
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
