Repository GoogleCloudPlatform/guest-agent: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/packagebuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/daisy-builder:latest
      command:
      - /main.sh
      args:
      - gcp-guest
      - us-west1-a
      - deb10,deb11_arm64,el7,el8,el8_arm64,el9,el9_arm64,goo

Packaging changes to include routes script installation
  packaging/debian/rules
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Packaging changes to include routes script installation (#542)
  packaging/debian/rules
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Fix RHEL packaging for routes scripts
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Fix RHEL packaging for routes scripts (#548)
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Final fix for RHEL packaging for routes setup
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Final fix for RHEL packaging for routes setup (#549)
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Disable legacy agent to enable core plugin
  google-guest-agent-manager.service
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Disable legacy agent to enable core plugin (#550)
  google-guest-agent-manager.service
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Ensure agent service is disabled
  packaging/debian/postinst
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Ensure agent service is disabled (#551)
  packaging/debian/postinst
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Update presets and install dependencies on systemd units
  90-google-guest-agent.preset
  google-guest-agent-manager.service
Due: none

Update presets and install dependencies on systemd units (#552)
  90-google-guest-agent.preset
  google-guest-agent-manager.service
Due: none

Startup scripts should start after agent manager instead
  google-startup-scripts.service
Due: none

Startup scripts should start after agent manager instead (#553)
  google-startup-scripts.service
Due: none

Stop core plugin before removing agent package
  packaging/debian/prerm
  packaging/googet/agent_uninstall.ps1
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Stop core plugin before removing agent package (#554)
  packaging/debian/prerm
  packaging/googet/agent_uninstall.ps1
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Add config options for ignoring forwarded IPs.
  google_guest_agent/addresses.go
  google_guest_agent/cfg/cfg.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update agent_uninstall.ps1
  packaging/googet/agent_uninstall.ps1
Due: prow/presubmit/packagebuild

Build rollforward package to re-enable original agent and disable core plugin
  core-plugin-enabled
  packaging/debian/postinst
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Update agent_uninstall.ps1 (#558)
  packaging/googet/agent_uninstall.ps1
Due: prow/presubmit/packagebuild

Build rollforward package to re-enable original agent and disable core plugin (#557)
  core-plugin-enabled
  packaging/debian/postinst
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Revert compat behavior and call known binary directly
  google_metadata_script_runner_adapt
  packaging/googet/run_shutdown_scripts.cmd
  packaging/googet/run_startup_scripts.cmd
Due: prow/presubmit/packagebuild

Revert compat behavior and call known binary directly (#559)
  google_metadata_script_runner_adapt
  packaging/googet/run_shutdown_scripts.cmd
  packaging/googet/run_startup_scripts.cmd
Due: prow/presubmit/packagebuild

Revert compat behavior and call known binary directly
  google-shutdown-scripts.service
  google-startup-scripts.service
  google_metadata_script_runner_adapt
Due: none

Revert compat behavior and call known binary directly (#560)
  google-shutdown-scripts.service
  google-startup-scripts.service
  google_metadata_script_runner_adapt
Due: none

Update adapt script to run on startup/shutdown both
  google-shutdown-scripts.service
  google-startup-scripts.service
  google_metadata_script_runner_adapt
Due: none

Update adapt script to run on startup/shutdown both (#561)
  google-shutdown-scripts.service
  google-startup-scripts.service
  google_metadata_script_runner_adapt
Due: none

Update go version to 1.25
  go.mod
  go.sum
Due: none

Remove routes script from packaging
  packaging/debian/rules
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Remove routes script from packaging (#566)
  packaging/debian/rules
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Fix adapt to use more portable shebang line
  google_metadata_script_runner_adapt
Due: none

Backport fix from #567 to stable branch
  google_metadata_script_runner_adapt
Due: none

Fix adapt to use more portable shebang line (#567)
  google_metadata_script_runner_adapt
Due: none

Backport fix from #567 to stable branch (#568)
  google_metadata_script_runner_adapt
Due: none

Add adapt script in stable branch as per #569
  google_metadata_script_runner_adapt.ps1
  packaging/googet/google-compute-engine-windows.goospec
Due: prow/presubmit/packagebuild

Add compat adapt script to windows in agent sysprep
  google_metadata_script_runner_adapt.ps1
  packaging/googet/google-compute-engine-windows.goospec
Due: prow/presubmit/packagebuild

Add compat adapt script to windows in agent sysprep (#569)
  google_metadata_script_runner_adapt.ps1
  packaging/googet/google-compute-engine-windows.goospec
Due: prow/presubmit/packagebuild

Add adapt script in stable branch as per #569 (#570)
  google_metadata_script_runner_adapt.ps1
  packaging/googet/google-compute-engine-windows.goospec
Due: prow/presubmit/packagebuild

Update go version for stable branch to 1.25
  go.mod
  go.sum
Due: none

Path conditions:
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
  prow/presubmit/packagebuild: any of: packaging/.*
