Repository GoogleCloudPlatform/artifact-registry-apt-transport: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/packagebuild, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/packagebuild:
  decorate: true
  labels:
    preset-daisy: 'true'
    preset-github: 'true'
  spec:
    containers:
    - image: gcr.io/gcp-guest/daisy-builder:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - gcp-guest
      - us-west1-a
      - deb9

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Initial upload for building in Jammy
  debian/changelog
  debian/compat
  debian/control
  debian/copyright
  debian/install
  debian/rules
  debian/source/format
  packaging/debian/changelog
Due: prow/presubmit/packagebuild

set goproxy explicitly to be comnpatible with debian11 build
  packaging/debian/rules
Due: prow/presubmit/packagebuild

set goproxy explicitly to be comnpatible with debian11 build (#5)
  packaging/debian/rules
Due: prow/presubmit/packagebuild

* d/control, d/rules: [WIP] changes to make it build. Now, in d/rules is set the proxy off, so how to download is needed to make it builds again.
  debian/control
  debian/rules
Due: none

BUilding OK without downloading stuff
  debian/control
  debian/dirs
  debian/rules
Due: none

WIP: Updating package name
  debian/changelog
  debian/control
Due: none

Added watch file, removing comments and adapting binary name.
  debian/changelog
  debian/control
  debian/copyright
  debian/rules
  debian/watch
Due: none

Update handling for EOF,ErrClosedPipe to hard return
  apt/message_reader.go
  apt/method.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add tests for EOF, ErrClosedPipe on ReadMessage
  apt/method_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix comment
  apt/method_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update owners.
  OWNERS
Due: none

Update owners. (#14)
  OWNERS
Due: none

add access token case and config template
  90artifact-registry
  apt/method.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add config parse for accessTokenENV
  apt/method.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix ctx handling, code cleanup
  README.md
  apt/message_reader.go
  apt/message_test.go
  apt/method.go
  apt/method_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix lint issues https://oss.gprow.dev/view/gs/oss-prow/pr-logs/pull/GoogleCloudPlatform_artifact-registry-apt-transport/18/apt-transport-presubmit-gocheck/1704917711189970944
  apt/message.go
  apt/message_reader.go
  apt/message_test.go
  apt/message_writer.go
  apt/method.go
  apt/method_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix ctx handling, code cleanup (#18)
  README.md
  apt/message.go
  apt/message_reader.go
  apt/message_test.go
  apt/message_writer.go
  apt/method.go
  apt/method_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update owners. (#20)
  OWNERS
Due: none

Make behave more like built-in transports
  apt/message_reader.go
  apt/method.go
  apt/method_test.go
  cmd/ar+https/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Match apt's parsing of boolean config items
  apt/method.go
  apt/method_test.go
  cmd/ar+https/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Assert malformed error
  apt/method_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add renovate.json
  renovate.json
Due: none

do not hardcode os.stderr; use the fp chosen by the writer
  apt/method.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Don't export [Ee]rrEmptyMessage.
  apt/message_reader.go
  apt/method.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Use errors.Is; also, log on malformed config items
  apt/method.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Forked from adsr/debug_and_eof, pull request #21: finish responding to my own code review. (#24)
  apt/message_reader.go
  apt/method.go
  apt/method_test.go
  cmd/ar+https/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Provde the expected AR scopre for default credential lookup
  apt/method.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Provde the expected AR scopre for default credential lookup (#26)
  apt/method.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

CVE bumps: Update go.mod and dependencies
  go.mod
  go.sum
Due: none

CVE bumps: Update go.mod and dependencies (#27)
  go.mod
  go.sum
Due: none

add Jenkinsfile
  jenkins/Jenkinsfile
  jenkins/podTemplate.yaml
Due: none

fix path
  jenkins/Jenkinsfile
Due: none

fix service account
  jenkins/podTemplate.yaml
Due: none

SRE-13191 build deb package
  jenkins/Jenkinsfile
Due: none

SRE-13191 build deb package (#1)
  jenkins/Jenkinsfile
  jenkins/podTemplate.yaml
Due: none

add env from comfigmap into ubuntu container
  jenkins/podTemplate.yaml
Due: none

CICD-1372 fixing GOPROXY envvar (#2)
  jenkins/Jenkinsfile
  jenkins/podTemplate.yaml
Due: none

Golang-1.23 (#3)
  jenkins/Jenkinsfile
  jenkins/podTemplate.yaml
Due: none

fix: `apt update` stuck when fields contain trailing \n
  apt/message.go
  apt/message_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/packagebuild: any of: packaging/
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
