Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck/root, prow/presubmit/gocheck/cleanerupper, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/cleanerupper, prow/presubmit/gotest/registryimage

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck/root:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gocheck/cleanerupper:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - container_images/cleanerupper/

prow/presubmit/gocheck/registryimage:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - container_images/registry-image-forked/

prow/presubmit/gobuild/root:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild/cleanerupper:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - container_images/cleanerupper/

prow/presubmit/gobuild/registryimage:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - container_images/registry-image-forked/

prow/presubmit/gotest/root:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest/cleanerupper:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - container_images/cleanerupper/

prow/presubmit/gotest/registryimage:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - container_images/registry-image-forked/

Add new Concourse pipeline for Linux release package testing builds
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/pipelines/release-package-linux-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add new Concourse pipeline for Windows release package testing builds
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/pipelines/release-package-windows-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix presubmit: add in Windows Client images to Publish job
  concourse/pipelines/release-package-windows-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix: removed unneeded formatting for build job name
  concourse/pipelines/release-package-linux-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add Linux and Windows release package testing pipelines to Concourse (#1749)
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/pipelines/release-package-linux-build.jsonnet
  concourse/pipelines/release-package-windows-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix GCS publish directory to target unstable builds
  concourse/pipelines/release-package-linux-build.jsonnet
  concourse/pipelines/release-package-windows-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix GCS publish directory to target unstable builds (#1750)
  concourse/pipelines/release-package-linux-build.jsonnet
  concourse/pipelines/release-package-windows-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove Ubuntu 16.04 from pipeline due to EOL
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove Ubuntu 16.04 from pipeline due to EOL (#1751)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Stagger release package image build schedules with public image build schedules
  concourse/pipelines/release-package-linux-build.jsonnet
  concourse/pipelines/release-package-windows-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Stagger release package image build schedules with public image build schedules (#1752)
  concourse/pipelines/release-package-linux-build.jsonnet
  concourse/pipelines/release-package-windows-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

remove retries from image builds (#1740)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/windows-image-build-mbr.jsonnet
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Revert "Remove retries from Guest Enviroment Package builds configurations (#…"
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Revert "Remove retries from Guest Enviroment Package builds configurations (#…" (#1756)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove EOL images from the list
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove EOL images from the list (#1757)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove redundant release package pipeline daily trigger
  concourse/pipelines/release-package-linux-build.jsonnet
  concourse/pipelines/release-package-windows-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Cleanup: delete unused file
  concourse/pipelines/release-package-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix: remove redundant trigger for release package pipelines (#1758)
  concourse/pipelines/release-package-image-build.jsonnet
  concourse/pipelines/release-package-linux-build.jsonnet
  concourse/pipelines/release-package-windows-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update approvers list in OWNERS file
  OWNERS
Due: none

Update approvers list in OWNERS file (#1759)
  OWNERS
Due: none

Remove to be obsoleted Windows SQL Server 2016 images from Concourse Pipelines
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove to be obsoleted Windows SQL Server 2016 images from Concourse Pipelines (#1760)
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Changing Linux arm builds back to us-central1-a and us-central1-b
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Changing Linux arm builds back to us-central1-a and us-central1-b (#1764)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Refactor guest-agent-dev package into OS-separated jobs
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Move generattimestamptask to earlier
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Move publishresulttask to earlier
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Move entire newly added block toward the bottom
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix typo
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix some errors raised by fly-validation
  concourse/pipelines/guest-package-dev-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update go.mod dependencies
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/go.sum
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Tidy mod file
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/go.sum
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update dependencies for registry-image-forked (#1741)
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/go.sum
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update docker CLI dependency for registry-image-forked
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/go.sum
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update docker CLI dependency for registry-image-forked (#1767)
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/go.sum
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/registryimage

Update dependencies for wrapper and cleanerupper containers
  container_images/cleanerupper/go.mod
  container_images/cleanerupper/go.sum
  container_images/wrapper/go.mod
  container_images/wrapper/go.sum
Due: prow/presubmit/gobuild/root, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gotest/root, prow/presubmit/gotest/cleanerupper

Update CleanLoadBalancers call in cleanerupper
  container_images/cleanerupper/main.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cleanerupper, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gotest/root, prow/presubmit/gotest/cleanerupper

Add a simple boot test to release-package-linux-build pipeline
  concourse/pipelines/release-package-linux-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update dependencies for wrapper and cleanerupper containers (#1768)
  container_images/cleanerupper/go.mod
  container_images/cleanerupper/go.sum
  container_images/cleanerupper/main.go
  container_images/wrapper/go.mod
  container_images/wrapper/go.sum
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cleanerupper, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gotest/root, prow/presubmit/gotest/cleanerupper

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck/root: any of: \.go$
  prow/presubmit/gocheck/cleanerupper: any of: container_images/cleanerupper.*\.go$
  prow/presubmit/gocheck/registryimage: any of: container_images/registry-image-forked.*\.go$
  prow/presubmit/gobuild/root: any of: (\.go|go\.mod|go\.sum)$
  prow/presubmit/gobuild/cleanerupper: any of: container_images/cleanerupper.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gobuild/registryimage: any of: container_images/registry-image-forked.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/root: any of: (\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/cleanerupper: any of: container_images/cleanerupper.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/registryimage: any of: container_images/registry-image-forked.*(\.go|go\.mod|go\.sum)$
