Repository GoogleCloudPlatform/guest-agent: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

prow/presubmit/gointeg:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gointegtest:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      env:
      - name: ZONE
        value: us-west1-b
      - name: PROJECT
        value: gcp-guest
      - name: GCS_BUCKET
        value: gs://gcp-guest-test-outputs

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/packagebuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/daisy-builder:latest
      command:
      - /main.sh
      args:
      - gcp-guest
      - us-west1-a
      - deb10,deb11_arm64,el7,el8,el8_arm64,el9,el9_arm64,goo

oslogin: declare explicitly dependency (#304)
  packaging/debian/control
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

packaging: force epoch and ignore suffix of version
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

packaging: force epoch and ignore suffix of version (#305)
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

packaging(deb): ignore suffix of version
  packaging/debian/control
Due: prow/presubmit/packagebuild

packaging(deb): ignore suffix of version (#306)
  packaging/debian/control
Due: prow/presubmit/packagebuild

Add renovate.json
  renovate.json
Due: none

packaging(deb): add epoch to oslogin dep declaration
  packaging/debian/control
Due: prow/presubmit/packagebuild

packaging(deb): add epoch to oslogin dep declaration (#308)
  packaging/debian/control
Due: prow/presubmit/packagebuild

docs update: add configuration and event manager's docs.
  README.md
  google_guest_agent/events/Readme.md
Due: none

docs update: add configuration and event manager's docs. (#309)
  README.md
  google_guest_agent/events/Readme.md
Due: none

Refactor authorized keys to use metadata package (#300)
  google_authorized_keys/main.go
  google_authorized_keys/main_test.go
  google_guest_agent/events/metadata/metadata.go
  google_guest_agent/events/metadata/metadata_test.go
  google_guest_agent/fakes/fake_mds.go
  google_guest_agent/scheduler/scheduler_test.go
  metadata/metadata.go
  metadata/metadata_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Refactor script runner to use common metadata package
  google_metadata_script_runner/main.go
  google_metadata_script_runner/main_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Schedule MTLS job before notifying systemd
  google_guest_agent/instance_setup.go
  google_guest_agent/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Schedule MTLS job before notifying systemd (#310)
  google_guest_agent/instance_setup.go
  google_guest_agent/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Refactor script runner to use common metadata package (#311)
  google_metadata_script_runner/main.go
  google_metadata_script_runner/main_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

events: decouple the watcher execution code from the Run() function
  google_guest_agent/events/events.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

events: introduce new interface calls
  google_guest_agent/events/events.go
  google_guest_agent/events/events_test.go
  google_guest_agent/main.go
  google_guest_agent/oslogin.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

oslogin: add support to enabling and disabling ca cert
  google_guest_agent/main.go
  google_guest_agent/oslogin.go
  google_guest_agent/sshca/sshca.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

events: introduce RemoveWatcher()
  google_guest_agent/events/events.go
  google_guest_agent/events/events_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

events: introduce singleton interface
  google_guest_agent/events/events.go
  google_guest_agent/events/events_test.go
  google_guest_agent/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

events: add Unsubscribe() call
  google_guest_agent/events/events.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Events interface improvement (#290)
  google_guest_agent/events/events.go
  google_guest_agent/events/events_test.go
  google_guest_agent/main.go
  google_guest_agent/oslogin.go
  google_guest_agent/sshca/sshca.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add support for the SSH key options
  go.mod
  go.sum
  google_authorized_keys/main_test.go
  google_guest_agent/non_windows_accounts.go
  google_guest_agent/windows_accounts_test.go
  utils/main.go
  utils/main_test.go
  utils/test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add support for the SSH key options (#296)
  go.mod
  go.sum
  google_authorized_keys/main_test.go
  google_guest_agent/non_windows_accounts.go
  google_guest_agent/windows_accounts_test.go
  utils/main.go
  utils/main_test.go
  utils/test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Verify cert refresher is enabled before running
  gce_workload_cert_refresh/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Verify cert refresher is enabled before running (#312)
  gce_workload_cert_refresh/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

metadata watcher: introduce ReadyEvent
  google_guest_agent/events/metadata/metadata.go
  google_guest_agent/events/metadata/metadata_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update known cert dirs for updaters
  google_guest_agent/agentcrypto/mtls_mds_linux.go
  google_guest_agent/agentcrypto/mtls_mds_linux_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update known cert dirs for updaters (#314)
  google_guest_agent/agentcrypto/mtls_mds_linux.go
  google_guest_agent/agentcrypto/mtls_mds_linux_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

instance setup: trust/rely on metadata package's retry
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

instance setup: trust/rely on metadata package's retry (#316)
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Don't try to schedule mTLS job twice
  google_guest_agent/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

snapshot: add context cancellation handling
  google_guest_agent/snapshot_listener.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

snapshot: add context cancellation handling (#318)
  google_guest_agent/snapshot_listener.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Don't try to schedule mTLS job twice (#317)
  google_guest_agent/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update response struct, add tests
  .gitignore
  gce_workload_cert_refresh/main.go
  gce_workload_cert_refresh/main_test.go
  go.mod
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update response struct, add tests (#315)
  .gitignore
  gce_workload_cert_refresh/main.go
  gce_workload_cert_refresh/main_test.go
  go.mod
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add the ability to manage OS hostname and the hosts file to the guest-agent
  README.md
  go.mod
  go.sum
  google-guest-agent.service
  google_guest_agent/cfg/cfg.go
  google_guest_agent/events/Readme.md
  google_guest_agent/events/events.go
  google_guest_agent/events/network/network.go
  google_guest_agent/events/network/network_linux.go
  google_guest_agent/events/network/network_linux_test.go
  google_guest_agent/events/network/network_test.go
  google_guest_agent/events/network/network_windows.go
  google_guest_agent/events/network/network_windows_test.go
  google_guest_agent/hostname/hostname.go
  google_guest_agent/hostname/hostname_linux.go
  google_guest_agent/hostname/hostname_linux_test.go
  google_guest_agent/hostname/hostname_test.go
  google_guest_agent/hostname/hostname_windows.go
  google_guest_agent/hostname/hostname_windows_test.go
  google_guest_agent/main.go
  metadata/metadata.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Move network watcher addition to happen conditionally on hostname/fqdn management initialization
  google_guest_agent/events/events.go
  google_guest_agent/hostname/hostname.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/gointeg: any of: \.go$
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
  prow/presubmit/packagebuild: any of: packaging/.*
