Repository GoogleCloudPlatform/guest-agent: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
        secretName: codecov

prow/presubmit/packagebuild:
  decorate: true
  labels:
    preset-daisy: 'true'
  spec:
    containers:
    - image: gcr.io/gcp-guest/daisy-builder:latest
      command:
      - /main.sh
      args:
      - gcp-guest
      - us-west1-a
      - deb9,el6,el7,el8,goo

Update windows service configuration
  packaging/googet/agent_install.ps1
Due: prow/presubmit/packagebuild

Update windows service configuration (#35)
  packaging/googet/agent_install.ps1
Due: prow/presubmit/packagebuild

correct SSH key handling
  google_guest_agent/accounts_test.go
  google_guest_agent/non_windows_accounts.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add test cases
  google_guest_agent/accounts_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add override for hostkey dir
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add override for hostkey dir (#37)
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

correct SSH key handling (#36)
  google_guest_agent/accounts_test.go
  google_guest_agent/non_windows_accounts.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Avoid setting route on Teredo Pseudo-Interface
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

trim leading whitespace on inline scripts
  google_metadata_script_runner/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

trim leading whitespace on inline scripts (#39)
  google_metadata_script_runner/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update Windows agent dependency
  packaging/googet/agent_install.ps1
Due: prow/presubmit/packagebuild

Update Windows agent dependency (#40)
  packaging/googet/agent_install.ps1
Due: prow/presubmit/packagebuild

append /32 to found routes
  google_guest_agent/addresses.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix typo in rpm spec
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

PR feedback
  google_guest_agent/addresses.go
  google_guest_agent/addresses_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Bugfixes (#43)
  google_guest_agent/addresses.go
  google_guest_agent/addresses_test.go
  packaging/google-guest-agent.spec
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

Windows: Fix the quoting for binpath in Set-ServiceConfig
  packaging/googet/agent_install.ps1
Due: prow/presubmit/packagebuild

Windows: Fix the quoting for binpath in Set-ServiceConfig (#44)
  packaging/googet/agent_install.ps1
Due: prow/presubmit/packagebuild

strip /32 from more IPs
  google_guest_agent/addresses.go
  google_guest_agent/addresses_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

update test
  google_guest_agent/addresses_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove @rofuentes from approvers/reviewers lists
  OWNERS
Due: none

strip /32 suffix from metadata entries (#45)
  google_guest_agent/addresses.go
  google_guest_agent/addresses_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove @rofuentes from approvers/reviewers lists (#48)
  OWNERS
Due: none

disable NM on EL7/EL8
  google_guest_agent/addresses.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

disable NM on EL7/EL8 (#50)
  google_guest_agent/addresses.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

break addresses.go
  google_guest_agent/addresses.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update to something that builds successfully
  google_guest_agent/addresses.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix the trace functionality
  google_guest_agent/diagnostics.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix: do not configure IPv6 if disabled in sysctl
  google_guest_agent/addresses.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

write groups.conf for oslogin
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix the trace functionality (#53)
  google_guest_agent/diagnostics.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

write groups.conf for oslogin (#56)
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Enable diagnostics tool by default for GA
  google_guest_agent/diagnostics.go
  google_guest_agent/diagnostics_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Enable diagnostics tool by default for GA (#46)
  google_guest_agent/diagnostics.go
  google_guest_agent/diagnostics_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Improve the logging of diagnostics
  google_guest_agent/diagnostics.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Improve the logging of diagnostics (#57)
  google_guest_agent/diagnostics.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Set route to metadata on interface with default route
  google_guest_agent/instance_setup.go
  google_guest_agent/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

update
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add source field in googet spec
  packaging/googet/google-compute-engine-metadata-scripts.goospec
  packaging/googet/google-compute-engine-windows.goospec
Due: prow/presubmit/packagebuild

Path conditions:
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
  prow/presubmit/packagebuild: any of: packaging/
