Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Fix go lint
  imagetest/test_suites/disk/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Linux disk test
  imagetest/test_suites/disk/disk_readwrite_test.go
  imagetest/test_suites/disk/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add todo
  imagetest/test_suites/disk/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

another TODO comment
  imagetest/test_suites/disk/disk_resize_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Rewrite linux disk test to pass build
  imagetest/test_suites/disk/disk_resize_test.go
  imagetest/test_suites/disk/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Deletewinvalidation (#885)
  imagetest/cmd/manager/main.go
  imagetest/test_suites/disk/disk_readwrite_test.go
  imagetest/test_suites/disk/disk_resize_test.go
  imagetest/test_suites/disk/setup.go
  imagetest/test_suites/packagevalidation/setup.go
  imagetest/test_suites/packagevalidation/windows_version_test.go
  imagetest/test_suites/windowsimagevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove unnecessary promote-to-stable steps from guest package build pipeline
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove unnecessary promote-to-stable steps from guest package build pipeline (#888)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove SAP workload test (and required scripts from concourse)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/scripts/sap_hana.tf
  concourse/scripts/sap_post_script.sh
Due: prow/presubmit/fly-validate-pipelines

Remove SAP workload test (and required scripts from concourse) (#889)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/scripts/sap_hana.tf
  concourse/scripts/sap_post_script.sh
Due: prow/presubmit/fly-validate-pipelines

SEV_SNP and TDX CVM Testing
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update owners.
  OWNERS
Due: none

util: unify metadata code
  .gitignore
  imagetest/build.sh
  imagetest/cmd/wrapper/main.go
  imagetest/test_suites/disk/disk_resize_test.go
  imagetest/test_suites/hostnamevalidation/hostname_validation_test.go
  imagetest/test_suites/imageboot/image_boot_test.go
  imagetest/test_suites/licensevalidation/license_test.go
  imagetest/test_suites/licensevalidation/linux_license_test.go
  imagetest/test_suites/metadata/metadata_test.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/test_suites/metadata/startup_script_test.go
  imagetest/test_suites/network/alias_ip_test.go
  imagetest/test_suites/network/dhcp_test.go
  imagetest/test_suites/network/gvnic_test.go
  imagetest/test_suites/network/mtu_test.go
  imagetest/test_suites/network/multinic_minimal_network_test.go
  imagetest/test_suites/networkperf/gvnic_test.go
  imagetest/test_suites/networkperf/performance_test.go
  imagetest/test_suites/packagevalidation/clock_test.go
  imagetest/test_suites/packagevalidation/googet_test.go
  imagetest/test_suites/packagevalidation/package_test.go
  imagetest/test_suites/packagevalidation/windows_version_test.go
  imagetest/test_suites/security/image_security_test.go
  imagetest/test_suites/sql/sql_test.go
  imagetest/test_suites/ssh/host_key_test.go
  imagetest/test_suites/ssh/image_ssh_test.go
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/utils/metadata.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

util: unify metadata code (#890)
  .gitignore
  imagetest/build.sh
  imagetest/cmd/wrapper/main.go
  imagetest/test_suites/disk/disk_resize_test.go
  imagetest/test_suites/hostnamevalidation/hostname_validation_test.go
  imagetest/test_suites/imageboot/image_boot_test.go
  imagetest/test_suites/licensevalidation/license_test.go
  imagetest/test_suites/licensevalidation/linux_license_test.go
  imagetest/test_suites/metadata/metadata_test.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/test_suites/metadata/startup_script_test.go
  imagetest/test_suites/network/alias_ip_test.go
  imagetest/test_suites/network/dhcp_test.go
  imagetest/test_suites/network/gvnic_test.go
  imagetest/test_suites/network/mtu_test.go
  imagetest/test_suites/network/multinic_minimal_network_test.go
  imagetest/test_suites/networkperf/gvnic_test.go
  imagetest/test_suites/networkperf/performance_test.go
  imagetest/test_suites/packagevalidation/clock_test.go
  imagetest/test_suites/packagevalidation/googet_test.go
  imagetest/test_suites/packagevalidation/package_test.go
  imagetest/test_suites/packagevalidation/windows_version_test.go
  imagetest/test_suites/security/image_security_test.go
  imagetest/test_suites/sql/sql_test.go
  imagetest/test_suites/ssh/host_key_test.go
  imagetest/test_suites/ssh/image_ssh_test.go
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/utils/metadata.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add mTLS MDS tests to verify credentials exists
  imagetest/test_suites/mdsmtls/mds_mtls_test.go
  imagetest/test_suites/mdsmtls/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add mTLS MDS tests to verify credentials exists (#891)
  imagetest/test_suites/mdsmtls/mds_mtls_test.go
  imagetest/test_suites/mdsmtls/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

oslogin: only test sshd's PAM config if 2fa is enabled
  imagetest/test_suites/oslogin/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

local build support
  imagetest/cmd/manager/main.go
  imagetest/local_build.sh
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

oslogin: only test sshd's PAM config if 2fa is enabled (#892)
  imagetest/test_suites/oslogin/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Avoid double slash
  imagetest/cmd/manager/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add comments to shell build script
  imagetest/local_build.sh
Due: none

Change wrapper path to be the same as before
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Bug fix
  imagetest/test_suites/metadata/startup_script_test.go
  imagetest/test_suites/ssh/host_key_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

oslogin: 2fa MDS entry will not always be present
  imagetest/test_suites/oslogin/oslogin_test.go
  imagetest/utils/metadata.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Bug fix (#894)
  imagetest/test_suites/metadata/startup_script_test.go
  imagetest/test_suites/ssh/host_key_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

oslogin: 2fa MDS entry will not always be present (#895)
  imagetest/test_suites/oslogin/oslogin_test.go
  imagetest/utils/metadata.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Set SEVSNP and TDX confidentialInstanceType
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add local build options
  imagetest/local_build.sh
Due: none

change dockerfile to use local_build.sh
  imagetest/Dockerfile
  imagetest/local_build.sh
Due: none

Change outspath to /out in Dockerfile
  imagetest/Dockerfile
Due: none

Add exit conditions to mirror dockerfile
  imagetest/local_build.sh
Due: none

Add line breaks
  imagetest/local_build.sh
Due: none

Add the ability for TestVM to run on an instance from the beta API.
  imagetest/fixtures.go
  imagetest/fixtures_test.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Use imagetestroot argument
  imagetest/local_build.sh
Due: none

fix comment at top of shell script
  imagetest/local_build.sh
Due: none

Imagetest local build support (#893)
  imagetest/Dockerfile
  imagetest/cmd/manager/main.go
  imagetest/local_build.sh
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/fixtures.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Correct typing for confidentialInstanceConfig on beta instances and set vm scheduling according to test requirements
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Check if the VM rebooted during live migration
  imagetest/test_suites/cvm/cvm_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add the ability for TestVM to run on an instance from the beta API. (#896)
  imagetest/fixtures.go
  imagetest/fixtures_test.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
