Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Change benchmark percentage
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Build and publish windows upgrade test container (#922)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Clean up code, more thorough checking and error messages
  imagetest/test_suites/oslogin/oslogin_test.go
  imagetest/test_suites/oslogin/oslogin_utils.go
  imagetest/test_suites/oslogin/setup.go
  imagetest/test_suites/oslogin/ssh_test.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gocheck
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove prints
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gocheck
  imagetest/test_suites/oslogin/oslogin_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

rever test order change
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove large comment
  imagetest/test_suites/storageperf/iops_read_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Correct windows upgrade tests dockerfile path
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Print string instead of float (#920)
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Print vm name for failing tests
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Print vm name for failing tests (#924)
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove sudo input, more thorough PAM check, cleanup
  imagetest/test_suites/oslogin/oslogin_utils.go
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Correct windows upgrade tests dockerfile path (#923)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

fix build issue
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Change && to || when checking sudoers file
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Correct typo in gce-windows-upgrade-test pipeline context
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Correct typo in gce-windows-upgrade-test pipeline context (#925)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Use bw json field for ubuntu
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Use bw json field for ubuntu (#926)
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Retry fio if instance startup is slow
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

OsLogin Tests (#827)
  concourse/pipelines/guest-package-build.jsonnet
  imagetest/fixtures.go
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/oslogin/oslogin_test.go
  imagetest/test_suites/oslogin/oslogin_utils.go
  imagetest/test_suites/oslogin/setup.go
  imagetest/test_suites/oslogin/ssh_test.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Require the UEFI_COMPATIBLE flag for secure boot tests
  imagetest/test_suites/imageboot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Import imagetest utils
  imagetest/test_suites/imageboot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update test suite documentation for networkperf and cvm test suites
  imagetest/test_suites/README.md
Due: none

Rename TestPerformance to TestNetworkPerformance
  imagetest/test_suites/README.md
Due: none

Two-factor OSLogin tests
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/oslogin/setup.go
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip tests on zypper install issue
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Require the UEFI_COMPATIBLE flag for secure boot tests (#928)
  imagetest/test_suites/imageboot/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

manual error code check
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Reduce parallel count for oslogin guest package build to 2
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Default filesize should match disk size
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix guest package build pipeline
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add missing -
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Misc changes
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Use special error message in zypper error case
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Re-reduce parallel count to 2
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines
