Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

use correct prefix in gcs step (#358)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

use us-central1-a for daisy tasks
  concourse/templates/daisy.libsonnet
Due: none

use us-central1-a for daisy tasks (#359)
  concourse/templates/daisy.libsonnet
Due: none

clone registry image
  container_images/registry-image-forked/.github/release-drafter.yml
  container_images/registry-image-forked/.gitignore
  container_images/registry-image-forked/CODEOWNERS
  container_images/registry-image-forked/LICENSE.md
  container_images/registry-image-forked/NOTICE.md
  container_images/registry-image-forked/README.md
  container_images/registry-image-forked/backoff.go
  container_images/registry-image-forked/check_test.go
  container_images/registry-image-forked/cmd/check/main.go
  container_images/registry-image-forked/cmd/in/main.go
  container_images/registry-image-forked/cmd/out/main.go
  container_images/registry-image-forked/commands/check.go
  container_images/registry-image-forked/commands/in.go
  container_images/registry-image-forked/commands/logging.go
  container_images/registry-image-forked/commands/out.go
  container_images/registry-image-forked/commands/unpack.go
  container_images/registry-image-forked/dockerfiles/alpine/Dockerfile
  container_images/registry-image-forked/dockerfiles/ubuntu/Dockerfile
  container_images/registry-image-forked/in_test.go
  container_images/registry-image-forked/out_test.go
  container_images/registry-image-forked/suite_test.go
  container_images/registry-image-forked/testdata/file-perms-mtime/Dockerfile
  container_images/registry-image-forked/testdata/metadata/Dockerfile
  container_images/registry-image-forked/testdata/removed-hardlinks/Dockerfile
  container_images/registry-image-forked/testdata/setup-images
  container_images/registry-image-forked/testdata/static.tagged/Dockerfile
  container_images/registry-image-forked/testdata/static/Dockerfile
  container_images/registry-image-forked/testdata/static/older/Dockerfile
  container_images/registry-image-forked/testdata/symlinks/Dockerfile
  container_images/registry-image-forked/testdata/whiteout/Dockerfile
  container_images/registry-image-forked/types.go
  container_images/registry-image-forked/types_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add go submodule
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/go.sum
Due: none

add container build
  concourse/pipelines/container-build.yaml
Due: prow/presubmit/fly-validate-pipelines

add google auth support
  concourse/pipelines/container-build.yaml
  container_images/registry-image-forked/types.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

update readme
  container_images/registry-image-forked/.github/release-drafter.yml
  container_images/registry-image-forked/CODEOWNERS
  container_images/registry-image-forked/README.md
Due: none

update import paths
  container_images/registry-image-forked/check_test.go
  container_images/registry-image-forked/cmd/check/main.go
  container_images/registry-image-forked/cmd/in/main.go
  container_images/registry-image-forked/cmd/out/main.go
  container_images/registry-image-forked/commands/check.go
  container_images/registry-image-forked/commands/in.go
  container_images/registry-image-forked/commands/out.go
  container_images/registry-image-forked/in_test.go
  container_images/registry-image-forked/out_test.go
  container_images/registry-image-forked/suite_test.go
  container_images/registry-image-forked/types_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

linter fixes
  container_images/registry-image-forked/backoff.go
  container_images/registry-image-forked/commands/check.go
  container_images/registry-image-forked/commands/in.go
  container_images/registry-image-forked/commands/out.go
  container_images/registry-image-forked/types.go
  container_images/registry-image-forked/types_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  container_images/registry-image-forked/types_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fork registry image (#360)
  concourse/pipelines/container-build.yaml
  container_images/registry-image-forked/.gitignore
  container_images/registry-image-forked/LICENSE.md
  container_images/registry-image-forked/NOTICE.md
  container_images/registry-image-forked/README.md
  container_images/registry-image-forked/backoff.go
  container_images/registry-image-forked/check_test.go
  container_images/registry-image-forked/cmd/check/main.go
  container_images/registry-image-forked/cmd/in/main.go
  container_images/registry-image-forked/cmd/out/main.go
  container_images/registry-image-forked/commands/check.go
  container_images/registry-image-forked/commands/in.go
  container_images/registry-image-forked/commands/logging.go
  container_images/registry-image-forked/commands/out.go
  container_images/registry-image-forked/commands/unpack.go
  container_images/registry-image-forked/dockerfiles/alpine/Dockerfile
  container_images/registry-image-forked/dockerfiles/ubuntu/Dockerfile
  container_images/registry-image-forked/go.mod
  container_images/registry-image-forked/go.sum
  container_images/registry-image-forked/in_test.go
  container_images/registry-image-forked/out_test.go
  container_images/registry-image-forked/suite_test.go
  container_images/registry-image-forked/testdata/file-perms-mtime/Dockerfile
  container_images/registry-image-forked/testdata/metadata/Dockerfile
  container_images/registry-image-forked/testdata/removed-hardlinks/Dockerfile
  container_images/registry-image-forked/testdata/setup-images
  container_images/registry-image-forked/testdata/static.tagged/Dockerfile
  container_images/registry-image-forked/testdata/static/Dockerfile
  container_images/registry-image-forked/testdata/static/older/Dockerfile
  container_images/registry-image-forked/testdata/symlinks/Dockerfile
  container_images/registry-image-forked/testdata/whiteout/Dockerfile
  container_images/registry-image-forked/types.go
  container_images/registry-image-forked/types_test.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

include missed go.sum
  container_images/registry-image-forked/go.sum
Due: none

include missed go.sum (#361)
  container_images/registry-image-forked/go.sum
Due: none

publish forked registry resource to c-i-t repo
  concourse/pipelines/container-build.yaml
Due: prow/presubmit/fly-validate-pipelines

publish forked registry resource to c-i-t repo (#362)
  concourse/pipelines/container-build.yaml
Due: prow/presubmit/fly-validate-pipelines

use new forked image resource
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

use new forked image resource (#363)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

use real boolean value
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

use real boolean value (#364)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Combined package operations into single task
  concourse/pipelines/artifact-releaser-autopush.yaml
  concourse/tasks/gcloud-package-operation.yaml
  concourse/tasks/gcloud-upload-unstable-package.yaml
Due: prow/presubmit/fly-validate-pipelines

New upload staging and unstable tasks to ARLE (#355)
  concourse/pipelines/artifact-releaser-autopush.yaml
  concourse/tasks/gcloud-package-operation.yaml
Due: prow/presubmit/fly-validate-pipelines

Use task gcloud-package-operation for package upload in package pipeline
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Remove unused gcloud-inject-package task
  concourse/tasks/gcloud-inject-package.yaml
Due: none

Use task gcloud-package-operation for package upload (#365)
  concourse/pipelines/guest-package-build.yaml
  concourse/tasks/gcloud-inject-package.yaml
Due: prow/presubmit/fly-validate-pipelines

add container-build.jsonnet
  concourse/pipelines/container-build.jsonnet
  container_images/build-essential/Dockerfile
Due: prow/presubmit/fly-validate-pipelines

add containerimgbuildtask template
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add containerimgbuildjob template and fn
  concourse/pipelines/container-build.jsonnet
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

publish cit to cit
  concourse/pipelines/container-build.jsonnet
  concourse/tasks/image-test-args.yaml
  concourse/tasks/image-test.yaml
  container_images/build-essential/Dockerfile
Due: prow/presubmit/fly-validate-pipelines

add project to publish-coverage
  concourse/tasks/publish-coverage.yaml
  container_images/concourse-metrics/cmd/publish-coverage/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add project to publish-coverage (#366)
  concourse/tasks/publish-coverage.yaml
  container_images/concourse-metrics/cmd/publish-coverage/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add pipeline for building Daisy
  concourse/pipelines/daisy-build.yaml
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

wip stab at pipeline def
  concourse/pipelines/sap-workload-test.yaml
Due: prow/presubmit/fly-validate-pipelines

use latest kaniko
  concourse/pipelines/container-build.jsonnet
  concourse/pipelines/container-build.yaml
Due: prow/presubmit/fly-validate-pipelines

PR updates
  concourse/pipelines/daisy-build.yaml
Due: prow/presubmit/fly-validate-pipelines

parameterize input
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add daisy
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add windows-image-build.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

fix format errors
  concourse/pipelines/sap-workload-test.yaml
Due: prow/presubmit/fly-validate-pipelines

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
