Repository GoogleCloudPlatform/guest-agent: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/packagebuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/daisy-builder:latest
      command:
      - /main.sh
      args:
      - gcp-guest
      - us-west1-a
      - deb12,deb12_arm64,deb11,el8,el8_arm64,el9,el9_arm64,goo

Fix typo causing build error: FileMode vs Mode()
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add a "Match all" block after the includes, so later config lines still act as expected.
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Re-set /var/google-* directory permissions each time.
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Adjust TestUpdateSSHConfig to expect the new config lines.
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Source the contents of /var/google-users.d config files. (#586)
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Move sourcing of per-user configs to the end of sshd_config, fixing 2FA logins.
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Move sourcing of per-user configs to the end of sshd_config, fixing 2FA logins. (#590)
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Merge with head
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix test with new end block
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Disable certificates when security keys are enabled (#588)
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Ensure the uninstall script doesn't hang indefinitely when GCE metadata endpoints aren't available.
  packaging/googet/agent_uninstall.ps1
Due: prow/presubmit/packagebuild

Use more PowerShell consistent function names.
  packaging/googet/agent_uninstall.ps1
Due: prow/presubmit/packagebuild

Ensure the uninstall script handles GCE metadata endpoint unavailability. (#591)
  packaging/googet/agent_uninstall.ps1
Due: prow/presubmit/packagebuild

Bring stable branch up to 822ad49fd52b4d29869604af836a33cb22a667ba
  90-google-guest-agent.preset
  OWNERS
  go.mod
  go.sum
  google-guest-agent-manager.service
  google-startup-scripts.service
  google_guest_agent/addresses.go
  google_guest_agent/addresses_test.go
  google_guest_agent/diagnostics.go
  google_guest_agent/events/sshtrustedca/sshtrustedca_linux.go
  google_guest_agent/non_windows_accounts.go
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
  google_guest_agent/system_windows.go
  google_guest_agent/windows_accounts.go
  google_metadata_script_runner/main.go
  google_metadata_script_runner/main_test.go
  google_metadata_script_runner_adapt
  google_metadata_script_runner_adapt.ps1
  packaging/debian/postinst
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/run_shutdown_scripts.cmd
  packaging/googet/run_startup_scripts.cmd
  packaging/google-guest-agent.spec
  utils/test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

Bring stable branch up to 822ad49fd52b4d29869604af836a33cb22a667ba (#592)
  90-google-guest-agent.preset
  OWNERS
  go.mod
  go.sum
  google-guest-agent-manager.service
  google-startup-scripts.service
  google_guest_agent/addresses.go
  google_guest_agent/addresses_test.go
  google_guest_agent/diagnostics.go
  google_guest_agent/events/sshtrustedca/sshtrustedca_linux.go
  google_guest_agent/non_windows_accounts.go
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
  google_guest_agent/system_windows.go
  google_guest_agent/windows_accounts.go
  google_metadata_script_runner/main.go
  google_metadata_script_runner/main_test.go
  google_metadata_script_runner_adapt
  google_metadata_script_runner_adapt.ps1
  packaging/debian/postinst
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/run_shutdown_scripts.cmd
  packaging/googet/run_startup_scripts.cmd
  packaging/google-guest-agent.spec
  utils/test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

Add packaging changes for locally bundled extensions feature support
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Add packaging changes for locally bundled extensions feature support (#593)
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Create the /var/google-*.d folders *before* restarting sshd.
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Move restart of sshd later, to happen *after* all necessary folders are created.
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update build-deb.sh
  build-deb.sh
Due: none

Add implementation of new routes monitor scheduled job
  google_guest_agent/addresses.go
  google_guest_agent/addresses_monitor.go
  google_guest_agent/cfg/cfg.go
  google_guest_agent/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update logic for configuration parsing for the new interval configuration flag
  google_guest_agent/addresses_monitor.go
  google_guest_agent/cfg/cfg.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add packaging for new telemetry extension
  packaging/debian/rules
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Make sure the GuestTelemetryExtension folder exists
  packaging/debian/rules
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Only log successful routes setup if something actually changed
  google_guest_agent/addresses.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add debug level message for if no routes were added
  google_guest_agent/addresses.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Implement new scheduled job for routes monitor (#598)
  google_guest_agent/addresses.go
  google_guest_agent/addresses_monitor.go
  google_guest_agent/cfg/cfg.go
  google_guest_agent/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update goospec
  packaging/googet/google-compute-engine-windows.goospec
Due: prow/presubmit/packagebuild

Add placeholders for telemetry files
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild

Add comment for why version is left out of guest telemetry build
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild

Add packaging for new telemetry extension (#599)
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Correct guest telemetry build target
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Correct guest telemetry build target (#600)
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Actually finally fix the RPM spec
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Actually finally fix the RPM spec (#601)
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Backport oslogin changes for sles16 to legacy agent
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Backport oslogin changes for sles16 to legacy agent (#603)
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
  prow/presubmit/packagebuild: any of: packaging/.*
