Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

On Debian 12 the guest is not getting the right search domains, use the (#683)
  packagebuild/daisy_startupscript_deb.sh
Due: none

packages: fix compute-image-tools git-resource definition
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

packages: fix compute-image-tools git-resource definition (#684)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix missing comma.
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix missing comma. (#685)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Migrate from syft source to sbom util source
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Migrate from syft source to sbom util source (#686)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix sbom util path name error
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix sbom util path name error (#687)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix a couple test cases for Debian 12.
  imagetest/test_suites/image_validation/image_validation_test.go
  imagetest/test_suites/security/image_security_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip multi-nic tests for Debian 12.
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix a couple test cases for Debian 12. (#688)
  imagetest/test_suites/image_validation/image_validation_test.go
  imagetest/test_suites/network/setup.go
  imagetest/test_suites/security/image_security_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Include debian sbom arguments
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix comment for iso
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

remove unnecessary workflow_dir arg
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Debian SBOM publishing (#689)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Re-enable multi-nic test for Debian 12.
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add windows sbom generation
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Re-enable multi-nic test for Debian 12. (#691)
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Split off task template when generating SBOM, with sbom_destination var
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/daisy.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Windows sbom resoure
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove image prefix
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Sql sbom resources
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Sql preview
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Windows sbom resource (#693)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Pass in sbom_destination
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Pass in sbom_destination (#694)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Pass sbom destination on the correct line
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Pass sbom destination on the correct line (#695)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Increase CIT timeout to 45m. More test cases are running now.
  imagetest/cmd/manager/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Increase CIT timeout to 45m. More test cases are running now. (#696)
  imagetest/cmd/manager/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

use file name as package as both are same
  packagebuild/daisy_startupscript_goo.sh
Due: none

get file name
  packagebuild/daisy_startupscript_goo.sh
Due: none

Fix googet build failure due to invalid json passed to jq (#697)
  packagebuild/daisy_startupscript_goo.sh
Due: none

Cleanup partner image validation pipeline. Start looking at SLES prod images.
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Cleanup partner image validation pipeline. Start looking at SLES prod (#698)
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Allow checking for other DHCP clients.
  imagetest/test_suites/network/dhcp_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add missing license in SLES 12.
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update CIT tests for SLES (#699)
  imagetest/test_suites/image_validation/license_test.go
  imagetest/test_suites/network/dhcp_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Create package jobs and all resources (including images) in Jsonnet
  concourse/pipelines/artifact-releaser-test.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines
