Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

use lego instead of certbot in rhui build (#341)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/gcp-secret-manager.libsonnet
  concourse/templates/lego.libsonnet
Due: prow/presubmit/fly-validate-pipelines

fix gotest path
  concourse/tasks/gotest.yaml
Due: none

add curl identity validation job
  concourse/pipelines/artifact-releaser-autopush.yaml
Due: prow/presubmit/fly-validate-pipelines

remove han from owners
  OWNERS
  imagetest/OWNERS
Due: none

add curl identity validation job (#343)
  concourse/pipelines/artifact-releaser-autopush.yaml
Due: prow/presubmit/fly-validate-pipelines

change image
  concourse/pipelines/artifact-releaser-autopush.yaml
Due: prow/presubmit/fly-validate-pipelines

change image (#345)
  concourse/pipelines/artifact-releaser-autopush.yaml
Due: prow/presubmit/fly-validate-pipelines

remove han from owners (#344)
  OWNERS
  imagetest/OWNERS
Due: none

fix gotest path (#342)
  concourse/tasks/gotest.yaml
Due: none

correct flag to coverage binary
  concourse/tasks/publish-coverage.yaml
Due: none

correct flag to coverage binary (#346)
  concourse/tasks/publish-coverage.yaml
Due: none

use workload id in linux image build
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/daisy.libsonnet
  concourse/templates/gcp-secret-manager.libsonnet
Due: prow/presubmit/fly-validate-pipelines

use workload id in linux image build (#347)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/daisy.libsonnet
  concourse/templates/gcp-secret-manager.libsonnet
Due: prow/presubmit/fly-validate-pipelines

use template result task
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

pr feedback
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

use template result task (#348)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

more credential moves
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

more credential moves (#349)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

update image test to use workload id
  concourse/tasks/image-test.yaml
Due: none

update image test to use workload id (#350)
  concourse/tasks/image-test.yaml
Due: none

fix prod publish args
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

fix prod publish args (#351)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove CentOS 8 from tests.
  concourse/pipelines/guest-package-build.yaml
  container_images/gointegtest/integ-test-all.wf.json
  imagetest/cmd/manager/main.go
  imagetest/test_suites/image_validation/linux_license_test.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove CentOS 8 from tests. (#352)
  concourse/pipelines/guest-package-build.yaml
  container_images/gointegtest/integ-test-all.wf.json
  imagetest/cmd/manager/main.go
  imagetest/test_suites/image_validation/linux_license_test.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add pre-release builds/tests for CentOS Stream 9.
  concourse/pipelines/guest-package-build.yaml
  concourse/pipelines/linux-image-build.jsonnet
  container_images/gointegtest/integ-test-all.wf.json
  packagebuild/workflows/build_el9.wf.json
Due: prow/presubmit/fly-validate-pipelines

fix
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

fix
  container_images/gointegtest/integ-test-all.wf.json
Due: none

Add SQL 2017/2019 on server 2022 build jobs (#332)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

fix
  concourse/pipelines/guest-package-build.yaml
  concourse/pipelines/partner-image-export.yaml
Due: prow/presubmit/fly-validate-pipelines

fix
  concourse/pipelines/partner-image-export.yaml
Due: prow/presubmit/fly-validate-pipelines

Add pre-release builds/tests for CentOS Stream 9. (#353)
  concourse/pipelines/guest-package-build.yaml
  concourse/pipelines/linux-image-build.jsonnet
  container_images/gointegtest/integ-test-all.wf.json
  packagebuild/workflows/build_el9.wf.json
Due: prow/presubmit/fly-validate-pipelines

Enable dev repos for EL8/9 builds.
  packagebuild/daisy_startupscript_rpm.sh
Due: none

fix
  packagebuild/daisy_startupscript_rpm.sh
Due: none

Enable dev repos for EL8/9 builds. (#354)
  packagebuild/daisy_startupscript_rpm.sh
Due: none

New upload staging and unstable tasks to ARLE
  concourse/pipelines/artifact-releaser-autopush.yaml
  concourse/tasks/gcloud-upload-staging-package.yaml
  concourse/tasks/gcloud-upload-unstable-package.yaml
Due: prow/presubmit/fly-validate-pipelines

integer coverage percent
  container_images/gotest/main.sh
Due: none

integer coverage percent (#356)
  container_images/gotest/main.sh
Due: none

add debian-11-arm to linux-image-build
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

add debian-11-arm to linux-image-build (#357)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

use correct prefix in gcs step
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
