Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Create new task to build SQL images
  concourse/tasks/daisy-build-images-windows-sql.yaml
Due: none

Initial add SQL build to the image build pipeline
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Instrument the partner-image-export pipeline with job metrics
  concourse/pipelines/partner-image-export.yaml
Due: prow/presubmit/fly-validate-pipelines

Instrument the windows-image-build pipeline with job metrics
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

more SLES fixes
  imagetest/test_suites/image_validation/license_test.go
  imagetest/test_suites/image_validation/package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

disable OS Login tests
  concourse/tasks/image-test-args.yaml
  concourse/tasks/image-test.yaml
Due: none

disable OS Login tests (#303)
  concourse/tasks/image-test-args.yaml
  concourse/tasks/image-test.yaml
Due: none

Remove deprecated images, add newer ones to CIT.
  container_images/gointegtest/integ-test-all.wf.json
  imagetest/cmd/manager/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove deprecated images, add newer ones to CIT. (#305)
  container_images/gointegtest/integ-test-all.wf.json
  imagetest/cmd/manager/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add more specific oslogin override
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

gotest: Allow clients to specify extra test args.
  container_images/gotest/main.sh
Due: none

Updating the Windows pipeline to use secret manager (#294)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

add more specific oslogin override (#306)
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Updating windows 2012r2 builds to use the correct publish file
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

gotest: Allow clients to specify extra test args. (#307)
  container_images/gotest/main.sh
Due: none

Updating windows 2012r2 builds to use the correct publish file (#308)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add windows server 2022 base and core builds
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add win2022 publish to testing
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add win2022 publish to staging
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add win2022 publish to prod step
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

use git resource rather than container wf
  concourse/tasks/daisy-build-images.yaml
Due: none

use git resource rather than container wf (#310)
  concourse/tasks/daisy-build-images.yaml
Due: none

use relative parent path for workflow_root
  concourse/tasks/daisy-build-images.yaml
Due: none

use relative parent path for workflow_root (#311)
  concourse/tasks/daisy-build-images.yaml
Due: none

use correct relative path
  concourse/tasks/daisy-build-images.yaml
Due: none

use correct relative path (#312)
  concourse/tasks/daisy-build-images.yaml
Due: none

Add container for running import/export module tests
  container_images/cli-tools-module-tests/Dockerfile
  container_images/cli-tools-module-tests/gcsfuse-apt-key.gpg
Due: none

liam's feedback
  container_images/cli-tools-module-tests/Dockerfile
  container_images/cli-tools-module-tests/gcsfuse-apt-key.gpg
Due: none

Add image for running import/export module tests (#313)
  container_images/cli-tools-module-tests/Dockerfile
Due: none

Instrument the windows-image-build pipeline with job metrics (#301)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Instrument the partner-image-export pipeline with job metrics (#302)
  concourse/pipelines/partner-image-export.yaml
Due: prow/presubmit/fly-validate-pipelines

Add concourse definition for cli-tools-module-tests
  concourse/pipelines/container-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add concourse definition for cli-tools-module-tests (#314)
  concourse/pipelines/container-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Fix environment in staging publish
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add Win2022 to windows release pipeline (#309)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add sql-2012-enterprise-windows-2012-r2-dc
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add daisy-build-images-windows-sql.yaml
  concourse/tasks/daisy-build-images-windows-sql.yaml
Due: none

Fix wf reference
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Update as PR recommendations
  concourse/pipelines/windows-image-build.yaml
  concourse/tasks/daisy-build-images-windows-sql.yaml
Due: prow/presubmit/fly-validate-pipelines

Add sql-2012-enterprise-windows-2012-r2-dc (#315)
  concourse/pipelines/windows-image-build.yaml
  concourse/tasks/daisy-build-images-windows-sql.yaml
Due: prow/presubmit/fly-validate-pipelines
