Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Revert publishresulttask changes, add registry-image-forked resource type
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix copy-paste issue
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add registry-image-forked resource type to artifact-releaser-test. (#710)
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Switch image publishing method from gcepublishtask to arlepublishtask
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Switch image publishing method from gcepublishtask to arlepublishtask (#711)
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Take easy way out for erroring publish success/failure metrics
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Change package in publishresulttask to job
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Create separate publish task for artifact-releaser-test. (#712)
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

windows: fix certgen upload resource name
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

windows: fix certgen upload resource name (#714)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update gointegtest container.
  container_images/gointegtest/Dockerfile
  container_images/gointegtest/common.sh
  container_images/gointegtest/integ-test-all.wf.json
  container_images/gointegtest/run_integ_tests.sh
Due: none

Update containers.
  container_images/cleanerupper/Dockerfile
  container_images/cleanerupper/go.mod
  container_images/cleanerupper/go.sum
  container_images/gobuild/Dockerfile
  container_images/gocheck/Dockerfile
  container_images/gotest/Dockerfile
  container_images/jsonnet-go/Dockerfile
  container_images/validate-integtest/Dockerfile
  container_images/validate-integtest/validate-result.sh
Due: none

Update container dependencies and test dependencies (#715)
  container_images/cleanerupper/Dockerfile
  container_images/cleanerupper/go.mod
  container_images/cleanerupper/go.sum
  container_images/gobuild/Dockerfile
  container_images/gocheck/Dockerfile
  container_images/gointegtest/Dockerfile
  container_images/gointegtest/common.sh
  container_images/gointegtest/integ-test-all.wf.json
  container_images/gointegtest/run_integ_tests.sh
  container_images/gotest/Dockerfile
  container_images/jsonnet-go/Dockerfile
  container_images/validate-integtest/Dockerfile
  container_images/validate-integtest/validate-result.sh
Due: none

Reduce time interval of artifact-releaser-pipeline trigger
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Try to fix versions and tags
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add tag_filter to the correct resources
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Reduce time interval (#716)
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

daisy: build daisy statically & update container image
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

daisy: build daisy statically & update container image (#717)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

daisy: properly set the container tag
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

daisy: properly set the container tag (#719)
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove extra '.0' from GooGet packages in artifact-releaser-test
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix diagnostics job's file ending in artifact-releaser-test
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update go mods and go version for imagetest container.
  imagetest/go.mod
  imagetest/go.sum
Due: none

Update go mods and go version for imagetest container. (#721)
  imagetest/go.mod
  imagetest/go.sum
Due: none

Fix file endings
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix various issues with artifact-releaser-test (#720)
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove EL7 from Yum Plugin builds
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Copy packages from prod to autopush for ARLE testing pipeline
  concourse/pipelines/artifact-releaser-test.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Copy packages from prod to autopush for ARLE testing pipeline (#723)
  concourse/pipelines/artifact-releaser-test.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Use ntp commands instead of reading files for test
  imagetest/test_suites/image_validation/clock_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix gofmt
  imagetest/fixtures.go
  imagetest/test_suites/image_validation/clock_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Use ntp commands instead of reading files for test (#724)
  imagetest/fixtures.go
  imagetest/test_suites/image_validation/clock_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix more minor issues with artifact releaser testing pipeline
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Skip upload if already exists
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Skip upload if already exists (#726)
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Allow filtering on ready images
  container_images/gce-img-resource/check/check_command.go
  container_images/gce-img-resource/types.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Allow filtering on ready images
  container_images/gce-img-resource/check/check_command.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

use slice of filters instead of string
  container_images/gce-img-resource/check/check_command.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Allow filtering on ready images (#727)
  container_images/gce-img-resource/check/check_command.go
  container_images/gce-img-resource/types.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
