Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

remove unused arg 'gcs-key.credential'
  concourse/pipelines/bare-metal-image-build.yaml
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

remove unused arg 'gcs-key.credential' (#423)
  concourse/pipelines/bare-metal-image-build.yaml
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

use golang:1.13 everywhere
  container_images/cleanerupper/Dockerfile
  container_images/concourse-metrics/Dockerfile
  container_images/gobuild/Dockerfile
  container_images/gointegtest/Dockerfile
  container_images/gotest/Dockerfile
  container_images/jsonnet-go/Dockerfile
  container_images/validate-integtest/Dockerfile
  imagetest/Dockerfile
Due: none

use golang:1.13 everywhere (#424)
  container_images/cleanerupper/Dockerfile
  container_images/concourse-metrics/Dockerfile
  container_images/gobuild/Dockerfile
  container_images/gointegtest/Dockerfile
  container_images/gotest/Dockerfile
  container_images/jsonnet-go/Dockerfile
  container_images/validate-integtest/Dockerfile
  imagetest/Dockerfile
Due: none

run ARM tests for guest agent based on test image
  concourse/pipelines/guest-package-build.yaml
  concourse/tasks/daisy-build-package-image.yaml
Due: prow/presubmit/fly-validate-pipelines

adjust image path
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

separate ARM tests from amd64
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

specify machine type
  concourse/pipelines/guest-package-build.yaml
  concourse/tasks/image-test-args.yaml
Due: prow/presubmit/fly-validate-pipelines

remove default machine type
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Use golang:latest for cleanerupper
  container_images/cleanerupper/Dockerfile
Due: none

Use golang:latest for cleanerupper (#427)
  container_images/cleanerupper/Dockerfile
Due: none

run post-build image tests in us-central1
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

run post-build image tests in us-central1 (#428)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

remove unused aeg 'google_cloud_repo' for debian-11-worker-arm64
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

fix a typo
  packagebuild/workflows/build_deb11_arm64.wf.json
Due: none

remove unused arg 'google_cloud_repo' for debian-11-worker-arm64 (#429)
  concourse/pipelines/debian-worker-image-build.yaml
  packagebuild/workflows/build_deb11_arm64.wf.json
Due: prow/presubmit/fly-validate-pipelines

tmp
  concourse/pipelines/windows-install-media-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

specify zone=us-central1-a for debian-11-worker-arm64
  concourse/pipelines/debian-worker-image-build.yaml
  packagebuild/workflows/build_deb11_arm64.wf.json
  packagebuild/workflows/build_package.wf.json
Due: prow/presubmit/fly-validate-pipelines

clean up google_cloud_repo arg
  concourse/tasks/daisy-build-images-debian.yaml
Due: none

adjust args
  concourse/pipelines/windows-install-media-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

remove usued args
  concourse/tasks/daisy-build-images-debian.yaml
Due: none

remove unused args
  concourse/tasks/daisy-build-images-debian.yaml
  concourse/tasks/daisy-build-windows-install-media.yaml
Due: none

specify zone=us-central1-a for debian-11-worker-arm64 (#430)
  concourse/pipelines/debian-worker-image-build.yaml
  concourse/tasks/daisy-build-images-debian.yaml
  packagebuild/workflows/build_deb11_arm64.wf.json
  packagebuild/workflows/build_package.wf.json
Due: prow/presubmit/fly-validate-pipelines

modify zone of 'daisy-build-images-debian' to us-central1-a for arm comaptibility
  concourse/tasks/daisy-build-images-debian.yaml
Due: none

modify zone of 'daisy-build-images-debian' to us-central1-a for arm comaptibility (#432)
  concourse/tasks/daisy-build-images-debian.yaml
Due: none

add GCE Image resource
  concourse/pipelines/container-build.jsonnet
  container_images/gce-img-resource/Dockerfile
  container_images/gce-img-resource/README.md
  container_images/gce-img-resource/check/check_command.go
  container_images/gce-img-resource/cmd/check/main.go
  container_images/gce-img-resource/cmd/in/main.go
  container_images/gce-img-resource/in/in_command.go
  container_images/gce-img-resource/types.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix links
  container_images/gce-img-resource/README.md
Due: none

add sort by date
  container_images/gce-img-resource/check/check_command.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

correct ordering; skip deprecated
  container_images/gce-img-resource/check/check_command.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

emit image status metadata
  container_images/gce-img-resource/in/in_command.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

update comment
  container_images/gce-img-resource/types.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add GCE image resource (#433)
  concourse/pipelines/container-build.jsonnet
  container_images/gce-img-resource/Dockerfile
  container_images/gce-img-resource/README.md
  container_images/gce-img-resource/check/check_command.go
  container_images/gce-img-resource/cmd/check/main.go
  container_images/gce-img-resource/cmd/in/main.go
  container_images/gce-img-resource/in/in_command.go
  container_images/gce-img-resource/types.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix prod publish arg name: source_gcs_path -> gcs_image_path
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

fix prod publish arg name: source_gcs_path -> gcs_image_path (#434)
  concourse/pipelines/debian-worker-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

correct Dockerfile
  container_images/gce-img-resource/Dockerfile
Due: none

add ca certs
  container_images/gce-img-resource/Dockerfile
Due: none

move status to md
  container_images/gce-img-resource/in/in_command.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add ca certs to gce-img-resource (#435)
  container_images/gce-img-resource/Dockerfile
  container_images/gce-img-resource/in/in_command.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Separating windows package promotion steps
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Separating windows package promotion steps (#437)
  concourse/pipelines/guest-package-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
