Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Fix comment
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gocheck
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Use full filesize for fio
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip tests on zypper install issue (#930)
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Change && to ||
  imagetest/test_suites/networkperf/gvnic_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Revert || back to &&
  imagetest/test_suites/networkperf/gvnic_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add 2FA OSLogin Tests. (#929)
  concourse/pipelines/guest-package-build.jsonnet
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/oslogin/setup.go
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update excluded tests in Windows cit grouping
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add hostnamevalidation to windows CIT
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update excluded tests in Windows cit grouping (#931)
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Increase machine size for network test
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

use n1 16
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

N1 32
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Move cleanerupper functionality to a unit-tested library
  container_images/cleanerupper/go-cleanerupper/cleanerupper.go
  container_images/cleanerupper/go-cleanerupper/cleanerupper_test.go
  container_images/cleanerupper/go-cleanerupper/go.mod
  container_images/cleanerupper/go-cleanerupper/go.sum
  container_images/cleanerupper/go.sum
  container_images/cleanerupper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

package build: update golang to 1.21
  packagebuild/common.sh
Due: none

package build: update golang to 1.21 (#934)
  packagebuild/common.sh
Due: none

Reduce parallel thread count for networkperf test on SUSE images
  imagetest/test_suites/networkperf/startupscripts/netclient_startup.sh
  imagetest/test_suites/networkperf/startupscripts/netserver_startup.sh
Due: none

Fetch test results from beta instances, don't fetch results when the createVMsStep does not exist.
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add SEV_SNP and TDX enablement tests, switch CVM suites to use beta instances
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add TODO
  imagetest/test_suites/networkperf/startupscripts/netclient_startup.sh
  imagetest/test_suites/networkperf/startupscripts/netserver_startup.sh
Due: none

Reduce Parallel Thread Count for Network Performance Tests for SUSE Images. (#935)
  imagetest/test_suites/networkperf/startupscripts/netclient_startup.sh
  imagetest/test_suites/networkperf/startupscripts/netserver_startup.sh
Due: none

Add SEV_SNP and TDX enablement tests to CVM suite. (#936)
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add SBOM to artifact releaser test pipeline
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Move CGO_ENABLED declaration from Dockerfile to local_build.sh
  imagetest/Dockerfile
  imagetest/local_build.sh
Due: none

Remove docker and mirantis images, add Windows SBOMs
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix pipeline
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Move CGO_ENABLED declaration from Dockerfile to local_build.sh (#938)
  imagetest/Dockerfile
  imagetest/local_build.sh
Due: none

Search dmesg output directly in go, deduplicate CVM test code
  imagetest/test_suites/cvm/cvm_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix typo in SEV SNP platform device message, add variant of memory encryption features active message
  imagetest/test_suites/cvm/cvm_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add sql preview SBOM resource
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Search dmesg output in go for CVM tests and deduplicate test code (#939)
  imagetest/test_suites/cvm/cvm_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Move cleanerupper functionality to a unit-tested library (#933)
  container_images/cleanerupper/go-cleanerupper/cleanerupper.go
  container_images/cleanerupper/go-cleanerupper/cleanerupper_test.go
  container_images/cleanerupper/go-cleanerupper/go.mod
  container_images/cleanerupper/go-cleanerupper/go.sum
  container_images/cleanerupper/go.sum
  container_images/cleanerupper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Don't delete resources named do-not-delete
  container_images/cleanerupper/go-cleanerupper/cleanerupper.go
  container_images/cleanerupper/go-cleanerupper/cleanerupper_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Revert cleanerupper main
  container_images/cleanerupper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  container_images/cleanerupper/go-cleanerupper/cleanerupper.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

revert revert of cleanerupper
  container_images/cleanerupper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  container_images/cleanerupper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Don't delete resources named do-not-delete (#940)
  container_images/cleanerupper/go-cleanerupper/cleanerupper.go
  container_images/cleanerupper/go-cleanerupper/cleanerupper_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

package build: downgrade golang to 1.21.3
  packagebuild/common.sh
Due: none

package build: downgrade golang to 1.21.3 (#941)
  packagebuild/common.sh
Due: none
