Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Fix rocky linux optimized name.
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix rocky linux optimized name. (#497)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

[new golang build policy] upgrade presubmit golang version to 1.16
  container_images/gobuild/Dockerfile
Due: none

change google-owned packages golang version
  packagebuild/common.sh
Due: none

change google build complier to the latest:
  packagebuild/common.sh
Due: none

[new golang build policy] upgrade presubmit golang version to 1.16 (#498)
  container_images/gobuild/Dockerfile
  packagebuild/common.sh
Due: none

replace goo go get with go install
  container_images/gocheck/Dockerfile
  container_images/gointegtest/Dockerfile
  container_images/gotest/Dockerfile
  packagebuild/daisy_startupscript_goo.sh
Due: none

replace goo go get with go install (#499)
  container_images/gocheck/Dockerfile
  container_images/gointegtest/Dockerfile
  container_images/gotest/Dockerfile
  packagebuild/daisy_startupscript_goo.sh
Due: none

RHUI: Prod currently uses us-east1 only (#467)
  concourse/pipelines/rhui-release.jsonnet
Due: prow/presubmit/fly-validate-pipelines

RHUI release: Require manual trigger
  concourse/pipelines/rhui-release.jsonnet
Due: prow/presubmit/fly-validate-pipelines

RHUI release: Require manual trigger (#500)
  concourse/pipelines/rhui-release.jsonnet
Due: prow/presubmit/fly-validate-pipelines

RHUI release: Prod is us-central1
  concourse/pipelines/rhui-release.jsonnet
Due: prow/presubmit/fly-validate-pipelines

RHUI release: Prod is us-central1 (#501)
  concourse/pipelines/rhui-release.jsonnet
Due: prow/presubmit/fly-validate-pipelines

support underscores in packagebuild container
  container_images/daisy-builder/main.sh
Due: none

support underscores in packagebuild container (#502)
  container_images/daisy-builder/main.sh
Due: none

Update windows-image-build.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update triggers in windows pipeline
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Flip logic of trigger statement
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update triggers in windows pipeline (#503)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add ubuntu proposed images for validation
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

correct typo
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add ubuntu proposed images for validation (#504)
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add groups to partner validations
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add groups to partner validations (#505)
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

support aussie licenses
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

support aussie licenses (#506)
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add windows client builds into concourse pipeline
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

logging package contents
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_rpm.sh
Due: none

logging package contents (#508)
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_rpm.sh
Due: none

Merging updates from trigger changes
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add windows clients to windows_images
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix syntax in local variable decalaration
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix syntax in variable declarations
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

remove EricEdens from OWNERS
  OWNERS
Due: none

remove EricEdens from OWNERS (#510)
  OWNERS
Due: none

Split client and server publish jobs and image groups
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update windows_images to split images variables
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update+relocate publish job dependencies in template
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix publishjob for clients
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Syntax fix
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines
