Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Add tag to resource_type in pipeline-set-pipelines (#959)
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

render-template: enable debug for resource type
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

render-template: enable debug for resource type (#960)
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

render-template: set the image resource a name
  concourse/tasks/render-templates.yaml
Due: none

package build: add registry-image-private resource type
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Bump CIT go version from 1.20 to 1.21
  imagetest/Dockerfile
  imagetest/go.mod
Due: none

package build: add registry-image-private resource type (#962)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

package build: don't use google_auth for resource type
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

package build: don't use google_auth for resource type (#963)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Bump CIT go version from 1.20 to 1.21 (#964)
  imagetest/Dockerfile
  imagetest/go.mod
Due: none

Test that nvme udev rules are triggering and creating device symlinks from the name
  imagetest/test_suites/disk/block_device_naming_test.go
  imagetest/test_suites/disk/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/test_suites/disk/block_device_naming_test.go
  imagetest/test_suites/disk/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Switch dist list to a slice
  imagetest/test_suites/disk/block_device_naming_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Sleep for a longer interval when getting results
  imagetest/test_suites/networkperf/performance_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add tryt catch to ps1 networkperf startup scripts
  imagetest/test_suites/networkperf/startupscripts/windows_clientstartup.ps1
  imagetest/test_suites/networkperf/startupscripts/windows_serverstartup.ps1
Due: none

write standard output to logs
  imagetest/test_suites/networkperf/startupscripts/windows_clientstartup.ps1
  imagetest/test_suites/networkperf/startupscripts/windows_serverstartup.ps1
Due: none

Add try catch to ps1 networkperf startup scripts (#967)
  imagetest/test_suites/networkperf/startupscripts/windows_clientstartup.ps1
  imagetest/test_suites/networkperf/startupscripts/windows_serverstartup.ps1
Due: none

Define registry-image-private in a template and import it across pipelines that need it
  concourse/pipelines/artifact-releaser-test.jsonnet
  concourse/pipelines/partner-image-validations.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Check for google-cloud-cli on all (non suse) distros, falling back to google-cloud-sdk if necessary
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

strings.Contains -> slices.Contains
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

don't check for google-cloud-cli on ubuntu, TODO check snaps
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Check for google-cloud-cli on all (non suse) distros, falling back to google-cloud-sdk if neccessary (#969)
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Define registry-image-private in a template and import it across pipelines that need it (#968)
  concourse/pipelines/artifact-releaser-test.jsonnet
  concourse/pipelines/partner-image-validations.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Revert || back to &&
  imagetest/test_suites/networkperf/gvnic_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Change && to ||
  imagetest/test_suites/networkperf/gvnic_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update Networkperf startup scripts
  imagetest/test_suites/networkperf/performance_test.go
  imagetest/test_suites/networkperf/setup.go
  imagetest/test_suites/networkperf/startupscripts/linux_clientstartup.sh
  imagetest/test_suites/networkperf/startupscripts/linux_common.sh
  imagetest/test_suites/networkperf/startupscripts/linux_serverstartup.sh
  imagetest/test_suites/networkperf/startupscripts/netclient_startup.sh
  imagetest/test_suites/networkperf/startupscripts/netserver_startup.sh
  imagetest/test_suites/networkperf/startupscripts/windows_clientstartup.ps1
  imagetest/test_suites/networkperf/startupscripts/windows_common.ps1
  imagetest/test_suites/networkperf/startupscripts/windows_serverstartup.ps1
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

nit
  imagetest/test_suites/networkperf/performance_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Move the mdsmtls test suite to a guestagent test suite to test agent features (#950)
  imagetest/cmd/manager/main.go
  imagetest/cmd/wrapper/main.go
  imagetest/test_suites/guestagent/mds_mtls_test.go
  imagetest/test_suites/guestagent/setup.go
  imagetest/test_suites/guestagent/telemetry.go
  imagetest/utils/metadata.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Windows accout password test
  imagetest/test_suites/cvm/setup.go
  imagetest/test_suites/guestagent/setup.go
  imagetest/test_suites/guestagent/windows_account_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Change URL to URI, have more accurate error message upon seeing wrong unit of measurement
  imagetest/test_suites/networkperf/performance_test.go
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove RHEL 8.1 for SAP from build pipeline.
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove RHEL 8.1 for SAP from build pipeline. (#973)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update Networkperf Tests (#970)
  imagetest/test_suites/networkperf/performance_test.go
  imagetest/test_suites/networkperf/setup.go
  imagetest/test_suites/networkperf/startupscripts/linux_clientstartup.sh
  imagetest/test_suites/networkperf/startupscripts/linux_common.sh
  imagetest/test_suites/networkperf/startupscripts/linux_serverstartup.sh
  imagetest/test_suites/networkperf/startupscripts/netclient_startup.sh
  imagetest/test_suites/networkperf/startupscripts/netserver_startup.sh
  imagetest/test_suites/networkperf/startupscripts/windows_clientstartup.ps1
  imagetest/test_suites/networkperf/startupscripts/windows_common.ps1
  imagetest/test_suites/networkperf/startupscripts/windows_serverstartup.ps1
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update README to be more readable (hopefully), create README for OSLogin test suite setup.
  imagetest/test_suites/README.md
  imagetest/test_suites/oslogin/README.md
Due: none

Update Networkperf startup scripts
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Change URL to URI, have more accurate error message upon seeing wrong unit of measurement
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update CVM test suite documentation, add documentation for 2FA users setup for OSLogin test suite.
  imagetest/test_suites/README.md
  imagetest/test_suites/oslogin/README.md
Due: none

Update README (#975)
  imagetest/test_suites/README.md
  imagetest/test_suites/oslogin/README.md
Due: none
