Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Change oslogin testing project to the new test project
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

nit
  imagetest/test_suites/oslogin/oslogin_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

DO NOT MERGE presubmit testing
  imagetest/fixtures_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

guest agent: add a pipeline for a development branch (#908)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Wait for fio to finish installing on linux
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix boolean conditoin
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Return publish steps
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Formatting fix
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Re-comment out publish steps
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Create working admin/sudo tests
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add some comments to getSudoFile
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove erroneous printf
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix comment
  imagetest/test_suites/storageperf/iops_read_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Re-enable publish to allow testing
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Re-enable publish to allow testing (#913)
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Build CIT in gobuild, test all modules and generate combined test and code coverage reports in gotest, and vet all modules in gocheck
  container_images/citpresubmit/main.sh
  container_images/gobuild/main.sh
  container_images/gocheck/main.sh
  container_images/gotest/main.sh
  container_images/registry-image-forked/in_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

File sync call (#909)
  imagetest/test_suites/hotattach/hot_attach_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

package-build: add missing field
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Don't handle govet in citpresubmit, use local_build.sh for building CIT. Test workflow generation when building.
  container_images/citpresubmit/main.sh
  container_images/registry-image-forked/in_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

package-build: add missing field (#915)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Handle either build or test in citpresubmit, to be provided by prow presubmit config args
  container_images/citpresubmit/main.sh
Due: none

Make gotest run more easily outside of a container and make workflow generation in citpresubmit informational only for now
  container_images/citpresubmit/main.sh
  container_images/gotest/main.sh
Due: none

Revamp guest-test-infra presubmit checks (#916)
  container_images/citpresubmit/main.sh
  container_images/gotest/main.sh
  container_images/registry-image-forked/in_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Use install function in go over startup script
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

guest-agent-dev: don't add tags to github
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

guest-agent-dev: don't add tags to github (#918)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Block CIT submission on successful workflow generation
  container_images/citpresubmit/main.sh
Due: none

Remove unncessary -s arg in cit presubmit, use all suites as the default
  container_images/citpresubmit/main.sh
Due: none

Block CIT submission on successful workflow generation (#919)
  container_images/citpresubmit/main.sh
Due: none

Wait for fio to finish installing on linux (#912)
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Print string instead of float
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Json number
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Select test projects evenly but in a randomized order
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Select test projects evenly but in a randomized order (#921)
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix quotation issue in json annotation
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Retry network performance results upload three times
  imagetest/test_suites/networkperf/performance_test.go
  imagetest/test_suites/networkperf/startupscripts/netclient_startup.sh
  imagetest/test_suites/networkperf/startupscripts/windows_clientstartup.ps1
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Retry network performance results fetch three times (#910)
  imagetest/test_suites/networkperf/performance_test.go
  imagetest/test_suites/networkperf/startupscripts/netclient_startup.sh
  imagetest/test_suites/networkperf/startupscripts/windows_clientstartup.ps1
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Build and publish windows upgrade test container
  concourse/pipelines/container-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
