Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gocheck/cleanerupper, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/cit, prow/presubmit/gotest/cleanerupper, prow/presubmit/gotest/registryimage

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck/root: any of: \.go$
  prow/presubmit/gocheck/cit: any of: imagetest.*\.go$
  prow/presubmit/gocheck/cleanerupper: any of: container_images/cleanerupper.*\.go$
  prow/presubmit/gocheck/registryimage: any of: container_images/registry-image-forked.*\.go$
  prow/presubmit/gobuild/root: any of: (\.go|go\.mod|go\.sum)$
  prow/presubmit/gobuild/cit: any of: imagetest/.*(\.go|go\.mod|go\.sum|Dockerfile|\.sh)$
  prow/presubmit/gobuild/cleanerupper: any of: container_images/cleanerupper.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gobuild/registryimage: any of: container_images/registry-image-forked.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/root: any of: (\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/cit: any of: imagetest.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/cleanerupper: any of: container_images/cleanerupper.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/registryimage: any of: container_images/registry-image-forked.*(\.go|go\.mod|go\.sum)$

Account for rhel-sap-byos and architecture suffixes in licensevalidation (#1061)
  imagetest/test_suites/licensevalidation/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Fix wrapper workdir creation on windows
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Avoid running alias tests in the first place if they'll fail
  imagetest/test_suites/network/alias_ip_test.go
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

stop using deprecated ioutil functions
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Integrate rhel and rhel-byos licensevalidation rules, use image name rather than family name
  imagetest/test_suites/licensevalidation/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Add better support for COS, SLES, and Ubuntu in the network suite. (#1058)
  imagetest/test_suites/network/alias_ip_test.go
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Fix wrapper workdir creation on windows (#1062)
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Integrate rhel and rhel-byos licensevalidation rules, use image name rather than family name (#1063)
  imagetest/test_suites/licensevalidation/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Disable license testing on linux again
  imagetest/test_suites/licensevalidation/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Add template for artifact registry package upload task
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove extra quotations
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Disable license testing on linux again (#1064)
  imagetest/test_suites/licensevalidation/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Change environment to staging
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Exclude 4th gen machine type testing from release piplines (#1057)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Exclude licensevalidation in guest agent integration test pipelines
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix and enable linux license testing
  imagetest/test_suites/licensevalidation/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

gofmt
  imagetest/test_suites/licensevalidation/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Fields in alphabetical order
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add one use case for the new concourse task
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Don't delete el9 diskexpand task
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Run linux image test pipelines in us-central1-c
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Run linux image test pipelines in us-central1-c (#1067)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Run linux image test pipelines in us-central1-b
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Run linux image test pipelines in us-central1-b (#1068)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Take base name of region in all cases for networkperf
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Take base name of region in all cases for networkperf (#1069)
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Add winrm test suite
  imagetest/cmd/manager/main.go
  imagetest/test_suites/winrm/setup.go
  imagetest/test_suites/winrm/winrm_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Pass in repo name
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add winrm test suite (#1070)
  imagetest/cmd/manager/main.go
  imagetest/test_suites/winrm/setup.go
  imagetest/test_suites/winrm/winrm_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Avoid line breaks when getting agent output on windows
  imagetest/test_suites/guestagent/telemetry_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

skip alias testing on ubuntu-pro-1604
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Check IP configuration in network test suite (#1059)
  imagetest/test_suites/network/setup.go
  imagetest/test_suites/network/static_ip_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Fix and enable linux license validation, exclude from guest package integration test pipelines (#1066)
  concourse/pipelines/guest-package-build.jsonnet
  imagetest/test_suites/licensevalidation/setup.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Avoid line breaks when getting agent output on windows (#1071)
  imagetest/test_suites/guestagent/telemetry_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Remove passed in reponame field
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Adding RHEL9 C3M to build workflow
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Adding RHEL9 C3M to build workflow (#1072)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Ad dback environment to the request
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add rhel c3m image support in licensevalidation
  imagetest/test_suites/licensevalidation/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Add rhel c3m image support in licensevalidation (#1073)
  imagetest/test_suites/licensevalidation/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit
