Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Add container build/publish pipeline and task
  concourse/pipelines/windows-image-build.yaml
  concourse/tasks/daisy-build-images-windows-container.yaml
Due: prow/presubmit/fly-validate-pipelines

Correct the passed step names
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Remove unused input from task
  concourse/tasks/daisy-build-images-windows-container.yaml
Due: none

Update naming and references as suggested in PR
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Update the naming and fix PR validation error
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Fix windows sql build task
  concourse/tasks/daisy-build-images-windows-sql.yaml
Due: none

Fix windows sql build task (#317)
  concourse/tasks/daisy-build-images-windows-sql.yaml
Due: none

Add SQL server build. Change relase to test trigger
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add SQL server build. Change relase to test (#318)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

add skip_download to windows builds
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

add skip_download to windows builds (#319)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

mergerprep
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Update triggered resources Add skip_download: "true"
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Some packages have license info in their README file.
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Some packages have license info in their README file. (#321)
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

dont check readme
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix tag
  imagetest/test_suites/image_validation/license_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

CIT: more SLES fixes (#304)
  imagetest/test_suites/image_validation/license_test.go
  imagetest/test_suites/image_validation/package_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update triggered resources (#320)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

add groups for windows pipeline
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

add groups for windows pipeline (#322)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Update the container build workflow
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

fix yaml white space and naming
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add container build/publish pipeline and task (#316)
  concourse/pipelines/windows-image-build.yaml
  concourse/tasks/daisy-build-images-windows-container.yaml
Due: prow/presubmit/fly-validate-pipelines

Add missing vars to the container workflow
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add missing vars to the container workflow (#323)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Fix container task var
  concourse/tasks/daisy-build-images-windows-container.yaml
Due: none

Fix container task var (#324)
  concourse/tasks/daisy-build-images-windows-container.yaml
Due: none

Fix missing var in container task
  concourse/tasks/daisy-build-images-windows-container.yaml
Due: none

Fix missing var in container task (#325)
  concourse/tasks/daisy-build-images-windows-container.yaml
Due: none

Update gcs naming to match workflows
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Updat the jobs names as per feedback
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Update gcs naming to match publish workflows (#326)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Fix param input
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Fix param input (#327)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add ROLLOUT_RATE param in daisy publish image task
  concourse/tasks/daisy-publish-images.yaml
Due: none

Set ROLLOUT_RATE to 0 for publish to testing
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

remove white space
  concourse/tasks/daisy-publish-images.yaml
Due: none

Move rollour rate support to individual task
  concourse/tasks/daisy-publish-images-fast-rollout.yaml
Due: none

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
