Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Skip the c3d family during storageperf testing on windows 2012 and 2016 (#802)
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update test suite documentation for networkperf and cvm test suites
  imagetest/test_suites/README.md
Due: none

Rename TestPerformance to TestNetworkPerformance
  imagetest/test_suites/README.md
Due: none

windows balanced changes
  imagetest/cmd/manager/main.go
  imagetest/test_suites/pdbalanceperf/iops_read_test.go
  imagetest/test_suites/pdbalanceperf/iops_write_test.go
  imagetest/test_suites/pdbalanceperf/startupscripts/install_fio.ps1
  imagetest/test_suites/pdbalanceperf/storage_perf_balanced_utils.go
  imagetest/test_suites/storageperf/startupscripts/install_fio.ps1
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update README documentation for networkperf and CVM test suites. (#803)
  imagetest/test_suites/README.md
Due: none

use second disk for pd balanced testing
  imagetest/test_suites/pdbalanceperf/iops_read_test.go
  imagetest/test_suites/pdbalanceperf/iops_write_test.go
  imagetest/test_suites/pdbalanceperf/setup.go
  imagetest/test_suites/pdbalanceperf/startupscripts/install_fio.ps1
  imagetest/test_suites/pdbalanceperf/storage_perf_balanced_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add CIT presubmit container
  concourse/pipelines/container-build.jsonnet
  container_images/citpresubmit/Dockerfile
  container_images/citpresubmit/main.sh
Due: prow/presubmit/fly-validate-pipelines

pd balanced tests
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Use physical drive for windows read
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Change to bw
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add CIT presubmit container (#805)
  concourse/pipelines/container-build.jsonnet
  container_images/citpresubmit/Dockerfile
  container_images/citpresubmit/main.sh
Due: prow/presubmit/fly-validate-pipelines

pd balanced tests (#806)
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix json unmarshal error
  imagetest/test_suites/storageperf/setup.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Install go-junit-report in the cit presubmit container
  container_images/citpresubmit/Dockerfile
Due: none

Install go-junit-report in the cit presubmit container (#808)
  container_images/citpresubmit/Dockerfile
Due: none

Change to imagetest directory in CIT presubmit even when $BUILD_DIR is unset
  container_images/citpresubmit/main.sh
Due: none

Change to imagetest directory in CIT presubmit even when $BUILD_DIR is unset (#809)
  container_images/citpresubmit/main.sh
Due: none

Install all dependencies for dockerfile
  container_images/citpresubmit/Dockerfile
Due: none

Install all dependencies for dockerfile (#810)
  container_images/citpresubmit/Dockerfile
Due: none

Add Getent Group tests for OSLogin
  imagetest/test_suites/oslogin/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix existing presubmit failures that slipped through the presubmit gap.
  imagetest/fixtures.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Change print item formatting
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Print integer in formatting correctly
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix presubmit
  imagetest/fixtures.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix existing presubmit failures that slipped through the presubmit gap. (#812)
  imagetest/fixtures.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix json unmarshal error (#807)
  imagetest/test_suites/storageperf/setup.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove dash in linux command
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove dash in linux command (#813)
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix el7 disk partition condition
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix el7 disk partition condition (#814)
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Hotattach fix, storageperf machine types
  imagetest/test_suites/hotattach/hot_attach_test.go
  imagetest/test_suites/hotattach/setup.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Hotattach fix, storageperf machine types (#815)
  imagetest/test_suites/hotattach/hot_attach_test.go
  imagetest/test_suites/hotattach/setup.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Windows write test fix
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/startupscripts/install_fio.ps1
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Pass down machine types through TestWorkflow
  imagetest/cmd/manager/main.go
  imagetest/fixtures.go
  imagetest/test_suites/networkperf/performance_test.go
  imagetest/test_suites/networkperf/setup.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Nits
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Nits
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix fixtures test
  imagetest/fixtures_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Windows write test fix (#816)
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/startupscripts/install_fio.ps1
  imagetest/test_suites/storageperf/storage_perf_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest
