Repository GoogleCloudPlatform/osconfig: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/packagebuild, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/packagebuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/daisy-builder:latest
      command:
      - /main.sh
      args:
      - gcp-guest
      - us-west1-a
      - deb10,deb11_arm64,el7,el8,el8_arm64,el9,el9_arm64,goo

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

update go-cmp dependency
  go.mod
  go.sum
Due: none

update go-cmp dependency (#604)
  go.mod
  go.sum
Due: none

Update cis-level1-once-a-day-policy.yaml
  examples/OSPolicyAssignments/console/CIS/cis-level1-once-a-day-policy.yaml
Due: none

Update to the CIS OS policy samples
  examples/OSPolicyAssignments/console/CIS/cis-exclude-check-once-a-day.yaml
  examples/OSPolicyAssignments/console/CIS/cis-level1-once-an-hour-policy.yaml
  examples/OSPolicyAssignments/console/CIS/cis-level2-once-a-day-policy.yaml
Due: none

Update Apt e2e tests to pull osconfig-agent pkg from new AR repos instead of rapture
  e2e_tests/test_suites/guestpolicies/guest_policies_utils.go
  e2e_tests/test_suites/inventory/test_setup.go
  e2e_tests/test_suites/inventoryreporting/test_setup.go
  e2e_tests/test_suites/ospolicies/ospolicies_utils.go
  e2e_tests/test_suites/patch/test_setup.go
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix golint comment
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

bump golang.org/x/crypto version
  go.mod
  go.sum
Due: none

bump golang.org/x/crypto version (#613)
  go.mod
  go.sum
Due: none

Allow Apt & Yum e2e tests to pull osconfig-agent pkg from testing repos
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix golint comments
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix SUSE e2e tests
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Allow Windows e2e tests to pull osconfig-agent pkg from testing (private) repos from Artifact registry
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add source field to PkgInfo type.
  packages/apt_deb_test.go
  packages/cos_test.go
  packages/googet_test.go
  packages/packages.go
  packages/rpm_test.go
  packages/yum_test.go
  packages/zypper_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Disable centos-stream-8 tests as it reached EOL in May 31
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Disable centos-stream-8 tests as it reached EOL in May 31 (#617)
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix the logic of pick region for Artifact Registry function
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix the logic of pick region for Artifact Registry function (#618)
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Disable SUSE tests to run with testing agent repo
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Disable SUSE tests to run with testing agent repo (#619)
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove +win from the package file name
  packaging/googet/google-osconfig-agent.goospec
Due: prow/presubmit/packagebuild

Update e2e tests to use VMM team's GCP project for pkgs testing version
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update e2e tests to use VMM team's GCP project for pkgs testing version (#621)
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Refactor tests for apt-get
  packages/apt_deb_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Extract source name and version for dpkg packages.
  packages/apt_deb.go
  packages/apt_deb_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Extract source name and version for dpkg packages. (#622)
  packages/apt_deb.go
  packages/apt_deb_test.go
  packages/cos_test.go
  packages/googet_test.go
  packages/packages.go
  packages/rpm_test.go
  packages/yum_test.go
  packages/zypper_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

extract rpm source name
  packages/apt_deb.go
  packages/apt_deb_test.go
  packages/packages.go
  packages/packages_test.go
  packages/rpm.go
  packages/rpm_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix(dpkg) return onlt installed items as inventory
  packages/apt_deb.go
  packages/apt_deb_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Extract source_name(source_rpm) for rpm packages
  config/package_resource_test.go
  packages/apt_deb.go
  packages/apt_deb_test.go
  packages/packages.go
  packages/packages_test.go
  packages/rpm.go
  packages/rpm_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix(dpkg) return onlt installed items as inventory (#623)
  packages/apt_deb.go
  packages/apt_deb_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

run gofmt on new files
  packages/apt_deb.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

refactor rpm tests to table approach
  packages/apt_deb_test.go
  packages/rpm_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

update comment
  packages/packages.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

update README.md file
  README.md
Due: none

update README.md file (#625)
  README.md
Due: none

Extract source_name(source_rpm) for rpm packages (#624)
  config/package_resource_test.go
  packages/apt_deb.go
  packages/apt_deb_test.go
  packages/packages.go
  packages/packages_test.go
  packages/rpm.go
  packages/rpm_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Adding Architecture to the packages being installed/updated in yum repo
  agentendpoint/inventory.go
  agentendpoint/inventory_test.go
  attributes/attributes_test.go
  config/package_resource_test.go
  ospatch/yum_update.go
  ospatch/yum_update_test.go
  ospatch/zypper_patch_test.go
  packages/apt_deb.go
  packages/apt_deb_test.go
  packages/cos.go
  packages/cos_test.go
  packages/gem.go
  packages/googet.go
  packages/googet_test.go
  packages/packages.go
  packages/pip.go
  packages/rpm_test.go
  packages/yum.go
  packages/yum_test.go
  packages/zypper.go
  packages/zypper_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update old SLES images urls
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update old SLES images urls (#627)
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

update readme file
  README.md
Due: none

Adding just a Raw Architecture field to the packages being installed/updated in yum repo.
  agentendpoint/inventory.go
  agentendpoint/inventory_test.go
  attributes/attributes_test.go
  config/package_resource_test.go
  ospatch/yum_update.go
  ospatch/zypper_patch_test.go
  packages/apt_deb.go
  packages/apt_deb_test.go
  packages/cos.go
  packages/cos_test.go
  packages/gem.go
  packages/googet.go
  packages/googet_test.go
  packages/packages.go
  packages/pip.go
  packages/rpm_test.go
  packages/yum.go
  packages/yum_test.go
  packages/zypper.go
  packages/zypper_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/packagebuild: any of: packaging/.*
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
