Repository GoogleCloudPlatform/guest-agent: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

Path conditions:
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
  prow/presubmit/packagebuild: any of: packaging/.*

Update logging library
  go.mod
  go.sum
Due: none

Update logging library (#479)
  go.mod
  go.sum
Due: none

Implement support for vlan dynamic removal, update dhclient to remove only if configured (#465)
  google_guest_agent/network/manager/common.go
  google_guest_agent/network/manager/common_test.go
  google_guest_agent/network/manager/dhclient_linux.go
  google_guest_agent/network/manager/dhclient_linux_test.go
  google_guest_agent/network/manager/netplan_linux.go
  google_guest_agent/network/manager/netplan_linux_test.go
  google_guest_agent/network/manager/wicked_linux.go
  utils/file.go
  utils/file_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

networkd(vlan): remove the interface in addition to config (#468)
  google_guest_agent/network/manager/systemd_networkd_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip interfaces in interfaceNames() instead of erroring if there is an invalid MAC
  google_guest_agent/network/manager/common.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix Debian packaging if guest agent manager is not checked out
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Fix Debian packaging if guest agent manager is not checked out (#485)
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Remove Amy and Zach from OWNERS
  OWNERS
Due: none

vlan: don't index based on the vlan ID
  google_guest_agent/network/manager/common.go
  google_guest_agent/network/manager/common_test.go
  google_guest_agent/network/manager/dhclient_linux_test.go
  google_guest_agent/network/manager/manager.go
  google_guest_agent/network/manager/manager_test.go
  google_guest_agent/network/manager/netplan_linux.go
  google_guest_agent/network/manager/netplan_linux_test.go
  google_guest_agent/network/manager/network_manager_linux_test.go
  google_guest_agent/network/manager/systemd_networkd_linux_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip interfaces in interfaceNames() instead of erroring if there is an (#482)
  google_guest_agent/network/manager/common.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove Amy and Zach from OWNERS (#487)
  OWNERS
Due: none

Revert PR #482
  google_guest_agent/network/manager/common.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Revert PR #482 (#488)
  google_guest_agent/network/manager/common.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

vlan: don't index based on the vlan ID (#486)
  google_guest_agent/network/manager/common.go
  google_guest_agent/network/manager/common_test.go
  google_guest_agent/network/manager/dhclient_linux_test.go
  google_guest_agent/network/manager/manager.go
  google_guest_agent/network/manager/manager_test.go
  google_guest_agent/network/manager/netplan_linux.go
  google_guest_agent/network/manager/netplan_linux_test.go
  google_guest_agent/network/manager/network_manager_linux_test.go
  google_guest_agent/network/manager/systemd_networkd_linux_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Include interfaces in lists even if it has an invalid MAC, but skip them when actually setting up interfaces
  google_guest_agent/network/manager/common.go
  google_guest_agent/network/manager/common_test.go
  google_guest_agent/network/manager/dhclient_linux.go
  google_guest_agent/network/manager/netplan_linux.go
  google_guest_agent/network/manager/network_manager_linux.go
  google_guest_agent/network/manager/systemd_networkd_linux.go
  google_guest_agent/network/manager/wicked_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix windows package build failures
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild

Fix windows package build failures (#491)
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild

Move valid check to isInvalid function, add some comments
  google_guest_agent/network/manager/common.go
  google_guest_agent/network/manager/dhclient_linux.go
  google_guest_agent/network/manager/netplan_linux.go
  google_guest_agent/network/manager/network_manager_linux.go
  google_guest_agent/network/manager/systemd_networkd_linux.go
  google_guest_agent/network/manager/wicked_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Start bundling ggactl_plugin_cleanup binary in all agent packages
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Include interfaces in lists even if it has an invalid MAC. (#489)
  google_guest_agent/network/manager/common.go
  google_guest_agent/network/manager/common_test.go
  google_guest_agent/network/manager/dhclient_linux.go
  google_guest_agent/network/manager/netplan_linux.go
  google_guest_agent/network/manager/network_manager_linux.go
  google_guest_agent/network/manager/systemd_networkd_linux.go
  google_guest_agent/network/manager/wicked_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add clarification to comments regarding invalid nics and tagging
  google_guest_agent/network/manager/common.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add some examples on why maintaining indices is important
  google_guest_agent/network/manager/common.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add clarification to comments regarding invalid NICs and the `invalid` tag. (#493)
  google_guest_agent/network/manager/common.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

vlan: move config out of unstable section
  google_guest_agent/cfg/cfg.go
  google_guest_agent/network/manager/manager.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

vlan: move config out of unstable section (#494)
  google_guest_agent/cfg/cfg.go
  google_guest_agent/network/manager/manager.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

vlan: toggle vlan configuration in debian packaging
  instance_configs.cfg
  packaging/debian/rules
Due: prow/presubmit/packagebuild

vlan: toggle vlan configuration in debian packaging (#495)
  instance_configs.cfg
  packaging/debian/rules
Due: prow/presubmit/packagebuild

force concourse to move version forward.
  README.md
Due: none

Introduce compat-manager systemd unit
  google-guest-compat-manager.service
Due: none

Introduce compat-manager systemd unit (#497)
  google-guest-compat-manager.service
Due: none

scripts: introduce a wrapper to locally build deb package
  build-deb.sh
Due: none

scripts: introduce a wrapper to locally build deb package (#490)
  build-deb.sh
Due: none

Start bundling ggactl_plugin_cleanup binary in all agent packages (#492)
  packaging/debian/prerm
  packaging/debian/rules
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Start packaging compat manager
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Start packaging compat manager (#498)
  packaging/debian/rules
  packaging/googet/agent_install.ps1
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Update crypto library to fix CVE-2024-45337
  go.mod
  go.sum
Due: none

Update crypto library to fix CVE-2024-45337 (#499)
  go.mod
  go.sum
Due: none

Include core plugin binary for all packages
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Include core plugin binary for all packages (#500)
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Fix typo in windows build script
  packaging/googet/windows_agent_build.sh
Due: prow/presubmit/packagebuild
