Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Accept IPv6 DHCP client port.
  imagetest/test_suites/security/image_security_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Accept IPv6 DHCP client port. (#647)
  imagetest/test_suites/security/image_security_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add bookworm to Concourse image build & test pipeline
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add Debian 12 prefixes
  concourse/templates/common.libsonnet
Due: none

Add bookworm to Concourse image build (#648)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Deal with CentOS Stream failures.
  imagetest/test_suites/image_boot/image_boot_test.go
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Deal with CentOS Stream failures. (#649)
  imagetest/test_suites/image_boot/image_boot_test.go
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update go version in the go integration container
  container_images/gointegtest/common.sh
Due: none

Cleanup old partner test config.
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Cleanup unused baremetal image pipeline.
  concourse/pipelines/README.md
  concourse/pipelines/bare-metal-image-build.yaml
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

Cleanup unused baremetal image pipeline. (#652)
  concourse/pipelines/README.md
  concourse/pipelines/bare-metal-image-build.yaml
  concourse/pipelines/pipeline-set-pipeline.yaml
Due: prow/presubmit/fly-validate-pipelines

Cleanup old partner test config. (#651)
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Re-enable CentOS Stream 9 hostname tests.
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Re-enable CentOS Stream 9 hostname tests. (#653)
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update Windows pipeline container build+publish
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add auto build trigger to container build jobs
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove extra trigger from container build
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update Windows build pipeline container image builds (#654)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Revert the boot time test change for CentOS Stream 8 (they fixed it).
  imagetest/test_suites/image_boot/image_boot_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Revert the boot time test change for CentOS Stream 8 (they fixed it). (#655)
  imagetest/test_suites/image_boot/image_boot_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix image validation test.
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix image validation test. (#656)
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update arle.libsonnet
  concourse/templates/arle.libsonnet
Due: none

Update arle.libsonnet (#657)
  concourse/templates/arle.libsonnet
Due: none

Skip custom hostname test for CentOS Stream 9.
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip custom hostname test for CentOS Stream 9. (#658)
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Also skip custom hostname test on RHEL 9.
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Also skip custom hostname test on RHEL 9. (#659)
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add package build script
  packagebuild/test_build.sh
Due: none

Add package build script (#660)
  packagebuild/test_build.sh
Due: none

Use GCC 10 for EL7 rpm package builds
  packagebuild/daisy_startupscript_rpm.sh
  packagebuild/test_build.sh
Due: none

Use GCC 10 for EL7 rpm package builds (#661)
  packagebuild/daisy_startupscript_rpm.sh
  packagebuild/test_build.sh
Due: none

Split the packages installation into two separate commands
  packagebuild/daisy_startupscript_rpm.sh
Due: none

Split the packages installation into two separate commands (#662)
  packagebuild/daisy_startupscript_rpm.sh
Due: none

Splitting DockerEE and DockerCE due to daisy variables
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Splitting DockerEE and DockerCE due to daisy variables (#663)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

sbom: introduce the sbom generation calls to packages build
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_rpm.sh
Due: none

sbom: introduce the sbom generation calls to packages build (#664)
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_rpm.sh
Due: none

sbom: fix rpm file lookup
  packagebuild/daisy_startupscript_rpm.sh
Due: none

Skip custom hostname test on all EL9 builds.
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest
