Repository GoogleCloudPlatform/guest-agent: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

prow/presubmit/gointeg:
  decorate: true
  labels:
    preset-daisy: 'true'
  spec:
    containers:
    - image: gcr.io/gcp-guest/gointegtest:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      env:
      - name: ZONE
        value: us-west1-b
      - name: PROJECT
        value: gcp-guest
      - name: GCS_BUCKET
  ...

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/packagebuild:
  decorate: true
  labels:
    preset-daisy: 'true'
  spec:
    containers:
    - image: gcr.io/gcp-guest/daisy-builder:latest
      command:
      - /main.sh
      args:
      - gcp-guest
      - us-west1-a
      - deb9,el7,el8,goo

repeat fix for arm (#169)
  packaging/debian/rules
Due: prow/presubmit/packagebuild

Remove log that can break startup scripts
  google_metadata_script_runner/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove log that can break startup scripts (#170)
  google_metadata_script_runner/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

update for golang 1.16
  go.mod
  go.sum
  packaging/debian/rules
Due: prow/presubmit/packagebuild

correct dependencies
  go.mod
  go.sum
Due: none

update for golang 1.16 (#171)
  go.mod
  go.sum
  packaging/debian/rules
Due: prow/presubmit/packagebuild

try restoring module mode
  packaging/debian/rules
Due: prow/presubmit/packagebuild

try restoring module mode (#172)
  packaging/debian/rules
Due: prow/presubmit/packagebuild

packaging/rpm: add explicit dependency on `/usr/bin/cp`
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

First round of refactor with userKeys
  google_guest_agent/non_windows_accounts.go
  utils/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add test for remove expired keys
  google_guest_agent/windows_accounts_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Recreated GetUserKey function in utils
  google_guest_agent/non_windows_accounts.go
  google_guest_agent/windows_accounts_test.go
  utils/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Added utils.RemoveExpiredKeys()
  google_guest_agent/non_windows_accounts.go
  utils/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

correct expired key handling
  google_guest_agent/non_windows_accounts.go
  utils/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

linter feedback
  utils/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

correct expired key handling (#175)
  google_guest_agent/non_windows_accounts.go
  utils/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Unit testing for expired key refactor
  google_guest_agent/windows_accounts_test.go
  utils/main.go
  utils/main_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

newline eof
  utils/main_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix test string format
  utils/main_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

initial gce_workload_cert_refresh impl
  gce_workload_certs_refresh/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fixed go file formatting
  utils/main.go
  utils/main_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Expired key tests (#176)
  google_guest_agent/windows_accounts_test.go
  utils/main.go
  utils/main_test.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add logs, constants
  gce_workload_certs_refresh/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

golint fixes
  gce_workload_certs_refresh/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

log fatal on failure
  gce_workload_certs_refresh/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

change retry logic
  gce_workload_certs_refresh/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add members to OWNERS
  OWNERS
Due: none

add members to OWNERS (#178)
  OWNERS
Due: none

Workload certs (#177)
  gce_workload_certs_refresh/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

update workload_cert permissions
  gce_workload_certs_refresh/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add systemd units for cert refresh
  google-workload-cert-refresh.service
  google-workload-cert-refresh.timer
  packaging/debian/rules
Due: prow/presubmit/packagebuild

add timer copy step
  packaging/debian/rules
Due: prow/presubmit/packagebuild

start timer
  packaging/debian/rules
Due: prow/presubmit/packagebuild

fix typo
  google-workload-cert-refresh.service
Due: none

prune old workload certs; no fail on 404
  gce_workload_certs_refresh/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

standard naming
  gce-workload-cert-refresh.service
  gce-workload-cert-refresh.timer
  gce_workload_cert_refresh/main.go
  google-workload-cert-refresh.service
  packaging/debian/rules
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

add RPM support
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Workload certificate refresh (#182)
  gce-workload-cert-refresh.service
  gce-workload-cert-refresh.timer
  gce_workload_cert_refresh/main.go
  packaging/debian/rules
  packaging/google-guest-agent.spec
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

update workload_cert permissions (#180)
  gce_workload_cert_refresh/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

write workload cert status file
  gce_workload_cert_refresh/main.go
Due: prow/presubmit/gointeg, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/gointeg: any of: \.go$
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
  prow/presubmit/packagebuild: any of: packaging/
