Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Update publish-to-testing jobs to use fast rollout
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Move the rollout rate to daisy publish images task
  concourse/tasks/daisy-publish-images-fast-rollout.yaml
  concourse/tasks/daisy-publish-images.yaml
Due: none

revert the task reference
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

Add rollout rate support for the publish to testing (#328)
  concourse/tasks/daisy-publish-images.yaml
Due: none

fix the wf reference
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

fix the wf reference (#329)
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

add line coverage for guest agent
  concourse/pipelines/guest-package-build.yaml
  concourse/tasks/gotest.yaml
  concourse/tasks/publish-coverage.yaml
  container_images/concourse-metrics/Dockerfile
  container_images/concourse-metrics/cmd/publish-coverage/main.go
  container_images/concourse-metrics/pkg/requests/requests.go
  container_images/gotest/main.sh
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

strip percent sign
  container_images/gotest/main.sh
Due: none

add time-since-published
  concourse/pipelines/guest-package-build.yaml
  concourse/tasks/get-last-stable-tag.yaml
  container_images/concourse-metrics/Dockerfile
  container_images/concourse-metrics/cmd/publish-time-since/main.go
  container_images/concourse-metrics/pkg/requests/requests.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add time-since-last
  concourse/pipelines/guest-package-build.yaml
  concourse/tasks/get-last-stable-tag.yaml
Due: prow/presubmit/fly-validate-pipelines

add publish-time-since task
  concourse/tasks/publish-time-since.yaml
Due: none

Add SQL 2017/2019 on server 2022 build jobs
  concourse/pipelines/windows-image-build.yaml
Due: prow/presubmit/fly-validate-pipelines

address PR feedback
  concourse/tasks/publish-time-since.yaml
Due: none

Publish stable tags for guest-agent (#331)
  concourse/pipelines/guest-package-build.yaml
  concourse/tasks/get-last-stable-tag.yaml
  concourse/tasks/publish-time-since.yaml
  container_images/concourse-metrics/Dockerfile
  container_images/concourse-metrics/cmd/publish-time-since/main.go
  container_images/concourse-metrics/pkg/requests/requests.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add line coverage for guest agent (#330)
  concourse/pipelines/guest-package-build.yaml
  concourse/tasks/gotest.yaml
  concourse/tasks/publish-coverage.yaml
  container_images/concourse-metrics/Dockerfile
  container_images/concourse-metrics/cmd/publish-coverage/main.go
  container_images/concourse-metrics/pkg/requests/requests.go
  container_images/gotest/main.sh
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

initial jsonnet templating
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/set-pipeline.yaml
  concourse/tasks/render-templates.yaml
Due: prow/presubmit/fly-validate-pipelines

simplify jsonnet
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

add generated
  concourse/pipelines/linux-image-build.json
Due: prow/presubmit/fly-validate-pipelines

use basename when rendering
  concourse/pipelines/linux-image-build.jsonnet
  concourse/tasks/render-templates.yaml
Due: prow/presubmit/fly-validate-pipelines

build jsonnet-go container
  concourse/pipelines/container-build.yaml
  concourse/tasks/render-templates.yaml
  container_images/jsonnet-go/Dockerfile
Due: prow/presubmit/fly-validate-pipelines

remove generated json
  concourse/pipelines/linux-image-build.json
Due: prow/presubmit/fly-validate-pipelines

use JSONnet templates
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/linux-image-build.yaml
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/tasks/render-templates.yaml
  concourse/templates/common.libsonnet
  concourse/templates/daisy.libsonnet
Due: prow/presubmit/fly-validate-pipelines

add jsonnet containers
  container_images/fly-validate-pipelines/main.sh
  container_images/jsonnet-go/Dockerfile
Due: none

add jsonnet containers (#335)
  container_images/fly-validate-pipelines/main.sh
  container_images/jsonnet-go/Dockerfile
Due: none

remove centos-8
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

use JSONnet templates (#334)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/linux-image-build.yaml
  concourse/pipelines/pipeline-set-pipeline.yaml
  concourse/tasks/render-templates.yaml
  concourse/templates/common.libsonnet
  concourse/templates/daisy.libsonnet
Due: prow/presubmit/fly-validate-pipelines

add RHUI image builds
  concourse/pipelines/linux-image-build.jsonnet
  concourse/tasks/certbot-rhui.yaml
  concourse/templates/gcp-secret-manager.libsonnet
Due: prow/presubmit/fly-validate-pipelines

add jsonnet container build
  concourse/pipelines/container-build.yaml
Due: prow/presubmit/fly-validate-pipelines

add jsonnet container build (#337)
  concourse/pipelines/container-build.yaml
Due: prow/presubmit/fly-validate-pipelines

add container build deps
  concourse/pipelines/container-build.yaml
Due: prow/presubmit/fly-validate-pipelines

correct default zone
  concourse/templates/daisy.libsonnet
Due: none

correct default zone (#339)
  concourse/templates/daisy.libsonnet
Due: none

add container build deps (#338)
  concourse/pipelines/container-build.yaml
Due: prow/presubmit/fly-validate-pipelines

add RHUI image builds (#336)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/tasks/certbot-rhui.yaml
  concourse/templates/gcp-secret-manager.libsonnet
Due: prow/presubmit/fly-validate-pipelines

tee jsonnet output
  container_images/fly-validate-pipelines/main.sh
Due: none

tee jsonnet output (#340)
  container_images/fly-validate-pipelines/main.sh
Due: none

correct rhui daisy args
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/gcp-secret-manager.libsonnet
  concourse/templates/lego.libsonnet
Due: prow/presubmit/fly-validate-pipelines

fix typo
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

rename vars
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

use std.format for complex strings
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
