Repository GoogleCloudPlatform/guest-agent: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/packagebuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/daisy-builder:latest
      command:
      - /main.sh
      args:
      - gcp-guest
      - us-west1-a
      - deb12,deb12_arm64,deb11,el8,el8_arm64,el9,el9_arm64,goo

Add packaging for new telemetry extension (#599)
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Correct guest telemetry build target (#600)
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Actually finally fix the RPM spec (#601)
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Bring topic-stable up to latest point. (#606)
  go.mod
  go.sum
  google_guest_agent/addresses.go
  google_guest_agent/addresses_monitor.go
  google_guest_agent/cfg/cfg.go
  google_guest_agent/main.go
  packaging/debian/rules
  packaging/googet/agent_uninstall.ps1
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

Update dependencies and go version to 1.26.2
  go.mod
  go.sum
  google_guest_agent/cfg/cfg.go
  google_guest_agent/instance_setup.go
  google_guest_agent/network/manager/common.go
  google_guest_agent/network/manager/network_manager_linux_test.go
  google_guest_agent/network/manager/systemd_networkd_linux_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update dependencies and go version to 1.26.2 (#607)
  go.mod
  go.sum
  google_guest_agent/cfg/cfg.go
  google_guest_agent/instance_setup.go
  google_guest_agent/network/manager/common.go
  google_guest_agent/network/manager/network_manager_linux_test.go
  google_guest_agent/network/manager/systemd_networkd_linux_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update THIRD_PARTY_LICENSES to be package specific location.
  packaging/googet/google-compute-engine-metadata-scripts.goospec
  packaging/googet/google-compute-engine-windows.goospec
Due: prow/presubmit/packagebuild

Update THIRD_PARTY_LICENSES to be package specific location. (#608)
  packaging/googet/google-compute-engine-metadata-scripts.goospec
  packaging/googet/google-compute-engine-windows.goospec
Due: prow/presubmit/packagebuild

Update OWNERS
  OWNERS
Due: none

Update OWNERS (#609)
  OWNERS
Due: none

Fix improper umask calculation on socket creation
  google_guest_agent/command/command_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix improper umask calculation on socket creation (#614)
  google_guest_agent/command/command_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Dependency updates
  go.mod
  go.sum
Due: none

Dependency updates (#616)
  go.mod
  go.sum
Due: none

Make guest-agent buildable on FreeBSD
  google_guest_agent/agentcrypto/mtls_mds_freebsd.go
  google_guest_agent/agentcrypto/mtls_mds_linux.go
  google_guest_agent/agentcrypto/mtls_mds_unix.go
  google_guest_agent/command/command_freebsd.go
  google_guest_agent/command/command_unix.go
  google_guest_agent/events/sshtrustedca/sshtrustedca_unix.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fallback to shebang execution when running scripts
  google_metadata_script_runner/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Support basic account management on FreeBSD
  google_guest_agent/cfg/cfg.go
  google_guest_agent/cfg/cfg_freebsd.go
  google_guest_agent/cfg/cfg_freebsd_test.go
  google_guest_agent/cfg/cfg_linux.go
  google_guest_agent/cfg/cfg_windows.go
  google_guest_agent/non_windows_accounts.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Make guest-agent buildable on FreeBSD (#617)
  google_guest_agent/agentcrypto/mtls_mds_freebsd.go
  google_guest_agent/agentcrypto/mtls_mds_linux.go
  google_guest_agent/agentcrypto/mtls_mds_unix.go
  google_guest_agent/command/command_freebsd.go
  google_guest_agent/command/command_unix.go
  google_guest_agent/events/sshtrustedca/sshtrustedca_unix.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update go dependencies
  go.mod
  go.sum
Due: none

Update go dependencies (#620)
  go.mod
  go.sum
Due: none

Fallback to shebang execution when running scripts (#618)
  google_metadata_script_runner/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix dependency between sshd and google-guest-agent-manager.service
  google-guest-agent-manager.service
Due: none

fix google-guest-agent-manager.service to avoid depending on sshd-keygen.target (which doesn't exist on Debian)
  google-guest-agent-manager.service
Due: none

Update go.mod dependencies
  go.mod
  go.sum
Due: none

Update go.mod dependencies (#622)
  go.mod
  go.sum
Due: none

remove all changes but for the Before option
  google-guest-agent-manager.service
Due: none

remove unnecessary WantedBy option
  google-guest-agent-manager.service
Due: none

revert removal of WantedBy
  google-guest-agent-manager.service
Due: none

fix dependency between ssh and guest agent for the legacy agent
  google-guest-agent.service
Due: none

add ssh.service to WantedBy option for guest agent service config
  google-guest-agent-manager.service
  google-guest-agent.service
Due: none

fix dependency between sshd and google-guest-agent-manager.service (#621)
  google-guest-agent-manager.service
  google-guest-agent.service
Due: none

Support basic account management on FreeBSD (#619)
  google_guest_agent/cfg/cfg.go
  google_guest_agent/cfg/cfg_freebsd.go
  google_guest_agent/cfg/cfg_freebsd_test.go
  google_guest_agent/cfg/cfg_linux.go
  google_guest_agent/cfg/cfg_windows.go
  google_guest_agent/non_windows_accounts.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

WIP
  packaging/freebsd/Makefile
  packaging/freebsd/files/google_guest_agent.in
  packaging/freebsd/files/patch-go.mod
  packaging/freebsd/files/patch-go.sum
  packaging/freebsd/pkg-descr
  packaging/freebsd/pkg-plist
Due: prow/presubmit/packagebuild

Packaging files for FreeBSD port
  packaging/freebsd/Makefile
  packaging/freebsd/files/patch-go.mod
  packaging/freebsd/files/patch-go.sum
  packaging/freebsd/files/patch-modules.txt
  packaging/freebsd/pkg-descr
  packaging/freebsd/pkg-plist
Due: prow/presubmit/packagebuild

Replace abandoned serial dependency
  go.mod
  go.sum
  utils/serial_port_logger.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add build rules for MWLID extension
  packaging/debian/rules
  packaging/googet/google-compute-engine-windows.goospec
  packaging/googet/windows_agent_build.sh
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Replace abandoned serial dependency (#624)
  go.mod
  go.sum
  utils/serial_port_logger.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Exclude irrelevant tests on FreeBSD
  google_guest_agent/oslogin_linux_test.go
  google_guest_agent/run/run_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Exclude irrelevant tests on FreeBSD (#625)
  google_guest_agent/oslogin_linux_test.go
  google_guest_agent/run/run_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
  prow/presubmit/packagebuild: any of: packaging/.*
