Repository GoogleCloudPlatform/guest-agent: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

Path conditions:
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
  prow/presubmit/packagebuild: any of: packaging/.*

Update go version to 1.25 (#565)
  go.mod
  go.sum
Due: none

Update go version for stable branch to 1.25 (#571)
  go.mod
  go.sum
Due: none

Add a bunch of extra logging around OS Login enablement.
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add more debug logs, remove a todo
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix logger.Debug to be logger.Debugf, even if theres no formatting to be done
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix "non-constant format string in call to logger..." build errors.
  google_guest_agent/addresses.go
  google_guest_agent/diagnostics.go
  google_guest_agent/windows_accounts.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix(lint): Correct non-constant format string errors
  google_guest_agent/addresses.go
  google_guest_agent/diagnostics.go
  google_guest_agent/events/sshtrustedca/sshtrustedca_linux.go
  google_guest_agent/windows_accounts.go
  google_metadata_script_runner/main.go
  google_metadata_script_runner/main_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Clean up one more fmt.Errorf call that I missed.
  google_guest_agent/events/sshtrustedca/sshtrustedca_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Generate a 1024-bit key, to make the new rsa1024min check happy.
  utils/test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

also fix printf statements in google_metadata_script_runner
  google_metadata_script_runner/main.go
  google_metadata_script_runner/main_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix more bad printfs in system_windows.go
  google_guest_agent/system_windows.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add extra debug logging around toggling OS Login (#572)
  google_guest_agent/addresses.go
  google_guest_agent/diagnostics.go
  google_guest_agent/events/sshtrustedca/sshtrustedca_linux.go
  google_guest_agent/oslogin.go
  google_guest_agent/system_windows.go
  google_guest_agent/windows_accounts.go
  google_metadata_script_runner/main.go
  google_metadata_script_runner/main_test.go
  utils/test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Restart agent if core plugin is disabled
  packaging/debian/postinst
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Restart agent if core plugin is disabled (#575)
  packaging/debian/postinst
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Honor core plugin setting on windows package update
  packaging/googet/agent_install.ps1
Due: prow/presubmit/packagebuild

Honor core plugin setting on windows package update (#576)
  packaging/googet/agent_install.ps1
Due: prow/presubmit/packagebuild

Add Tyler, Saswat, Hank to OWNERS
  OWNERS
Due: none

Remove former team members from OWNERS
  OWNERS
Due: none

Add Tyler, Saswat, Hank to OWNERS (#577)
  OWNERS
Due: none

Update agent_uninstall.ps1 (#558)
  packaging/googet/agent_uninstall.ps1
Due: prow/presubmit/packagebuild

Update agent_uninstall.ps1 (#558) (#580)
  packaging/googet/agent_uninstall.ps1
Due: prow/presubmit/packagebuild

Fix build errors in modern versions of Go, which are stricter.
  google_guest_agent/addresses.go
  google_guest_agent/diagnostics.go
  google_guest_agent/windows_accounts.go
  utils/test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Don't delete the authorized_keys file when an empty key list is passed to updateAuthorizedKeysFile
  google_guest_agent/non_windows_accounts.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Don't delete the authorized_keys file when an empty key list is passed to updateAuthorizedKeysFile (#582)
  google_guest_agent/non_windows_accounts.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix start mode for windows on stable release
  packaging/googet/agent_install.ps1
Due: prow/presubmit/packagebuild

fix start mode for windows on stable release (#584)
  packaging/googet/agent_install.ps1
Due: prow/presubmit/packagebuild

network: force address manager to always consolidate the OS state
  google_guest_agent/addresses.go
  google_guest_agent/addresses_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

network: force address manager to always consolidate the OS state (#585)
  google_guest_agent/addresses.go
  google_guest_agent/addresses_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Source the contents of /var/google-users.d config files.
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Re-set /var/google-* directory permissions each time.
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add a "Match all" block after the includes, so later config lines still act as expected.
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Force remove core plugin configuration for windows
  packaging/googet/agent_install.ps1
Due: prow/presubmit/packagebuild

Force remove core plugin configuration for windows (#587)
  packaging/googet/agent_install.ps1
Due: prow/presubmit/packagebuild

Fix typo causing build error: FileMode vs Mode()
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Adjust TestUpdateSSHConfig to expect the new config lines.
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Disable certificates when security keys are enabled
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Adjust imports
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Adjust imports again
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove whitespace
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest
