Repository GoogleCloudPlatform/guest-agent: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest, prow/presubmit/packagebuild

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
        secretName: codecov

prow/presubmit/packagebuild:
  decorate: true
  labels:
    preset-daisy: 'true'
  spec:
    containers:
    - image: gcr.io/gcp-guest/daisy-builder:latest
      command:
      - /main.sh
      args:
      - gcp-guest
      - us-west1-a
      - deb9,el6,el7,el8,goo

Reject the following diagnostics requests if an existing job is running
  google_guest_agent/diagnostics.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Reject the following diagnostics requests if an existing job is running (#58)
  google_guest_agent/diagnostics.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix typo in boto.cfg
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix typo in boto.cfg (#62)
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix trailing comma
  packaging/googet/google-compute-engine-metadata-scripts.goospec
  packaging/googet/google-compute-engine-windows.goospec
Due: prow/presubmit/packagebuild

remove distros condition, detect network manager running status
  google_guest_agent/addresses.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Set route to metadata on interface with default route (#47)
  google_guest_agent/instance_setup.go
  google_guest_agent/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add check in other init system
  google_guest_agent/addresses.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix gocheck error
  google_guest_agent/addresses.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add source field in googet spec (#59)
  packaging/googet/google-compute-engine-metadata-scripts.goospec
  packaging/googet/google-compute-engine-windows.goospec
Due: prow/presubmit/packagebuild

end group.conf with newline
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

end group.conf with newline (#64)
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

oslogin: dont add entry to pam.d/su
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

oslogin: dont add entry to pam.d/su (#66)
  google_guest_agent/oslogin.go
  google_guest_agent/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Correctly determine default route index
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Correctly determine default route index (#67)
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix metric for addIPForwardEntry
  google_guest_agent/addresses_windows.go
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix metric for addIPForwardEntry (#68)
  google_guest_agent/addresses_windows.go
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add README
  README.md
Due: none

add README (#69)
  README.md
Due: none

handle oslogin enable/disable cases
  google_guest_agent/non_windows_accounts.go
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

handle oslogin enable/disable cases (#70)
  google_guest_agent/non_windows_accounts.go
  google_guest_agent/oslogin.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add all license files to packages
  THIRD_PARTY_LICENSES/cloud.google.com/go/LICENSE
  THIRD_PARTY_LICENSES/cloud.google.com/go/logging/LICENSE
  THIRD_PARTY_LICENSES/cloud.google.com/go/storage/LICENSE
  THIRD_PARTY_LICENSES/github.com/GoogleCloudPlatform/guest-agent/google_guest_agent/LICENSE
  THIRD_PARTY_LICENSES/github.com/GoogleCloudPlatform/guest-logging-go/logger/LICENSE
  THIRD_PARTY_LICENSES/github.com/go-ini/ini/LICENSE
  THIRD_PARTY_LICENSES/github.com/golang/groupcache/lru/LICENSE
  THIRD_PARTY_LICENSES/github.com/golang/protobuf/LICENSE
  THIRD_PARTY_LICENSES/github.com/google/go-cmp/cmp/LICENSE
  THIRD_PARTY_LICENSES/github.com/googleapis/gax-go/v2/LICENSE
  THIRD_PARTY_LICENSES/github.com/kardianos/service/LICENSE
  THIRD_PARTY_LICENSES/github.com/tarm/serial/LICENSE
  THIRD_PARTY_LICENSES/go.opencensus.io/LICENSE
  THIRD_PARTY_LICENSES/golang.org/x/net/LICENSE
  THIRD_PARTY_LICENSES/golang.org/x/oauth2/LICENSE
  THIRD_PARTY_LICENSES/golang.org/x/sync/semaphore/LICENSE
  THIRD_PARTY_LICENSES/golang.org/x/sys/LICENSE
  THIRD_PARTY_LICENSES/golang.org/x/text/LICENSE
  THIRD_PARTY_LICENSES/google.golang.org/api/LICENSE
  THIRD_PARTY_LICENSES/google.golang.org/genproto/LICENSE
  THIRD_PARTY_LICENSES/google.golang.org/grpc/LICENSE
  THIRD_PARTY_LICENSES/google.golang.org/protobuf/LICENSE
  go.mod
  packaging/debian/google-guest-agent.docs
  packaging/googet/google-compute-engine-metadata-scripts.goospec
  packaging/googet/google-compute-engine-windows.goospec
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

fix
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

Add all license files to packages (#71)
  THIRD_PARTY_LICENSES/cloud.google.com/go/LICENSE
  THIRD_PARTY_LICENSES/cloud.google.com/go/logging/LICENSE
  THIRD_PARTY_LICENSES/cloud.google.com/go/storage/LICENSE
  THIRD_PARTY_LICENSES/github.com/GoogleCloudPlatform/guest-agent/google_guest_agent/LICENSE
  THIRD_PARTY_LICENSES/github.com/GoogleCloudPlatform/guest-logging-go/logger/LICENSE
  THIRD_PARTY_LICENSES/github.com/go-ini/ini/LICENSE
  THIRD_PARTY_LICENSES/github.com/golang/groupcache/lru/LICENSE
  THIRD_PARTY_LICENSES/github.com/golang/protobuf/LICENSE
  THIRD_PARTY_LICENSES/github.com/google/go-cmp/cmp/LICENSE
  THIRD_PARTY_LICENSES/github.com/googleapis/gax-go/v2/LICENSE
  THIRD_PARTY_LICENSES/github.com/kardianos/service/LICENSE
  THIRD_PARTY_LICENSES/github.com/tarm/serial/LICENSE
  THIRD_PARTY_LICENSES/go.opencensus.io/LICENSE
  THIRD_PARTY_LICENSES/golang.org/x/net/LICENSE
  THIRD_PARTY_LICENSES/golang.org/x/oauth2/LICENSE
  THIRD_PARTY_LICENSES/golang.org/x/sync/semaphore/LICENSE
  THIRD_PARTY_LICENSES/golang.org/x/sys/LICENSE
  THIRD_PARTY_LICENSES/golang.org/x/text/LICENSE
  THIRD_PARTY_LICENSES/google.golang.org/api/LICENSE
  THIRD_PARTY_LICENSES/google.golang.org/genproto/LICENSE
  THIRD_PARTY_LICENSES/google.golang.org/grpc/LICENSE
  THIRD_PARTY_LICENSES/google.golang.org/protobuf/LICENSE
  go.mod
  packaging/debian/google-guest-agent.docs
  packaging/googet/google-compute-engine-metadata-scripts.goospec
  packaging/googet/google-compute-engine-windows.goospec
  packaging/google-guest-agent.spec
Due: prow/presubmit/packagebuild

optimize local ssd, set multiqueue
  go.mod
  go.sum
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Finish some TODOs, Fix makeRange, bugs, extract to functions
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

go fmt
  google_guest_agent/ethtool_linux.go
  google_guest_agent/ethtool_windows.go
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

update agent systemd service file
  google-guest-agent.service
Due: none

Bug fix, remove \n in nproc return
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Bug fix, regex change to find second submatch
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Bug fix, makerange swap step and maxh
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Bug fix, 0700->0644
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Go fmt
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Test
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

revert test log
  google_guest_agent/instance_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

correct varname
  google_guest_agent/non_windows_accounts.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
  prow/presubmit/packagebuild: any of: packaging/
