Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Set h3 region
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Comment
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Pass down machine types through TestWorkflow (#817)
  imagetest/cmd/manager/main.go
  imagetest/fixtures.go
  imagetest/fixtures_test.go
  imagetest/test_suites/networkperf/performance_test.go
  imagetest/test_suites/networkperf/setup.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Set h3 region (#818)
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add guest attributes
  imagetest/cmd/wrapper/main.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

use http put instead of post
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add gocheck comments
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Correct misspelling
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

pass down the context
  imagetest/cmd/wrapper/main.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Separate wait stopped step
  imagetest/fixtures.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Use url path
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add log for guest attribute success
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add guest attributes (#819)
  imagetest/cmd/wrapper/main.go
  imagetest/fixtures.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Ubuntu 16 fix
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Ubuntu 16 fix (#820)
  imagetest/test_suites/storageperf/iops_read_test.go
  imagetest/test_suites/storageperf/iops_write_test.go
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Rollback guest attribute call until fixed
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Rollback guest attribute call until fixed (#821)
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

revert guest attribute
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

revert guest attribute (#822)
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix prod image publish.
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix prod image publish. (#824)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add renovate.json
  renovate.json
Due: none

Add back guest attributes with 45s interval
  imagetest/cmd/wrapper/main.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Extra buffer
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

pass the context
  imagetest/cmd/wrapper/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip debian 10 for gvnic machine types
  imagetest/test_suites/shapevalidation/setup.go
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip debian 10 for gvnic machine types (#828)
  imagetest/test_suites/shapevalidation/setup.go
  imagetest/test_suites/storageperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add CIT to publish pipeline, without removing the publish step
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fork windows image build pipeline for MBR
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Delete guest attribute to avoid bugs on reboot
  imagetest/cmd/wrapper/main.go
  imagetest/testworkflow.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Set longer interval to avoid 10 queries per minute limit
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add CIT to publish pipeline, without removing the publish step (#829)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Skip gvnic shape validation for rhel sap versions that don't support it
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Skip gvnic shape validation for rhel sap versions that don't support it (#832)
  imagetest/test_suites/shapevalidation/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove core images from build
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Reintrouduce img groups
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update windows-image-build-mbr.jsonnet
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fork Concourse windows image build pipeline for MBR (#830)
  concourse/pipelines/windows-image-build-mbr.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add wait for vm quota test workflow step, and functions to append quotas.
  imagetest/cmd/manager/main.go
  imagetest/fixtures.go
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/shapevalidation/setup.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
