Repository GoogleCloudPlatform/osconfig: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/packagebuild, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/packagebuild: any of: packaging/
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Remove folder name as parameter in Terraform example.
  examples/Terraform/multi-project-deployments/create_projects/main.tf
  examples/Terraform/multi-project-deployments/create_projects/variables.tf
  examples/Terraform/multi-project-deployments/create_projects/versions.tf
Due: none

Integrate service enablement in project creation of Terraform example.
  examples/Terraform/multi-project-deployments/create_projects/main.tf
Due: none

Integrate VM creation into projects TF example.
  examples/Terraform/multi-project-deployments/create_projects/main.tf
  examples/Terraform/multi-project-deployments/create_projects/terraform.tfvars
  examples/Terraform/multi-project-deployments/create_projects/variables.tf
Due: none

Harcode folder and schedule time in TF patch deployments.
  examples/Terraform/multi-project-deployments/create_patch_deployments/main.tf
  examples/Terraform/multi-project-deployments/create_patch_deployments/terraform.example.tfvars
  examples/Terraform/multi-project-deployments/create_patch_deployments/terraform.tfvars
  examples/Terraform/multi-project-deployments/create_patch_deployments/variables.tf
Due: none

Harmonize folder parameter in TF example.
  examples/Terraform/multi-project-deployments/create_guest_policies/terraform.example.tfvars
  examples/Terraform/multi-project-deployments/create_guest_policies/terraform.tfvars
  examples/Terraform/multi-project-deployments/create_patch_deployments/main.tf
  examples/Terraform/multi-project-deployments/create_patch_deployments/terraform.example.tfvars
  examples/Terraform/multi-project-deployments/create_patch_deployments/terraform.tfvars
  examples/Terraform/multi-project-deployments/create_patch_deployments/variables.tf
Due: none

Remove TF modules that are now integrated in project creation.
  examples/Terraform/multi-project-deployments/create_vm_instances/README.md
  examples/Terraform/multi-project-deployments/create_vm_instances/main.tf
  examples/Terraform/multi-project-deployments/create_vm_instances/outputs.tf
  examples/Terraform/multi-project-deployments/create_vm_instances/terraform.example.tfvars
  examples/Terraform/multi-project-deployments/create_vm_instances/terraform.tfvars
  examples/Terraform/multi-project-deployments/create_vm_instances/variables.tf
  examples/Terraform/multi-project-deployments/create_vm_instances/versions.tf
  examples/Terraform/multi-project-deployments/enable_projects_for_vmmanager/README.md
  examples/Terraform/multi-project-deployments/enable_projects_for_vmmanager/main.tf
  examples/Terraform/multi-project-deployments/enable_projects_for_vmmanager/outputs.tf
  examples/Terraform/multi-project-deployments/enable_projects_for_vmmanager/variables.tf
  examples/Terraform/multi-project-deployments/enable_projects_for_vmmanager/versions.tf
Due: none

Enable osconfig service in admin TF project.
  examples/Terraform/multi-project-deployments/preparation_scripts/create_tf_admin_project.sh
Due: none

Harmonize TF_VAR_folder_name variable in project creation.
  examples/Terraform/multi-project-deployments/create_projects/main.tf
  examples/Terraform/multi-project-deployments/create_projects/terraform.tfvars
  examples/Terraform/multi-project-deployments/create_projects/variables.tf
Due: none

Update Terraform scripts for multi-project deployments tutorial. (#378)
  examples/Terraform/multi-project-deployments/README.md
  examples/Terraform/multi-project-deployments/auth/README.md
  examples/Terraform/multi-project-deployments/auth/TerraformDeployer.yaml
  examples/Terraform/multi-project-deployments/auth/VM_Manager_Deployer.yaml
  examples/Terraform/multi-project-deployments/create_guest_policies/terraform.example.tfvars
  examples/Terraform/multi-project-deployments/create_guest_policies/terraform.tfvars
  examples/Terraform/multi-project-deployments/create_patch_deployments/terraform.example.tfvars
  examples/Terraform/multi-project-deployments/create_patch_deployments/terraform.tfvars
  examples/Terraform/multi-project-deployments/create_projects/main.tf
  examples/Terraform/multi-project-deployments/create_projects/terraform.tfvars
  examples/Terraform/multi-project-deployments/create_projects/variables.tf
  examples/Terraform/multi-project-deployments/create_projects/versions.tf
  examples/Terraform/multi-project-deployments/create_vm_instances/README.md
  examples/Terraform/multi-project-deployments/create_vm_instances/main.tf
  examples/Terraform/multi-project-deployments/create_vm_instances/outputs.tf
  examples/Terraform/multi-project-deployments/create_vm_instances/terraform.example.tfvars
  examples/Terraform/multi-project-deployments/create_vm_instances/variables.tf
  examples/Terraform/multi-project-deployments/create_vm_instances/versions.tf
  examples/Terraform/multi-project-deployments/enable_projects_for_vmmanager/README.md
  examples/Terraform/multi-project-deployments/enable_projects_for_vmmanager/main.tf
  examples/Terraform/multi-project-deployments/enable_projects_for_vmmanager/outputs.tf
  examples/Terraform/multi-project-deployments/enable_projects_for_vmmanager/variables.tf
  examples/Terraform/multi-project-deployments/enable_projects_for_vmmanager/versions.tf
  examples/Terraform/multi-project-deployments/preparation_scripts/create_terraform_custom_role.sh
  examples/Terraform/multi-project-deployments/preparation_scripts/create_terraform_service_account.sh
  examples/Terraform/multi-project-deployments/preparation_scripts/create_tf_admin_project.sh
  examples/Terraform/multi-project-deployments/preparation_scripts/enable_services_in_admin_project.sh
  examples/Terraform/multi-project-deployments/preparation_scripts/setup_env.sh
Due: none

Return lower-case package name (#377)
  packages/apt_deb.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add E2E tests for Windows Application
  e2e_tests/test_suites/inventoryreporting/test_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add E2E tests for Windows Application (#379)
  e2e_tests/test_suites/inventoryreporting/test_setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Added log messages for patch reports for apt-update
  ospatch/apt_upgrade.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add more info logs, actually cleanup unmanaged repos
  agentconfig/agentconfig.go
  agentendpoint/config_task.go
  agentendpoint/config_task_test.go
  config/exec_resource.go
  config/file_resource.go
  config/repository_resource.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  agentendpoint/patch_windows.go
  agentendpoint/reboot_windows.go
  ospatch/system_linux.go
  ospatch/system_test_stub.go
  ospatch/system_windows.go
  ospatch/updates_linux.go
  ospatch/updates_test_stub.go
  ospatch/updates_windows.go
  packages/cos.go
  packages/cos_stub.go
  packages/cos_test.go
  packages/stub_linux.go
  packages/stub_windows.go
  policies/recipes/steps_linux.go
  policies/recipes/steps_windows.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

address comments
  agentendpoint/config_task.go
  config/exec_resource.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

address comments
  agentendpoint/config_task.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add centos stream and rocky linux to tests
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add more info logs, actually cleanup unmanaged repos (#382)
  agentconfig/agentconfig.go
  agentendpoint/config_task.go
  agentendpoint/config_task_test.go
  agentendpoint/patch_windows.go
  agentendpoint/reboot_windows.go
  config/exec_resource.go
  config/file_resource.go
  config/repository_resource.go
  ospatch/system_linux.go
  ospatch/system_test_stub.go
  ospatch/system_windows.go
  ospatch/updates_linux.go
  ospatch/updates_test_stub.go
  ospatch/updates_windows.go
  packages/cos.go
  packages/cos_stub.go
  packages/cos_test.go
  packages/stub_linux.go
  packages/stub_windows.go
  policies/recipes/steps_linux.go
  policies/recipes/steps_windows.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

add tests
  e2e_tests/test_suites/guestpolicies/guest_policies_utils.go
  e2e_tests/test_suites/inventory/test_setup.go
  e2e_tests/test_suites/inventoryreporting/test_setup.go
  e2e_tests/test_suites/ospolicies/ospolicies_utils.go
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add centos stream rocky linux and available package tests (#383)
  e2e_tests/test_suites/guestpolicies/guest_policies_utils.go
  e2e_tests/test_suites/inventory/test_setup.go
  e2e_tests/test_suites/inventoryreporting/test_setup.go
  e2e_tests/test_suites/ospolicies/ospolicies_utils.go
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix rpm/deb package formating for inventory reporting
  agentendpoint/inventory.go
  agentendpoint/inventory_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix rpm/deb package formating for inventory reporting (#384)
  agentendpoint/inventory.go
  agentendpoint/inventory_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Deprecate old config directory in favor of new cache directory
  agentconfig/agentconfig.go
  agentendpoint/agentendpoint.go
  agentendpoint/task_state.go
  agentendpoint/task_state_test.go
  go.mod
  go.sum
  main.go
  packaging/debian/postrm
  packaging/debian/rules
  packaging/google-osconfig-agent.spec
Due: prow/presubmit/packagebuild, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix
  agentconfig/agentconfig.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Deprecate old config directory in favor of new cache directory (#385)
  agentconfig/agentconfig.go
  agentendpoint/agentendpoint.go
  agentendpoint/task_state.go
  agentendpoint/task_state_test.go
  go.mod
  go.sum
  main.go
  packaging/debian/postrm
  packaging/debian/rules
  packaging/google-osconfig-agent.spec
Due: prow/presubmit/packagebuild, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

ReportInventory: Fix bug in deb/rpm inventory, reduce calls to append
  agentendpoint/inventory.go
  agentendpoint/inventory_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix
  agentendpoint/inventory.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

ReportInventory: Fix bug in deb/rpm inventory, reduce calls to append (#386)
  agentconfig/agentconfig.go
  agentendpoint/inventory.go
  agentendpoint/inventory_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Correctly check for folder existance in package upgrade
  packaging/debian/postrm
  packaging/google-osconfig-agent.spec
Due: prow/presubmit/packagebuild

Correctly check for folder existance in package upgrade (#387)
  packaging/debian/postrm
  packaging/google-osconfig-agent.spec
Due: prow/presubmit/packagebuild

Fix some e2e test failures
  e2e_tests/test_suites/ospolicies/ospolicies_test_data.go
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix some e2e test failures (#388)
  e2e_tests/test_suites/ospolicies/ospolicies_test_data.go
  e2e_tests/utils/utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fixed the runWithPty function to set ctty to child's filedesc
  packages/pty_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

e2e_tests: fix a test output mismatch
  e2e_tests/test_suites/ospolicies/ospolicies_test_data.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

e2e_tests: fix a test output mismatch (#390)
  e2e_tests/test_suites/ospolicies/ospolicies_test_data.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Address suggestion: close descriptor also when cmd.Run fails
  packages/pty_linux.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest
