Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Update wait-for-build timeout for package builds
  packagebuild/workflows/build_package.wf.json
Due: none

Update wait-for-build timeout for package builds (#580)
  packagebuild/workflows/build_package.wf.json
Due: none

Update timeout for wait-for-build
  packagebuild/workflows/build_package.wf.json
Due: none

Update timeout for wait-for-build (#581)
  packagebuild/workflows/build_package.wf.json
Due: none

Update EL9 timeout
  packagebuild/workflows/build_el9.wf.json
Due: none

Update EL9 timeout (#582)
  packagebuild/workflows/build_el9.wf.json
Due: none

Use RHEL 9 for EL9 builds.
  packagebuild/workflows/build_el9.wf.json
Due: none

Use RHEL 9 for EL9 builds. (#583)
  packagebuild/workflows/build_el9.wf.json
Due: none

Add syft test build
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

fix quotation bug
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

build task name override
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Temporarily force almalinux-8 to run with syft arg only
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

group rename
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

array string type fix
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

syft test build
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

syntax fix
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

syntax
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

syft test build (#585)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix double colon syntax
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix double colon syntax (#586)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update OWNERS
  OWNERS
Due: none

Update OWNERS (#587)
  OWNERS
Due: none

Update linux-image-build.jsonnet
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update linux-image-build.jsonnet (#588)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

el syft job for all linux images
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

el syft job for all linux images (#589)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

SBOM empty file for final bucket
  concourse/tasks/generate-build-id.yaml
Due: none

Add sbom-destination input variable with .sbom.json file extension
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/daisy.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Older distros don't have GVNIC drivers.
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Older distros don't have GVNIC drivers. (#592)
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

feat: Update Ubuntu releases
  imagetest/cmd/manager/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

feat: Update Ubuntu releases (#593)
  imagetest/cmd/manager/main.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fork windows image build for staging builds
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update job and env variables in staging pipeline
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update job names
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update publish names
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add staging suffix to img group defs
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add sbom-destination input variable with .sbom.json file extension (#591)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/templates/daisy.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Update pipeline names to staging; task names to testing
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update task name staging --> testing
  concourse/pipelines/windows-image-build-staging.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
