Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

gofmt
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update README.md with local testing commands
  imagetest/README.md
Due: none

Update README.md with local testing commands (#897)
  imagetest/README.md
Due: none

Update packages in cloud-image-tests container and bump golang version to 1.20
  imagetest/Dockerfile
  imagetest/go.mod
Due: none

Set NetworkPerformanceTier to TIER_1 on the t1 client vm
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update packages in cloud-image-tests container and bump golang version to 1.20 (#898)
  imagetest/Dockerfile
  imagetest/go.mod
Due: none

Set NetworkPerformanceTier to TIER_1 on the t1 client vm (#899)
  imagetest/test_suites/networkperf/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update README.md with manager instructions
  imagetest/README.md
Due: none

set localpath to outspath by default in readme
  imagetest/README.md
Due: none

Update README.md with manager instructions (#900)
  imagetest/README.md
Due: none

Update owners. (#901)
  OWNERS
Due: none

Removing Mirantis Docker builds from Concourse
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Removing Mirantis Docker builds from Concourse (#902)
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove remaining container builds from Concourse
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Drop CE from main pipeline
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Remove remaining container builds from Concourse (#903)
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Warn about mixing GA and beta instance APIs when creating test suites
  imagetest/README.md
Due: none

Warn about mixing GA and beta instance APIs when creating test suites (#904)
  imagetest/README.md
Due: none

Test that the network is still available after migration, and disable live migration testing
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove partially-complete live migrate test
  imagetest/test_suites/cvm/cvm_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add SEV_SNP and TDX enablement tests (#905)
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Revert "Add SEV_SNP and TDX enablement tests (#905)"
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Revert "Add SEV_SNP and TDX enablement tests (#905)" (#907)
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/cvm/cvm_test.go
  imagetest/test_suites/cvm/setup.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update test suite documentation for networkperf and cvm test suites
  imagetest/test_suites/README.md
Due: none

Rename TestPerformance to TestNetworkPerformance
  imagetest/test_suites/README.md
Due: none

more fixes
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

nit
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

lint
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

more nits
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Re-add missing elements
  imagetest/fixtures.go
  imagetest/test_suites/oslogin/oslogin_test.go
  imagetest/test_suites/oslogin/setup.go
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

nits
  imagetest/test_suites/oslogin/oslogin_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

guest agent: add a pipeline for a development branch
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix function names
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

File sync call
  imagetest/test_suites/hotattach/hot_attach_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Retry network performance results fetch three times
  imagetest/test_suites/networkperf/performance_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

gofmt
  imagetest/test_suites/networkperf/performance_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Use local_build.sh in CIT presubmits
  container_images/citpresubmit/main.sh
Due: none

Move methods to oslogin_utils, skip test on Windows images, generalize getent tests to not be project-dependent
  imagetest/fixtures.go
  imagetest/go.mod
  imagetest/go.sum
  imagetest/test_suites/oslogin/oslogin_test.go
  imagetest/test_suites/oslogin/oslogin_utils.go
  imagetest/test_suites/oslogin/setup.go
  imagetest/test_suites/oslogin/ssh_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
