Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

prow/presubmit/fly-validate-pipelines:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
      imagePullPolicy: Always
      command:
      - /main.sh
      args:
      - concourse/pipelines

prow/presubmit/gocheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gobuild:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

prow/presubmit/gotest:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh

Skip custom hostname test on all EL9 builds. (#666)
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

sbom: fix rpm file lookup (#665)
  packagebuild/daisy_startupscript_rpm.sh
Due: none

Fix custom hostname test to use the transient hostname.
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

sbom: fix the path we are looking up source rpms
  packagebuild/daisy_startupscript_rpm.sh
Due: none

sbom: fix the path we are looking up source rpms (#668)
  packagebuild/daisy_startupscript_rpm.sh
Due: none

sbom: set sbomutil as executable
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_rpm.sh
Due: none

sbom: set sbomutil as executable (#669)
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_rpm.sh
Due: none

fix
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

sbom: move it all to common.sh
  packagebuild/common.sh
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_rpm.sh
Due: none

sbom: move it all to common.sh (#670)
  packagebuild/common.sh
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_rpm.sh
Due: none

sbom: don't try to create manifest when copying gcs object
  packagebuild/common.sh
Due: none

sbom: don't try to create manifest when copying gcs object (#671)
  packagebuild/common.sh
Due: none

Fix custom hostname test. (#667)
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

sbom: fix an inverted boolean check
  packagebuild/common.sh
Due: none

Add RHEL 8.8 and 9.2 for SAP builds.
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

sbom: fix an inverted boolean check (#672)
  packagebuild/common.sh
Due: none

Add RHEL 8.8 and 9.2 for SAP builds. (#673)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

sbom: fix a type in the argument passed to generate_and_push_sbom
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_rpm.sh
Due: none

sbom: fix a type in the argument passed to generate_and_push_sbom (#674)
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_rpm.sh
Due: none

sbom: normalize sbomutil and sbom_file paths
  packagebuild/common.sh
Due: none

sbom: normalize sbomutil and sbom_file paths (#675)
  packagebuild/common.sh
Due: none

Debian 12 bookworm guest package builds.
  concourse/pipelines/guest-package-build.jsonnet
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/workflows/build_deb12.wf.json
  packagebuild/workflows/build_deb12_arm64.wf.json
Due: prow/presubmit/fly-validate-pipelines

fix
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Debian 12 bookworm guest package builds. (#676)
  concourse/pipelines/guest-package-build.jsonnet
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/workflows/build_deb12.wf.json
  packagebuild/workflows/build_deb12_arm64.wf.json
Due: prow/presubmit/fly-validate-pipelines

sbom: add support to arm64
  concourse/pipelines/guest-package-build.jsonnet
  packagebuild/common.sh
Due: prow/presubmit/fly-validate-pipelines

sbom: add support to arm64 (#677)
  concourse/pipelines/guest-package-build.jsonnet
  packagebuild/common.sh
Due: prow/presubmit/fly-validate-pipelines

sbom: update googet package build
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_goo.sh
Due: none

sbom: update googet package build (#678)
  packagebuild/daisy_startupscript_deb.sh
  packagebuild/daisy_startupscript_goo.sh
Due: none

sbom: fix the call to generate_and_push_sbom for rpm build
  packagebuild/daisy_startupscript_rpm.sh
Due: none

sbom: fix the call to generate_and_push_sbom for rpm build (#679)
  packagebuild/daisy_startupscript_rpm.sh
Due: none

Don't fail fast for package and image test builds.
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Don't fail fast for package and image test builds. (#680)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

sbom: add sbomfile to ARLE's pubsub call
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

sbom: add sbomfile to ARLE's pubsub call (#681)
  concourse/pipelines/guest-package-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

sbom: enable sbom generation for googet packages
  packagebuild/daisy_startupscript_goo.sh
Due: none

sbom: enable sbom generation for googet packages (#682)
  packagebuild/daisy_startupscript_goo.sh
Due: none

On Debian 12 the guest is not getting the right search domains, use the MDS IP for our package build until we resolve this.
  packagebuild/daisy_startupscript_deb.sh
Due: none

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$
