Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck: any of: \.go$
  prow/presubmit/gobuild: any of: \.go$
  prow/presubmit/gotest: any of: \.go$

Start tests only ready ubuntu images
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Start tests only ready ubuntu images (#728)
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Ubuntu doesn't yet work with custom hostnames.
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

fix
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Ubuntu doesn't yet work with custom hostnames. (#729)
  imagetest/test_suites/image_validation/image_validation_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove EL7 from Yum Plugin builds (#722)
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix more minor issues with artifact releaser testing pipeline (#725)
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add myself to OWNERS
  OWNERS
Due: none

Add myself to OWNERS (#731)
  OWNERS
Due: none

Add windows images to artifact-releaser-test pipeline
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Use commands to check DHCP
  imagetest/test_suites/network/dhcp_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Use commands for DHCP tet
  imagetest/test_suites/network/dhcp_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove unnecessary log
  imagetest/test_suites/network/dhcp_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Add windows images to artifact-releaser-test pipeline (#713)
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add Ubuntu Pro prod images to partner-image-validation tests.
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Add Ubuntu Pro prod images to partner-image-validation tests. (#733)
  concourse/pipelines/partner-image-validations.jsonnet
Due: prow/presubmit/fly-validate-pipelines

testworkflow: display time delta to log
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

testworkflow: display time delta to log (#734)
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Check executable permissions for commands
  imagetest/test_suites/image_validation/clock_test.go
  imagetest/test_suites/network/dhcp_test.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

go fmt
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix comment
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix variable name for mode
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove unused import
  imagetest/test_suites/image_validation/clock_test.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Remove unused import
  imagetest/test_suites/network/dhcp_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix go lint
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update container dependencies to use Go 1.20
  container_images/cleanerupper/Dockerfile
  container_images/gobuild/Dockerfile
  container_images/gocheck/Dockerfile
  container_images/gointegtest/Dockerfile
  container_images/gointegtest/common.sh
  container_images/gotest/Dockerfile
  container_images/jsonnet-go/Dockerfile
  container_images/validate-integtest/Dockerfile
  packagebuild/common.sh
Due: none

keep the containers go version on latest
  container_images/cleanerupper/Dockerfile
  container_images/gobuild/Dockerfile
  container_images/gocheck/Dockerfile
  container_images/gointegtest/Dockerfile
  container_images/gotest/Dockerfile
  container_images/jsonnet-go/Dockerfile
  container_images/validate-integtest/Dockerfile
Due: none

Update container dependencies to use Go 1.20 (#735)
  container_images/gointegtest/common.sh
  packagebuild/common.sh
Due: none

Use commands for DHCP test (#732)
  imagetest/test_suites/image_validation/clock_test.go
  imagetest/test_suites/network/dhcp_test.go
  imagetest/utils/test_utils.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update location of daisy import
  imagetest/fixtures.go
  imagetest/go.mod
  imagetest/go.sum
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Update top level go mod
  go.mod
  go.sum
Due: none

Update location of daisy import (#736)
  go.mod
  go.sum
  imagetest/fixtures.go
  imagetest/go.mod
  imagetest/go.sum
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Support multiple disks in a VM
  imagetest/fixtures.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Allow persistent disk type when creating vm
  imagetest/fixtures.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Set init params for disk type
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Use diskinitparams instead of source
  imagetest/fixtures.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Do not put vmname in quotes
  imagetest/fixtures.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Support multiple disks in a VM (#738)
  imagetest/fixtures.go
  imagetest/testworkflow.go
  imagetest/testworkflow_test.go
Due: prow/presubmit/gocheck, prow/presubmit/gobuild, prow/presubmit/gotest

Fix directory for apt transport artifact registry package
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix directory for apt transport artifact registry package (#739)
  concourse/pipelines/artifact-releaser-test.jsonnet
Due: prow/presubmit/fly-validate-pipelines
