Repository GoogleCloudPlatform/guest-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gocheck/cleanerupper, prow/presubmit/gocheck/registryimage, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gobuild/cleanerupper, prow/presubmit/gobuild/registryimage, prow/presubmit/gotest/root, prow/presubmit/gotest/cit, prow/presubmit/gotest/cleanerupper, prow/presubmit/gotest/registryimage

Path conditions:
  prow/presubmit/fly-validate-pipelines: any of: concourse/pipelines
  prow/presubmit/gocheck/root: any of: \.go$
  prow/presubmit/gocheck/cit: any of: imagetest.*\.go$
  prow/presubmit/gocheck/cleanerupper: any of: container_images/cleanerupper.*\.go$
  prow/presubmit/gocheck/registryimage: any of: container_images/registry-image-forked.*\.go$
  prow/presubmit/gobuild/root: any of: (\.go|go\.mod|go\.sum)$
  prow/presubmit/gobuild/cit: any of: imagetest/.*(\.go|go\.mod|go\.sum|Dockerfile|\.sh)$
  prow/presubmit/gobuild/cleanerupper: any of: container_images/cleanerupper.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gobuild/registryimage: any of: container_images/registry-image-forked.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/root: any of: (\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/cit: any of: imagetest.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/cleanerupper: any of: container_images/cleanerupper.*(\.go|go\.mod|go\.sum)$
  prow/presubmit/gotest/registryimage: any of: container_images/registry-image-forked.*(\.go|go\.mod|go\.sum)$

Skip MTU test on old sysprep versions
  imagetest/test_suites/network/mtu_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

remove the redhat c3 metal stuff from concourse
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

remove the redhat c3 metal stuff from concourse (#1111)
  concourse/pipelines/linux-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update package_test.go to skip COS in TestStandardPrograms
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Refactor imageboot into imageboot, livemigrate, and suspendresume suites
  concourse/pipelines/guest-package-build.jsonnet
  imagetest/cmd/manager/main.go
  imagetest/test_suites/imageboot/setup.go
  imagetest/test_suites/livemigrate/live_migrate_test.go
  imagetest/test_suites/livemigrate/setup.go
  imagetest/test_suites/suspendresume/setup.go
  imagetest/test_suites/suspendresume/suspend_resume_test.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Fix windows bios images license test failures (#1110)
  imagetest/test_suites/licensevalidation/license_test.go
  imagetest/test_suites/licensevalidation/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Skip MTU test on old sysprep versions (#1109)
  imagetest/test_suites/network/mtu_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Refactor imageboot into imageboot, livemigrate, and suspendresume suites (#1113)
  concourse/pipelines/guest-package-build.jsonnet
  imagetest/cmd/manager/main.go
  imagetest/test_suites/imageboot/setup.go
  imagetest/test_suites/livemigrate/live_migrate_test.go
  imagetest/test_suites/livemigrate/setup.go
  imagetest/test_suites/suspendresume/setup.go
  imagetest/test_suites/suspendresume/suspend_resume_test.go
Due: prow/presubmit/fly-validate-pipelines, prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Update package_test.go to skip COS in TestStandardPrograms (#1112)
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Update and enable mdsmtls suite
  imagetest/cmd/manager/main.go
  imagetest/test_suites/mdsmtls/mds_mtls_test.go
  imagetest/test_suites/mdsmtls/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Wait for zypper lock for a long time
  imagetest/test_suites/metadata/metadata_utils.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/test_suites/metadata/startup_script_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Load and use client certificates
  imagetest/test_suites/mdsmtls/mds_mtls_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Wait for zypper lock for a long time (#1114)
  imagetest/test_suites/metadata/metadata_utils.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/test_suites/metadata/startup_script_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

gofmt
  imagetest/test_suites/mdsmtls/mds_mtls_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

client.crt -> client.key
  imagetest/test_suites/mdsmtls/mds_mtls_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Enable mdsmtls test suite, skip tests if the MDS doesn't offer tls creds (#949)
  imagetest/cmd/manager/main.go
  imagetest/test_suites/mdsmtls/mds_mtls_test.go
  imagetest/test_suites/mdsmtls/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Skip the agent-reinstall section of startup script test on SUSE
  imagetest/test_suites/metadata/startup_script_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Skip the agent-reinstall section of startup script test on SUSE (#1115)
  imagetest/test_suites/metadata/startup_script_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Move imagetesttask to common lib and enable CIT for windows
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/partner-image-validations.jsonnet
  concourse/pipelines/windows-image-build-mbr.jsonnet
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Mark tests not skipped or run as disabled
  imagetest/junit.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Mark tests not skipped or run as disabled (#1117)
  imagetest/junit.go
  imagetest/test_suites/metadata/shutdown_script_test.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Move imagetesttask to common lib and enable CIT for windows (#1116)
  concourse/pipelines/linux-image-build.jsonnet
  concourse/pipelines/partner-image-validations.jsonnet
  concourse/pipelines/windows-image-build-mbr.jsonnet
  concourse/pipelines/windows-image-build-staging.jsonnet
  concourse/pipelines/windows-image-build-standard.jsonnet
  concourse/pipelines/windows-image-build.jsonnet
  concourse/templates/common.libsonnet
Due: prow/presubmit/fly-validate-pipelines

Correct bct-prod to bct-prod-images
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Correct bct-prod to bct-prod-images (#1118)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Fix remaining typos in windows pipeline image names
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

Update package_test.go to include COS package validation
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Update setup.go to skip alias tests for COS images
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Remove shutdown script time tests
  imagetest/test_suites/metadata/setup.go
  imagetest/test_suites/metadata/shutdown_script_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Fix remaining typos in windows pipeline image names (#1120)
  concourse/pipelines/windows-image-build.jsonnet
Due: prow/presubmit/fly-validate-pipelines

On EL7, use an extra VM to test gvnic instead of the multinic vm
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Update setup.go to skip alias tests for COS images (#1123)
  imagetest/test_suites/network/setup.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Update package_test.go- include verification for google-guest-configs
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Update package_test.go: include verification for cloud-disk-resize
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Update package_test.go- fix gofmt errors in cos package validation func
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Update package_test.go- fix gofmt errors in package lists
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Update package_test.go- fix gofmt errors
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Update package_test.go- fix gofmt errors from whitespacee
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Update package_test.go- include os package
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Update package_test.go to include COS package validation (#1122)
  imagetest/test_suites/packagevalidation/package_test.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit

Enforce a lack of dashes in testworkflow vm names.
  imagetest/fixtures.go
  imagetest/test_suites/cvm/setup.go
  imagetest/test_suites/disk/setup.go
  imagetest/test_suites/guestagent/setup.go
  imagetest/test_suites/hotattach/setup.go
  imagetest/test_suites/metadata/setup.go
  imagetest/test_suites/network/setup.go
  imagetest/test_suites/networkperf/setup.go
  imagetest/test_suites/packagevalidation/setup.go
  imagetest/test_suites/security/setup.go
  imagetest/test_suites/shapevalidation/setup.go
  imagetest/test_suites/sql/setup.go
  imagetest/test_suites/ssh/setup.go
  imagetest/test_suites/storageperf/setup.go
  imagetest/test_suites/storageperf/storage_perf_utils.go
  imagetest/testworkflow.go
Due: prow/presubmit/gocheck/root, prow/presubmit/gocheck/cit, prow/presubmit/gobuild/root, prow/presubmit/gobuild/cit, prow/presubmit/gotest/root, prow/presubmit/gotest/cit
