Repository GoogleContainerTools/kpt-config-sync: changes, and which Prow jobs are due for each by the changed paths.
All: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

Path conditions:
  kpt-config-sync-presubmit-e2e-mono-repo: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-mono-repo-test-group1: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-mono-repo-test-group2: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-mono-repo-test-group3: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-multi-repo: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-multi-repo-test-group1: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-multi-repo-test-group2: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-presubmit-e2e-multi-repo-test-group3: unless all of: ^(docs|dashboard)/|\.md$|^(LICENSE|OWNERS)$
  kpt-config-sync-terraform-presubmit: any of: ^e2e/testinfra/terraform/

Added additional annotation validation to TestPreventDeletionRole
  e2e/testcases/lifecycle_directives_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Add victortjhia to OWNERS
  OWNERS
Due: none

Add victorpras (victortjhia) to OWNERS
  OWNERS
Due: none

Add victorpras (victortjhia) to owners (#126)
  OWNERS
Due: none

Fix metrics validation (#100)
  e2e/nomostest/config-sync.go
  e2e/nomostest/git.go
  e2e/nomostest/metrics/validate.go
  e2e/nomostest/new.go
  e2e/nomostest/nt.go
  e2e/nomostest/ntopts/multi_repo.go
  e2e/testcases/acme_test.go
  e2e/testcases/cluster_resources_test.go
  e2e/testcases/cluster_selectors_test.go
  e2e/testcases/custom_resource_definitions_test.go
  e2e/testcases/custom_resources_test.go
  e2e/testcases/gatekeeper_test.go
  e2e/testcases/kptfile_test.go
  e2e/testcases/lifecycle_directives_test.go
  e2e/testcases/multi_sync_test.go
  e2e/testcases/multiversion_test.go
  e2e/testcases/namespace_repo_test.go
  e2e/testcases/namespaces_test.go
  e2e/testcases/preserve_fields_test.go
  e2e/testcases/root_sync_test.go
  manifests/templates/otel-collector.yaml
  pkg/metrics/otel.go
  pkg/metrics/tagkeys.go
  pkg/reconcilermanager/controllers/otel_controller_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

add test-resources to OSS manifest
  Makefile.build
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Re-enable a disabled metrics validation test
  e2e/testcases/custom_resource_definitions_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

add test-resources to OSS manifest (#128)
  Makefile.build
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

This is a test PR
  Makefile.e2e
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Add missing test groups for the multi-repo mode
  Makefile.e2e
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Use timers instead of tickers
  pkg/configsync/git-importer.go
  pkg/hydrate/controller.go
  pkg/importer/filesystem/controller.go
  pkg/parse/run.go
  pkg/policycontroller/reconciler.go
  pkg/reconciler/reconciler.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Re-enable a disabled metrics validation test (#129)
  e2e/testcases/custom_resource_definitions_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Add missing test groups for the multi-repo mode (#130)
  Makefile.e2e
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Use timers instead of tickers (#131)
  pkg/configsync/git-importer.go
  pkg/hydrate/controller.go
  pkg/importer/filesystem/controller.go
  pkg/parse/run.go
  pkg/policycontroller/reconciler.go
  pkg/reconciler/reconciler.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Test PR for allowing empty webhooks
  vendor/github.com/open-policy-agent/cert-controller/pkg/rotator/rotator.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

add terraform config for dev/ci clusters
  e2e/testinfra/terraform/Makefile
  e2e/testinfra/terraform/README.md
  e2e/testinfra/terraform/common/service_accounts.tf
  e2e/testinfra/terraform/common/source_repositories.tf
  e2e/testinfra/terraform/dev/clusters.tf
  e2e/testinfra/terraform/dev/variables.tf
  e2e/testinfra/terraform/environments.tf
  e2e/testinfra/terraform/main.tf
  e2e/testinfra/terraform/modules/e2ecluster/e2ecluster.tf
  e2e/testinfra/terraform/modules/e2ecluster/variables.tf
  e2e/testinfra/terraform/modules/e2ecluster_autopilot/e2ecluster.tf
  e2e/testinfra/terraform/modules/e2ecluster_autopilot/variables.tf
  e2e/testinfra/terraform/modules/service_account/service_account.tf
  e2e/testinfra/terraform/modules/service_account/variables.tf
  e2e/testinfra/terraform/modules/testgroup/networks.tf
  e2e/testinfra/terraform/modules/testgroup/testgroup.tf
  e2e/testinfra/terraform/modules/testgroup/variables.tf
  e2e/testinfra/terraform/modules/testgroup_autopilot/networks.tf
  e2e/testinfra/terraform/modules/testgroup_autopilot/testgroup.tf
  e2e/testinfra/terraform/modules/testgroup_autopilot/variables.tf
  e2e/testinfra/terraform/prow/networks.tf
  e2e/testinfra/terraform/prow/prow_clusters.tf
  e2e/testinfra/terraform/variables.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

Avoid unnecessary status updates
  pkg/parse/namespace.go
  pkg/parse/root.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Avoid unnecessary status updates (#133)
  pkg/parse/namespace.go
  pkg/parse/root.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

add terraform config for dev/ci clusters (#124)
  e2e/testinfra/terraform/Makefile
  e2e/testinfra/terraform/README.md
  e2e/testinfra/terraform/common/service_accounts.tf
  e2e/testinfra/terraform/common/source_repositories.tf
  e2e/testinfra/terraform/dev/clusters.tf
  e2e/testinfra/terraform/dev/variables.tf
  e2e/testinfra/terraform/environments.tf
  e2e/testinfra/terraform/main.tf
  e2e/testinfra/terraform/modules/e2ecluster/e2ecluster.tf
  e2e/testinfra/terraform/modules/e2ecluster/variables.tf
  e2e/testinfra/terraform/modules/e2ecluster_autopilot/e2ecluster.tf
  e2e/testinfra/terraform/modules/e2ecluster_autopilot/variables.tf
  e2e/testinfra/terraform/modules/service_account/service_account.tf
  e2e/testinfra/terraform/modules/service_account/variables.tf
  e2e/testinfra/terraform/modules/testgroup/networks.tf
  e2e/testinfra/terraform/modules/testgroup/testgroup.tf
  e2e/testinfra/terraform/modules/testgroup/variables.tf
  e2e/testinfra/terraform/modules/testgroup_autopilot/networks.tf
  e2e/testinfra/terraform/modules/testgroup_autopilot/testgroup.tf
  e2e/testinfra/terraform/modules/testgroup_autopilot/variables.tf
  e2e/testinfra/terraform/prow/networks.tf
  e2e/testinfra/terraform/prow/prow_clusters.tf
  e2e/testinfra/terraform/variables.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

fix: Use opencensus based exporter for monitoring
  e2e/testdata/reconciler-manager-configmap-updated.yaml
  manifests/templates/otel-collector.yaml
  manifests/templates/reconciler-manager-configmap.yaml
  manifests/templates/reconciler-manager.yaml
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

add registries and enable APIs in terraform
  e2e/testinfra/terraform/common/registries.tf
  e2e/testinfra/terraform/common/services.tf
  e2e/testinfra/terraform/prow/registries.tf
  e2e/testinfra/terraform/prow/services.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

add registries and enable APIs in terraform (#136)
  e2e/testinfra/terraform/common/registries.tf
  e2e/testinfra/terraform/common/services.tf
  e2e/testinfra/terraform/prow/registries.tf
  e2e/testinfra/terraform/prow/services.tf
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3, kpt-config-sync-terraform-presubmit

Re-enable the resource condition tests for mono-repo mode (#104)
  e2e/testcases/resource_conditions_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

fix: Use opencensus based exporter for monitoring (#135)
  e2e/testdata/reconciler-manager-configmap-updated.yaml
  manifests/templates/otel-collector.yaml
  manifests/templates/reconciler-manager-configmap.yaml
  manifests/templates/reconciler-manager.yaml
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

add test-resources to OSS manifest (#128) (#138)
  Makefile.build
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Add rquitales to OWNERS
  OWNERS
Due: none

Fix pipeline_error_observed description to match
  pkg/metrics/metrics.go
  pkg/metrics/views.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Add rquitales to OWNERS (#140)
  OWNERS
Due: none

Change the RootSync helm.namespace field default value
  e2e/testcases/helm_sync_test.go
  manifests/rootsync-crd.yaml
  pkg/api/configsync/register.go
  pkg/api/configsync/v1alpha1/helmconfig.go
  pkg/api/configsync/v1beta1/helmconfig.go
  pkg/helm/helm.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Make API Server timeout overridable
  cmd/reconciler/main.go
  pkg/api/configsync/v1beta1/resource_override.go
  pkg/api/configsync/v1beta1/zz_generated.deepcopy.go
  pkg/configsync/git-importer.go
  pkg/reconciler/reconciler.go
  pkg/reconcilermanager/controllers/reconciler_base.go
  pkg/reconcilermanager/controllers/reposync_controller.go
  pkg/reconcilermanager/controllers/rootsync_controller.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Refactor to use env var to set API server timeout
  cmd/reconciler/main.go
  pkg/api/configsync/v1beta1/resource_override.go
  pkg/reconciler/reconciler.go
  pkg/reconcilermanager/constants.go
  pkg/reconcilermanager/controllers/reconciler_base.go
  pkg/reconcilermanager/controllers/reposync_controller.go
  pkg/reconcilermanager/controllers/rootsync_controller.go
  pkg/reconcilermanager/controllers/util.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Cover in tests
  pkg/reconcilermanager/controllers/reposync_controller_test.go
  pkg/reconcilermanager/controllers/rootsync_controller_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Change the RootSync helm.namespace field default value (#137)
  e2e/testcases/helm_sync_test.go
  manifests/rootsync-crd.yaml
  pkg/api/configsync/register.go
  pkg/api/configsync/v1alpha1/helmconfig.go
  pkg/api/configsync/v1beta1/helmconfig.go
  pkg/helm/helm.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Use kubectl to deploy necessary RBAC in mono repo apiservice_test (#73)
  e2e/testcases/apiservice_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Update TestHelmNamespaceRepo to make it works in shared test environment (#75)
  e2e/testcases/helm_sync_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Include change in v1alpha1 and generate CRDs
  manifests/reposync-crd.yaml
  manifests/rootsync-crd.yaml
  pkg/api/configsync/v1alpha1/resource_override.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3

Use kubectl to deploy necessary RBAC in mono repo apiservice_test (#73) (#142)
  e2e/testcases/apiservice_test.go
Due: kpt-config-sync-presubmit-e2e-mono-repo, kpt-config-sync-presubmit-e2e-mono-repo-test-group1, kpt-config-sync-presubmit-e2e-mono-repo-test-group2, kpt-config-sync-presubmit-e2e-mono-repo-test-group3, kpt-config-sync-presubmit-e2e-multi-repo, kpt-config-sync-presubmit-e2e-multi-repo-test-group1, kpt-config-sync-presubmit-e2e-multi-repo-test-group2, kpt-config-sync-presubmit-e2e-multi-repo-test-group3
