Repository GoogleCloudPlatform/compute-image-import: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*

Fix-OVF-Import-failing-e2e-ssd-quota-test
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Fix-OVF-Import-failing-e2e-ssd-quota-test (#97)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Image Import: Adding Image Improt Support for CentOS Stream 8/9
  cli_tools/common/distro/distro.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate_centos_stream_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_stream_9.wf.json
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/linux.py
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-centos-stream-8.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-centos-stream-9.yaml
  proto/go/pb/inspect.pb.go
  proto/go/pb/output_info.pb.go
  proto/inspect.proto
  proto/py/compute_image_tools_proto/inspect_pb2.py
  proto/py/compute_image_tools_proto/inspect_pb2.pyi
  proto/py/compute_image_tools_proto/output_info_pb2.py
  proto/py/compute_image_tools_proto/output_info_pb2.pyi
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Removing log print statements
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/linux.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

Fixing python version issues in presubmit tests for inspection
  daisy_workflows/image_import/inspection/pyproject.toml
Due: prow/presubmit/pytest/boot-inspect

Adding module tests for centos stream 8/9 inspection
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Image Import: Adding Image Import Support for CentOS Stream 8/9 (#98)
  cli_tools/common/distro/distro.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/enterprise_linux/translate_centos_stream_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_stream_9.wf.json
  daisy_workflows/image_import/inspection/pyproject.toml
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/linux.py
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-centos-stream-8.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-centos-stream-9.yaml
  proto/go/pb/inspect.pb.go
  proto/go/pb/output_info.pb.go
  proto/inspect.proto
  proto/py/compute_image_tools_proto/inspect_pb2.py
  proto/py/compute_image_tools_proto/inspect_pb2.pyi
  proto/py/compute_image_tools_proto/output_info_pb2.py
  proto/py/compute_image_tools_proto/output_info_pb2.pyi
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

fix-el-translation-by-adding-another-way-of-relabeling-selinux-if-virt-customize-fails-to-relabel
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

el-translation-code-refactoring-based-on-pyflakes-comments
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

fix-el-translation-by-adding-another-way-of-relabeling-selinux-if-virt-customize-fails-to-relabel (#99)
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

upgrage-image-import-export-tools-builder-executor-base-image-to-debian-11
  gce_onestep_image_import.Dockerfile
  gce_ovf_export.Dockerfile
  gce_ovf_import.Dockerfile
  gce_vm_image_import.Dockerfile
Due: none

upgrage-image-import-export-tools-builder-executor-base-image-to-debian-11 (#100)
  gce_onestep_image_import.Dockerfile
  gce_ovf_export.Dockerfile
  gce_ovf_import.Dockerfile
  gce_vm_image_import.Dockerfile
Due: none

Fixed Module tests for Centos Stream 8/9
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Fix Module Tests for Centos Stream 8/9
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Fix Module Tests for Centos Stream 8/9 (#101)
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Use Debian-11 instead of Debian-9 in e2e tests as Debian-9 is EOL now
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Use Debian-11 instead of Debian-9 in e2e tests as Debian-9 is EOL now (#102)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Add --skip-broken flag when needed to EL yum install commands
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Add --skip-broken flag when needed to EL yum install commands (#103)
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Removing TCP 80 check
  daisy_workflows/image_import/windows/network.ps1
Due: none

Removing TCP 80 check (#104)
  daisy_workflows/image_import/windows/network.ps1
Due: none

Add --tmpdir flag to dracut command for SELinux
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Add --tmpdir flag to dracut command for SELinux (#105)
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

remove daisy info from public docs
  docs/image-import.md
Due: none

Update github user guide for image import (#106)
  docs/image-import.md
Due: none

Added retry checking for Google Cloud SDK installation for Image-Import e2e post-translate script
  daisy_integration_tests/scripts/post_translate_test.sh
Due: none

Added retry checking for Google Cloud SDK installation for Image-Import e2e post-translate script (#107)
  daisy_integration_tests/scripts/post_translate_test.sh
Due: none

reorder checks functions of e2e post-translate-script
  daisy_integration_tests/scripts/post_translate_test.sh
Due: none

reorder checks functions of e2e post-translate-script (#108)
  daisy_integration_tests/scripts/post_translate_test.sh
Due: none

Do not add --skip-broken flag to EL yum install if -byol flag is enabled
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Do not add --skip-broken flag to EL yum install if -byol flag is enabled (#109)
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Fix SUSE translation bug to initramFS - run dracut command - for on-demand imports
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

Fix SUSE translation bug to initramFS - run dracut command - for on-demand imports (#110)
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

Drop Debian-8 & Debian-9 daisy integration tests
  daisy_integration_tests/daisy_e2e.test.gotmpl
  daisy_integration_tests/debian_8_translate.wf.json
  daisy_integration_tests/debian_9_translate.wf.json
Due: none

Drop Debian-8 & Debian-9 daisy integration tests (#111)
  daisy_integration_tests/daisy_e2e.test.gotmpl
  daisy_integration_tests/debian_8_translate.wf.json
  daisy_integration_tests/debian_9_translate.wf.json
Due: none

Add support for opensuse 15.3 & opensuse 15.4
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests
