Repository GoogleCloudPlatform/compute-image-import: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*

Add support for Debain-12
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/debian/translate_debian_12.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Add support for Storage API endpoint override
  cli_tools/common/image/importer/request.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools/gce_vm_image_import/cli/cli.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Add support for Storage API endpoint override (#130)
  cli_tools/common/image/importer/request.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools/gce_vm_image_import/cli/cli.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Update Daisy with the overridden APIs endpoints by passing the updated clients to the workflow
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/request.go
  cli_tools/common/image/importer/request_test.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties_test.go
  cli_tools/gce_ovf_export/domain/args.go
  cli_tools/gce_ovf_export/domain/args_test.go
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/domain/ovf_import_params_test.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/main_test.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Update the Inspection to use the overridden clients endpoints
  cli_tools/common/disk/inspect.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

move-overriding-daisy-workflow-clients-into-workflow-hooks
  cli_tools/common/disk/inspect.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties_test.go
  cli_tools/gce_ovf_export/domain/test_data.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Update Daisy with the overridden APIs endpoints (#131)
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/request.go
  cli_tools/common/image/importer/request_test.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties_test.go
  cli_tools/gce_ovf_export/domain/args.go
  cli_tools/gce_ovf_export/domain/args_test.go
  cli_tools/gce_ovf_export/domain/test_data.go
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/domain/ovf_import_params_test.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/main_test.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Replace protobuf deprecated URL by the new one
  cli_tools/common/disk/inspect_test.go
  cli_tools/common/utils/logging/logger.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/module/import/logs_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Temporarily disable the 3 tests that override os.Stdout & cause failure when using -coverprofile flag with go test command
  cli_tools/common/utils/storage/buffered_writer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Fix GitHub pre-submit tests failure (#132)
  cli_tools/common/disk/inspect_test.go
  cli_tools/common/utils/logging/logger.go
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/module/import/logs_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

upgrade protobuf version for cli_tools_test
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

upgrade protobuf version for cli_tools_test (#133)
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Pass the overridden cloud-logging client object to Daisy workflow
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties_test.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/go.mod
  common/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Pass the overridden cloud-logging client object to Daisy workflow (#134)
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties_test.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/go.mod
  common/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Fix wrong overridden API endpoint e2e
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Fix wrong overridden API endpoint e2e (#135)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Cleaning up the created disks after tests are executed
  cli_tools_tests/e2e/gce_image_import_export/test_suites/scripts/post_translate_test.wf.json
  daisy_integration_tests/image_import_and_translate_ova_with_spaces_in_vmdk_filename.wf.json
  daisy_integration_tests/ubuntu_1804_aws.wf.json
  daisy_integration_tests/ubuntu_1804_azure.wf.json
  daisy_integration_tests/ubuntu_1804_vmware.wf.json
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Reverting worker images for Rhel6 image import
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_licensed.wf.json
Due: none

Reverting worker images for Rhel6 image import (#137)
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_licensed.wf.json
Due: none

Increase disk resize timeout from 5 to 10 minutes.
  daisy_workflows/image_import/import_image.sh
Due: none

Add ycohen278 from M2VM as OWNERS_ALIASES.
  OWNERS_ALIASES
Due: none

Add ycohen278 from M2VM as OWNERS_ALIASES. (#141)
  OWNERS_ALIASES
Due: none

Increase disk resize timeout from 5 to 10 minutes. (#140)
  daisy_workflows/image_import/import_image.sh
Due: none

Replace obsolete images.
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Replace obsolete images. (#142)
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

update golang.org/x/net to 0.17.0 to solve CVE-2023-39325 and CVE-2023-44487 (#147)
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/go.mod
  common/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Update OWNERS_ALIASES (#149)
  OWNERS_ALIASES
Due: none

Upgrade go version due to vulnerabilty CVE-2024-24790
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Upgrade go version due to vulnerabilty CVE-2024-24790 (#150)
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

test
  test
Due: none

Create test
  test
Due: none

Prevent Soft Delete on scratch buckets , so that bucket will be deleted immediately.
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Prevent Soft Delete on scratch buckets , so that bucket will be deleted immediately. (#154)
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Update bucket attributes in order to disable soft delete.
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/mocks/mock_storage_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Update bucket attributes in order to disable soft delete
  cli_tools/common/utils/storage/scratch_bucket_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Update bucket attributes in order to disable soft delete (#155)
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/mocks/mock_storage_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common
