Repository GoogleCloudPlatform/compute-image-import: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

Remove tools unrelated to import/export
  cli_tools/diagnostics/google-compute-engine-diagnostics.goospec
  cli_tools/diagnostics/main.go
  cli_tools/diagnostics/main_windows.go
  cli_tools/diagnostics/main_windows_test.go
  cli_tools/diagnostics/rdp_status.ps1
  cli_tools/diagnostics/stub_linux.go
  cli_tools/diagnostics/wmi_windows.go
  cli_tools/gce_export/README.md
  cli_tools/gce_export/main.go
  cli_tools/gce_export/main_linux.go
  cli_tools/gce_export/main_windows.go
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
  cli_tools/gce_windows_upgrade/main.go
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
  cli_tools/gce_windows_upgrade/upgrader/test_common_test.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader_test.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  cli_tools/gce_windows_upgrade/upgrader/utils_test.go
  cli_tools/gce_windows_upgrade/upgrader/validators.go
  cli_tools/gce_windows_upgrade/upgrader/validators_test.go
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
  cli_tools/gce_windows_upgrade/upgrader/workflows_test.go
  cli_tools_cloudbuild.yaml
  gce_export.Dockerfile
  gce_image_publish.Dockerfile
  gce_windows_upgrade.Dockerfile
  gce_windows_upgrade_tests.Dockerfile
  prowjobs_cloudbuild.yaml
  rollout/cli_tools_cloudbuild_build.yaml
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Revert "OVFImport: support_instance_import_when_boot_disk_spans_mltiple_physical_disks (#1864)"
  cli_tools/common/deleter/resource_deleter_test.go
  cli_tools/common/disk/disk.go
  cli_tools/common/disk/disk_test.go
  cli_tools/common/domain/interfaces.go
  cli_tools/common/image/deleter.go
  cli_tools/common/image/deleter_test.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/importer.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/image/importer/request.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater_test.go
  cli_tools/gce_ovf_import/domain/interfaces.go
  cli_tools/gce_ovf_import/domain/mocks/mock_interfaces.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_executor.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_executor_test.go
  cli_tools/gce_ovf_import/multi_image_importer/multi_image_importer.go
  cli_tools/gce_ovf_import/multi_image_importer/request_builder.go
  cli_tools/gce_ovf_import/multi_image_importer/request_builder_test.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/linux_common/utils/diskutils.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Fix Windows-8.1 e2e test failures.
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Remove tools unrelated to import/export (#9)
  cli_tools/diagnostics/google-compute-engine-diagnostics.goospec
  cli_tools/diagnostics/main.go
  cli_tools/diagnostics/main_windows.go
  cli_tools/diagnostics/main_windows_test.go
  cli_tools/diagnostics/rdp_status.ps1
  cli_tools/diagnostics/stub_linux.go
  cli_tools/diagnostics/wmi_windows.go
  cli_tools/gce_export/README.md
  cli_tools/gce_export/main.go
  cli_tools/gce_export/main_linux.go
  cli_tools/gce_export/main_windows.go
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
  cli_tools/gce_windows_upgrade/main.go
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
  cli_tools/gce_windows_upgrade/upgrader/test_common_test.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader_test.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  cli_tools/gce_windows_upgrade/upgrader/utils_test.go
  cli_tools/gce_windows_upgrade/upgrader/validators.go
  cli_tools/gce_windows_upgrade/upgrader/validators_test.go
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
  cli_tools/gce_windows_upgrade/upgrader/workflows_test.go
  cli_tools_cloudbuild.yaml
  gce_export.Dockerfile
  gce_image_publish.Dockerfile
  gce_windows_upgrade.Dockerfile
  gce_windows_upgrade_tests.Dockerfile
  prowjobs_cloudbuild.yaml
  rollout/cli_tools_cloudbuild_build.yaml
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Fix the rollout config.
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

Fix the rollout config. (#12)
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

Add x86 precheck to release build pipeline.
  cli_tools/import_precheck/README.md
  rollout/cli_tools_cloudbuild_build.yaml
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Add x86 precheck to release build pipeline. (#13)
  cli_tools/import_precheck/README.md
  rollout/cli_tools_cloudbuild_build.yaml
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Update owners.
  OWNERS
  OWNERS_ALIASES
Due: none

Update owners. (#14)
  OWNERS
  OWNERS_ALIASES
Due: none

Update the MS KB2955372 link
  daisy_workflows/image_import/windows/translate_bootstrap.ps1
Due: none

Update the MS KB2955372 link (#16)
  daisy_workflows/image_import/windows/translate_bootstrap.ps1
Due: none

CLI Tools: Update ReadMe to fix the github URL
  cli_tools/gce_onestep_image_import/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

OneStepImageImport_fix_network_and_subnet_issue
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/aws_test_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/scripts/post_translate_test.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

CLI Tools: Update ReadMe to fix the github URL (#17)
  cli_tools/gce_onestep_image_import/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

OneStepImageImport_fix_network_and_subnet_issue (#18)
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/aws_test_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/scripts/post_translate_test.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

OneStepImageImport_fix_e2e_test_not_to_change_test_project_config_object_ptr
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

OneStepImageImport_fix_e2e_test_not_to_change_test_project_config_object_ptr (#19)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

OVFImport: support_instance_import_when_boot_disk_spans_mltiple_physical_disks
  cli_tools/common/deleter/resource_deleter.go
  cli_tools/common/deleter/resource_deleter_test.go
  cli_tools/common/disk/disk.go
  cli_tools/common/disk/disk_test.go
  cli_tools/common/domain/interfaces.go
  cli_tools/common/image/deleter_test.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/importer.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/image/importer/request.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater_test.go
  cli_tools/gce_ovf_import/domain/interfaces.go
  cli_tools/gce_ovf_import/domain/mocks/mock_interfaces.go
  cli_tools/gce_ovf_import/multi_disk_importer/multi_disk_importer.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder_test.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_executor.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_executor_test.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor.go
  cli_tools/gce_ovf_import/multi_image_importer/request_executor_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/linux_common/utils/diskutils.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

ImagesImport_Update_API_inflater_to_create_disks_with_ssd_type_as_default
  cli_tools/common/image/importer/api_inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Replace source-uri with ovf-gcs-path
  cli_tools/gce_ovf_import/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

OVFImport-fix-long-Disks-and-images-names-issue
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/metadata_processor.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater_test.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

OVFImport-daisy-utils-code-refactoring-based-on-golint-comments
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

CLI tools: update repo path in Readme files
  cli_tools/gce_ovf_export/README.md
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_import/README.md
  cli_tools/import_precheck/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

reverted the precheck binary path
  cli_tools/import_precheck/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

CLI tools: update repo path in Readme files (#22)
  cli_tools/gce_ovf_export/README.md
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_import/README.md
  cli_tools/import_precheck/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Changed the repo path in go get command
  cli_tools/gce_ovf_import/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

CLI tools: Replace source-uri with ovf-gcs-path (#20)
  cli_tools/gce_ovf_import/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Inflater_fix_disks_and_images_long_name_issue_refactor
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/metadata_processor.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools/gce_ovf_import/multi_disk_importer/request_builder.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

image_build: add debian 11 workflow
  daisy_integration_tests/debian_11_worker.wf.json
  daisy_integration_tests/scripts/debian_worker_test.sh
  daisy_workflows/image_build/debian/debian_11_worker.wf.json
  daisy_workflows/image_build/debian/debian_worker.sh
  debian_worker_cloudbuild.yaml
Due: none

Add Readme
  daisy_integration_tests/debian_11_worker.wf.json
  daisy_workflows/image_build/debian/README.md
  daisy_workflows/image_build/debian/debian_11_worker.wf.json
  debian_worker_cloudbuild.yaml
Due: none

Fix comments in documentation
  daisy_integration_tests/scripts/debian_worker_test.sh
  daisy_workflows/image_build/debian/README.md
Due: none

create a doc folder for the user guide
  docs/image-import.md
Due: none

create a doc folder for the user guide (#24)
  docs/image-import.md
Due: none

create doc index and readme files
  docs/README.md
  docs/index.md
Due: none

create doc index and readme files (#25)
  docs/README.md
  docs/index.md
Due: none

Update link to compatibility issues in precheck doc
  cli_tools/import_precheck/README.md
  docs/index.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Update link to compatibility issues in precheck doc (#26)
  cli_tools/import_precheck/README.md
  docs/index.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
