Repository GoogleCloudPlatform/compute-image-import: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

ImageImport_fix_opensuse_module_test
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Update Debian worker for RHEL 8 imports (#49)
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
Due: none

fix daisy workflow link and readme
  README.md
Due: none

fix links to daisy workflow
  README.md
Due: none

Update daisy workflow readme for import
  daisy_workflows/README.md
Due: none

ImageImport_fix_opensuse_module_test (#50)
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Fixed review comments
  README.md
Due: none

fix daisy workflow links in the readme file (#48)
  README.md
Due: none

Start using N2 instances for SLES import.
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
Due: none

Start using N2 instances for SLES import. (#52)
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
Due: none

ImageImport_add_support_for_windows_11
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/windows/translate.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Use N1 instances for now due to quotas limitations.
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
Due: none

Use N1 instances for now due to quotas limitations. (#54)
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
Due: none

Update daisy workflow readme for image import (#51)
  README.md
  daisy_workflows/README.md
Due: none

ImageImport Add new logging in the inspection to declare that we can not distinguish between win-10 and win-11
  cli_tools/common/image/importer/process_planner.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

ImageImport_refactoring_windows_11_changes
  cli_tools/common/image/importer/process_planner.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

ImageImport_add_support_for_windows_11 (#53)
  cli_tools/common/image/importer/process_planner.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/windows/translate.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

imageimport_suse_translation_clear_resolv_conf_immutable_attr
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

update _ClearImmutableAttr function definition
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

update ClearEtcResolv function definition
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Allow SUSE import to proceed when /etc/resolv.conf is immutable (#55)
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Attach disks to the worker after it is created.
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools_tests/e2e/gce_ovf_export/test_suites/instance_ovf_export/instance_ovf_export_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/scripts/ovf_import_test_3_disks.sh
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/enterprise_linux/translate_el.wf.json
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Attach disks to the worker after it is created. (#56)
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools_tests/e2e/gce_ovf_export/test_suites/instance_ovf_export/instance_ovf_export_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/scripts/ovf_import_test_3_disks.sh
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/enterprise_linux/translate_el.wf.json
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

ImageImport_attach_disks_to_inspection_worker_instance_after_its_created_and_update_inspection_worker_image
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/inspection/daisy-shim.sh
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

refacor_inspection_cli_file_based_on_flake8_comments
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

add_empty_line_in_inspection_cli_file_based_on_flake8_comment
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

update inspection python package to accept one flag for device and another for disk file
  daisy_workflows/image_import/inspection/README.md
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/inspection/daisy-shim.sh
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

refactor_inspection_cli_file_based_on_flakes_comments
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

refactor_inspection_cli_remove_checking_attached_disk_size
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

ImageImport_attach_disks_to_inspection_worker_instance_after_its_created (#57)
  daisy_workflows/image_import/inspection/README.md
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/inspection/daisy-shim.sh
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

Image Import: Fix inspection module tests.
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Image Import: Fix inspection module tests. (#58)
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

ImageImport_upgrade_translation_worker_instance_os_version_for_enterprise_linux_OSes
  daisy_workflows/image_import/enterprise_linux/translate_centos_7.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rocky_8.wf.json
Due: none

ImageImport_upgrade_translation_worker_instance_os_version_for_enterprise_linux_OSes (#59)
  daisy_workflows/image_import/enterprise_linux/translate_centos_7.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rocky_8.wf.json
Due: none

Fix E2E SLES tests.
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

Fix E2E SLES tests. (#60)
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

Fix SLES PAYG E2E tests.
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

Fix SLES PAYG E2E tests. (#61)
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
