Repository GoogleCloudPlatform/compute-image-import: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*

Fix the IN_USE_ADDRESSES quota error.
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Fix the IN_USE_ADDRESSES quota error. (#79)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

allow-debian-import-to-proceed-if-the-image-does-not-has-wget-or-curl-installed
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/debian/translate.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

allow-debian-import-to-proceed-if-the-image-does-not-has-wget-or-curl-installed (#80)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/debian/translate.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Enable nested virtualization by default.
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_ovf_export/domain/args.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_export/test_suites/instance_ovf_export/instance_ovf_export_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Enable nested virtualization by default. (#81)
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_ovf_export/domain/args.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_export/test_suites/instance_ovf_export/instance_ovf_export_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

deprecate CentOS-8
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  daisy_integration_tests/centos_8_translate.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-centos-8.1.1911.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-centos-8.2.2004.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-centos-latest.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-centos-8-v20200714.yaml
  docs/image-import.md
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

deprecate CentOS-8 (#82)
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  daisy_integration_tests/centos_8_translate.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-centos-8.1.1911.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-centos-8.2.2004.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-centos-latest.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-centos-8-v20200714.yaml
  docs/image-import.md
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Nested virtualization in E2E post translate.
  cli_tools_tests/e2e/gce_image_import_export/test_suites/scripts/post_translate_test.wf.json
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Nested virtualization in E2E post translate. (#84)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/scripts/post_translate_test.wf.json
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

PR fixes.
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/workflow_hook_update_machine_types.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Rename according to the PR comment.
  cli_tools/common/utils/daisyutils/workflow_hook_update_machine_types.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Add E2E test for N2->N1 fallback.
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Add E2E test for N2->N1 fallback. (#85)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

allow_import_aws_images_without_specifying_os_flag
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer_test.go
  gce_onestep_image_import.Dockerfile
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

allow_import_aws_images_without_specifying_os_flag (#86)
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer_test.go
  gce_onestep_image_import.Dockerfile
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

SUSE_byol_translation_do_not_fail_when_SUSEConnect_commands_failed
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

fix typo - remove extra white space
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

SUSE byol translation don't fail when SUSEConnect commands failed (#87)
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

Update Readme for the repo and add Readme for cli_tools
  README.md
  cli_tools/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

[fixed review comments]
  cli_tools/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Update Readme for the repo and add Readme for cli_tools (#88)
  README.md
  cli_tools/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Add support for SLES 15 SP4
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Add support for SLES 15 SP4 (#89)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

update-gcsfuse-apt-key
  gcsfuse-apt-key.gpg
Due: none

Update gcsfuse apt key (#90)
  gcsfuse-apt-key.gpg
Due: none

Use apt-get instead of apt as it's better to be used in scripts
  daisy_workflows/linux_common/bootstrap.sh
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Use apt-get instead of apt as it's better to be used in scripts (#91)
  daisy_workflows/linux_common/bootstrap.sh
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Enable uniform bucket level access by default for all created buckets
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools/mocks/mock_scratch_bucket_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Enable uniform bucket level access by default for all created buckets (#92)
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools/mocks/mock_scratch_bucket_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Uncomment-scratch-bucket-creator-unit-test
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Uncomment-scratch-bucket-creator-unit-test (#93)
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

gofmt-fixes
  cli_tools/common/mount/inspector.go
  cli_tools/common/utils/daisyutils/workflow_hook_no_external_ip.go
  cli_tools/common/utils/daisyutils/workflow_hook_resource_labeler.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars.go
  cli_tools/common/utils/logging/logger.go
  cli_tools/common/utils/param/network_resolver.go
  cli_tools/common/utils/test/test_utils.go
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/gce_ovf_export/domain/interfaces.go
  cli_tools/gce_ovf_export/exporter/exporter.go
  cli_tools/gce_ovf_export/exporter/ovf/cim.go
  cli_tools/gce_ovf_export/exporter/ovf/envelope.go
  cli_tools/gce_ovf_export/exporter/ovf_descriptor_generator.go
  cli_tools/gce_ovf_export/exporter/steps.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils_test.go
  cli_tools/import_precheck/precheck/check_disks_linux.go
  cli_tools/mocks/mock_bucket_iterator.go
  common/runtime/config.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

gofmt-fixes (#94)
  cli_tools/common/mount/inspector.go
  cli_tools/common/utils/daisyutils/workflow_hook_no_external_ip.go
  cli_tools/common/utils/daisyutils/workflow_hook_resource_labeler.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars.go
  cli_tools/common/utils/logging/logger.go
  cli_tools/common/utils/param/network_resolver.go
  cli_tools/common/utils/test/test_utils.go
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/gce_ovf_export/domain/interfaces.go
  cli_tools/gce_ovf_export/exporter/exporter.go
  cli_tools/gce_ovf_export/exporter/ovf/cim.go
  cli_tools/gce_ovf_export/exporter/ovf/envelope.go
  cli_tools/gce_ovf_export/exporter/ovf_descriptor_generator.go
  cli_tools/gce_ovf_export/exporter/steps.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils_test.go
  cli_tools/import_precheck/precheck/check_disks_linux.go
  cli_tools/mocks/mock_bucket_iterator.go
  common/runtime/config.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Add support for Rocky-Linux-9
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate_rocky_9.wf.json
  docs/image-import.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Add support for Rocky-Linux-9 (#95)
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate_rocky_9.wf.json
  docs/image-import.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

upgrade-go-oauth2-and-storage-packages-versions
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/go.mod
  common/go.sum
  go/e2e_test_utils/go.mod
  go/e2e_test_utils/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

upgrade-go-oauth2-and-storage-packages-versions (#96)
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  common/go.mod
  common/go.sum
  go/e2e_test_utils/go.mod
  go/e2e_test_utils/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests
