Repository GoogleCloudPlatform/compute-image-import: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

Correct Debian worker image
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
Due: none

Use Debian 11 worker for rhel import (#33)
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
Due: none

Fix an example Dockerfile in run_e2e.sh
  run_e2e.sh
Due: none

Fix an example Dockerfile in run_e2e.sh (#34)
  run_e2e.sh
Due: none

udpate the supported operating systems and versions
  docs/image-import.md
Due: none

Revert "Use Debian 11 worker for rhel import (#33)"
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
Due: none

Revert "Use Debian 11 worker for rhel import (#33)" (#36)
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
Due: none

Split workers builders and resources projects.
  daisy_integration_tests/debian_10_worker.wf.json
  daisy_integration_tests/debian_11_worker.wf.json
  daisy_workflows/image_build/debian/debian_worker.wf.json
  debian_worker_cloudbuild.yaml
Due: none

doc: update the supported operating systems and versions
  docs/image-import.md
Due: none

update the supported operating systems and versions
  docs/image-import.md
Due: none

Split workers builders and resources projects. (#37)
  daisy_integration_tests/debian_10_worker.wf.json
  daisy_integration_tests/debian_11_worker.wf.json
  daisy_workflows/image_build/debian/debian_worker.wf.json
  debian_worker_cloudbuild.yaml
Due: none

Fix AWS unit tests.
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Fix AWS unit tests. (#39)
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/utils_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Import_Precheck_Add_support_for_GPT_and_grub2_in_Import_Precheck
  cli_tools/import_precheck/precheck/check_disks_linux.go
  cli_tools/import_precheck/precheck/check_disks_linux_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Import_Precheck_refactor_bootDisk_mount_info_function
  cli_tools/import_precheck/precheck/check_disks_linux.go
  cli_tools/import_precheck/precheck/check_disks_linux_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Import_Precheck_return_error_when_block_devices_len_is_greater_than_1
  cli_tools/import_precheck/precheck/check_disks_linux.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Import_Precheck_remove_dot_from_end_of_string_based_on_golint_comment
  cli_tools/import_precheck/precheck/check_disks_linux.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Import_Precheck_return_error_when_get_bootDisk_fails
  cli_tools/import_precheck/precheck/check_disks_linux.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Import_Precheck_Add_support_for_GPT_and_grub2_in_Import_Precheck (#38)
  cli_tools/import_precheck/precheck/check_disks_linux.go
  cli_tools/import_precheck/precheck/check_disks_linux_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

doc: update the supported operating systems and versions (#35)
  docs/image-import.md
Due: none

Use Debian-11 workers.
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
Due: none

ImageImport_drop_rhel_6_e2e_test
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

ImageImport_drop_rhel_6_e2e_test (#41)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

ImageImport_fix_post_translate_script_service_command
  daisy_integration_tests/scripts/post_translate_test.sh
Due: none

ImageImport_fix_post_translate_script_service_command (#42)
  daisy_integration_tests/scripts/post_translate_test.sh
Due: none

OVF_Import_change_e2e_test_instance_of_ubuntu_18_with_LVM_test
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

OVF_Import_change_e2e_test_instance_of_ubuntu_18_with_LVM_test (#43)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

OVF_Import_change_e2e_test_instance_of_ubuntu_1_18_with_LVM_GMA_test
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

OVF_Import_change_e2e_test_instance_of_ubuntu_1_18_with_LVM_GMA_test (#44)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

fix_un_time_error_if_workflow_file_does_not_exits
  cli_tools/common/image/importer/bootable_disk_processor.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

ImageImport_add_support_for_ubuntu_22
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-ubuntu-22.04.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-ubuntu-2204-jammy-v20220622.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-ubuntu-pro-2204-jammy-v20220622.yaml
  daisy_workflows/image_import/ubuntu/translate_ubuntu_2204.wf.json
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

ImageImport_remove_typo_comments_and_fix_ubuntu_22_version_in_translation_json_file
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-ubuntu-2204-jammy-v20220622.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-ubuntu-pro-2204-jammy-v20220622.yaml
  daisy_workflows/image_import/ubuntu/translate_ubuntu_2204.wf.json
Due: prow/presubmit/pytest/boot-inspect

Image import add support for ubuntu 22 (#45)
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/tests/test-data/images/docker-image-ubuntu-22.04.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-ubuntu-2204-jammy-v20220622.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-ubuntu-pro-2204-jammy-v20220622.yaml
  daisy_workflows/image_import/ubuntu/translate_ubuntu_2204.wf.json
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Add new debian-11 workers for RHEL image import workfows
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
Due: none

Add new debian-11 workers for RHEL image import workfows (#46)
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
Due: none

Revert Debian Worker
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
Due: none

Revert "Add new debian-11 workers for RHEL image import workfows (#46)"
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
Due: none

Revert Debian Worker (#47)
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
Due: none

fix daisy workflow links in the readme file
  README.md
Due: none

Update Debian worker for RHEL 8 imports
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
