Repository GoogleCloudPlatform/compute-image-import: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gotest/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gobuild/common:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - common/

prow/presubmit/gocheck/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

prow/presubmit/gobuild/cli-tools-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_tests/

Add support for opensuse 15.3 & opensuse 15.4 (#112)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-tests, prow/presubmit/gobuild/cli-tools-tests

Refactored cli-tools cloudbuild file to dynamically push wrappers to a list of regions in a list of GCP projects
  cli_tools_cloudbuild.yaml
  supported-regions
Due: none

Refactored cli-tools cloudbuild file to dynamically push wrappers to a list of regions in a list of GCP projects (#114)
  cli_tools_cloudbuild.yaml
  supported-regions
Due: none

Fix typo project name var in latest cloud-build yaml file
  cli_tools_cloudbuild.yaml
Due: none

Fix typo project name var in latest cloud-build yaml file (#115)
  cli_tools_cloudbuild.yaml
Due: none

Update rollout CloudBuild yaml files to push wrappers into two GCP projects
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_build_prepare.yaml
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_rollback.yaml
Due: none

Update rollout CloudBuild yaml files to push wrappers into two GCP projects (#116)
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_build_prepare.yaml
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_rollback.yaml
Due: none

Fix cloud-build deploy yaml file to iterate over the GCP projects correctly
  rollout/cli_tools_cloudbuild_deploy.yaml
Due: none

Fix cloud-build deploy yaml file to iterate over the GCP projects correctly (#117)
  rollout/cli_tools_cloudbuild_deploy.yaml
Due: none

Update e2e docker files to pull the base image from compute-image-import-test GCP project
  gce_image_import_export_tests.Dockerfile
  gce_ovf_export_tests.Dockerfile
  gce_ovf_import_tests.Dockerfile
Due: none

Update e2e docker files to pull the base image from compute-image-import-test GCP project (#118)
  gce_image_import_export_tests.Dockerfile
  gce_ovf_export_tests.Dockerfile
  gce_ovf_import_tests.Dockerfile
Due: none

Use compute-image-import GCP project's artifacts
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter.go
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter_test.go
  cli_tools/gce_ovf_export/exporter/instance_export_cleaner_test.go
  cli_tools/gce_ovf_export/exporter/instance_export_preparer_test.go
  cli_tools/import_precheck/README.md
  daisy_integration_tests/create_random_data_image.subwf.json
  daisy_integration_tests/image_export_vmdk_given_size_verify.subwf.json
  daisy_integration_tests/vmdk_import_latest.wf.json
  daisy_integration_tests/vmdk_import_release.wf.json
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
  daisy_workflows/export_metadata/export_metadata.wf.json
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_licensed.wf.json
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/inspection/README.md
  daisy_workflows/image_import/suse/suse_import/README.md
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
  image_test/metadata-script/shutdown-script-integrity.wf.json
  image_test/metadata-script/shutdown-script-junk.wf.json
  image_test/metadata-script/startup-script-integrity.wf.json
  image_test/metadata-script/startup-script-junk.wf.json
  image_test/metadata-script/sysprep-script-integrity.wf.json
  image_test/metadata-script/sysprep-script-junk.wf.json
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_rollback.yaml
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Use compute-image-import GCP project's artifacts (#119)
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_utils_test.go
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter.go
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter_test.go
  cli_tools/gce_ovf_export/exporter/instance_export_cleaner_test.go
  cli_tools/gce_ovf_export/exporter/instance_export_preparer_test.go
  cli_tools/import_precheck/README.md
  daisy_integration_tests/create_random_data_image.subwf.json
  daisy_integration_tests/image_export_vmdk_given_size_verify.subwf.json
  daisy_integration_tests/vmdk_import_latest.wf.json
  daisy_integration_tests/vmdk_import_release.wf.json
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
  daisy_workflows/export_metadata/export_metadata.wf.json
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_licensed.wf.json
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/inspection/README.md
  daisy_workflows/image_import/suse/suse_import/README.md
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
  image_test/metadata-script/shutdown-script-integrity.wf.json
  image_test/metadata-script/shutdown-script-junk.wf.json
  image_test/metadata-script/startup-script-integrity.wf.json
  image_test/metadata-script/startup-script-junk.wf.json
  image_test/metadata-script/sysprep-script-integrity.wf.json
  image_test/metadata-script/sysprep-script-junk.wf.json
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_rollback.yaml
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

rollback SUSE and Ubuntu translation workflows by downgrading the worker image version
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
Due: none

rollback SUSE and Ubuntu translation workflows by downgrading the worker image version (#120)
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
Due: none

Updating the logger for Image Import/Export.
  cli_tools/common/utils/logging/service/logger.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

rollback the worker image upgrade for the inflater step and image export workflows
  cli_tools/common/image/importer/api_inflater.go
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
  daisy_workflows/export_metadata/export_metadata.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

rollback the worker image upgrade for the inflater step and image export workflows (#121)
  cli_tools/common/image/importer/api_inflater.go
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
  daisy_workflows/export_metadata/export_metadata.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Updating Google Image Import/Export licenses
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/data_disk_processor.go
  cli_tools/common/image/importer/data_disk_processor_test.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/utils/param/release_param_utils.go
  cli_tools_cloudbuild.yaml
  daisy_workflows/image_import/import_and_translate.wf.json
  daisy_workflows/image_import/import_from_image.wf.json
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/inflate_image.wf.json
  daisy_workflows/ovf_import/import_ovf_to_instance.wf.json
  daisy_workflows/ovf_import/import_ovf_to_machine_image.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Updating Google Image Import/Export licenses
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/utils/logging/service/logger_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Updating Google Image Import/Export licenses
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/data_disk_processor_test.go
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Updating and fixing Google Image Import/Export licensing
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

Updating and fixing Google Image Import/Export licensing
  cli_tools_cloudbuild.yaml
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

Update inflation and image export workflows to use Debian Worker-Images from compute-image-import GCP project
  cli_tools/common/image/importer/api_inflater.go
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
  daisy_workflows/export_metadata/export_metadata.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Updating Google Image Import/Export licenses (#122)
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/data_disk_processor.go
  cli_tools/common/image/importer/data_disk_processor_test.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/utils/logging/service/logger_test.go
  cli_tools/common/utils/param/release_param_utils.go
  cli_tools_cloudbuild.yaml
  daisy_workflows/image_import/import_and_translate.wf.json
  daisy_workflows/image_import/import_from_image.wf.json
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/inflate_image.wf.json
  daisy_workflows/ovf_import/import_ovf_to_instance.wf.json
  daisy_workflows/ovf_import/import_ovf_to_machine_image.wf.json
  rollout/cli_tools_cloudbuild_build.yaml
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Update inflation and image export workflows to use Debian Worker-Images from compute-image-import GCP project (#123)
  cli_tools/common/image/importer/api_inflater.go
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
  daisy_workflows/export_metadata/export_metadata.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

Upgrade libguestFS version used for CentOS stream by upgrading worker-image version
  daisy_workflows/image_import/enterprise_linux/translate_centos_stream_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_stream_9.wf.json
Due: none

Upgrade libguestFS version used for CentOS stream by upgrading worker-image version (#124)
  daisy_workflows/image_import/enterprise_linux/translate_centos_stream_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_stream_9.wf.json
Due: none

Allow importing CentOS with no enabled repos when no-guest-env flag is enabled
  daisy_integration_tests/centos_7_translate_with_no_enabled_repos.json
  daisy_integration_tests/daisy_e2e.test.gotmpl
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Allow importing CentOS with no enabled repos when no-guest-env flag is enabled (#125)
  daisy_integration_tests/centos_7_translate_with_no_enabled_repos.json
  daisy_integration_tests/daisy_e2e.test.gotmpl
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Add renovate.json
  renovate.json
Due: none

fix-daisy-integration-tests-build-failure
  daisy_integration_tests/daisy_e2e.test.gotmpl
Due: none

Update Inflater unit-tests to point to compute-image-import GCP project
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/data_disk_processor_test.go
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/common, prow/presubmit/gotest/common, prow/presubmit/gobuild/common

fix-daisy-integration-tests-build-failure (#127)
  daisy_integration_tests/daisy_e2e.test.gotmpl
Due: none

updating Windows driver location to win6.3-signed-nonvme
  daisy_workflows/image_import/windows/translate_windows_10_x64_byol.wf.json
  daisy_workflows/image_import/windows/translate_windows_2012_r2.wf.json
  daisy_workflows/image_import/windows/translate_windows_2012_r2_byol.wf.json
  daisy_workflows/image_import/windows/translate_windows_2016.wf.json
  daisy_workflows/image_import/windows/translate_windows_2016_byol.wf.json
  daisy_workflows/image_import/windows/translate_windows_2019.wf.json
  daisy_workflows/image_import/windows/translate_windows_2019_byol.wf.json
  daisy_workflows/image_import/windows/translate_windows_2022.wf.json
  daisy_workflows/image_import/windows/translate_windows_2022_byol.wf.json
  daisy_workflows/image_import/windows/translate_windows_8_x64_byol.wf.json
Due: none

updating Windows driver location to win6.3-signed-nonvme (#128)
  daisy_workflows/image_import/windows/translate_windows_10_x64_byol.wf.json
  daisy_workflows/image_import/windows/translate_windows_2012_r2.wf.json
  daisy_workflows/image_import/windows/translate_windows_2012_r2_byol.wf.json
  daisy_workflows/image_import/windows/translate_windows_2016.wf.json
  daisy_workflows/image_import/windows/translate_windows_2016_byol.wf.json
  daisy_workflows/image_import/windows/translate_windows_2019.wf.json
  daisy_workflows/image_import/windows/translate_windows_2019_byol.wf.json
  daisy_workflows/image_import/windows/translate_windows_2022.wf.json
  daisy_workflows/image_import/windows/translate_windows_2022_byol.wf.json
  daisy_workflows/image_import/windows/translate_windows_8_x64_byol.wf.json
Due: none

Fix Docker Files issue to install latest gcsfuse version
  e2e_test_base.Dockerfile
  gce_onestep_image_import.Dockerfile
  gce_ovf_export.Dockerfile
  gce_ovf_import.Dockerfile
  gce_vm_image_import.Dockerfile
  gcsfuse-apt-key.gpg
Due: none

Fix Docker Files issue to install latest gcsfuse version (#129)
  e2e_test_base.Dockerfile
  gce_onestep_image_import.Dockerfile
  gce_ovf_export.Dockerfile
  gce_ovf_import.Dockerfile
  gce_vm_image_import.Dockerfile
  gcsfuse-apt-key.gpg
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/common: any of: common/.*
  prow/presubmit/gotest/common: any of: common/.*
  prow/presubmit/gobuild/common: any of: common/.*
  prow/presubmit/gocheck/cli-tools-tests: any of: cli_tools_tests/.*
  prow/presubmit/gobuild/cli-tools-tests: any of: cli_tools_tests/.*
