Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary

Try and deflake TestReadColumns
  pkg/updater/read.go
  pkg/updater/read_test.go
Due: push-testgrid-images

Move canary to the testgrid auto cluster.
  cluster/canary/BUILD.bazel
  cluster/deploy.sh
  hack/print-workspace-status.sh
Due: push-testgrid-images, post-testgrid-deploy-canary, testgrid-prod-autobump

Prevent divide by zero calculating rate
  util/log.go
Due: push-testgrid-images

Ignore columns with no cells.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Bumping Testgrid Canary
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Bumping Testgrid Prod
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Reduce Sleep info messages to long sleeps
  config/queue.go
Due: push-testgrid-images

Modernize summarizer deployment.
  cluster/canary/summarizer.yaml
  cluster/prod/summarizer.yaml
  cmd/summarizer/main.go
Due: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Stop blunderbussing to Ethan for now
  OWNERS
Due: push-testgrid-images

Modernize summarizer for canary too
  cluster/canary/summarizer.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Configure canary updater resources
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Use the autopilot cluster everywhere
  cluster/canary/BUILD.bazel
  cluster/deploy.sh
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
  hack/print-workspace-status.sh
Due: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Shrink grids to a reasonable size.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Remove unused variable
  pkg/updater/updater_test.go
Due: push-testgrid-images

Handle unused ctx in test column reader.
  pkg/updater/updater_test.go
Due: push-testgrid-images

Periodically update generations.
  pkg/updater/updater.go
Due: push-testgrid-images

Inability to find a bucket should not be an error
  pkg/updater/read.go
  pkg/updater/updater_test.go
  util/gcs/fake/fake.go
Due: push-testgrid-images

TestGrid Dynamic List - support extract email list from []interface{}
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
Due: push-testgrid-images

Run GC after updating a test group
  pkg/updater/updater.go
Due: push-testgrid-images

Limit the amount of time spent shrinking.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

TestGrid updater - on dynamic email list, solve casting []string issue
  pkg/updater/gcs.go
Due: push-testgrid-images

TestGrid updater - on dynamic email list, solve casting []string issue
  metadata/job.go
  pkg/updater/gcs.go
Due: push-testgrid-images

Detect wrapped precondition errors
  pkg/updater/BUILD.bazel
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Track groups that are updating.
  pkg/updater/updater.go
Due: push-testgrid-images

TestGrid updater - on dynamic email list, solve casting []string issue
  metadata/job.go
  metadata/job_test.go
  pkg/updater/gcs.go
Due: push-testgrid-images

TestGrid updater - on dynamic email list, solve casting []string issue
  metadata/job.go
Due: push-testgrid-images

Move API canary to GKE Ingress
  cluster/canary/api.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Add namespace to ingress
  cluster/canary/api.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Allow only reducing the time for a queued item.
  config/queue.go
  config/queue_test.go
  pkg/updater/updater.go
Due: push-testgrid-images

Initial pubsub package
  BUILD.bazel
  go.mod
  go.sum
  pkg/pubsub/BUILD.bazel
  pkg/pubsub/pubsub.go
  pkg/pubsub/pubsub_test.go
  repos.bzl
Due: push-testgrid-images
