Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

push-testgrid-images:
  decorate: true
  spec:
    serviceAccountName: testgrid-pusher
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20200609-e7bfd25-test-infra
      command:
      - ./images/push.sh

post-testgrid-deploy-prod:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/prod:prod.apply

post-testgrid-deploy-canary:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/canary:canary.apply

testgrid-prod-autobump:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/generic-autobumper:v20210714-62f15287bd
      command:
      - /app/prow/cmd/generic-autobumper/app.binary
      args:
      - --config=cluster/testgrid-prod-autobump-config.yaml
      volumeMounts:
      - name: github
  ...

Write knative tab state
  cluster/prod/BUILD.bazel
  cluster/prod/knative/tabulator.yaml
Due: post-testgrid-deploy-prod

Script to sync workload identity bindings
  cluster/bind-service-accounts.sh
Due: none

Write tab-based summaries
  cluster/canary/summarizer.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Use tab-path flag
  cluster/canary/summarizer.yaml
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Bumping Testgrid Canary
  cluster/canary/api.yaml
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/tabulator.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Reserve new test metadata field.
  pb/config/config.pb.go
  pb/config/config.proto
  pb/state/state.pb.go
  pb/state/state.proto
Due: push-testgrid-images

Write tab-based summaries to summary location in canary
  cluster/canary/summarizer.yaml
  cluster/canary/tabulator.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Consume test-group pubsub subscription with tabulator
  cluster/canary/summarizer.yaml
  cluster/canary/tabulator.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Add pubsub and persistent queue for knative summarizer
  cluster/prod/knative/setup-testgrid-pubsub.sh
  cluster/prod/knative/summarizer.yaml
Due: post-testgrid-deploy-prod

Add tab summarizer to knative
  cluster/prod/knative/summarizer.yaml
Due: post-testgrid-deploy-prod

Remove canary test-group summarizer
  cluster/canary/summarizer.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Add --persist-queue support to tabulator
  cmd/tabulator/main.go
  pkg/tabulator/BUILD.bazel
  pkg/tabulator/persist.go
  pkg/tabulator/tabstate.go
Due: push-testgrid-images

Write tab-based summary to summary-temp in prod
  cluster/prod/knative/summarizer.yaml
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod

Use tab-based summaries in production
  cluster/prod/knative/summarizer.yaml
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod

Fix some lint and patch issues.
  cluster/bind-service-accounts.sh
  pb/config/config.pb.go
  pb/config/config.proto
  pb/state/state.pb.go
  pb/state/state.proto
  pkg/tabulator/pubsub.go
  pkg/tabulator/tabstate.go
Due: push-testgrid-images

Bumping Testgrid Prod
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/tabulator.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/tabulator.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Move the test-group-updates subscription over to the tabulator.
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/tabulator.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Persist the canary tabulator queue
  cluster/canary/tabulator.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Add option to override build ID with config value.
  pb/config/config.pb.go
  pb/config/config.proto
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read.go
Due: push-testgrid-images

Persist production tabulator queues
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Delete unused summarizers
  cluster/prod/knative/summarizer.yaml
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod

Bump the max size of junit xml(s)
  util/gcs/read.go
Due: push-testgrid-images

Migrate api to read from tab state
  cluster/canary/api.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Allow prefix filtering on subscriptions.
  cluster/create-subscription.sh
  cluster/setup-testgrid-pubsub.sh
Due: none

Add newline at end of file.
  cluster/create-subscription.sh
Due: none

Wrap copy source errors as storage.ErrObjectNotExist
  util/gcs/BUILD.bazel
  util/gcs/real_gcs.go
  util/gcs/real_gcs_test.go
Due: push-testgrid-images

Restore --dashboard functionality.
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: push-testgrid-images

Receive all statuses from the column.
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: push-testgrid-images

Allow any filter for subscriptions.
  cluster/create-subscription.sh
Due: none

Add processing to tabulator
  cmd/tabulator/main.go
  pkg/tabulator/BUILD.bazel
  pkg/tabulator/tabstate.go
  pkg/tabulator/tabstate_test.go
Due: push-testgrid-images

Support reprocessing grid when the config changes
  cmd/updater/main.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Add --dashboard flag to tabulator
  cmd/tabulator/BUILD.bazel
  cmd/tabulator/main.go
  pkg/tabulator/tabstate.go
Due: push-testgrid-images

Limit reprocessing to certain groups
  cmd/updater/main.go
  pkg/updater/BUILD.bazel
  pkg/updater/updater.go
Due: push-testgrid-images

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary
