Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

pull-oss-test-infra-check-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - test
      - prow/oss/config.yaml
      - prow/prowjobs
      - testgrid/config.yaml
      - GoogleCloudPlatform

pull-knative-prow-config-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210206-3c06bdc6cf
      imagePullPolicy: Always
      command:
      - /checkconfig
      args:
      - --config-path=./prow/knative/config.yaml
      - --job-config-path=../../knative/test-infra/config/prod/prow/jobs
  ...

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-upload-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - /etc/github-token/oauth
      - prow/oss/config.yaml
      - prow/prowjobs
      - testgrid/config.yaml
      - GoogleCloudPlatform
      volumeMounts:
      - name: github
  ...

post-oss-test-infra-reconcile-hmacs:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/hmac:v20210206-3c06bdc6cf
      command:
      - /hmac
      args:
      - --config-path=prow/oss/config.yaml
      - --hook-url=https://oss-prow.knative.dev/hook
      - --hmac-token-secret-name=hmac-token
      - --hmac-token-key=hmac
  ...

Oss prow: enable secret managed by kubernetes external secrets
  prow/oss/README.md
  prow/oss/cluster/kubernetes-external-secrets_crd.yaml
  prow/oss/cluster/kubernetes-external-secrets_deployment.yaml
  prow/oss/cluster/kubernetes-external-secrets_rbac.yaml
  prow/oss/cluster/kubernetes-external-secrets_service.yaml
  prow/oss/cluster/monitoring/mixins/lib/config.libsonnet
  prow/oss/cluster/monitoring/mixins/prometheus/external_secret_alerts.libsonnet
  prow/oss/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
  prow/oss/cluster/monitoring/prow_servicemonitors.yaml
  prow/oss/serviceaccounts/GoogleCloudPlatform_oss-test-infra_serviceaccounts.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

add fly validate to concourse dir
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Update kubeflow-pipelines-presubmits.yaml
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Horologium: update RBAC with newly required permission
  prow/knative/cluster/301-rbac.yaml
  prow/oss/cluster/horologium.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Allow PRs created by knative-prow-updater-robot to be automatically merged
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate

Update oss-prow to v20210412-ed35ec0cee
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Update knative-prow to v20210412-ed35ec0cee
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Update oss-prow to v20210419-ac42fc915b
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Revert oss-prow deck to v20210412-ed35ec0cee
  prow/oss/cluster/deck.yaml
Due: post-oss-test-infra-deploy-prow

Patch deck to v20210419-68a26a452c
  prow/oss/cluster/deck.yaml
Due: post-oss-test-infra-deploy-prow

Update oss-prow to v20210419-8262f2d0c6
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Update knative-prow to v20210419-8262f2d0c6
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Revert "[ESPv2] Switch kubekins versions to GKE regular release channel"
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

use channel regular
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add external secret for github oauth2 secrets in preparation for private deck deployment
  prow/oss/cluster/kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-prow

Add private deck deployment to oss prow
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/config.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-reconcile-hmacs

use static one
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Update go deps: update deps from k8s/test-infra
  go.mod
  go.sum
  prow/tests/jobs_test.go
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

Update presubmit test image to use go1.15
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Onboarding chaotoppicks org: setting up webhook and accept invitation > > This is Chao's personal org for experimenting inrepoconfig and private deck
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Update hmac version with latest fix
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Fix a typo in private oss prow deck managed cert config
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Correct hmac image version that contains all fixes
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Deploy private deck in default namespace, btw change them to clusterIP instead of nodeIP
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Add back private deck certmanager and ingress
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Opt testgrid into automatic webhook management
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Private deck deployment uses KUBECONFIG env var
  prow/oss/cluster/deck_private_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Update create build cluster script for auto create PR
  prow/oss/create-build-cluster.sh
Due: none

Add missing mounts to private deck
  prow/oss/cluster/deck_private_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Configure managed webhooks for esp-v2 repo.
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Remove host from oss prow ingress
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Add compute-image-tools to deck.additional_allowed_buckets
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Convert all existing webhooks to be managed by hmac tool
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

fix compute-image-tools-test bucket
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Revert "use static one"
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Change deck service to use nodeport
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Add back private deck ingress #3
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Delete GoogleCloudPlatform/k8s-cloud-provider from hmac
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Enable kes in knative build cluster
  prow/knative/cluster/build/200-serviceaccounts.yaml
  prow/knative/cluster/build/500-kubernetes-external-secrets_crd.yaml
  prow/knative/cluster/build/500-kubernetes-external-secrets_deployment.yaml
  prow/knative/cluster/build/500-kubernetes-external-secrets_rbac.yaml
  prow/knative/cluster/build/500-kubernetes-external-secrets_service.yaml
Due: post-oss-test-infra-deploy-knative-prow

Path conditions:
  pull-oss-test-infra-check-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-upload-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-reconcile-hmacs: any of: prow/oss/config.yaml
