Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

pull-oss-test-infra-check-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - test
      - prow/oss/config.yaml
      - prow/prowjobs
      - testgrid/config.yaml
      - GoogleCloudPlatform

pull-knative-prow-config-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210206-3c06bdc6cf
      imagePullPolicy: Always
      command:
      - /checkconfig
      args:
      - --config-path=./prow/knative/config.yaml
      - --job-config-path=../../knative/test-infra/config/prod/prow/jobs
  ...

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-upload-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - /etc/github-token/oauth
      - prow/oss/config.yaml
      - prow/prowjobs
      - testgrid/config.yaml
      - GoogleCloudPlatform
      volumeMounts:
      - name: github
  ...

post-oss-test-infra-reconcile-hmacs:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/hmac:v20210206-3c06bdc6cf
      command:
      - /hmac
      args:
      - --config-path=prow/oss/config.yaml
      - --hook-url=https://oss-prow.knative.dev/hook
      - --hmac-token-secret-name=hmac-token
      - --hmac-token-key=hmac
  ...

Knative prow: add more detailed instruction on how to use KES
  prow/knative/README.md
Due: none

Update oss-prow to v20210426-51fd28eca9
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Update knative-prow to v20210426-51fd28eca9
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Fix private deck deployment with oauth2 fixes
  prow/oss/cluster/deck_private_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Fix the typo introduced in deck private deployment
  prow/oss/cluster/deck_private_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Turn down default hmac
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Enable inrepoconfig for chaotoppicks org
  prow/oss/config.yaml
  prow/oss/plugins.yaml
  prow/prowjobs/chaotoppicks/great-private-tools/great-private-tools.yaml
  prow/prowjobs/chaotoppicks/great-tools/great-tools.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Add a test for private cluster, separate public and private cluster usages
  go.mod
  go.sum
  prow/oss/config.yaml
  prow/oss/plugins.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/chaotoppicks/great-private-tools/great-private-tools.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/chaotoppicks/great-tools/great-tools.yaml
  prow/tests/jobs_test.go
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Add external secret from build cluster for looker-private
  prow/oss/cluster/kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-prow

Add build cluster kubeconfig for looker-private
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Fix Looker GCS bucket name.
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Configure build-looker-private jobs to use chaotoppicks.
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Fix a typo in private org name
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Make public Deck use a separate SA from other control plane components.
  prow/oss/cluster/deck.yaml
Due: post-oss-test-infra-deploy-prow

Fixing config checking jobs for private repos
  prow/prowjobs/private-inrepoconfig-configcheck/chaotoppicks/great-private-tools/great-private-tools.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/chaotoppicks/great-tools/great-tools.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Switch public Deck to use new SA.
  prow/oss/cluster/deck.yaml
Due: post-oss-test-infra-deploy-prow

Fix Deck RBAC by updating service account ref.
  prow/oss/cluster/deck.yaml
Due: post-oss-test-infra-deploy-prow

Make Tide data available to private Deck.
  prow/oss/cluster/deck_private_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Disable global cluster for inrepoconfig
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Update oss-prow to v20210502-ba10239e8c
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/chaotoppicks/great-private-tools/great-private-tools.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/chaotoppicks/great-tools/great-tools.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Update knative-prow to v20210502-ba10239e8c
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Private deck accessible only to a specific team
  prow/oss/cluster/deck_private_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Onboard looker org.
  prow/oss/config.yaml
  prow/oss/plugins.yaml
Due: post-oss-test-infra-reconcile-hmacs

Using looker key only
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Add Configurator to oss-prow
  prow/oss/serviceaccounts/GoogleCloudPlatform_testgrid_serviceaccounts.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  testgrid/default.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-upload-testgrid-config

Temporarily disable monitoring ingress.
  prow/oss/cluster/monitoring/grafana_expose.yaml
Due: post-oss-test-infra-deploy-prow

Update deck-private rbac.
  prow/oss/cluster/deck_private_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Make private deck HA and add readiness probes to public deck.
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Restrict to only helltool repo from looker org
  prow/oss/config.yaml
  prow/oss/plugins.yaml
Due: post-oss-test-infra-reconcile-hmacs

Configure private tide target_url for private looker repo.
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

only private repo in chaotoppicks repo can use private build cluster
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Add back job config checker job for looker/helltool
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Make in_repo config validation only run on config changes.
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Disable size plugin for looker/helltool.
  prow/oss/plugins.yaml
Due: none

Add GoogleCloudPlatform/k8s-cloud-provider to tide
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Configure Google Analytics for OSS Prow.
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Configure Google Analytics for Knative Prow.
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate

Update oss-prow to v20210510-9df9f3186f
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/chaotoppicks/great-private-tools/great-private-tools.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/chaotoppicks/great-tools/great-tools.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Update knative-prow to v20210510-9df9f3186f
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Add external secret from build cluster for knative
  prow/knative/cluster/build/600-kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-knative-prow

Path conditions:
  pull-oss-test-infra-check-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-upload-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-reconcile-hmacs: any of: prow/oss/config.yaml
