Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Path conditions:
  pull-oss-test-infra-check-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-upload-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-reconcile-hmacs: any of: prow/oss/config.yaml

Update kubeflow-pipelines-presubmits.yaml
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Update oss-prow to v20210315-198593ae42
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Update oss prow plugins to new form
  prow/oss/plugins.yaml
Due: none

Update knative prow plugins to new form
  prow/knative/plugins.yaml
Due: pull-knative-prow-config-validate

Update knative-prow to v20210315-198593ae42
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

[http-pattern-matcher] Add Prow setup for google/http_pattern_matcher
  prow/prowjobs/google/http_pattern_matcher/OWNERS
  prow/prowjobs/google/http_pattern_matcher/transcoding.yaml
  testgrid/config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix file name
  prow/prowjobs/google/http_pattern_matcher/http_pattern_matcher.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix file name
  prow/prowjobs/google/http_pattern_matcher/http-pattern-matcher.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix lint
  prow/prowjobs/google/http_pattern_matcher/http-pattern-matcher.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add managed webhook config
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Add oss-prow onboarding docs.
  README.md
  prow/oss/README.md
  prow/oss/onboarding.md
Due: none

config(kubeflow): require self approval for PRs
  prow/oss/plugins.yaml
Due: none

Serve plugin config from OSS Prow's Deck.
  prow/oss/cluster/deck.yaml
Due: post-oss-test-infra-deploy-prow

Serve plugin config from Knative Prow's Deck.
  prow/knative/cluster/400-deck.yaml
Due: post-oss-test-infra-deploy-knative-prow

OSS prow: upgrade prometheus operator from 0.29.0 to 0.45.0
  prow/oss/cluster/monitoring/prometheus_operator_deployment.yaml
  prow/oss/cluster/monitoring/prometheus_operator_rbac.yaml
  prow/oss/cluster/monitoring/prow_alertmanager.yaml
  prow/oss/cluster/monitoring/prow_prometheus.yaml
Due: post-oss-test-infra-deploy-prow

[http-pattern-matcher] Update branch name
  prow/prowjobs/google/http_pattern_matcher/http-pattern-matcher.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add CRDs
  prow/oss/cluster/monitoring/Makefile
  prow/oss/cluster/monitoring/prometheus-operator-crds/README.md
  prow/oss/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_alertmanagerconfigs.yaml
  prow/oss/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_alertmanagers.yaml
  prow/oss/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_podmonitors.yaml
  prow/oss/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_probes.yaml
  prow/oss/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_prometheuses.yaml
  prow/oss/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_prometheusrules.yaml
  prow/oss/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_servicemonitors.yaml
  prow/oss/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_thanosrulers.yaml
Due: post-oss-test-infra-deploy-prow

Knative prow: upgrade prometheus operator from 0.29.0 to 0.45.0
  prow/knative/cluster/monitoring/Makefile
  prow/knative/cluster/monitoring/prometheus-operator-crds/README.md
  prow/knative/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_alertmanagerconfigs.yaml
  prow/knative/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_alertmanagers.yaml
  prow/knative/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_podmonitors.yaml
  prow/knative/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_probes.yaml
  prow/knative/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_prometheuses.yaml
  prow/knative/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_prometheusrules.yaml
  prow/knative/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_servicemonitors.yaml
  prow/knative/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_thanosrulers.yaml
  prow/knative/cluster/monitoring/prometheus_operator_deployment.yaml
  prow/knative/cluster/monitoring/prometheus_operator_rbac.yaml
  prow/knative/cluster/monitoring/prow_alertmanager.yaml
  prow/knative/cluster/monitoring/prow_prometheus.yaml
Due: post-oss-test-infra-deploy-knative-prow

Knative prow monitoring secret: updated with a script instead of make rule
  prow/knative/cluster/monitoring/Makefile
  prow/knative/cluster/monitoring/secrets/replace-secrets-from-gcp.sh
Due: post-oss-test-infra-deploy-knative-prow

OSS prow monitoring secret: updated with a script instead of make rule
  prow/oss/cluster/monitoring/Makefile
  prow/oss/cluster/monitoring/secrets/replace-secrets-from-gcp.sh
Due: post-oss-test-infra-deploy-prow

Update oss-prow to v20210319-2181a9e7d7
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Update knative-prow to v20210322-23ade8ba07
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

test(kubeflow): kubeflow-pipelines-v2-samples-test
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

test(kubeflow): enable kubeflow-pipelines-samples-v2 test
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

remove guest postsubmit builds
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

test(kubeflow): set up presubmit for kubeflow/internal-acls
  prow/prowjobs/kubeflow/internal-acls/kubeflow-internal-acls.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Update oss-prow to v20210329-38365dd4a8
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Update knative-prow to v20210329-38365dd4a8
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Update kubeflow-internal-acls.yaml
  prow/prowjobs/kubeflow/internal-acls/kubeflow-internal-acls.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

test(kubeflow): add kubeflow-pipelines-manifests test
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Update oss-prow to v20210404-ef7abaaa70
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Update knative-prow to v20210404-ef7abaaa70
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Knative prow: enable secret managed by kubernetes external secrets
  prow/knative/README.md
  prow/knative/cluster/500-kubernetes-external-secrets_crd.yaml
  prow/knative/cluster/500-kubernetes-external-secrets_deployment.yaml
  prow/knative/cluster/500-kubernetes-external-secrets_rbac.yaml
  prow/knative/cluster/500-kubernetes-external-secrets_service.yaml
  prow/knative/cluster/monitoring/mixins/prometheus/external_secret_alerts.libsonnet
  prow/knative/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
  prow/knative/cluster/monitoring/prow_servicemonitors.yaml
Due: post-oss-test-infra-deploy-knative-prow

Add unit tests for google-cloud component
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

setting tests env to 3.8
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

chage title to py38 to match test python version
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

update test script path
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

update script path and simplify run_if_changed.
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add service account
  prow/knative/cluster/200-serviceaccounts.yaml
  prow/knative/cluster/monitoring/mixins/lib/config.libsonnet
Due: post-oss-test-infra-deploy-knative-prow
