Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-test-infra-gencred-refresh-kubeconfig

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-staging-test-infra/gcloud-in-go:v20220607-33951ed1ed
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-create-testgrid-config:
  labels:
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    serviceAccountName: testgrid-config-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230309-adf0d41516
      command:
      - configurator
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
  ...

post-test-infra-gencred-refresh-kubeconfig:
  decorate: true
  spec:
    serviceAccountName: gencred-refresher
    containers:
    - name: gencred
      image: gcr.io/k8s-prow/gencred:v20230309-adf0d41516
      command:
      - gencred
      args:
      - --config=./prow/oss/gencred-config/gencred-config.yaml

Update gcp-guest owners.
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
Due: none

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

add presubmit tests for kfp runtime code
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Update gcp-guest-config.yaml
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

Add external secret from build cluster for bms-oracle-team
  prow/oss/cluster/kubernetes_external_secrets.yaml
  prow/oss/gencred-config/gencred-config.yaml
Due: post-oss-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Add build cluster kubeconfig for bms-oracle-team
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Unregister bms-oracle-team BYO build cluster
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/kubernetes_external_secrets.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Cit 12 hour performance periodics
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

Revert incorrect onboarding in PRs 2051 and 2050
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/kubernetes_external_secrets.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/gencred-config/gencred-config.yaml
Due: post-oss-test-infra-deploy-prow, post-test-infra-gencred-refresh-kubeconfig

Use a separate large job pool for the release CI
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
Due: post-oss-test-infra-create-testgrid-config

exclude hotattach
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

Exclude shape validation from cit periodics
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

Add new test suites to 12 hour periodic
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

add gke-gcloud-auth-plugin kubeconfig file for the oss-prow
  prow/Makefile.gcloud.mk
  prow/oss/kubeconfigs.yaml
Due: none

use new "kubeconfigs" configmap in prow-controller-manager
  prow/oss/cluster/prow-controller-manager.yaml
Due: post-oss-test-infra-deploy-prow

fix kubeconfig for test-infra-trusted cluster
  prow/Makefile.gcloud.mk
  prow/oss/Makefile
  prow/oss/cluster/kubeconfigs/kubeconfigs.yaml
  prow/oss/cluster/prow-controller-manager.yaml
Due: post-oss-test-infra-deploy-prow

mount kubeconfigs configmap into other prow components
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

restore sdk-execution-test as required test
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

Update the kubekins-e2e and gke-e2e image for kpt-config-sync
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-postsubmits.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-presubmits.yaml
Due: post-oss-test-infra-create-testgrid-config

fix: add missing character to gke-e2e tag
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics-release.yaml
  prow/prowjobs/GoogleContainerTools/kpt-config-sync/kpt-config-sync-periodics.yaml
Due: post-oss-test-infra-create-testgrid-config

Add windows and partner images to CIT performance periodics
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

Switch CIT periodics to run against live images instead of bct-prod-images
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

Add debian 12 to CIT periodics
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

Exclude storageperfbalanced once it is out
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

Bump cit-performance-peridiocs timeout to 5h to accomodate windows images
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: post-oss-test-infra-create-testgrid-config

Path conditions:
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-test-infra-gencred-refresh-kubeconfig: any of: ^prow/oss/gencred-config/
