Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

push-testgrid-images:
  decorate: true
  spec:
    serviceAccountName: testgrid-pusher
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20200609-e7bfd25-test-infra
      command:
      - ./images/push.sh

post-testgrid-deploy-prod:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/prod:prod.apply

post-testgrid-deploy-canary:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/canary:canary.apply

testgrid-prod-autobump:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/generic-autobumper:v20210714-62f15287bd
      command:
      - /app/prow/cmd/generic-autobumper/app.binary
      args:
      - --config=cluster/testgrid-prod-autobump-config.yaml
      volumeMounts:
      - name: github
  ...

Move tab alert settings behind a flag
  cmd/tabulator/main.go
  pkg/tabulator/tabstate.go
  pkg/tabulator/tabstate_test.go
Due: push-testgrid-images

Bumping Testgrid Canary
  cluster/canary/api.yaml
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/tabulator.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Enable filter-columns on TG Canary
  cluster/canary/tabulator.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Bumping Testgrid Prod
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/tabulator.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/tabulator.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Filter columns in prod
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Migrate no-cache option to constant
  pkg/merger/merger.go
  pkg/summarizer/summary.go
  pkg/tabulator/tabstate.go
  pkg/updater/updater.go
  util/gcs/gcs.go
  util/gcs/local_gcs_test.go
  util/gcs/sort.go
  util/queue/persist.go
Due: push-testgrid-images

Calculate column stats in canary.
  cluster/canary/tabulator.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Refactor tabulator algorithm to operate by group
  cmd/tabulator/main.go
  pkg/tabulator/persist.go
  pkg/tabulator/pubsub.go
  pkg/tabulator/tabstate.go
Due: push-testgrid-images

add benchmark
  benchmark/tabulator.sh
Due: push-testgrid-images

Tune tabulator
  cluster/canary/tabulator.yaml
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Set filter default to true
  cmd/tabulator/main.go
Due: push-testgrid-images

Concurrently summarize tabs in a dashboard.
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: push-testgrid-images

Track when a dashboard needs more tabs summarized
  pkg/summarizer/summary.go
Due: push-testgrid-images

Use go for tabulator benchmarking
  .gitignore
  BUILD.bazel
  benchmark/BUILD.bazel
  benchmark/tabulator.sh
  benchmark/tabulator_bench_test.go
Due: push-testgrid-images

Use --json-logs on kubernetes.
  cluster/canary/tabulator.yaml
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Remove filter flag from canary
  cluster/canary/tabulator.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Remove filter flag from production
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Concurrently read GCS builds when requested
  cmd/updater/main.go
  pkg/updater/read.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Remove --summary-path (using default value)
  cluster/canary/summarizer.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Default --tab-path=tabs for api and summarizer
  cmd/api/main.go
  cmd/summarizer/main.go
Due: push-testgrid-images

Turn on pooled updating in canary.
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Fix typos, non-ref pb
  config/cache.go
  pkg/api/v1/config.go
  pkg/api/v1/state.go
  pkg/summarizer/summary.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  util/gcs/gcs.go
  util/metrics/prometheus/prometheus.go
Due: push-testgrid-images

Use --pooled in production
  cluster/prod/knative/updater.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Stop setting --tab-path to its default value
  cluster/canary/api.yaml
  cluster/canary/summarizer.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Require summarizer to use tab state
  cmd/summarizer/main.go
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: push-testgrid-images

Stop setting --grid-path=unused
  cluster/canary/summarizer.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Drop copyOnly support for tabulator
  benchmark/tabulator_bench_test.go
  cmd/tabulator/main.go
  pkg/tabulator/BUILD.bazel
  pkg/tabulator/tabstate.go
Due: push-testgrid-images

Only serialize reads of many builds
  pkg/updater/read.go
Due: push-testgrid-images

Improve Iter() performance.
  internal/result/results.go
  internal/result/results_test.go
  pkg/summarizer/flakiness.go
  pkg/summarizer/flakiness_test.go
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
  pkg/updater/updater.go
Due: push-testgrid-images

Add flag to turn off forced GC
  cmd/updater/main.go
  pkg/updater/updater.go
Due: push-testgrid-images

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary
