Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-create-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Path conditions:
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-reconcile-hmacs: any of: prow/oss/config.yaml

Terraform: http uptime check alert
  prow/oss/terraform/main.tf
  prow/oss/terraform/modules/alerts/main.tf
  prow/oss/terraform/modules/alerts/probers.tf
Due: none

Fix heartbeat job alert by summing values from all pods
  prow/oss/terraform/modules/alerts/main.tf
Due: none

Bumping knative-prow
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Add sinker alerts
  prow/oss/terraform/modules/alerts/main.tf
Due: none

webhook missing alert with terraform
  prow/oss/terraform/modules/alerts/main.tf
Due: none

Fix webhook missing alert
  prow/oss/terraform/modules/alerts/main.tf
Due: none

Bumping oss-prow
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Add serviceaccounts.yaml file to build cluster.
  prow/oss/cluster/build/serviceaccounts.yaml
Due: post-oss-test-infra-deploy-prow

Add optional fields to avoid noise from terraform plan
  prow/oss/terraform/modules/alerts/probers.tf
Due: none

Use presubmits SA on the testgrid presubmit
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-images.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add default prowjob service account for workload identity
  prow/oss/cluster/build/serviceaccounts.yaml
Due: post-oss-test-infra-deploy-prow

All jobs using default build cluster use WI by default
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

TEST ONLY
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Increase hook replicas to 6 and set resource requests
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

Add liveliness and readinessprobe for hook
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

Configure tenantIDs for private prowjobs
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Added trigger plugin override
  prow/oss/plugins.yaml
Due: none

Create SA for running jobs in test-infra-trusted cluster
  prow/oss/serviceaccounts/GoogleCloudPlatform_oss-test-infra_serviceaccounts.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Jobs in test-infra-trusted cluster use WI by default
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Add external secret from build cluster for looker-int-test
  prow/oss/cluster/kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-prow

Add build cluster kubeconfig for looker-int-test
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Add build-looker-int-test cluster
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

add listx as approver for the repo
  OWNERS
Due: none

knative build cluster: update external secret to 8.3.0
  prow/knative/cluster/build/500-kubernetes-external-secrets_crd.yaml
  prow/knative/cluster/build/500-kubernetes-external-secrets_deployment.yaml
  prow/knative/cluster/build/500-kubernetes-external-secrets_rbac.yaml
Due: post-oss-test-infra-deploy-knative-prow

Revert "Bumping oss-prow"
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

add build-gcp-guest cluster
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

use old name
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs
