Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary

Bumping Testgrid Canary
  cluster/canary/api.yaml
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Bumping Testgrid Prod
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Enable persistent summarizer queue in prod
  cluster/prod/knative/summarizer.yaml
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod

Improve persistent queue routine.
  util/queue/persist.go
Due: push-testgrid-images

Improve some godoc
  pkg/updater/eval.go
  util/queue/queue.go
Due: push-testgrid-images

Remove tabs in .kazelcfg.json
  .kazelcfg.json
Due: push-testgrid-images

Add Tabulator image.
  cmd/tabulator/BUILD.bazel
  images/BUILD.bazel
Due: push-testgrid-images

Use snapshot lib in updater
  pkg/updater/BUILD.bazel
  pkg/updater/updater.go
Due: push-testgrid-images

Delete fetchConfig func
  pkg/summarizer/summary.go
Due: push-testgrid-images

Fix snapshot test
  config/snapshot/config_snapshot_test.go
Due: push-testgrid-images

Add Tabulator to canary.
  cluster/canary/BUILD.bazel
  cluster/canary/tabulator.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Use a specific image for canary Tabulator.
  cluster/canary/tabulator.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Differentiate between file-does-not-exist and other errors.
  pkg/tabulator/BUILD.bazel
  pkg/tabulator/tabstate.go
  util/gcs/local_gcs.go
Due: push-testgrid-images

Fix JUnit struct definitions to follow https://llg.cubic.org/docs/junit/
  go.sum
  metadata/junit/junit.go
  metadata/junit/junit_test.go
  pkg/updater/eval.go
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read_test.go
Due: push-testgrid-images

Differentiate between file-does-not-exist and other errors.
  util/gcs/local_gcs.go
Due: push-testgrid-images

Add Tabulator to prod.
  cluster/prod/BUILD.bazel
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Bumping Testgrid Canary
  cluster/canary/api.yaml
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/tabulator.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Bumping Testgrid Prod
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/tabulator.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Point prod Tabulator to prod bucket.
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Add basic instructions for adding a new component to the release.
  cluster/prod/README.md
Due: post-testgrid-deploy-prod

Allow tabulator to subscribe to updates
  cmd/tabulator/BUILD.bazel
  cmd/tabulator/main.go
Due: push-testgrid-images

junit: Use "message" attribute at Message func
  metadata/junit/junit.go
  metadata/junit/junit_test.go
Due: push-testgrid-images

Allow local file creation to create nested files
  util/gcs/local_gcs.go
  util/gcs/local_gcs_test.go
Due: push-testgrid-images

Support reading tab state
  cmd/api/main.go
  cmd/summarizer/main.go
  pkg/api/router.go
  pkg/api/v1/BUILD.bazel
  pkg/api/v1/config_test.go
  pkg/api/v1/server.go
  pkg/api/v1/state.go
  pkg/api/v1/state_test.go
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
  pkg/tabulator/tabstate.go
  pkg/tabulator/tabstate_test.go
Due: push-testgrid-images

Create tab and test group pubsub subscriptions
  cluster/canary/summarizer.yaml
  cluster/prod/summarizer.yaml
  cluster/setup-testgrid-pubsub.sh
  cmd/summarizer/main.go
Due: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Add tab state support to summarizer pubsub fixer
  cmd/summarizer/main.go
  cmd/tabulator/BUILD.bazel
  cmd/tabulator/main.go
  pkg/tabulator/BUILD.bazel
  pkg/tabulator/pubsub.go
  pkg/tabulator/pubsub_test.go
Due: push-testgrid-images

Ignore poorly named objects
  pkg/pubsub/pubsub.go
  pkg/pubsub/pubsub_test.go
Due: push-testgrid-images

Reserve a field for AutoBug use.
  pb/config/config.pb.go
  pb/config/config.proto
Due: push-testgrid-images

Correct pubsub subscription
  cluster/canary/summarizer.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Create knative tabulator
  cluster/prod/knative/tabulator.yaml
Due: post-testgrid-deploy-prod
