Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

push-testgrid-images:
  decorate: true
  spec:
    serviceAccountName: testgrid-pusher
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20200609-e7bfd25-test-infra
      command:
      - ./images/push.sh

post-testgrid-deploy-prod:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/prod:prod.apply

post-testgrid-deploy-canary:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/canary:canary.apply

testgrid-prod-autobump:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/generic-autobumper:v20210714-62f15287bd
      command:
      - /app/prow/cmd/generic-autobumper/app.binary
      args:
      - --config=cluster/testgrid-prod-autobump-config.yaml
      volumeMounts:
      - name: github
  ...

Add implementation for ListHeaders, ListRows + Unit test coverage
  cmd/api/main.go
  pkg/api/router.go
  pkg/api/v1/BUILD.bazel
  pkg/api/v1/config_test.go
  pkg/api/v1/server.go
  pkg/api/v1/state.go
  pkg/api/v1/state_test.go
Due: push-testgrid-images

Bumping Testgrid Canary
  cluster/canary/api.yaml
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Bumping Testgrid Prod
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Update config APIs response type
  pkg/api/v1/config.go
Due: push-testgrid-images

Reduce updater replicas to 1
  cluster/canary/updater.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Fix a panic in updater (if update errors and freq = 0)
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Add more options for comparing states.
  go.mod
  go.sum
  hack/BUILD.bazel
  hack/compare_states.go
  hack/compare_states_test.go
  repos.bzl
Due: push-testgrid-images

Move compare_states.go to cmd/state_comparer.
  BUILD.bazel
  cmd/state_comparer/BUILD.bazel
  cmd/state_comparer/README.md
  cmd/state_comparer/main.go
  cmd/state_comparer/main_test.go
  hack/BUILD.bazel
Due: push-testgrid-images

Check the correct stat error.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Trace when we connect to pubsub subscriptions
  pkg/pubsub/pubsub.go
Due: push-testgrid-images

Correct updater resources
  cluster/canary/updater.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Note when we there are more columns to append next cycle
  pkg/updater/updater.go
Due: push-testgrid-images

Allocate metrics more precisely
  pkg/updater/inflate.go
Due: push-testgrid-images

Stop touching the grid before download, tracking generation.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
  util/gcs/gcs.go
Due: push-testgrid-images

Configure pubsub for knative testgrid instance
  cluster/prod/knative/OWNERS
  cluster/prod/knative/setup-pubsub.sh
  cluster/prod/knative/updater.yaml
Due: post-testgrid-deploy-prod

Fix lint error
  pkg/updater/updater.go
Due: push-testgrid-images

Reduce to a single updater replica.
  cluster/prod/knative/updater.yaml
Due: post-testgrid-deploy-prod

Fix timestamp assignment from columns
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Add field metrics to config merger
  cmd/config_merger/BUILD.bazel
  cmd/config_merger/main.go
  config/BUILD.bazel
  config/fields.go
  config/fields_test.go
  go.sum
  pkg/merger/merger.go
  pkg/merger/merger_test.go
Due: push-testgrid-images

Add repeated key-value pairs for cells in state.
  pb/state/state.pb.go
  pb/state/state.proto
  pkg/updater/inflate.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Don't store properties on group-delimiter rows.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Truncate long messages when storing in state.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Increase CPU, RAM and --build-concurrency
  cluster/canary/updater.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Tune canary concurrency, timeout, ram, cpu
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Tune prod updater.
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Allow InflateGrid to time out.
  pkg/updater/inflate.go
  pkg/updater/inflate_test.go
  pkg/updater/updater.go
Due: push-testgrid-images

Populate FailBuildID based on data source
  pb/config/config.proto
  pkg/summarizer/summary.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary
