Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-create-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

pull-oss-test-infra-check-create-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20210714-62f15287bd
      command:
      - /app/testgrid/cmd/configurator/app.binary
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
      - --prow-config=prow/oss/config.yaml
  ...

pull-knative-prow-config-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210714-62f15287bd
      imagePullPolicy: Always
      command:
      - /checkconfig
      args:
      - --config-path=./prow/knative/config.yaml
      - --job-config-path=../../knative/test-infra/config/prod/prow/jobs
  ...

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-create-testgrid-config:
  labels:
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    serviceAccountName: testgrid-config-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20210714-62f15287bd
      command:
      - /app/testgrid/cmd/configurator/app.binary
      args:
      - --yaml=testgrid/config.yaml
  ...

post-oss-test-infra-reconcile-hmacs:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/hmac:v20210714-62f15287bd
      command:
      - /hmac
      args:
      - --config-path=prow/oss/config.yaml
      - --hook-url=https://oss-prow.knative.dev/hook
      - --hmac-token-secret-name=hmac-token
      - --hmac-token-key=hmac
  ...

Bumping oss-prow
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Bumping knative-prow
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Add Prow and job config for bazelbuild/rules_k8s repo
  prow/oss/config.yaml
  prow/oss/plugins.yaml
  prow/prowjobs/bazelbuild/rules_k8s/OWNERS
  prow/prowjobs/bazelbuild/rules_k8s/rules_k8s_config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Update alert notification channel to match channel in prow-metrics project.
  prow/oss/terraform/main.tf
Due: none

Fix regex equallity typo in rate limit exhaustion prediction.
  prow/oss/terraform/modules/alerts/main.tf
Due: none

Add GKE Workload Monitoring PodMonitor resources for knative-prow.
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/monitoring/prow_podmonitors.yaml
Due: post-oss-test-infra-deploy-knative-prow

oss-test-infra opts in authenticating github with app
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

Add alerting configuration for k8s-prow.
  prow/oss/terraform/main.tf
  prow/oss/terraform/modules/alerts/probers.tf
  prow/oss/terraform/modules/alerts/variables.tf
Due: none

Monitor crier/ghproxy/horologium for pod crash loop.
  prow/oss/terraform/main.tf
Due: none

Add external secret from build cluster for bms-oracle-team
  prow/oss/cluster/kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-prow

Add build cluster kubeconfig for bms-oracle-team
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Branch protect only the branches we care about
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate

configure test prowjob for google/bms-toolkit repo
  prow/oss/config.yaml
  prow/prowjobs/google/bms-toolkit/test-install-oracle.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

fix comment
  prow/prowjobs/google/bms-toolkit/test-install-oracle.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add gh-pages to include. Fix regex
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate

Try specifying path field in uptime_url checks.
  prow/oss/terraform/modules/alerts/probers.tf
Due: none

Remove uptime_url checks that specify a path.
  prow/oss/terraform/main.tf
  prow/oss/terraform/modules/alerts/probers.tf
Due: none

looker and oss-test-infra stop hmac rotation
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Enable in-repo config for this repo.
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Make helltool checkconfig job include core job config.
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

testgrid repo uses github app for authentication
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

GoogleCloudPlatform all switch over to use GitHub app
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

Migrate kubeflow org to use GitHub app for authenticating
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

Stop managing hmac tokens for GoogleCloudPlatform repos
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Path conditions:
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-reconcile-hmacs: any of: prow/oss/config.yaml
