Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: post-testgrid-deploy-prod, post-testgrid-deploy-canary

Path conditions:
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary

Use test_status.proto.
  internal/result/BUILD.bazel
  internal/result/results.go
  pb/state/state.pb.go
  pb/state/state.proto
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/flakiness.go
  pkg/summarizer/flakiness_test.go
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
  pkg/updater/BUILD.bazel
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/inflate.go
  pkg/updater/inflate_test.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Refactoring of config.proto
  pb/config/config.proto
Due: none

Generated code
  pb/config/config.pb.go
Due: none

Update test status severity.
  internal/result/results.go
Due: none

Switch seconds-elapsed to test-duration-minutes
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read_test.go
Due: none

Upgrade canary to v20200911-v0.0.21-2-gffa64bc
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Promote v20200911-v0.0.21-2-gffa64bc to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Migrate to new sortorder import path
  go.mod
  go.sum
  pkg/updater/BUILD.bazel
  pkg/updater/updater.go
  pkg/updater/updater_test.go
  repos.bzl
  util/gcs/BUILD.bazel
  util/gcs/read.go
Due: none

If stale alerts not configured, don't alert on no runs.
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: none

Less updater concurrency by default
  cmd/updater/main.go
  cmd/updater/main_test.go
Due: none

Add DashboardTabFlakinessAlertOptions to config.proto
  pb/config/config.pb.go
  pb/config/config.proto
Due: none

Update protos
  pb/config/config.proto
  pb/summary/summary.proto
Due: none

Generated code
  pb/config/config.pb.go
  pb/summary/summary.pb.go
Due: none

Increase updater timeouts.
  cluster/canary/updater.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary

Use cmp.Diff with sorting in tests to reduce test flakiness
  pkg/summarizer/flakiness_test.go
Due: none

Add properties to alert info.
  pb/state/state.pb.go
  pb/state/state.proto
Due: none

Add infra failures to summary proto
  pb/summary/summary.pb.go
  pb/summary/summary.proto
  pkg/summarizer/analyzers/BUILD.bazel
  pkg/summarizer/analyzers/baseanalyzer.go
  pkg/summarizer/analyzers/baseanalyzer_test.go
  pkg/summarizer/analyzers/flipanalyzer_test.go
  pkg/summarizer/flakiness.go
Due: none

Add more prominent information about UI changes
  build_test_update.md
Due: none

Rephrase FE UI information
  build_test_update.md
Due: none

Add properties to failing test summaries.
  pb/summary/summary.pb.go
  pb/summary/summary.proto
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: none

Add an is_flakiness_bug field to the IssueInfo proto so that we can open and track flakiness bugs separately.
  pb/issue_state/issue_state.pb.go
  pb/issue_state/issue_state.proto
Due: none

Update canary to v20201013-v0.0.24-7-gdc1cc49
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Handle xml documents with invalid utf-8 messages
  metadata/junit/junit.go
  metadata/junit/junit_test.go
Due: none

Update canary to v20201015-v0.0.25-2-g481a3cb
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Promote v20201015-v0.0.25-2-g481a3cb to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Handle GCS prefix returning earlier builds
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Upgrade canary to v20201020-v0.0.25-8-g957c387
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Improve updater documentation
  cmd/updater/README.md
Due: none

Promote v20201020-v0.0.25-8-g957c387 to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Link to state proto
  cmd/updater/README.md
Due: none

Only process kubernetes client groups.
  cmd/updater/main.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Make results Lte and Gte not stutter.
  internal/result/results.go
Due: none

Fix function comment and capitalization.
  internal/result/results.go
Due: none

Handle gcs.ResolveReference() errors.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Refactor update to allow control over updateGroup.
  cmd/updater/main.go
  pkg/updater/BUILD.bazel
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Fix IsPassingResult() and Coalesce().
  internal/result/BUILD.bazel
  internal/result/results.go
  internal/result/results_test.go
Due: none

Switch some proto args to *proto
  cmd/updater/main.go
  pkg/updater/read.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Allow local defaults for a config directory.
  WORKSPACE
  config/yamlcfg/BUILD.bazel
  config/yamlcfg/yaml2proto.go
  config/yamlcfg/yaml2proto_test.go
Due: none

Update alerts in protos with hotlist IDs.
  pb/state/state.pb.go
  pb/state/state.proto
  pb/summary/summary.pb.go
  pb/summary/summary.proto
Due: none
