Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary

Added simple autobug field for arbitrary extra text
  pb/config/config.pb.go
  pb/config/config.proto
Due: push-testgrid-images

Document update-protos requiring python2
  build_test_update.md
Due: push-testgrid-images

Reserve a field for AutoBug options.
  pb/config/config.pb.go
  pb/config/config.proto
Due: push-testgrid-images

Bumping Testgrid Canary
  cluster/canary/api.yaml
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Bumping Testgrid Prod
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Allow multiple ccs in default test metadata
  pb/config/config.pb.go
  pb/config/config.proto
Due: push-testgrid-images

Refactor config snapshot to lib
  BUILD.bazel
  config/BUILD.bazel
  config/snapshot/BUILD.bazel
  config/snapshot/config_snapshot.go
  config/snapshot/config_snapshot_test.go
  pkg/summarizer/summary.go
Due: push-testgrid-images

Create Tabulator
  cmd/tabulator/BUILD.bazel
  cmd/tabulator/main.go
  go.mod
  pkg/tabulator/BUILD.bazel
  pkg/tabulator/tabstate.go
  pkg/tabulator/tabstate_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
  util/gcs/fake/fake.go
Due: push-testgrid-images

Add service definition to data.proto
  pb/api/v1/BUILD.bazel
  pb/api/v1/data.pb.go
  pb/api/v1/data.proto
Due: push-testgrid-images

Deduplicate context dependency
  config/snapshot/BUILD.bazel
  config/snapshot/config_snapshot_test.go
  go.mod
Due: push-testgrid-images

Refactor to gRPC API interface
  pkg/api/v1/config.go
  pkg/api/v1/config_test.go
  pkg/api/v1/server.go
  pkg/api/v1/state.go
Due: push-testgrid-images

Migrate summarizer to config snapshot library
  config/snapshot/config_snapshot.go
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/summary.go
Due: push-testgrid-images

Govet changes
  config/snapshot/config_snapshot_test.go
  pkg/tabulator/tabstate.go
  pkg/updater/updater.go
Due: push-testgrid-images

Initialize summarizer queue
  pkg/summarizer/summary.go
Due: push-testgrid-images

Reserve field 3 of IssueState
  pb/issue_state/issue_state.pb.go
  pb/issue_state/issue_state.proto
Due: push-testgrid-images

Support persisting test group queue across processes.
  cmd/updater/main.go
  pkg/summarizer/pubsub.go
  pkg/summarizer/summary.go
  pkg/updater/BUILD.bazel
  pkg/updater/persist.go
  pkg/updater/persist_test.go
  util/gcs/client.go
  util/queue.go
Due: push-testgrid-images

Support test annotations.
  pb/config/config.pb.go
  pb/config/config.proto
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read.go
Due: push-testgrid-images

Enable persistent queue on canary updater
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Enable persistent queue for prod
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Add .json suffix to persisted queue
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Log when there is no previous persistent queue to load.
  pkg/updater/persist.go
Due: push-testgrid-images

Remove duplicate package comment
  pkg/updater/persist.go
Due: push-testgrid-images

Add persistent queue to summarizer.
  cmd/summarizer/main.go
  cmd/updater/main.go
  config/BUILD.bazel
  config/queue.go
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/persist.go
  pkg/summarizer/summary.go
  pkg/updater/BUILD.bazel
  pkg/updater/persist.go
  util/BUILD.bazel
  util/queue/BUILD.bazel
  util/queue/persist.go
  util/queue/persist_test.go
  util/queue/queue.go
  util/queue/queue_test.go
Due: push-testgrid-images

Add persistent queue to summarizer.
  cmd/summarizer/main.go
  pkg/summarizer/persist.go
  pkg/summarizer/summary.go
  util/queue/persist_test.go
Due: push-testgrid-images

Persist summarizer queue
  cluster/canary/summarizer.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Improve persistent summarizer queue
  pkg/summarizer/persist.go
  pkg/summarizer/summary.go
  util/queue/persist.go
Due: push-testgrid-images

Refactor config snapshot to use channels
  config/snapshot/BUILD.bazel
  config/snapshot/config_snapshot.go
  config/snapshot/config_snapshot_test.go
  pkg/summarizer/summary.go
  pkg/tabulator/BUILD.bazel
  pkg/tabulator/tabstate.go
Due: push-testgrid-images

Use persistent queue on knative updater
  cluster/prod/knative/updater.yaml
Due: post-testgrid-deploy-prod

Implement custom evaluator rules for junit results
  pb/custom_evaluator/custom_evaluator.pb.go
  pb/custom_evaluator/custom_evaluator.proto
  pkg/updater/BUILD.bazel
  pkg/updater/eval.go
  pkg/updater/eval_test.go
  pkg/updater/gcs.go
  pkg/updater/read.go
Due: push-testgrid-images

Only log when saving succeeds
  util/queue/persist.go
Due: push-testgrid-images

Set conditions for client
  config/snapshot/config_snapshot.go
Due: push-testgrid-images
