Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: post-testgrid-deploy-prod, post-testgrid-deploy-canary

post-testgrid-deploy-prod:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/prod:prod.apply

post-testgrid-deploy-canary:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/canary:canary.apply

Write hotlist IDs to summary.
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: none

Update state.proto to include user_property field.
  pb/state/state.pb.go
  pb/state/state.proto
Due: none

Add fields to HealthAnalysisOptions
  pb/config/config.proto
Due: none

Generated Code
  pb/config/config.pb.go
Due: none

Find link in either link or x-goog-meta-link header
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Update canary to v20201203-v0.0.31-5-g5f8e850
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Run canary updater less frequently.
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Process fewer builds in parallel.
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Update least recently updated groups first.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
  util/gcs/client.go
Due: none

Promote v20201203-v0.0.31-5-g5f8e850 to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Set a default build concurrency ceiling of 4
  cmd/updater/main.go
  cmd/updater/main_test.go
Due: none

Push v20201207-v0.0.32-7-ge8106ca to canary.
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Promote v20201207-v0.0.32-7-ge8106ca to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Flip newest and oldest
  pkg/updater/updater.go
Due: none

Fix some lint and vet errors
  pkg/updater/updater_test.go
  util/gcs/client.go
Due: none

Fix readColumns race condition
  pkg/updater/read.go
  pkg/updater/updater.go
Due: none

Update canary to v20201210-v0.0.33-4-g3dc75e8.
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Throttle group and build concurrency based on memory usage.
  cmd/updater/main.go
  cmd/updater/main_test.go
  go.mod
  go.sum
  pkg/updater/BUILD.bazel
  pkg/updater/mem.go
  pkg/updater/read.go
  pkg/updater/updater.go
  repos.bzl
Due: none

Update canary to v20201211-v0.0.33-8-gafab103
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Maximize the number of updated cells
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Update canary to v20201211-v0.0.33-12-gca2f05b
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Promote v20201211-v0.0.33-12-gca2f05b to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Update XML unmarshalling.
  metadata/junit/junit.go
  metadata/junit/junit_test.go
  util/gcs/read.go
Due: none

Revert "Throttle group and build concurrency based on memory usage."
  cmd/updater/main.go
  cmd/updater/main_test.go
  go.mod
  go.sum
  pkg/updater/BUILD.bazel
  pkg/updater/mem.go
  pkg/updater/read.go
  pkg/updater/updater.go
  repos.bzl
Due: none

Update a max of 5 columns on first run
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Automatically truncate junit suites.
  metadata/junit/junit.go
  pkg/updater/read.go
Due: none

Only alert rows once per update.
  pkg/updater/updater.go
Due: none

Create ConditionalClient and Copier.
  pkg/updater/BUILD.bazel
  pkg/updater/read.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
  util/gcs/client.go
  util/gcs/gcs.go
Due: none

Update canary to v20201216-v0.0.33-28-g01968e7
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Promote v20201216-v0.0.33-28-g01968e7 to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Reduce lock logging to debug
  pkg/updater/updater.go
Due: none

Allow maxUpdateArea to grow after each update loop
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Update canary to v20201217-v0.0.34-4-g478c9da
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Add context to convertResult.
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read.go
Due: none

Update canary to v20201217-v0.0.34-8-g6f3aed6
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Reduce frequency of canary summarizers to 1 hour.
  cluster/canary/summarizer.yaml
Due: post-testgrid-deploy-canary

Limit the number of rows with the exact same rendered name.
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
Due: none

Fix some lint errors
  metadata/junit/junit.go
  pkg/updater/gcs_test.go
  pkg/updater/updater.go
  util/gcs/client.go
  util/gcs/gcs.go
Due: none

Update canary to v20201221-v0.0.35-6-gac3201e
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Promote v20201221-v0.0.35-6-gac3201e to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Path conditions:
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
