Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-upload-testgrid-config

pull-oss-test-infra-check-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - test
      - prow/oss/config.yaml
      - prow/prowjobs
      - testgrid/config.yaml
      - GoogleCloudPlatform

pull-knative-prow-config-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20200724-b2cdf8399d
      imagePullPolicy: Always
      command:
      - /checkconfig
      args:
      - --config-path=./prow/knative/config.yaml
      - --job-config-path=../../knative/test-infra/config/prod/prow/jobs
  ...

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200109-87b811d
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200109-87b811d
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build

post-oss-test-infra-upload-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - /etc/github-token/oauth
      - prow/oss/config.yaml
      - prow/prowjobs
      - testgrid/config.yaml
      - GoogleCloudPlatform
      volumeMounts:
      - name: github
  ...

Bump oss-prow from v20200803-66a0db2cd2 to v20200808-0caff2cd1b
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump knative-prow from v20200803-66a0db2cd2 to v20200808-0caff2cd1b
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-plank.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Update kubekins version
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

respect github status in reviewer assignment
  prow/knative/plugins.yaml
Due: pull-knative-prow-config-validate

Add a canary e2e test job for en server
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump oss-prow from v20200808-0caff2cd1b to v20200814-1330dc0906
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump knative-prow from v20200808-0caff2cd1b to v20200814-1330dc0906
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-plank.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

[ESPv2] Temporarily increase continuous test frequency
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Revert "[ESPv2] Temporarily increase continuous test frequency"
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Update knative boskos to use new image path, as well as update it to be the same as upstream
  prow/knative/cluster/build/400-boskos-deployment.yaml
  prow/knative/cluster/build/400-boskos-janitor.yaml
  prow/knative/cluster/build/400-boskos-metrics.yaml
  prow/knative/cluster/build/400-boskos-reaper.yaml
Due: post-oss-test-infra-deploy-knative-prow

Add hmac Prow postsubmit job
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Revert "Update knative boskos to use new image path, as well as update it to …"
  prow/knative/cluster/build/400-boskos-deployment.yaml
  prow/knative/cluster/build/400-boskos-janitor.yaml
  prow/knative/cluster/build/400-boskos-metrics.yaml
  prow/knative/cluster/build/400-boskos-reaper.yaml
Due: post-oss-test-infra-deploy-knative-prow

Update boskos to the latest
  prow/knative/cluster/build/400-boskos-deployment.yaml
  prow/knative/cluster/build/400-boskos-janitor.yaml
  prow/knative/cluster/build/400-boskos-metrics.yaml
  prow/knative/cluster/build/400-boskos-reaper.yaml
Due: post-oss-test-infra-deploy-knative-prow

Add pytest presubmit for compute-image-tools
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Centralize create-build-cluster.sh logic and create a variant for knative-prow.
  prow/create-build-cluster.sh
  prow/knative/create-build-cluster.sh
  prow/oss/create-build-cluster.sh
Due: none

Fix misspelling
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Remove presubmit gotest for cli-tools-e2e-tests
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump oss-prow from v20200814-1330dc0906 to v20200825-967ee0e48b
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump knative-prow from v20200814-1330dc0906 to v20200825-967ee0e48b
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-plank.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Allow Knative PJs to be aborted without completion time.
  prow/knative/cluster/300-crds.yaml
Due: post-oss-test-infra-deploy-knative-prow

[ESPv2] Use any stable gke release, don't pin to 1.14
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

[ESPv2] Pin to a specific release version
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

add api regression test
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

fix dashboard name
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

fix test file name
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Exclude archived repos to get rid of the Tide warnings
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate

Enable /override in en verification server repo
  prow/oss/plugins.yaml
Due: none

Bump oss-prow from v20200825-967ee0e48b to v20200831-223e625607
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Add e-blackwelder to OWNERS
  OWNERS
Due: none

Revert "Bump oss-prow from v20200825-967ee0e48b to v20200831-223e625607"
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Removing deprecated `github-token-path` plank arg
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Bump oss-prow from v20200825-967ee0e48b to v20200901-ec959b81e7
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

En verification server: add canary e2e test job
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Remove deprecated plank arg
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Set always_run to false
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Also set optional to true
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Remove deprecated plank arg
  prow/knative/cluster/400-plank.yaml
Due: post-oss-test-infra-deploy-knative-prow

Bump knative-prow from v20200825-967ee0e48b to v20200901-ec959b81e7
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-plank.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Update prow image to 0903
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

update tsan image
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Path conditions:
  pull-oss-test-infra-check-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-upload-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
