Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-upload-testgrid-config

Path conditions:
  pull-oss-test-infra-check-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-upload-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$

Upgrade golang to 1.15
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump knative-prow from v20201228-15d664642a to v20210105-c50d055243
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Bump oss-prow from v20201228-15d664642a to v20210105-c50d055243
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Prometheus alerts send to google group
  prow/knative/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
  prow/oss/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Add jobs to autobump testgrid
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Add image field for canary testgrid autobump job
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Add missing ssh key secret to autobump testgrid jobs
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump oss-prow from v20210105-c50d055243 to v20210111-f6f01a1373
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump knative-prow from v20210105-c50d055243 to v20210111-f6f01a1373
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Register 'build-kubeflow' cluster with OSS-Prow.
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Automatically deploy prow monitoring secrets post submit
  prow/knative/cluster/monitoring/Makefile
  prow/oss/cluster/monitoring/Makefile
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Enable trigger plugin for kubeflow repos
  prow/oss/plugins.yaml
Due: none

Prow alerts send to test-infra oncall instead of engprod oncall
  prow/knative/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
  prow/oss/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

add experiment to enable tide reviewApprovedRequired on knative-sandbox/net-contour
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate

bump autobumper to working image
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Expose prow monitoring dashboard
  prow/oss/cluster/monitoring/grafana_expose.yaml
Due: post-oss-test-infra-deploy-prow

Update generic autobump image for testgrid bump job
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

grafana use ClusterIP, remove subpath
  prow/oss/cluster/monitoring/grafana_expose.yaml
Due: post-oss-test-infra-deploy-prow

do not redefine the knative_tide_missing_labels yaml magic
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate

secrets-store-csi-driver-provider-gcp: remove secret in favor of workload identity
  prow/prowjobs/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/secrets-store-csi-driver-provider-gcp-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

secrets-store-csi-driver-provider-gcp: set pod SA
  prow/prowjobs/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/secrets-store-csi-driver-provider-gcp-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Revert "grafana use ClusterIP, remove subpath"
  prow/oss/cluster/monitoring/grafana_expose.yaml
Due: post-oss-test-infra-deploy-prow

Revert "Expose prow monitoring dashboard"
  prow/oss/cluster/monitoring/grafana_expose.yaml
Due: post-oss-test-infra-deploy-prow

Bump generic autobumper to use image with fix for testgrid-prod job
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Migrate first Kubeflow presubmit test to oss prow
  prow/prowjobs/kubeflow/kubeflow-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Update to only trigger on repos that need to be supported
  prow/oss/plugins.yaml
Due: none

Bump oss-prow from v20210111-f6f01a1373 to v20210119-c4c19e6d20
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump knative-prow from v20210111-f6f01a1373 to v20210119-c4c19e6d20
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

add OWNERS
  prow/prowjobs/kubeflow/OWNERS
Due: none

Set review_acts_as_lgtm to true for lgtm plugin
  prow/knative/plugins.yaml
Due: pull-knative-prow-config-validate

Update OWNERS
  prow/prowjobs/kubeflow/OWNERS
Due: none

Update kubeflow-presubmits.yaml
  prow/prowjobs/kubeflow/kubeflow-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

added xiyue as kubeflow owner
  prow/prowjobs/kubeflow/OWNERS
Due: none

Correct kubeflow build cluster name
  prow/prowjobs/kubeflow/kubeflow-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

test(kubeflow): add KFP presubmit tests as optional
  prow/prowjobs/kubeflow/kubeflow-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

fix
  prow/prowjobs/kubeflow/kubeflow-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

fix(kubeflow): rename kfp presubmits
  prow/prowjobs/kubeflow/kubeflow-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

test(kubeflow): enable kfp tests and plugins
  prow/prowjobs/kubeflow/kubeflow-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

add kfp periodic and postsubmit tests
  prow/prowjobs/kubeflow/kubeflow-periodics.yaml
  prow/prowjobs/kubeflow/kubeflow-postsubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config
