Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-create-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Path conditions:
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-reconcile-hmacs: any of: prow/oss/config.yaml

Increase ratelimit exhaustion prediction alert alignment window from 10m to 15m.
  prow/oss/terraform/modules/alerts/main.tf
Due: none

Chaotoppicks org opts in authentication with GH app
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

Bumping oss-prow
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Bumping knative-prow
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Fix ingress for /ghapp-hook/hook
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Combine ingress without write-target.
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/hook-ghapp.yaml
Due: post-oss-test-infra-deploy-prow

Opt in looker for GitHub app authentication
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

gcp-guest: use test project images
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add external secret from build cluster for bms-oracle-team
  prow/oss/cluster/kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-prow

Add build cluster kubeconfig for bms-oracle-team
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Prow POC webhook
  prow/oss/config.yaml
  prow/prowjobs/jcnars/bms-toolkit/OWNERS
  prow/prowjobs/jcnars/bms-toolkit/hello_world_prowjob.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

adding plugins to get past the presubmit errors in git
  prow/oss/plugins.yaml
Due: none

Delete OWNERS
  prow/prowjobs/jcnars/bms-toolkit/OWNERS
Due: none

removing all jcnars references to use google org actual google/bms-toolkit repo
  prow/oss/config.yaml
  prow/oss/plugins.yaml
  prow/prowjobs/google/bms-toolkit/hello_world_prowjob.yaml
  prow/prowjobs/jcnars/bms-toolkit/OWNERS
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Revert "Prow POC webhook"
  prow/oss/config.yaml
  prow/prowjobs/jcnars/bms-toolkit/hello_world_prowjob.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Revert "adding plugins to get past the presubmit errors in git"
  prow/oss/plugins.yaml
Due: none

Onboard google/bms-toolkit to prow
  prow/oss/config.yaml
  prow/oss/plugins.yaml
  prow/prowjobs/google/bms-toolkit/hello_world_prowjob.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

removing conflicting plugins between google and google/bms-toolkit in plugins.yaml
  prow/oss/plugins.yaml
Due: none

Update terraform rules to switch to using 'prow-metrics' scoping project.
  prow/oss/terraform/README.md
  prow/oss/terraform/main.tf
  prow/oss/terraform/modules/alerts/boskos/main.tf
  prow/oss/terraform/modules/alerts/boskos/variables.tf
  prow/oss/terraform/modules/alerts/main.tf
  prow/oss/terraform/modules/alerts/probers.tf
  prow/oss/terraform/modules/alerts/variables.tf
Due: none

Opt in oss-test-infra for GitHub app authentication
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

Fix config for oss-test-infra onboarding gh app
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

Revert "Fix config for oss-test-infra onboarding gh app"
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

Explicitly opt-in GCP repos to plugins that consume ratelimit or act passively.
  prow/oss/config.yaml
  prow/oss/plugins.yaml
Due: post-oss-test-infra-reconcile-hmacs

reverting changes in https://github.com/GoogleCloudPlatform/oss-test-infra/pull/1189 and 1188
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/kubernetes_external_secrets.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Add presubmit unit test to prevent automatically acting and expensive plugins from being enabled org wide.
  go.mod
  go.sum
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/tests/jobs_test.go
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Remove bms-toolkit job targetting invalid cluster.
  prow/prowjobs/google/bms-toolkit/hello_world_prowjob.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Bump pull-test-infra-go-test to go version 1.16.
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Adding OWNERS file to prow/prowjobs/google/bms-toolkit directory
  prow/prowjobs/google/bms-toolkit/OWNERS
Due: none

Adding mfielding after he joined under GCP org
  prow/prowjobs/google/bms-toolkit/OWNERS
Due: none

Workload metrics monitors kubernetes external secrets
  prow/oss/cluster/monitoring/prow_podmonitors.yaml
Due: post-oss-test-infra-deploy-prow
