Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Path conditions:
  pull-oss-test-infra-check-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-deploy-prow: any of: ^prow/cluster/|^prow/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-upload-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$

Revert "Bump prow from v20200228-31c76444e to v20200314-12f848798"
  prow/cluster/cluster.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump prow from v20200228-31c76444e to v20200316-b3233486a
  prow/cluster/cluster.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump prow from v20200316-b3233486a to v20200323-ecb75feef
  prow/cluster/cluster.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

add disk-expand post submit build
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Update resultstore upload image
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Update secret with new redirect URL
  prow/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Bump prow from v20200323-ecb75feef to v20200329-76f893f88
  prow/cluster/cluster.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

move gce to guest-configs repo
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump prow from v20200329-76f893f88 to v20200413-65958d4a8
  prow/cluster/cluster.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Fix hook RBAC and CRD validation.
  prow/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

move cAdvisor prow config from k8s.io
  prow/plugins.yaml
  prow/prowjobs/google/cadvisor/OWNERS
  prow/prowjobs/google/cadvisor/cadvisor.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix indentation in create-build-cluster.sh
  prow/create-build-cluster.sh
Due: none

plugins for guest-configs
  prow/config.yaml
  prow/plugins.yaml
Due: none

create-build-cluster.sh works for other Prow instance as well
  prow/create-build-cluster.sh
Due: none

Bump prow from v20200413-65958d4a8 to v20200417-a6017ee5b
  prow/cluster/cluster.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Migrate to rerun_auth_configs
  prow/config.yaml
Due: none

Add a ghproxy deployment/service/volume.
  prow/cluster/ghproxy.yaml
Due: post-oss-test-infra-deploy-prow

Switch Prow components to use ghproxy.
  prow/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Fix ghproxy deployment apiversion.
  prow/cluster/ghproxy.yaml
Due: post-oss-test-infra-deploy-prow

Fix ghproxy deployment selector.
  prow/cluster/ghproxy.yaml
Due: post-oss-test-infra-deploy-prow

Bump prow from v20200417-a6017ee5b to v20200422-8c8546d74
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Revert "Bump prow from v20200417-a6017ee5b to v20200422-8c8546d74"
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Touch cluster file to trigger Prow deployment.
  prow/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Bump prow from v20200417-a6017ee5b to v20200427-baaf248ed
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

[ESPv2] Better testgrid configuration
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
  testgrid/config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Revert "Bump prow from v20200417-a6017ee5b to v20200427-baaf248ed"
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

add diskexpand, configs repos
  prow/config.yaml
  prow/plugins.yaml
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump prow from v20200427-baaf248ed to v20200501-e6124e633
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump prow from v20200501-e6124e633 to v20200507-36c6a27f0
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Fix ghproxy container port
  prow/cluster/ghproxy.yaml
Due: post-oss-test-infra-deploy-prow

Revert "Bump prow from v20200501-e6124e633 to v20200507-36c6a27f0"
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump prow from v20200507-36c6a27f0 to v20200518-8da074ad4
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

add compute-image-tools presubmits
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

update flake8 path
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

correct indentation
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump prow from v20200518-8da074ad4 to v20200526-c96f7e37b
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Add required --github-token-path to hook/tide.
  prow/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

add new presubmit, move c-i-t jobs to second file
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

[ESPv2] Update prow images for Envoy update
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config
