Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: post-testgrid-deploy-prod, post-testgrid-deploy-canary

post-testgrid-deploy-prod:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/prod:prod.apply

post-testgrid-deploy-canary:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/canary:canary.apply

Promote v20200804-v0.0.15-29-g09b67a9 to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Fix lint errors across files
  internal/result/results.go
  pb/state/state.pb.go
  pb/state/state.proto
  pkg/summarizer/flakiness.go
  pkg/summarizer/flakiness_test.go
  pkg/summarizer/summary_test.go
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/inflate.go
  pkg/updater/inflate_test.go
  pkg/updater/read.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Fix race condition when multiple go-routines reach an old build
  pkg/updater/read.go
  pkg/updater/read_test.go
Due: none

Update cloud.google.com/go/storage to post v1.10.0.
  go.mod
  go.sum
  repos.bzl
Due: none

Refactor Objects() to include an optional start offset
  pkg/updater/read_test.go
  pkg/updater/updater.go
  util/gcs/client.go
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Update canary to v20200805-v0.0.15-41-g8f1a867
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Correct --config flag
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Allow k8s-testgrid when gridPrefix is filled.
  cmd/updater/BUILD.bazel
  cmd/updater/main.go
  cmd/updater/main_test.go
Due: none

Add a flag to enable trace logging
  cmd/updater/main.go
Due: none

Update canary to v20200806-v0.0.16-8-g15e7668
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Upgrade prod to v20200806-v0.0.16-8-g15e7668
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Limit the number of concurrent junit downloads in a single build.
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Update canary to v20200806-v0.0.16-12-g054d30c.
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Add ability to track latest-found failure in alerts.
  pb/state/state.pb.go
  pb/state/state.proto
Due: none

Promote v20200806-v0.0.16-12-g054d30c to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Reduce updater sleep cycle to 5m
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Continue reprocessing results until they are no longer running.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Run the garbage collector after updating each group.
  pkg/updater/updater.go
Due: none

Upgrade canary to v20200807-v0.0.17-8-gd205182
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Add Ethan to approvers.
  OWNERS
Due: none

Promote v20200807-v0.0.17-8-gd205182 to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Create a beta-summarizer in canary.
  cluster/canary/summarizer.yaml
Due: post-testgrid-deploy-canary

Filter out methods via either display or test name.
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: none

Add latest fail build ID to summary.
  pb/summary/summary.pb.go
  pb/summary/summary.proto
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: none

Record all issues linked to a tab in summary.
  pb/summary/summary.pb.go
  pb/summary/summary.proto
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: none

Add channel label to canary summarizers
  cluster/canary/summarizer.yaml
Due: post-testgrid-deploy-canary

Update to rules_k8s v0.5
  WORKSPACE
Due: none

Add channel to summarizer and correct component name
  cluster/canary/summarizer.yaml
Due: post-testgrid-deploy-canary

Support junit file names that do not match the regex.
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Update canary to v20200819-v0.0.20-5-g6f7e6
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Add a beta summarizer to prod
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod

Dedup summarizer names
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod

Update canary to v20200819-v0.0.20-5-g6f7e65b
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Promote v20200819-v0.0.20-5-g6f7e65b to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Parse empty junit files as an empty Suites.
  metadata/junit/BUILD.bazel
  metadata/junit/junit.go
  metadata/junit/junit_test.go
Due: none

Update canary to v20200821-v0.0.20-17-g7748a00
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Avoid potential divide by zero operations
  pkg/summarizer/naiveanalyzer/analyzer.go
Due: none

Promote v20200821-v0.0.20-17-g7748a00 to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Adds a new enhancedanalyzer to the summarizer that comes up with a more intelligent flakiness value for the healthinessInfo.
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/analyzers/BUILD.bazel
  pkg/summarizer/analyzers/baseanalyzer.go
  pkg/summarizer/analyzers/baseanalyzer_test.go
  pkg/summarizer/analyzers/flipanalyzer.go
  pkg/summarizer/analyzers/flipanalyzer_test.go
  pkg/summarizer/flakiness.go
  pkg/summarizer/flakiness_test.go
  pkg/summarizer/summary.go
Due: none

Add logic to the flakiness calculation to exclude columns that are consistently failing.
  pkg/summarizer/flakiness.go
  pkg/summarizer/flakiness_test.go
Due: none

Path conditions:
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
