Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: post-testgrid-deploy-prod, post-testgrid-deploy-canary

Path conditions:
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary

Remove rows that no longer appear on the grid
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Update canary to v20201222-v0.0.36-2-gf9ff669
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Promote v20201222-v0.0.36-2-gf9ff669 to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Handle empty junit suites correctly
  metadata/junit/junit.go
  metadata/junit/junit_test.go
  util/gcs/read_test.go
Due: none

Always keep at least one preexisting column whenever possible
  pkg/updater/inflate.go
  pkg/updater/inflate_test.go
  pkg/updater/updater.go
Due: none

Update canary to v20210105-v0.0.37-4-gfec70c5
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Promote v20210105-v0.0.37-4-gfec70c5 to prod
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Fix unit test error message
  pkg/updater/inflate_test.go
Due: none

Improve sleep message.
  cmd/updater/main.go
Due: none

Make config files needed for autobump
  cluster/testgrid-canary-autobump-config.yaml
  cluster/testgrid-prod-autobump-config.yaml
Due: none

Add missing branch field in autobump config
  cluster/testgrid-canary-autobump-config.yaml
  cluster/testgrid-prod-autobump-config.yaml
Due: none

Remove info for k8s robot from testgrid autobump config
  cluster/testgrid-canary-autobump-config.yaml
  cluster/testgrid-prod-autobump-config.yaml
Due: none

Add configuration merging functions to config library
  config/BUILD.bazel
  config/converge.go
  config/converge_test.go
Due: none

Allow groups to collate multiple prow jobs together.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Update Testgrid Canary to v20210115-v0.0.38-14-g4c88977
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
  go.mod
  go.sum
Due: post-testgrid-deploy-canary

Update Testgrid Canary images as necessary
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Update Testgrid Canary to v20210115-v0.0.38-14-g4c88977
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

no op whitespace change to trigger autobump prod job
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Update Testgrid Prod to v20210115-v0.0.38-14-g4c88977
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Simplify groupPaths errors
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Update Testgrid Canary to v20210116-v0.0.39-2-g42ce2a8
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Update Testgrid Prod to v20210116-v0.0.39-2-g42ce2a8
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Fix lint errors in config package
  config/converge.go
  pkg/updater/updater_test.go
Due: none

Add an AutoBug option to query the test metadata API.
  pb/config/config.pb.go
  pb/config/config.proto
Due: none

Add documentation for new TestGrid instances
  README.md
  build_test_update.md
  standalone.md
Due: none

Deduplicate context declaration
  cmd/summarizer/main.go
Due: none

Update Testgrid Canary to v20210125-v0.0.41-2-gce1b140
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Update Testgrid Prod to v20210125-v0.0.41-2-gce1b140
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Update Testgrid Canary to v20210125-v0.0.41-8-gcb960c8
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Add job name when results collate multiple jobs
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Remove trailing whitespace
  standalone.md
Due: none

Update Testgrid Canary to v20210127-v0.0.41-10-ge04e4f0
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Move row rendering logic inside nameConfig
  pkg/updater/gcs.go
  pkg/updater/read.go
  pkg/updater/read_test.go
Due: none

Update Testgrid Canary to v20210127-v0.0.43-4-g0180bbe
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Update Testgrid Prod to v20210127-v0.0.43-4-g0180bbe
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Update Testgrid Canary to v20210128-v0.0.43-6-g75fc13b
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Pull numeric junit properties into row metrics.
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read.go
Due: none

Update Testgrid Prod to v20210128-v0.0.43-6-g75fc13b
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Handle missing passed in finished.json.
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
Due: none

Update Testgrid Canary to v20210129-v0.0.44-6-g6d388c1
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary
