Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Path conditions:
  pull-oss-test-infra-check-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-upload-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-reconcile-hmacs: any of: prow/oss/config.yaml

Bumping knative-prow
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Bumping oss-prow
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

Enable html lens on OSS Prow.
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Add TestGrid config presubmit test
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Automatically posting knative prow deploy message on slack
  prow/oss/cluster/crier.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Add knative slack token as a secret in oss prow
  prow/oss/cluster/kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-prow

move bentheelder to emeritus
  OWNERS
Due: none

added kfp presubmit v2 test
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

fixed style
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Remove Transfigure jobs
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

fixed nits
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix a typo in crier deployment
  prow/oss/cluster/crier.yaml
Due: post-oss-test-infra-deploy-prow

Revert "Fix a typo in crier deployment"
  prow/oss/cluster/crier.yaml
Due: post-oss-test-infra-deploy-prow

Revert "Automatically posting knative prow deploy message on slack"
  prow/oss/cluster/crier.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

renamed test
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Revert "Revert "Automatically posting knative prow deploy message on slack""
  prow/oss/cluster/crier.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

OSS bump merging at 11:30AM
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

onboard blueprints repo
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Add external secret from build cluster for blueprints
  prow/oss/cluster/kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-prow

Add build cluster kubeconfig for blueprints
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Clarify requirement and expected value of GITHUB_FORK_URI.
  prow/oss/create-build-cluster.sh
Due: none

add build cluster
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Add a checkconfig presubmit to validate GoogleCloudPlatform/blueprints in repo config.
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add a prow job config test checking for jobs running on hidden repos
  prow/tests/jobs_test.go
Due: none

add core prow config for blueprints
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Bumping oss-prow
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config, post-oss-test-infra-reconcile-hmacs

secrets-store-csi-driver-provider-gcp: configure periodic envvars
  prow/prowjobs/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/secrets-store-csi-driver-provider-gcp-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add postsubmit jobs building image for release
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
  testgrid/config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

update
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

fix
  testgrid/config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Knative prow: automated deployment
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config
