Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-create-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

pull-oss-test-infra-check-create-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20210714-62f15287bd
      command:
      - /app/testgrid/cmd/configurator/app.binary
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
      - --prow-config=prow/oss/config.yaml
  ...

pull-knative-prow-config-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210714-62f15287bd
      imagePullPolicy: Always
      command:
      - /checkconfig
      args:
      - --config-path=./prow/knative/config.yaml
      - --job-config-path=../../knative/test-infra/config/prod/prow/jobs
  ...

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-create-testgrid-config:
  labels:
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    serviceAccountName: testgrid-config-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20210714-62f15287bd
      command:
      - /app/testgrid/cmd/configurator/app.binary
      args:
      - --yaml=testgrid/config.yaml
  ...

post-oss-test-infra-reconcile-hmacs:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/hmac:v20210714-62f15287bd
      command:
      - /hmac
      args:
      - --config-path=prow/oss/config.yaml
      - --hook-url=https://oss-prow.knative.dev/hook
      - --hmac-token-secret-name=hmac-token
      - --hmac-token-key=hmac
  ...

Add deployment for blueprints deck
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Add blueprints managed cert to ingress
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Bumping oss-prow
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Bumping knative-prow
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Put blueprints Deck in a new ingress
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Change static ip for blueprints ingress
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Update ingress apiversion to networking.k8s.io/v1
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Oss prow crier: increase github worker to 6
  prow/oss/cluster/crier.yaml
Due: post-oss-test-infra-deploy-prow

oss-prow: move crier and tide to dedicated nodepool
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/tide.yaml
Due: post-oss-test-infra-deploy-prow

remove Knative Milestone Maintainers
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate

bump crier to v20210914-d9fade61b4
  prow/oss/cluster/crier.yaml
Due: post-oss-test-infra-deploy-prow

Crier github worker set to 100
  prow/oss/cluster/crier.yaml
Due: post-oss-test-infra-deploy-prow

Roll back crier to v20210908-3a373c2cdd
  prow/oss/cluster/crier.yaml
Due: post-oss-test-infra-deploy-prow

Add redirect to blueprints deck
  prow/oss/cluster/deck_blueprints_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Fix yaml error in crier and tide: resources on the correct level
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/tide.yaml
Due: post-oss-test-infra-deploy-prow

Revert "oss-prow: move crier and tide to dedicated nodepool"
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/tide.yaml
Due: post-oss-test-infra-deploy-prow

Add external secret for blueprints oauth config
  prow/oss/cluster/kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-prow

Add redirect URL for blueprints oauth
  prow/oss/cluster/deck_blueprints_deployment.yaml
Due: post-oss-test-infra-deploy-prow

Remove blueprints config we don't need now
  prow/oss/cluster/kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-prow

Create new blueprints oauth secrets for new oauth app
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/kubernetes_external_secrets.yaml
Due: post-oss-test-infra-deploy-prow

Update GCP alert recipient to prow-alert-pioneer
  prow/oss/terraform/main.tf
Due: none

Bump crier for allowing skip comment on PR
  prow/oss/cluster/crier.yaml
Due: post-oss-test-infra-deploy-prow

Opting out looker/helltool from bot commenting job failure
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Bumping oss-prow
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Purposely fail a test for debugging
  prow/oss/cluster/crier.yaml
Due: post-oss-test-infra-deploy-prow

Rotate Prow deployments to a new oauth token.
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
Due: post-oss-test-infra-deploy-prow

Revert "Update ingress apiversion to networking.k8s.io/v1"
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Add blueprints tenantID
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Blueprints tests redirect to private front end
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Revert "Update oss-prow to v20210917-ee1e7c845b"
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Path conditions:
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-reconcile-hmacs: any of: prow/oss/config.yaml
