Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-create-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Path conditions:
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-reconcile-hmacs: any of: prow/oss/config.yaml

Bumping oss-prow
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Bumping knative-prow
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Stop managing hmac tokens for kubeflow repos
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Looker performance tests dashboards typo fix
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

secrets-store-csi-driver-provider-gcp: remove
  prow/oss/plugins.yaml
  prow/prowjobs/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/OWNERS
  prow/prowjobs/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/secrets-store-csi-driver-provider-gcp-config.yaml
  testgrid/config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Create a .prow directory and OWNERS file.
  .prow/OWNERS
Due: none

Add a run_if_changed regexp for the checkconfig job.
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Move oss-test-infra presubmits to in-repo-config.
  .prow/presubmits.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Add '-temp' suffix to in-repo config presubmits to avoid conflict.
  .prow/presubmits.yaml
Due: none

Revert "Add '-temp' suffix to in-repo config presubmits to avoid conflict."
  .prow/presubmits.yaml
Due: none

Update presubmit run_if_change fields to include '.prow' directory where needed.
  .prow/presubmits.yaml
Due: none

Add '.prow' directory to autobump configuration.
  prow/oss/oss-autobump-config.yaml
Due: none

Move GoogleCloudPlatform/testgrid jobs into their own config file.
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/OWNERS
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-images.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
  prow/tests/jobs_test.go
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Remove invalid fields from kubeflow/pipelines postsubmit.
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-postsubmits.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Make OSS Prow config validation check for unknown fields in job config.
  .prow/presubmits.yaml
Due: none

Add checkconfig canary jobs for looker and blueprints to try unknown fields check.
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Add missing clone_uri for looker checkconfig canary.
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update uptime probe alerts to ignore extraneous uptime_checks.
  prow/oss/terraform/main.tf
  prow/oss/terraform/modules/alerts/main.tf
  prow/oss/terraform/modules/alerts/probers.tf
  prow/oss/terraform/modules/alerts/variables.tf
Due: none

Enable cloud monitoring alerts for knative-prow.
  prow/oss/terraform/main.tf
Due: none

Fix default branch name for blueprints checkconfig canary.
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Add alerting config for istio-testing.
  prow/oss/terraform/main.tf
Due: none

Boskos alerts: add missing prerequisite steps
  prow/oss/terraform/README.md
Due: none

Fix blackbox probe terraform config.
  prow/oss/terraform/main.tf
  prow/oss/terraform/modules/alerts/variables.tf
Due: none

Make looker checkconfig presubmit include strict validation.
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Make blueprints checkconfig presubmit include strict validation.
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

github/google org switches to use GitHub app for prow
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

Stop managing hmac tokens for google repos
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Use updated kubeconfig which doesn't have build-csi cluster
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

grcp-ecosystem uses GitHub app for prow
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

Stop managing hmac tokens for grpc repos
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

OSS prow onboarding with GitHub app
  prow/oss/onboarding.md
  prow/oss/oss_prow_logo.png
  prow/oss/oss_prow_logo20X20.png
Due: none
