Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary

Add example of onboarding testgrid as a service from prow
  standalone.md
Due: push-testgrid-images

Add config printing utility
  config/print/BUILD.bazel
  config/print/README.md
  config/print/main.go
Due: push-testgrid-images

Generated Bazel
  config/BUILD.bazel
Due: push-testgrid-images

Update Testgrid Canary to v20210413-v0.0.59-21-g1774729
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210413-v0.0.59-21-g1774729
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Allow MergeCells to fail results with passes.
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
Due: push-testgrid-images

Document MergeCells and SplitCells.
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
Due: push-testgrid-images

Modify TruncateRunning to truncate any running cell
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Support commit_override_strftime.
  cmd/updater/main_test.go
  pb/state/state.proto
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/inflate.go
  pkg/updater/inflate_test.go
  pkg/updater/read.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Regenerate state proto
  pb/state/state.pb.go
Due: push-testgrid-images

Update Testgrid Canary to v20210423-v0.0.60-5-g4c33e75
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210423-v0.0.60-5-g4c33e75
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Use json logs on knative shard
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
Due: post-testgrid-deploy-prod

Keep running columns many days old.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Implement ignore_old_results.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Move GCS fakes into util/gcs/fake
  pkg/updater/read_test.go
  pkg/updater/updater_test.go
  util/gcs/fake/fake.go
  util/gcs/fake/fake_test.go
Due: push-testgrid-images

Summarize tab by least recently updated order.
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/summary.go
  pkg/updater/BUILD.bazel
  pkg/updater/updater.go
  util/gcs/BUILD.bazel
  util/gcs/fake/BUILD.bazel
  util/gcs/fake/fake.go
  util/gcs/fake/sort_test.go
  util/gcs/sort.go
Due: push-testgrid-images

Restrict cell and inflatedColumn aliases to unit tests.
  pkg/updater/gcs.go
  pkg/updater/inflate.go
  pkg/updater/inflate_test.go
  pkg/updater/read.go
  pkg/updater/updater.go
Due: push-testgrid-images

Update Testgrid Canary to v20210428-v0.0.62-7-ge44beef
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210428-v0.0.62-7-ge44beef
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Remove unused environment_instance field
  pb/config/config.pb.go
  pb/config/config.proto
Due: push-testgrid-images

Move Sort() into sort.go.
  util/gcs/BUILD.bazel
  util/gcs/read.go
  util/gcs/sort.go
  util/gcs/sort_test.go
Due: push-testgrid-images

Correctly group multiple columns together.
  pkg/updater/read.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
  util/gcs/read.go
  util/gcs/read_test.go
  util/gcs/sort.go
  util/gcs/sort_test.go
Due: push-testgrid-images

Update Testgrid Canary to v20210430-v0.0.62-15-gd2e02ec
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210430-v0.0.62-15-gd2e02ec
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Remove unused column_sort_by field
  pb/config/config.pb.go
  pb/config/config.proto
Due: push-testgrid-images

Allow custom sorting mechanics.
  cmd/updater/main.go
  pkg/updater/inflate.go
  pkg/updater/inflate_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Stop assuming the largest hint and start time is the first column.
  pkg/updater/read.go
  pkg/updater/read_test.go
Due: push-testgrid-images

Correct error message
  hack/compare_states_test.go
Due: push-testgrid-images

Add CellID when commit_override_strftime is set
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read.go
Due: push-testgrid-images

Update Testgrid Canary to v20210504-v0.0.63-16-g520dad1
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Set summarized path correctly
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: push-testgrid-images

Update Testgrid Canary to v20210504-v0.0.64-4-ga0d780a
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210504-v0.0.64-4-ga0d780a
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Stop flaky/pass overall status after num_columns_recent filled columns.
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: push-testgrid-images

Correct name for grouping.
  pb/config/config.pb.go
  pb/config/config.proto
Due: push-testgrid-images

Drop use_configuration_values_as_alert_params
  pb/config/config.pb.go
  pb/config/config.proto
Due: push-testgrid-images

Ensure context has something to read.
  pkg/updater/read_test.go
Due: push-testgrid-images

Implement json un-/marshalling for gcs.Path.
  pkg/summarizer/summary.go
  pkg/updater/updater_test.go
  util/gcs/gcs.go
Due: push-testgrid-images

Correct disable_merged_status and disable_prowjob_analysis field numbers.
  config/config.go
  config/config_test.go
  pb/config/config.pb.go
  pb/config/config.proto
  pkg/updater/read.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images
