Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump, pull-testgrid-validate-prow-yaml

push-testgrid-images:
  decorate: true
  spec:
    serviceAccountName: testgrid-pusher
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20200609-e7bfd25-test-infra
      command:
      - ./images/push.sh

post-testgrid-deploy-prod:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/prod:prod.apply

post-testgrid-deploy-canary:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/canary:canary.apply

testgrid-prod-autobump:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/generic-autobumper:v20210714-62f15287bd
      command:
      - /app/prow/cmd/generic-autobumper/app.binary
      args:
      - --config=cluster/testgrid-prod-autobump-config.yaml
      volumeMounts:
      - name: github
  ...

pull-testgrid-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20231208-e9e4b8c0b8
      command:
      - checkconfig
      args:
      - --plugin-config=../../GoogleCloudPlatform/oss-test-infra/prow/oss/plugins.yaml
  ...

Add renovate.json
  renovate.json
Due: push-testgrid-images

Update job.go
  metadata/job.go
Due: push-testgrid-images

Fix race on timer in util.queue.
  util/queue/queue.go
  util/queue/queue_test.go
Due: push-testgrid-images

Specify auto-project detection for PubSub.
  cmd/summarizer/main.go
  cmd/tabulator/main.go
  cmd/updater/main.go
Due: push-testgrid-images

Bumping Testgrid Canary
  cluster/canary/api.yaml
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/tabulator.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Bumping Testgrid Prod
  cluster/prod/api.yaml
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/tabulator.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/tabulator.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Subscribe to gs://kubernetes-ci-logs updates.
  cluster/canary/updater.yaml
  cluster/prod/updater.yaml
  cluster/setup-pubsub.sh
  cluster/setup-testgrid-pubsub.sh
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Allow label/target search for ResultStore sources.
  pkg/updater/resultstore/query/query.go
  pkg/updater/resultstore/query/query_test.go
  pkg/updater/resultstore/resultstore.go
  pkg/updater/resultstore/resultstore_test.go
Due: push-testgrid-images

Use sigs.k8s.io/yaml/goyaml.v3
  go.mod
  go.sum
  pkg/merger/BUILD.bazel
  pkg/merger/merger.go
  repos.bzl
Due: push-testgrid-images

Update setup.sh
  cluster/setup.sh
Due: none

Add info on frontends to README.md
  README.md
Due: push-testgrid-images

Fix Golang lint errors.
  cmd/state_comparer/main.go
  cmd/state_comparer/main_test.go
  config/BUILD.bazel
  config/config.go
  config/config_test.go
  config/converge.go
  config/fields_test.go
  config/yamlcfg/BUILD.bazel
  config/yamlcfg/yaml2proto.go
  config/yamlcfg/yaml2proto_test.go
  pkg/summarizer/summary_test.go
  pkg/updater/eval.go
  pkg/updater/gcs_test.go
  pkg/updater/inflate_test.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

allow invocation_id to be specified specified for ResultStore Invocations
  resultstore/client.go
Due: push-testgrid-images

add Update Invocation message to ResultStore client
  resultstore/client.go
Due: push-testgrid-images

Add dashboard tab config endpoint to API.
  pb/api/v1/data.pb.go
  pb/api/v1/data.proto
  pkg/api/README.md
  pkg/api/v1/config.go
  pkg/api/v1/config_test.go
Due: push-testgrid-images

feat: set api request and limits for testgrid-api deployments
  cluster/canary/api.yaml
  cluster/prod/api.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Update Go version to 1.25.10 and upgrade Protobuf/Bazel dependencies
  .bazelversion
  WORKSPACE
  cc/BUILD
  cc/cc_toolchain_config.bzl
  config/yamlcfg/yaml2proto.go
  def.bzl
  go.mod
  go.sum
  hack/BUILD.bazel
  hack/update-protos.sh
  hack/verify-protos.sh
  metadata/job.go
  pb/api/v1/BUILD.bazel
  pb/api/v1/data.pb.go
  pb/config/BUILD.bazel
  pb/config/config.pb.go
  pb/custom_evaluator/BUILD.bazel
  pb/custom_evaluator/custom_evaluator.pb.go
  pb/issue_state/BUILD.bazel
  pb/issue_state/issue_state.pb.go
  pb/state/BUILD.bazel
  pb/state/state.pb.go
  pb/summary/BUILD.bazel
  pb/summary/summary.pb.go
  pb/test_status/BUILD.bazel
  pb/test_status/test_status.pb.go
  pkg/api/v1/BUILD.bazel
  pkg/pubsub/pubsub.go
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/analyzers/BUILD.bazel
  pkg/updater/BUILD.bazel
  pkg/updater/resultstore/BUILD.bazel
  repos.bzl
  resultstore/BUILD.bazel
  util/gcs/read.go
  util/gcs/sort.go
Due: push-testgrid-images

Add hermetic tools/bazel CI wrapper delegating to Bazelisk
  tools/bazel
Due: push-testgrid-images

Migrate deprecated @bazel_tools//platforms references to @platforms
  config/BUILD.bazel
  platform/BUILD.bazel
Due: push-testgrid-images

Upgrade io_bazel_rules_docker to v0.25.0 in WORKSPACE
  WORKSPACE
Due: push-testgrid-images

Pre-declare hermetic GitHub public URL overrides for rules_docker pullers
  WORKSPACE
Due: push-testgrid-images

Point rules_docker pullers to Bazel mirror binary URLs
  WORKSPACE
Due: push-testgrid-images

Enforce C++17 compilation standard in .bazelrc
  .bazelrc
Due: push-testgrid-images

Add local verify-deps target to override legacy repo-infra test
  hack/BUILD.bazel
  hack/verify-deps.sh
Due: push-testgrid-images

Add local verify-bazel target to override legacy repo-infra test
  hack/BUILD.bazel
  hack/verify-bazel.sh
Due: push-testgrid-images

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary
  pull-testgrid-validate-prow-yaml: any of: ^\.prow\.yaml$
