Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Path conditions:
  pull-oss-test-infra-check-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-deploy-prow: any of: ^prow/cluster/|^prow/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-upload-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$

Enable reporting of pod info to GCS.
  prow/cluster/cluster.yaml
  prow/config.yaml
Due: post-oss-test-infra-deploy-prow

Add script to facilitate creating per-team build clusters.
  prow/create-build-cluster.sh
Due: none

remove workload identit
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Revert "remove default network"
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Disable http redirection.
  prow/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Bind crier/deck/tide service accounts to oss-prow@oss-prow.iam.gserviceaccount.com
  prow/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Fixup some URLs.
  prow/config.yaml
Due: none

Point to https://oss-prow.knative.dev/
  prow/cluster/cluster.yaml
  prow/config.yaml
Due: post-oss-test-infra-deploy-prow

Annotate service account, not service
  prow/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Use a new cert for oss-prow.knative.dev
  prow/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Bump prow from v20200218-90005651e to v20200224-3b3c9d343
  prow/cluster/cluster.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

move continuous e2e jobs into us-west1-c
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

ESPv2: Rename periodic jobs and reduce serverless janitor interval
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Create deploy prod and canary testgrid jobs
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Add 5h timeout for continuous long run jobs
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Use more recent gcloud-bazel image to deploy testgrid
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Add 5h timeout for cloud run long run jobs
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

fix the cluster of serverless-janitor
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump prow from v20200224-3b3c9d343 to v20200228-31c76444e
  prow/cluster/cluster.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Fix janitor jobs to use correct service accounts
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix janitor jobs to use correct service accounts and remove duplicate
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Upload oss-prow results into resultstore.
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/serviceaccounts/GoogleCloudPlatform_testgrid_serviceaccounts.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

checkconfig: exclude warning = non-decorated-jobs
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Migrate Kubeflow
  prow/config.yaml
  prow/plugins.yaml
  prow/prowjobs/kubeflow/OWNERS
  prow/prowjobs/kubeflow/kubeflow-periodics.yaml
  prow/prowjobs/kubeflow/kubeflow-postsubmits.yaml
  prow/prowjobs/kubeflow/kubeflow-presubmits.yaml
  testgrid/config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

sync Kubeflow jobs from k8s
  prow/prowjobs/kubeflow/kubeflow-periodics.yaml
  prow/prowjobs/kubeflow/kubeflow-postsubmits.yaml
  prow/prowjobs/kubeflow/kubeflow-presubmits.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add esp-v2 to testgrid
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
  testgrid/config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add missing annotation for testgrid
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix testgrid dashboard name
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix job type
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix continuous job
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add presubmit and continuous coverage jobs
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add testgrid to new jobs
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Update all prow images for ESPv2
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Rename ResultStore ProwJob
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Use newer resultstore exporter image
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Domain name change
  README.md
  prow/README.md
  prow/tests/README.md
Due: none

Removed deprecated ManagedCert
  prow/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

New deck URL is oss-prow.knative.dev.
  README.md
  prow/README.md
  prow/tests/README.md
Due: none

Bump prow from v20200228-31c76444e to v20200314-12f848798
  prow/cluster/cluster.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config
