Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary

Fix protos
  BUILD.bazel
  github.com/GoogleCloudPlatform/testgrid/pb/api/v1/BUILD.bazel
  github.com/GoogleCloudPlatform/testgrid/pb/api/v1/data.pb.go
  github.com/GoogleCloudPlatform/testgrid/pb/config/BUILD.bazel
  github.com/GoogleCloudPlatform/testgrid/pb/config/config.pb.go
  github.com/GoogleCloudPlatform/testgrid/pb/custom_evaluator/BUILD.bazel
  github.com/GoogleCloudPlatform/testgrid/pb/custom_evaluator/custom_evaluator.pb.go
  github.com/GoogleCloudPlatform/testgrid/pb/issue_state/BUILD.bazel
  github.com/GoogleCloudPlatform/testgrid/pb/issue_state/issue_state.pb.go
  github.com/GoogleCloudPlatform/testgrid/pb/response/BUILD.bazel
  github.com/GoogleCloudPlatform/testgrid/pb/response/types.pb.go
  github.com/GoogleCloudPlatform/testgrid/pb/state/BUILD.bazel
  github.com/GoogleCloudPlatform/testgrid/pb/state/state.pb.go
  github.com/GoogleCloudPlatform/testgrid/pb/summary/BUILD.bazel
  github.com/GoogleCloudPlatform/testgrid/pb/summary/summary.pb.go
  github.com/GoogleCloudPlatform/testgrid/pb/test_status/BUILD.bazel
  github.com/GoogleCloudPlatform/testgrid/pb/test_status/test_status.pb.go
  github.com/GoogleCloudPlatform/testgrid/pb/updater/BUILD.bazel
  github.com/GoogleCloudPlatform/testgrid/pb/updater/updater.pb.go
  hack/update-protos.sh
  pb/api/v1/data.pb.go
  pb/config/config.pb.go
  pb/custom_evaluator/custom_evaluator.pb.go
  pb/issue_state/issue_state.pb.go
  pb/response/types.pb.go
  pb/state/state.pb.go
  pb/summary/summary.pb.go
  pb/test_status/test_status.pb.go
  pb/updater/updater.pb.go
  platform/BUILD.bazel
Due: push-testgrid-images

modernize .bazelrc
  .bazelrc
Due: push-testgrid-images

Bumping Testgrid Canary
  cluster/canary/api.yaml
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/tabulator.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Bumping Testgrid Prod
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/tabulator.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/tabulator.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Default --shrink-inline to true
  cmd/updater/main.go
Due: push-testgrid-images

add attribute to metrics
  pkg/merger/BUILD.bazel
  pkg/merger/merger.go
  pkg/merger/merger_test.go
Due: push-testgrid-images

Remove --filter-columns flag
  benchmark/tabulator_bench_test.go
  cmd/tabulator/main.go
  pkg/tabulator/tabstate.go
  pkg/tabulator/tabstate_test.go
Due: push-testgrid-images

Allow 0 or -1 component in test metadata options.
  config/config.go
  config/config_test.go
Due: push-testgrid-images

Enable broken column calculation in knative prod.
  cluster/prod/knative/tabulator.yaml
Due: post-testgrid-deploy-prod

Remove --skip-inline flag from cluster
  cluster/canary/updater.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Switch skip-base-options feature flag to true by default
  cmd/summarizer/main.go
Due: push-testgrid-images

Remove --filter-columns flag
  cluster/canary/tabulator.yaml
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Use rules_k8s 0.7
  WORKSPACE
Due: push-testgrid-images

Correct OWNERS
  OWNERS
Due: push-testgrid-images

Remove --skip-base-options-filter flag
  cluster/canary/summarizer.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Flip --column-stats true by default.
  cmd/tabulator/main.go
Due: push-testgrid-images

Remove summarizer-side filtering
  cmd/summarizer/main.go
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: push-testgrid-images

Remove customizable sorting from updater
  cmd/updater/main.go
  pb/config/config.proto
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Use cmp instead of reflect for proto comparision
  pkg/summarizer/summary_test.go
Due: push-testgrid-images

Ack messages with an invalid gcs.Path
  pkg/pubsub/pubsub.go
  pkg/pubsub/pubsub_test.go
Due: push-testgrid-images

Add timestamp field to Result structure
  metadata/junit/junit.go
  metadata/junit/junit_test.go
Due: push-testgrid-images

Support bazel format junit files
  util/gcs/read.go
  util/gcs/read_test.go
Due: push-testgrid-images

Remove legacy grid shrinking algorithm
  cmd/updater/main.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Reduce flakiness in metrics_test.
  util/metrics/metrics_test.go
Due: push-testgrid-images

Delete response/types.proto
  pb/BUILD.bazel
  pb/response/BUILD.bazel
  pb/response/types.pb.go
  pb/response/types.proto
Due: push-testgrid-images

fix: Add skipped status back for Ginkgo v2
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
Due: push-testgrid-images

Rename local issue set to not shadow function parameter
  pkg/updater/updater.go
Due: push-testgrid-images

Simplify SortStarted function signature
  pkg/updater/updater.go
Due: push-testgrid-images
