Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-create-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

pull-oss-test-infra-check-create-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20210714-62f15287bd
      command:
      - /app/testgrid/cmd/configurator/app.binary
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
      - --prow-config=prow/oss/config.yaml
  ...

pull-knative-prow-config-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210714-62f15287bd
      imagePullPolicy: Always
      command:
      - /checkconfig
      args:
      - --config-path=./prow/knative/config.yaml
      - --job-config-path=../../knative/test-infra/config/prod/prow/jobs
  ...

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-create-testgrid-config:
  labels:
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    serviceAccountName: testgrid-config-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20210714-62f15287bd
      command:
      - /app/testgrid/cmd/configurator/app.binary
      args:
      - --yaml=testgrid/config.yaml
  ...

post-oss-test-infra-reconcile-hmacs:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/hmac:v20210714-62f15287bd
      command:
      - /hmac
      args:
      - --config-path=prow/oss/config.yaml
      - --hook-url=https://oss-prow.knative.dev/hook
      - --hmac-token-secret-name=hmac-token
      - --hmac-token-key=hmac
  ...

Collect GKE workload metrics on ghapp based hook and crier
  prow/oss/cluster/monitoring/prow_podmonitors.yaml
Due: post-oss-test-infra-deploy-prow

Fix the webhook-missing alerts to only count webhooks from the relevant instance.
  prow/oss/terraform/modules/alerts/main.tf
Due: none

Bumping knative-prow
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Prow auto-deploy cron adjusts against daylight saving
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Googleforgames org uses GitHub app
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
Due: post-oss-test-infra-deploy-prow

Remove all managed webhooks
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

Migrate tide to use GitHub app
  prow/oss/cluster/tide.yaml
Due: post-oss-test-infra-deploy-prow

Migrate sub to use GitHub app
  prow/oss/cluster/sub.yaml
Due: post-oss-test-infra-deploy-prow

Oss prow: crier and hook use GitHub app only
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/monitoring/prow_podmonitors.yaml
Due: post-oss-test-infra-deploy-prow

Revert "Migrate sub to use GitHub app"
  prow/oss/cluster/sub.yaml
Due: post-oss-test-infra-deploy-prow

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Remove hmac reconciler job
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Revert "Oss prow: crier and hook use GitHub app only"
  prow/oss/cluster/crier-ghapp.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/hook-ghapp.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/monitoring/prow_podmonitors.yaml
Due: post-oss-test-infra-deploy-prow

Webhooks from prow app send to hook
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Replace stick lgtm team.
  prow/oss/plugins.yaml
Due: none

Update test-install-oracle.yaml
  prow/prowjobs/google/bms-toolkit/test-install-oracle.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Updating to use stable-2.9-latest tag
  prow/prowjobs/google/bms-toolkit/test-install-oracle.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

compute-image-tools: Add presubmit for module tests
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

remove obsolete postsubmit
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Include env variables for module tests
  prow/pj-on-kind.sh
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

change to postsubmit
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

add testgrid dashboard
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
  testgrid/config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

add integ comment
  prow/pj-on-kind.sh
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Qualifying with comments
  prow/prowjobs/google/bms-toolkit/test-install-oracle.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Revert "Revert "Migrate sub to use GitHub app""
  prow/oss/cluster/sub.yaml
Due: post-oss-test-infra-deploy-prow

Adding volume mounts from config maps and secret
  prow/prowjobs/google/bms-toolkit/test-install-oracle.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Revert "Revert "Revert "Migrate sub to use GitHub app"""
  prow/oss/cluster/sub.yaml
Due: post-oss-test-infra-deploy-prow

Oss-prow autobump PR not assigned to anyone
  prow/oss/oss-autobump-config.yaml
Due: none

Path conditions:
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-reconcile-hmacs: any of: prow/oss/config.yaml
