Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Path conditions:
  pull-oss-test-infra-check-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-deploy-prow: any of: ^prow/cluster/|^prow/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-upload-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$

[ESPv2] Update coverage images
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

[ESPv2] Revert back serverless e2e images
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Remove @rofuentes from reviewers list
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
Due: none

Bump prow from v20200526-c96f7e37b to v20200601-4efada0619
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Enable trigger and add a job for en-server.
  prow/config.yaml
  prow/plugins.yaml
  prow/prowjobs/google/exposure-notifications-server/OWNERS
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Handle en-server repo with oss prow.
  prow/config.yaml
  prow/plugins.yaml
Due: none

Update crier flags.
  prow/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow

Make en-server presubmit report.
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Allow en-server repo admins to override old job.
  prow/plugins.yaml
Due: none

Resolve merge conflict: move prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: none

Temporarily duplicate prow configs to let config check pass
  prow/Makefile
  prow/Makefile.gcloud.mk
  prow/README.md
  prow/cluster/build/grandmatriarch_test-pods.yaml
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/create-build-cluster.sh
  prow/pj-on-kind.sh
  prow/plugins.yaml
  prow/prowjobs/GoogleCloudPlatform/esp-v2/OWNERS
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
  prow/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/OWNERS
  prow/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/k8s-cloud-provider-config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-images.yaml
  prow/prowjobs/kunit-review.googlesource.com/linux/kunit-linux-config.yaml
  prow/serviceaccounts/GoogleCloudPlatform_oss-test-infra_serviceaccounts.yaml
  prow/serviceaccounts/GoogleCloudPlatform_testgrid_serviceaccounts.yaml
  prow/tests/README.md
  prow/tests/jobs_test.go
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Move oss-prow configs one level below
  prow/oss/Makefile
  prow/oss/Makefile.gcloud.mk
  prow/oss/README.md
  prow/oss/cluster/build/grandmatriarch_test-pods.yaml
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/oss/create-build-cluster.sh
  prow/oss/pj-on-kind.sh
  prow/oss/plugins.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/esp-v2/OWNERS
  prow/oss/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
  prow/oss/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/OWNERS
  prow/oss/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/k8s-cloud-provider-config.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/testgrid/testgrid-images.yaml
  prow/oss/prowjobs/kunit-review.googlesource.com/linux/kunit-linux-config.yaml
  prow/oss/serviceaccounts/GoogleCloudPlatform_oss-test-infra_serviceaccounts.yaml
  prow/oss/serviceaccounts/GoogleCloudPlatform_testgrid_serviceaccounts.yaml
  prow/oss/tests/README.md
  prow/oss/tests/jobs_test.go
Due: none

Add a temp unit test to make sure not breaking prod
  go.mod
  prow/temp_test.go
Due: none

Fixing tests
  README.md
  prow/bump.sh
  prow/oss/plugins.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/oss/tests/README.md
Due: none

Re-copying all content from under prow to prow/oss
  prow/oss/README.md
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/oss/plugins.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/oss/prowjobs/google/exposure-notifications-server/OWNERS
  prow/oss/prowjobs/google/exposure-notifications-server/en-server.yaml
  prow/oss/tests/README.md
Due: none

Update paths from prow to prow/oss again
  prow/oss/README.md
  prow/oss/plugins.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/oss/tests/README.md
  prow/temp_test.go
Due: none

More resources for exposure notification
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Update en-server.yaml
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Update oss-test-infra OWNERS
  OWNERS
Due: none

update daisy test paths for compute-image-tools
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Added missing cli_tools to prowjob config
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

extra space
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Added common/daisycommon in cli_tools (test and check only)
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

disable tide for compute-image-tools
  prow/config.yaml
Due: none

compute-image-tools Prowjob config per go module
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump prow from v20200601-4efada0619 to v20200608-16190316cf
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Blindly copy everything under prow to prow/oss
  prow/oss/Makefile
  prow/oss/Makefile.gcloud.mk
  prow/oss/README.md
  prow/oss/cluster/build/grandmatriarch_test-pods.yaml
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/oss/create-build-cluster.sh
  prow/oss/pj-on-kind.sh
  prow/oss/plugins.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/esp-v2/OWNERS
  prow/oss/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
  prow/oss/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/OWNERS
  prow/oss/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/k8s-cloud-provider-config.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/testgrid/testgrid-images.yaml
  prow/oss/prowjobs/google/exposure-notifications-server/OWNERS
  prow/oss/prowjobs/google/exposure-notifications-server/en-server.yaml
  prow/oss/prowjobs/kunit-review.googlesource.com/linux/kunit-linux-config.yaml
  prow/oss/serviceaccounts/GoogleCloudPlatform_oss-test-infra_serviceaccounts.yaml
  prow/oss/serviceaccounts/GoogleCloudPlatform_testgrid_serviceaccounts.yaml
  prow/oss/tests/README.md
  prow/oss/tests/jobs_test.go
Due: none

Update config paths from prow to prow/oss, add unit test
  README.md
  go.mod
  prow/bump.sh
  prow/oss/README.md
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/oss/plugins.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/esp-v2/OWNERS
  prow/oss/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/gcp-guest/OWNERS
  prow/oss/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/OWNERS
  prow/oss/prowjobs/GoogleCloudPlatform/k8s-cloud-provider/k8s-cloud-provider-config.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/oss/prowjobs/GoogleCloudPlatform/testgrid/testgrid-images.yaml
  prow/oss/prowjobs/google/exposure-notifications-server/OWNERS
  prow/oss/prowjobs/google/exposure-notifications-server/en-server.yaml
  prow/oss/prowjobs/kunit-review.googlesource.com/linux/kunit-linux-config.yaml
  prow/oss/tests/README.md
  prow/oss/tests/jobs_test.go
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/temp_test.go
  prow/tests/jobs_test.go
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Clean up duplicated prow configs
  prow/Makefile
  prow/Makefile.gcloud.mk
  prow/README.md
  prow/cluster/build/grandmatriarch_test-pods.yaml
  prow/cluster/cluster.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch_default.yaml
  prow/cluster/grandmatriarch_test-pods.yaml
  prow/config.yaml
  prow/oss/create-build-cluster.sh
  prow/oss/pj-on-kind.sh
  prow/pj-on-kind.sh
  prow/plugins.yaml
  prow/serviceaccounts/GoogleCloudPlatform_oss-test-infra_serviceaccounts.yaml
  prow/serviceaccounts/GoogleCloudPlatform_testgrid_serviceaccounts.yaml
  prow/temp_test.go
Due: post-oss-test-infra-deploy-prow

Fixed indent
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-image-tools.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump prow from v20200608-16190316cf to v20200609-2d17640dc1
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Revert "Bump prow from v20200608-16190316cf to v20200609-2d17640dc1"
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

TEST PR
  README.md
Due: none

[ESPv2] Reduce periodic test triggering
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix cron...
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add configurations for verification server
  prow/prowjobs/google/exposure-notifications-verification-server/OWNERS
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add knative prow configs
  prow/Makefile.gcloud.mk
  prow/bump.sh
  prow/knative/Makefile
  prow/knative/README.md
  prow/knative/cluster/100-namespace.yaml
  prow/knative/cluster/200-cpu-limitrange.yaml
  prow/knative/cluster/200-memory-limitrange.yaml
  prow/knative/cluster/300-crds.yaml
  prow/knative/cluster/301-rbac.yaml
  prow/knative/cluster/302-gce-ssd-retain_storageclass.yaml
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-ingress.yaml
  prow/knative/cluster/400-plank.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/cluster/build/200-cpu-limitrange.yaml
  prow/knative/cluster/build/200-memory-limitrange.yaml
  prow/knative/cluster/build/301-rbac.yaml
  prow/knative/cluster/build/400-boskos-deployment.yaml
  prow/knative/cluster/build/400-boskos-janitor.yaml
  prow/knative/cluster/build/400-boskos-metrics.yaml
  prow/knative/cluster/build/400-boskos-reaper.yaml
  prow/knative/cluster/build/400-boskos.yaml
Due: none

postsubmit only for master branch
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add postsubmit job updating knative prow deployment
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump prow from v20200608-16190316cf to v20200622-168a90f1b0
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config
