Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-upload-testgrid-config

pull-oss-test-infra-check-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - test
      - prow/oss/config.yaml
      - prow/prowjobs
      - testgrid/config.yaml
      - GoogleCloudPlatform

pull-knative-prow-config-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20200724-b2cdf8399d
      imagePullPolicy: Always
      command:
      - /checkconfig
      args:
      - --config-path=./prow/knative/config.yaml
      - --job-config-path=../../knative/test-infra/config/prod/prow/jobs
  ...

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200109-87b811d
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200109-87b811d
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build

post-oss-test-infra-upload-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - /etc/github-token/oauth
      - prow/oss/config.yaml
      - prow/prowjobs
      - testgrid/config.yaml
      - GoogleCloudPlatform
      volumeMounts:
      - name: github
  ...

Knative prow components define metrics ports so that prometheus can scrape
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-plank.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/oss/cluster/crier.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Update container registry for KUnit GoB instance
  prow/prowjobs/kunit-review.googlesource.com/linux/kunit-linux-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

EN: update verification server jobs scripts path
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

EN: update key server jobs scripts path
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Copy/paste from k8s
  prow/knative/cluster/monitoring/mixins/grafana_dashboards/boskos-http.jsonnet
  prow/knative/cluster/monitoring/mixins/grafana_dashboards/boskos.jsonnet
  prow/knative/cluster/monitoring/mixins/prometheus/boskos_alerts.libsonnet
Due: post-oss-test-infra-deploy-knative-prow

Knative specific changes
  prow/knative/cluster/monitoring/additional-scrape-configs_secret.yaml
  prow/knative/cluster/monitoring/grafana_deployment.yaml
  prow/knative/cluster/monitoring/mixins/lib/config.libsonnet
Due: post-oss-test-infra-deploy-knative-prow

Deploy knative monitoring on postsubmit
  prow/knative/Makefile
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Add OWNERS file for KUnit GoB instance
  prow/prowjobs/kunit-review.googlesource.com/linux/OWNERS
Due: none

Add torvalds/master branch to Prow config
  prow/prowjobs/kunit-review.googlesource.com/linux/kunit-linux-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump oss-prow from v20201019-3b28521b87 to v20201026-f7d653694b
  prow/oss/cluster/controller-manager.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/plank.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump knative-prow from v20201019-3b28521b87 to v20201026-f7d653694b
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-plank.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Prepare to switch oss/knative to prow-controller-manager
  prow/knative/cluster/400-plank.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/oss/cluster/plank.yaml
  prow/oss/cluster/prow-controller-manager.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Add missing sinker RBAC on knative prow
  prow/knative/cluster/301-rbac.yaml
Due: post-oss-test-infra-deploy-knative-prow

Prow alert emails subject contains prow instance name
  prow/knative/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
  prow/oss/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Switch oss and knative from plank to prow-controller-manager
  prow/knative/cluster/400-plank.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/oss/cluster/plank.yaml
  prow/oss/cluster/prow-controller-manager.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Delete unused plank deployment
  prow/knative/cluster/400-plank.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/oss/cluster/plank.yaml
  prow/oss/cluster/prow-controller-manager.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Update grafana to 6.7.4
  prow/knative/cluster/monitoring/grafana_deployment.yaml
  prow/oss/cluster/monitoring/grafana_deployment.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Fixing prow autobump by using prow controller manager as reference
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump knative-prow from v20201026-f7d653694b to v20201030-914f29394d
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-upload-testgrid-config

Bump oss-prow from v20201026-f7d653694b to v20201102-45eeca6478
  prow/oss/cluster/controller-manager.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump knative-prow from v20201030-914f29394d to v20201102-45eeca6478
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

EN jobs: request high CPUS to ensure only a single job runs on the same node at the same time
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Replace plank with prow-controller-manager on grafana dashboard
  prow/knative/cluster/monitoring/prow_servicemonitors.yaml
  prow/oss/cluster/monitoring/prow_servicemonitors.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Knative prow: define the same sinker spec as oss prow
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate

Knative prow begins monitoring knative-prow-robot/test-infra repo
  prow/knative/config.yaml
  prow/knative/plugins.yaml
Due: pull-knative-prow-config-validate

Use custom mirror of postgres image in tests
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Use custom redis image too
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump oss-prow from v20201102-45eeca6478 to v20201106-ea76c130fa
  prow/oss/cluster/controller-manager.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump knative-prow from v20201102-45eeca6478 to v20201109-a36ed74f01
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Add exposure notification verification server e2e test to Prow. Runs every 2 hours with 30 minute offset from the smoke test.
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix typos for verification server job and tab names.
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Delete redundant controller manager config.
  prow/oss/cluster/controller-manager.yaml
Due: post-oss-test-infra-deploy-prow

Update rbac for oss-prow.
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
Due: post-oss-test-infra-deploy-prow

Update rbac for knative-prow.
  prow/knative/cluster/301-rbac.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
Due: post-oss-test-infra-deploy-knative-prow

Fix oss autobumper job
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Relax oss prow alert: only alert after 60 minutes without webhook events
  prow/oss/cluster/monitoring/mixins/lib/config.libsonnet
Due: post-oss-test-infra-deploy-prow

Configure cherrypicker plugin for Knative Prow
  prow/knative/cluster/500-cherrypicker.yaml
Due: post-oss-test-infra-deploy-knative-prow

Bump oss-prow from v20201106-ea76c130fa to v20201112-00537d1bb4
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Fix rbac for prow controller manager
  prow/oss/cluster/prow-controller-manager.yaml
Due: post-oss-test-infra-deploy-prow

Revert "Bump oss-prow from v20201106-ea76c130fa to v20201112-00537d1bb4"
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Path conditions:
  pull-oss-test-infra-check-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-upload-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
