Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary

Regenerate protos
  pb/api/v1/data.pb.go
  pb/config/config.pb.go
  pb/custom_evaluator/custom_evaluator.pb.go
  pb/issue_state/issue_state.pb.go
  pb/response/types.pb.go
  pb/state/state.pb.go
  pb/summary/summary.pb.go
  pb/test_status/test_status.pb.go
  pb/updater/updater.pb.go
Due: push-testgrid-images

Update to k8s.io/api v0.19.13 and k8s.io/repo-infra 0.2.2
  .bazelversion
  WORKSPACE
  go.mod
  go.sum
  repos.bzl
Due: push-testgrid-images

Correct flag to enable race detction during testing.
  .bazelrc
Due: push-testgrid-images

Bumping Testgrid Canary
  cluster/canary/api.yaml
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Script to create testgrid variant of gcloud-bazel image
  images/gcloud-bazel/.gitignore
  images/gcloud-bazel/push.sh
Due: push-testgrid-images

Document pubsub package
  pkg/pubsub/pubsub.go
Due: push-testgrid-images

Ensure offset has a trailing /.
  util/gcs/read.go
Due: push-testgrid-images

Reduce Roused logging noisiness.
  config/queue.go
Due: push-testgrid-images

Refactor pubsub package for easier unit testing.
  pkg/pubsub/pubsub.go
  pkg/pubsub/pubsub_test.go
Due: push-testgrid-images

Allow updater to subscribe to pubsub notifiations.
  cmd/updater/BUILD.bazel
  cmd/updater/main.go
  metadata/README.md
  pb/config/config.pb.go
  pb/config/config.proto
  pkg/pubsub/pubsub.go
  pkg/updater/BUILD.bazel
  pkg/updater/pubsub.go
  pkg/updater/pubsub_test.go
  pkg/updater/read.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Sort subscriptions (for determinism)
  pkg/updater/pubsub_test.go
Due: push-testgrid-images

Add FixGCS unit test coverage
  pkg/updater/BUILD.bazel
  pkg/updater/pubsub.go
  pkg/updater/pubsub_test.go
Due: push-testgrid-images

Add manual subscriptions to canary.
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update .bazelrc to allow for the possibility of RBE
  .bazelrc
Due: push-testgrid-images

PubSub bootstrapping scripts
  cluster/create-subscription.sh
  cluster/create-topic.sh
  cluster/list-gcs-prefixes.sh
  cluster/setup-pubsub.sh
Due: none

Update setup-pubsub.sh to configure IAM
  cluster/create-subscription.sh
  cluster/setup-pubsub.sh
Due: none

Fix canary updater --subscribe flag
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Add subscription field to logs
  pkg/pubsub/pubsub.go
Due: push-testgrid-images

Convert subscription field to string
  pkg/updater/pubsub.go
Due: push-testgrid-images

Update setup-pubsub.sh for mulitple topics.
  cluster/create-subscription.sh
  cluster/create-topic.sh
  cluster/setup-pubsub.sh
Due: none

Update canary updater flags.
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Improve TestGroupQueue.Fix logging
  config/queue.go
Due: push-testgrid-images

Bumping Testgrid Prod
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Add --subscribe flags to prod.
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Additional unit tests
  pkg/updater/pubsub_test.go
Due: push-testgrid-images

Match PR directory links.
  pkg/updater/pubsub.go
  pkg/updater/pubsub_test.go
Due: push-testgrid-images

Remove deprecated beta-summarizer from knative
  cluster/prod/knative/summarizer.yaml
Due: post-testgrid-deploy-prod

Allow time to collect podinfo.
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/pubsub.go
  pkg/updater/updater_test.go
Due: push-testgrid-images
