Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

push-testgrid-images:
  decorate: true
  spec:
    serviceAccountName: testgrid-pusher
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20200609-e7bfd25-test-infra
      command:
      - ./images/push.sh

post-testgrid-deploy-prod:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/prod:prod.apply

post-testgrid-deploy-canary:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/canary:canary.apply

testgrid-prod-autobump:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/generic-autobumper:v20210714-62f15287bd
      command:
      - /app/prow/cmd/generic-autobumper/app.binary
      args:
      - --config=cluster/testgrid-prod-autobump-config.yaml
      volumeMounts:
      - name: github
  ...

Add filtering to tabulator
  pkg/tabulator/BUILD.bazel
  pkg/tabulator/filter.go
  pkg/tabulator/filter_test.go
  pkg/tabulator/tabstate.go
  pkg/tabulator/tabstate_test.go
Due: push-testgrid-images

Bumping Testgrid Canary
  cluster/canary/api.yaml
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/tabulator.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Bumping Testgrid Prod
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/tabulator.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/tabulator.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Allow a couple groups to reprocess on change
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Fix protocmp in test
  pkg/tabulator/BUILD.bazel
  pkg/tabulator/filter.go
  pkg/tabulator/filter_test.go
Due: push-testgrid-images

Enable filter in canary
  cluster/canary/tabulator.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Reprocess some prod groups on change.
  cluster/canary/updater.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Reprocess all prod groups on change
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Log when we reprocess a test group
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Give the canary tabulator updater-like resources
  cluster/canary/tabulator.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Add filtering to tabulator production
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Drop empty columns after filtering by regex
  cmd/tabulator/main.go
  pkg/tabulator/BUILD.bazel
  pkg/tabulator/tabstate.go
  pkg/tabulator/tabstate_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Filter columns in tabulator canary
  cluster/canary/tabulator.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Filter empty columns in production
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Revert "Filter empty columns in production"
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Revert "Revert "Filter empty columns in production""
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Alias test_status protobuf
  pkg/tabulator/tabstate.go
  pkg/tabulator/tabstate_test.go
Due: push-testgrid-images

Move inflate behind flag
  pkg/tabulator/tabstate.go
Due: push-testgrid-images

Revert "Revert "Revert "Filter empty columns in production"""
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Refactor ConstructGrid
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Remove redundant test
  pkg/updater/updater_test.go
Due: push-testgrid-images

Deprecate test group AutoBug settings.
  pb/config/config.pb.go
  pb/config/config.proto
Due: push-testgrid-images

Add basic PubSub alerts using Terraform.
  .gitignore
  terraform/Makefile
  terraform/README.md
  terraform/main.tf
  terraform/modules/alerts/main.tf
  terraform/modules/alerts/probers.tf
  terraform/modules/alerts/variables.tf
  terraform/provider.tf
Due: push-testgrid-images

Set alerts on tabulator while filtering columns
  pkg/tabulator/BUILD.bazel
  pkg/tabulator/tabstate.go
  pkg/tabulator/tabstate_test.go
Due: push-testgrid-images

Remove filter-columns experiment from canary
  cluster/canary/tabulator.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Reprocess on changed config by default
  cluster/prod/knative/updater.yaml
  cmd/updater/main.go
  cmd/updater/main_test.go
Due: push-testgrid-images, post-testgrid-deploy-prod

Calculate column stats when broken column threshold is specified.
  cmd/tabulator/main.go
  pb/state/state.pb.go
  pb/state/state.proto
  pkg/tabulator/tabstate.go
  pkg/tabulator/tabstate_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Validate names only contain allowed characters.
  config/config.go
  config/config_test.go
Due: push-testgrid-images

Use raw string literal for regex.
  config/config.go
Due: push-testgrid-images

Have tabulator retry later, not instantly
  pkg/tabulator/tabstate.go
Due: push-testgrid-images

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary
