Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-create-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Path conditions:
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-reconcile-hmacs: any of: prow/oss/config.yaml

address
  prow/prowjobs/kubeflow/gcp-blueprints/kubeflow-gcp-blueprints.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update kubeflow-pipelines-presubmits.yaml
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Bumping oss-prow
  .prow/presubmits.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_blueprints_deployment.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-jobs.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

use golang:1.17.6-bullseye for backend presubmit
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Bumping knative-prow
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Upgrade ingresses to networking.k8s.io/v1.
  prow/knative/cluster/400-ingress.yaml
  prow/oss/cluster/cluster.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Update KES deployments and CRDs for K8s 1.22+.
  prow/knative/cluster/500-kubernetes-external-secrets_crd.yaml
  prow/knative/cluster/500-kubernetes-external-secrets_deployment.yaml
  prow/knative/cluster/build/500-kubernetes-external-secrets_crd.yaml
  prow/knative/cluster/build/500-kubernetes-external-secrets_deployment.yaml
  prow/oss/cluster/kubernetes-external-secrets_crd.yaml
  prow/oss/cluster/kubernetes-external-secrets_deployment.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Update ProwJob CRDs to use schema and apply with --server-side=true.
  prow/knative/Makefile
  prow/knative/cluster/300-crds.yaml
  prow/knative/cluster/prowjob-crd/prowjob_customresourcedefinition.yaml
  prow/oss/Makefile
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/prowjob-crd/prowjob_customresourcedefinition.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Add missing RBAC for KES
  prow/knative/cluster/500-kubernetes-external-secrets_rbac.yaml
  prow/oss/cluster/kubernetes-external-secrets_rbac.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

restore v2 presubmit tests to always run
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Removing self from approvers
  OWNERS
Due: none

Fix Knative job config path.
  .prow/presubmits.yaml
  prow/knative/plugins.yaml
Due: pull-knative-prow-config-validate

compute-daisy: Onboard for presubmits
  prow/oss/plugins.yaml
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-daisy.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

chore: allow blueprint-solutions-contrib access to frontend
  prow/oss/cluster/deck_blueprints_deployment.yaml
Due: post-oss-test-infra-deploy-prow

compute-daisy: Use tide
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

compute-daisy: Add periodic e2e test
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/compute-daisy.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Knative Prow jobs path were updated to prow/jobs, updating config_updater plugin config
  .prow/presubmits.yaml
  prow/knative/plugins.yaml
Due: pull-knative-prow-config-validate
