Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Path conditions:
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary

Update Testgrid Prod to v20210129-v0.0.44-6-g6d388c1
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Allow test case properties to format name.
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
Due: none

Update Testgrid Canary to v20210201-v0.0.45-2-ga6373ea
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210201-v0.0.45-2-ga6373ea
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Allow row names to use test properties
  pkg/updater/read.go
  pkg/updater/read_test.go
Due: none

Update Testgrid Canary to v20210202-v0.0.46-4-gf596362
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Create config merger controller and package
  BUILD.bazel
  cmd/config_merger/BUILD.bazel
  cmd/config_merger/README.md
  cmd/config_merger/main.go
  go.mod
  pkg/merger/BUILD.bazel
  pkg/merger/merger.go
  pkg/merger/merger_test.go
Due: none

Add config_merger to image repository
  images/BUILD.bazel
Due: none

Add latest test ID/link for alerts.
  pb/state/state.pb.go
  pb/state/state.proto
  pb/summary/summary.pb.go
  pb/summary/summary.proto
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: none

Update Testgrid Canary to v20210217-v0.0.48-2-g1dbc0e8
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Specify protocmp for cmp.Diff.
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/summary_test.go
Due: none

Fix link to config protos.
  standalone.md
Due: none

Update broken-state calculation with neutral statuses.
  internal/result/results.go
  internal/result/results_test.go
  pkg/summarizer/flakiness.go
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: none

fix: link to configuration from standalone docs
  standalone.md
Due: none

fix: remove brackets from link causing issues
  standalone.md
Due: none

Change config to reject invalid fields for yaml
  config/yamlcfg/yaml2proto.go
  config/yamlcfg/yaml2proto_test.go
Due: none

Multi job groups: Add job overall row, set cellID
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Only read cell_id from filled columns
  pkg/updater/inflate.go
  pkg/updater/inflate_test.go
Due: none

Add local filesystem capability to util/gcs.
  go.sum
  pkg/merger/BUILD.bazel
  pkg/merger/merger_test.go
  util/gcs/BUILD.bazel
  util/gcs/client.go
  util/gcs/gcs.go
  util/gcs/gcs_test.go
  util/gcs/local_gcs.go
  util/gcs/real_gcs.go
Due: none

Update Testgrid Canary to v20210223-v0.0.52-2-g9c99109
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Add latest cell and build ID to failures.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Add disable_merged_status fallback
  pb/config/config.pb.go
  pb/config/config.proto
Due: none

Merge together all rows with the same name.
  internal/result/results.go
  internal/result/results_test.go
  pkg/summarizer/summary.go
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Use bazelisk when available
  hack/update-protos.sh
Due: none

Add updater and summarizer for supporting knative
  BUILD.bazel
  cluster/prod/k8s/BUILD.bazel
  cluster/prod/k8s/namespace.yaml
  cluster/prod/k8s/summarizer.yaml
  cluster/prod/k8s/updater.yaml
  cluster/prod/knative/BUILD.bazel
  cluster/prod/knative/namespace.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
Due: post-testgrid-deploy-prod

Restore k8s tsetgrid updater location
  BUILD.bazel
  cluster/prod/BUILD.bazel
  cluster/prod/knative/BUILD.bazel
  cluster/prod/knative/namespace.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/namespace.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Update Testgrid Prod to v20210223-v0.0.52-2-g9c99109
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Combine build file
  cluster/prod/BUILD.bazel
  cluster/prod/knative/BUILD.bazel
Due: post-testgrid-deploy-prod

Use knative service account for running updater and summarizer
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
Due: post-testgrid-deploy-prod

Have Summarizer use util/gcs library, not storage itself.
  cmd/summarizer/main.go
  pkg/summarizer/summary.go
Due: none

Update Testgrid Canary to v20210225-v0.0.52-13-g5ab8a2b
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210225-v0.0.52-13-g5ab8a2b
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Only lock when we will write state
  cmd/updater/main.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Hack listing to handle sequential build numbers
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Add k8s.io/core to go.mod
  go.mod
  go.sum
  repos.bzl
Due: none

Inject a Pod row into results.
  pkg/updater/BUILD.bazel
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read.go
  pkg/updater/read_test.go
  pkg/updater/updater_test.go
  util/gcs/BUILD.bazel
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Update Testgrid Canary to v20210226-v0.0.52-27-g30c26e3
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210226-v0.0.52-27-g30c26e3
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Update Testgrid Canary to v20210227-v0.0.52-34-gf8f43b8
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Only add missing pod info note after job finishes.
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/updater_test.go
Due: none
