Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

push-testgrid-images:
  decorate: true
  spec:
    serviceAccountName: testgrid-pusher
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20200609-e7bfd25-test-infra
      command:
      - ./images/push.sh

post-testgrid-deploy-prod:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/prod:prod.apply

post-testgrid-deploy-canary:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/canary:canary.apply

testgrid-prod-autobump:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/generic_autobump:v20210126-f503f3e
      command:
      - /generic_autobump
      args:
      - --config=cluster/testgrid-prod-autobump-config.yaml
      volumeMounts:
      - name: github
        mountPath: /etc/github-token
  ...

Use bazelisk to push images when available
  images/push.sh
Due: push-testgrid-images

Update Testgrid Canary to v20210302-v0.0.53-3-g2199ee2
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210302-v0.0.53-3-g2199ee2
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Append metrics correctly.
  pkg/updater/inflate.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Update Testgrid Canary to v20210303-v0.0.53-9-g59b1b9c
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210303-v0.0.53-9-g59b1b9c
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Fix some lint and unit test errors
  pkg/merger/merger.go
  pkg/summarizer/summary.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
  util/gcs/client.go
  util/gcs/gcs.go
  util/gcs/read.go
Due: push-testgrid-images

Add ability to disable_prowjob_analysis.
  pb/config/config.pb.go
  pb/config/config.proto
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read.go
Due: push-testgrid-images

Test analyzeProwJob explicitly
  pkg/updater/gcs_test.go
Due: push-testgrid-images

Update Testgrid Canary to v20210308-v0.0.54-6-g76e5744
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210308-v0.0.54-6-g76e5744
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Add quick script to compare two TestGrid states.
  hack/BUILD.bazel
  hack/compare_states.go
  hack/compare_states_test.go
  pkg/updater/read.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
  util/gcs/BUILD.bazel
  util/gcs/gcs.go
  util/gcs/local_gcs.go
Due: push-testgrid-images

Refactor updater package to target non-GCS results.
  pb/config/config.proto
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/inflate.go
  pkg/updater/inflate_test.go
  pkg/updater/read.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Reserve ResultSource field 4.
  pb/config/config.pb.go
Due: push-testgrid-images

Update Testgrid Canary to v20210316-v0.0.55-3-g209e718
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210316-v0.0.55-3-g209e718
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Validate dashboard name length
  config/config.go
  config/config_test.go
Due: push-testgrid-images

Add a test_method_unmatch_regex field to TestGroup
  pb/config/config.proto
Due: push-testgrid-images

Fix field numbering
  pb/config/config.proto
Due: push-testgrid-images

Ran update-protos and fixed field number
  pb/config/config.pb.go
  pb/config/config.proto
Due: push-testgrid-images

Add JUnit "error" test cases
  metadata/junit/junit.go
  metadata/junit/junit_test.go
Due: push-testgrid-images

Update Testgrid Canary to v20210329-v0.0.57-2-g490f7f6
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Stop require optional cell ID field when alerting a row.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Handle empty json files.
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read.go
  pkg/updater/read_test.go
Due: push-testgrid-images

Update Testgrid Canary to v20210401-v0.0.57-8-ga3dd52c
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210401-v0.0.57-8-ga3dd52c
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Malformed junit files should fail the build but not the job.
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/read.go
  pkg/updater/read_test.go
  util/gcs/read.go
  util/gcs/read_test.go
Due: push-testgrid-images

Update Testgrid Canary to v20210402-v0.0.58-6-g7934dd4
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210402-v0.0.58-6-g7934dd4
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Add Config Merger for k8s in Canary
  cluster/canary/config_merger.yaml
  cmd/config_merger/main.go
Due: push-testgrid-images, post-testgrid-deploy-canary, testgrid-prod-autobump

Use --json-logs for updater, prepare to do so for summarizer.
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Add support for --debug, --trace and --json-logs to summarizer
  cmd/summarizer/main.go
  cmd/updater/main.go
Due: push-testgrid-images

Only log the entire summary proto when confirm is false.
  pkg/summarizer/summary.go
Due: push-testgrid-images

Update Testgrid Canary to v20210405-v0.0.58-18-g848f281
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update Testgrid Prod to v20210405-v0.0.58-18-g848f281
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Use json logs for the summarizer
  cluster/canary/summarizer.yaml
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Read JUnit 'error' cases as failures.
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
Due: push-testgrid-images

Deploy config merger to production
  cluster/canary/BUILD.bazel
  cluster/prod/BUILD.bazel
  cluster/prod/config_merger.yaml
  cmd/config_merger/main.go
Due: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Update Config Merger Service Account
  cluster/canary/config_merger.yaml
  cluster/prod/config_merger.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Drop unused gather_test_properties field.
  pb/config/config.pb.go
  pb/config/config.proto
Due: push-testgrid-images

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary
