Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-create-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

pull-oss-test-infra-check-create-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20210714-62f15287bd
      command:
      - /app/testgrid/cmd/configurator/app.binary
      args:
      - --yaml=testgrid/config.yaml
      - --default=testgrid/default.yaml
      - --prow-config=prow/oss/config.yaml
  ...

pull-knative-prow-config-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210714-62f15287bd
      imagePullPolicy: Always
      command:
      - /checkconfig
      args:
      - --config-path=./prow/knative/config.yaml
      - --job-config-path=../../knative/test-infra/config/prod/prow/jobs
  ...

post-oss-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/oss
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-create-testgrid-config:
  labels:
    preset-bazel-scratch-dir: 'true'
  decorate: true
  spec:
    serviceAccountName: testgrid-config-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20210714-62f15287bd
      command:
      - /app/testgrid/cmd/configurator/app.binary
      args:
      - --yaml=testgrid/config.yaml
  ...

post-oss-test-infra-reconcile-hmacs:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/hmac:v20210714-62f15287bd
      command:
      - /hmac
      args:
      - --config-path=prow/oss/config.yaml
      - --hook-url=https://oss-prow.knative.dev/hook
      - --hmac-token-secret-name=hmac-token
      - --hmac-token-key=hmac
  ...

Bumping oss-prow
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/deck_private_deployment.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/prow-controller-manager.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/sub.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/blueprints/GoogleCloudPlatform_blueprints_checkconfig.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  prow/prowjobs/private-inrepoconfig-configcheck/looker/helltool/hellotool.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config, post-oss-test-infra-reconcile-hmacs

Bumping knative-prow
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-prow-controller-manager.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-cherrypicker.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

test: fix kfp periodic cleanup job by changing image.
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-periodics.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

add first alerts
  .gitignore
  prow/oss/terraform/modules/alerts/main.tf
  prow/oss/terraform/modules/alerts/variables.tf
Due: none

Add podmonitor for external secrets and sub
  prow/oss/cluster/kubernetes-external-secrets_deployment.yaml
  prow/oss/cluster/monitoring/prow_podmonitors.yaml
  prow/oss/cluster/sub.yaml
Due: post-oss-test-infra-deploy-prow

Increase Sub replicas from 1 to 10.
  prow/oss/cluster/sub.yaml
Due: post-oss-test-infra-deploy-prow

add gcp-guest bucket for spyglass
  prow/oss/config.yaml
Due: post-oss-test-infra-reconcile-hmacs

test(kubeflow): add run_if_changed for kubeflow-pipeline-e2e-test and kubeflow-pipeline-sample-test
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update kubeflow-pipelines-presubmits.yaml
  prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

add cit-periodics
  prow/prowjobs/GoogleCloudPlatform/gcp-guest/gcp-guest-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Update testgrid unit test image to something with bazel 3.4.1 and 3.0.0
  prow/prowjobs/GoogleCloudPlatform/testgrid/testgrid-images.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

ci-absent alert
  prow/oss/terraform/main.tf
  prow/oss/terraform/modules/alerts/main.tf
  prow/oss/terraform/modules/alerts/variables.tf
Due: none

Switch to testgrid variant of bazelbuild
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Cleanup OWNERS files.
  OWNERS
Due: none

Use testgrid variant of gcloud-bazel
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Add terraform config for a predicted-gh-rate-limit-exhaustion alert.
  prow/oss/terraform/modules/alerts/main.tf
Due: none

Created idrectory + basic condig file
  prow/prowjobs/linux-review.googlesource.com/linux-lkml-bridge-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

Added linux review Gerrit instance to crier file
  prow/oss/cluster/crier.yaml
Due: post-oss-test-infra-deploy-prow

Added linux review Gerrit instance to gerrit file
  prow/oss/cluster/gerrit.yaml
Due: post-oss-test-infra-deploy-prow

Add Makefile with validation rule for terraform.
  prow/oss/terraform/Makefile
Due: none

Fix rate limit exhaustion alert to be suitable for alerting.
  prow/oss/terraform/modules/alerts/main.tf
Due: none

Modified gerrit.yaml to have correct project address
  prow/oss/cluster/gerrit.yaml
Due: post-oss-test-infra-deploy-prow

Modified repository names
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/gerrit.yaml
  prow/prowjobs/linux-review.googlesource.com/linux-lkml-bridge-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

restructured directorioes
  prow/prowjobs/linux-review.googlesource.com/linux/kernel/git/torvalds/linux.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-create-testgrid-config

added owners file
  prow/prowjobs/linux-review.googlesource.com/OWNERS
Due: none

Fixing heartbeat job stale alert
  prow/oss/terraform/modules/alerts/main.tf
Due: none

Add a presubmit for validating terraform configuration.
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-create-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-create-testgrid-config

Path conditions:
  pull-oss-test-infra-check-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-create-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-reconcile-hmacs: any of: prow/oss/config.yaml
