Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: post-testgrid-deploy-prod, post-testgrid-deploy-canary

post-testgrid-deploy-prod:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200211-v0.4-10-g26b1b47
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/prod:prod.apply

post-testgrid-deploy-canary:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200211-v0.4-10-g26b1b47
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/canary/canary:apply

Add missing gridPrefix option
  cmd/updater/main.go
Due: none

Update canary testgrid to v20200714-v0.0.13-4-g708c3dd
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Integrate healthiness analysis into Summarizer workflow
  pb/config/config.pb.go
  pb/config/config.proto
  pb/summary/summary.pb.go
  pb/summary/summary.proto
  pkg/summarizer/BUILD.bazel
  pkg/summarizer/flakiness.go
  pkg/summarizer/flakiness_test.go
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: none

Create namespace before objects in that namespace
  cluster/canary/BUILD.bazel
  cluster/prod/BUILD.bazel
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary

Write to canary bucket
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Update prod updater to 20200714, turn off confirm.
  cluster/canary/updater.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary

Use different service account for canary
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Update to golang 1.14 (via repo infra 0.0.7), logrus 1.6, and improve updater logging
  WORKSPACE
  cmd/updater/main.go
  go.mod
  go.sum
  repos.bzl
Due: none

Correct config location
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Rollout v20200714 summarizer and updater to prod.
  cluster/prod/summarizer.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Flags to configure where summarizer reads/writes.
  cmd/summarizer/main.go
  pkg/summarizer/summary.go
Due: none

Change Healthiness report to filter out test methods
  pkg/summarizer/flakiness.go
  pkg/summarizer/flakiness_test.go
Due: none

Fix edge case in parseGrid
  pkg/summarizer/flakiness.go
Due: none

Prevent writing grid state to gs://k8s-testgrid, allow a subdir
  cmd/updater/main.go
Due: none

wip changes
  internal/result/results.go
  pb/state/state.pb.go
  pb/state/state.proto
Due: none

Add fields and logic to also record flakiness values from the previous interval
  pb/summary/summary.pb.go
  pb/summary/summary.proto
  pkg/summarizer/flakiness.go
  pkg/summarizer/flakiness_test.go
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: none

Restore some state proto documentation
  pb/state/state.pb.go
  pb/state/state.proto
Due: none

Update OWNERS
  OWNERS
Due: none

Functions to reinflate compressed grid messages.
  pb/state/state.pb.go
  pb/state/state.proto
  pkg/updater/BUILD.bazel
  pkg/updater/inflate.go
  pkg/updater/inflate_test.go
Due: none

Adjust tests and fix Result categorization functions:
  internal/result/results.go
  pkg/summarizer/flakiness.go
  pkg/summarizer/flakiness_test.go
Due: none

Convert a GCS result into an inflatedColumn.
  pkg/updater/BUILD.bazel
  pkg/updater/gcs.go
  pkg/updater/gcs_test.go
  pkg/updater/updater.go
Due: none

Upgrade testgrid to v20200723-v0.0.14-26-gd07545a
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Refactor how we read test suites.
  util/gcs/BUILD.bazel
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Add LinkedBugs in the summary.
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: none

Suites() coverage
  pkg/updater/updater.go
  util/gcs/BUILD.bazel
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Test coverage for Started() and Finished()
  util/gcs/BUILD.bazel
  util/gcs/read_test.go
Due: none

Rename interrogator to client
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Add ListBuilds coverage
  util/gcs/read_test.go
Due: none

Refactor gcs client out of Build
  cmd/updater/main.go
  pkg/updater/updater.go
  util/gcs/read.go
  util/gcs/read_test.go
Due: none

Add methods for reading builds from GCS.
  .bazelignore
  pkg/updater/BUILD.bazel
  pkg/updater/read.go
  pkg/updater/read_test.go
Due: none

Add ReadColumns coverage.
  go.mod
  pkg/updater/BUILD.bazel
  pkg/updater/read.go
  pkg/updater/read_test.go
Due: none

Refactor updater to use inflatedColumn.
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Add constructGrid and testGroupPath
  pkg/updater/BUILD.bazel
  pkg/updater/read.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
  util/gcs/read_test.go
Due: none

Add updateGroup() coverage
  metadata/job.go
  metadata/job_test.go
  pkg/updater/gcs.go
  pkg/updater/read.go
  pkg/updater/read_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Add coverage for linked builds
  util/gcs/BUILD.bazel
  util/gcs/read_test.go
Due: none

Filter test methods out of summaries.
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: none

Initial updater.Update() coverage.
  cmd/updater/main.go
  config/config.go
  pkg/summarizer/summary.go
  pkg/updater/BUILD.bazel
  pkg/updater/read.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
  util/gcs/BUILD.bazel
  util/gcs/client.go
Due: none

Only reprocess last 4 hours of results.
  pkg/updater/inflate.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: none

Update canary to v20200804-v0.0.15-29-g09b67a9
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary

Drop Advanced stop message to debug
  pkg/updater/updater.go
Due: none

Path conditions:
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
