Repository GoogleCloudPlatform/testgrid: changes, and which Prow jobs are due for each by the changed paths.
All: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

push-testgrid-images:
  decorate: true
  spec:
    serviceAccountName: testgrid-pusher
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20200609-e7bfd25-test-infra
      command:
      - ./images/push.sh

post-testgrid-deploy-prod:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/prod:prod.apply

post-testgrid-deploy-canary:
  decorate: true
  spec:
    serviceAccountName: testgrid-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20200520-v0.4-30-g9d6313a
      command:
      - ./cluster/deploy.sh
      args:
      - --confirm
      - //cluster/canary:canary.apply

testgrid-prod-autobump:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/generic-autobumper:v20210714-62f15287bd
      command:
      - /app/prow/cmd/generic-autobumper/app.binary
      args:
      - --config=cluster/testgrid-prod-autobump-config.yaml
      volumeMounts:
      - name: github
  ...

Refactor benchmark to be table driven.
  internal/result/results_test.go
Due: push-testgrid-images

Bumping Testgrid Canary
  cluster/canary/api.yaml
  cluster/canary/config_merger.yaml
  cluster/canary/summarizer.yaml
  cluster/canary/tabulator.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Bumping Testgrid Prod
  cluster/prod/config_merger.yaml
  cluster/prod/knative/summarizer.yaml
  cluster/prod/knative/tabulator.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/summarizer.yaml
  cluster/prod/tabulator.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Enable --skip-gc in canary
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Drop --grid-path flag and remaining usage.
  cmd/summarizer/main.go
  pkg/summarizer/pubsub.go
Due: push-testgrid-images

Turn on --skip-gc in prod
  cluster/prod/knative/updater.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Lint fixes
  internal/result/results.go
  pkg/updater/updater.go
Due: push-testgrid-images

Refactor Tabulator to read and write separately
  .gitignore
  benchmark/tabulator_bench_test.go
  cmd/tabulator/main.go
  pkg/tabulator/BUILD.bazel
  pkg/tabulator/tabstate.go
  pkg/tabulator/tabstate_test.go
Due: push-testgrid-images

Use --build-concurrency, default --pooled=true
  cluster/canary/updater.yaml
  cluster/prod/updater.yaml
  cmd/updater/main.go
  cmd/updater/main_test.go
Due: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Add --skip-gc to prod
  cluster/prod/knative/updater.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Default --skip-gc to true
  cmd/updater/main.go
Due: push-testgrid-images

Remove --pooled, --skip-gc (defaults true)
  cluster/canary/updater.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Calculate column stats in prod.
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Set maximum delay to twice the update frequency
  pkg/updater/updater.go
Due: push-testgrid-images

Remove --pooled flag
  cmd/updater/main.go
  cmd/updater/main_test.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Check whether the config snapshot channel is closed
  pkg/updater/updater.go
Due: push-testgrid-images

Remove --reprocess-on-change flag
  cluster/canary/updater.yaml
  cluster/prod/knative/updater.yaml
  cluster/prod/updater.yaml
  cmd/updater/main.go
  cmd/updater/main_test.go
Due: push-testgrid-images, post-testgrid-deploy-prod, post-testgrid-deploy-canary, testgrid-prod-autobump

Retire basicResultReader
  pkg/updater/read.go
  pkg/updater/read_test.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

add attributes from reading configuration
  config/cache.go
  config/cache_test.go
  pkg/api/v1/config.go
  pkg/merger/merger.go
Due: push-testgrid-images

Set --filter-columns to true
  cmd/tabulator/main.go
Due: push-testgrid-images

Remove --skip-gc and --reprocess-on-change flags
  cmd/updater/main.go
  pkg/updater/BUILD.bazel
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Truncate data inline
  cmd/updater/main.go
  pkg/updater/updater.go
  pkg/updater/updater_test.go
Due: push-testgrid-images

Revert "Filter columns in prod"
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Fix test group config in task creation in tabulator
  benchmark/tabulator.sh
  pkg/tabulator/tabstate.go
  pkg/tabulator/tabstate_test.go
Due: push-testgrid-images

Add skip-base-options-filter flag
  cmd/summarizer/main.go
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: push-testgrid-images

Enable features in canary
  cluster/canary/summarizer.yaml
  cluster/canary/updater.yaml
Due: post-testgrid-deploy-canary, testgrid-prod-autobump

Update state.proto comments
  pb/state/state.pb.go
  pb/state/state.proto
Due: push-testgrid-images

Re-enable filter columns in production
  cluster/prod/knative/tabulator.yaml
  cluster/prod/tabulator.yaml
Due: post-testgrid-deploy-prod

Stop filtering by regex in prod summarizer
  cluster/prod/knative/summarizer.yaml
  cluster/prod/summarizer.yaml
Due: post-testgrid-deploy-prod

Shrink inline for production updaters
  cluster/prod/knative/updater.yaml
  cluster/prod/updater.yaml
Due: post-testgrid-deploy-prod

Seed prow inrepoconfig job
  .prow.yaml
Due: push-testgrid-images

Path conditions:
  push-testgrid-images: any of: ^([^c]|c[^l]|cl[^u]|clu[^s]|clus[^t]|clust[^e]|cluste[^r]).*$
  post-testgrid-deploy-prod: any of: ^cluster/prod
  post-testgrid-deploy-canary: any of: ^cluster/canary
  testgrid-prod-autobump: any of: ^cluster/canary
