Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Path conditions:
  pull-oss-test-infra-check-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  post-oss-test-infra-deploy-prow: any of: ^prow/cluster/|^prow/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-upload-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$

Update --kubeconfig to use new key.
  prow/oss/cluster/cluster.yaml
Due: none

exposure-notification jobs use build cluster
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add a canary job testing build cluster for apollo server repo
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Delete apollo server canary job
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Apollo Server test: add a canary job for testing GCS access token
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Delete canary job
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add service account mount
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add Exp Not Verification Server to plugins, repos
  prow/oss/config.yaml
  prow/oss/plugins.yaml
Due: none

Update prow/oss/plugins.yaml
  prow/oss/plugins.yaml
Due: none

Update plugins.yaml
  prow/oss/plugins.yaml
Due: none

Add auto bump job for knative prow configs
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Add knative prow core and plugins config here
  prow/knative/README.md
  prow/knative/config.yaml
  prow/knative/plugins.yaml
Due: none

Protect knative prow cluster from being used by any job
  prow/tests/jobs_test.go
Due: none

Updateconfig plugin updates knative prow configs from oss-test-infra prow
  prow/oss/plugins.yaml
Due: none

respect github status in reviewer assignment
  prow/oss/plugins.yaml
Due: none

Add OWNERS
  prow/knative/OWNERS
Due: none

mirror en-server config to en-verification-server
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

format
  prow/oss/plugins.yaml
Due: none

Restore original test function, add one more test for knative cluster only
  prow/tests/jobs_test.go
Due: none

Update based on code review feedbacks
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Use latest autobump image
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Mirror changes from https://github.com/knative/test-infra/pull/2255
  prow/knative/plugins.yaml
Due: none

Update kubeconfig to 'oss-config-20200630' to include knative-prow-trusted cluster.
  prow/oss/cluster/cluster.yaml
Due: none

Fixing typo
  prow/oss/plugins.yaml
Due: none

Delete unused comment in knative prow core config file
  prow/knative/config.yaml
Due: none

Add performance test job for exposure notification server
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add testgrid entry
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
  testgrid/config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Noop update on knative core config
  prow/knative/config.yaml
Due: none

Mount kubeconfig secret for hook
  prow/oss/cluster/cluster.yaml
Due: none

Update autobump image to use fix from https://github.com/kubernetes/test-infra/pull/18120
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Revert "Update autobump image to use fix from https://github.com/kubernetes/test-infra/pull/18120"
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Revert "Use latest autobump image"
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Revert "Update based on code review feedbacks"
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Revert "Add auto bump job for knative prow configs"
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump prow from v20200622-168a90f1b0 to v20200628-cc1c099dad
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Spyglass highlights a handful of compile errors.
  prow/knative/config.yaml
Due: none

Bump prow from v20200628-cc1c099dad to v20200703-4509c055d7
  prow/oss/cluster/cluster.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Revert "Revert "Add auto bump job for knative prow configs""
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Autobump using latest image
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Remove unused secret for EN verification server
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config
