Repository GoogleCloudPlatform/oss-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-oss-test-infra-check-testgrid-config, pull-knative-prow-config-validate, post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, post-oss-test-infra-upload-testgrid-config

Path conditions:
  pull-oss-test-infra-check-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$
  pull-knative-prow-config-validate: any of: ^prow/knative/(config|plugins)\.yaml$
  post-oss-test-infra-deploy-prow: any of: ^prow/oss/cluster/|^prow/oss/serviceaccounts/|^prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  post-oss-test-infra-upload-testgrid-config: any of: ^(prow/prowjobs/.*\.yaml)|(testgrid/config\.yaml)$

Use workload identity for Prow control plane deployments
  prow/knative/cluster/301-rbac.yaml
  prow/knative/cluster/400-crier.yaml
Due: post-oss-test-infra-deploy-knative-prow

Remove branch-protection config since they are not used for automation here
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate

[ESPv2] Update machine type for GKE jobs to `e2-standard-2`
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump oss-prow from v20201002-9b61c96506 to v20201012-f0efae8e46
  prow/oss/cluster/controller-manager.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/plank.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Enable ghproxy cache partitioning.
  prow/knative/cluster/400-ghproxy.yaml
  prow/oss/cluster/ghproxy.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Bump knative-prow from v20201002-9b61c96506 to v20201012-f0efae8e46
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-plank.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Expand regexp for junit files in Spyglass
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate

Update crier RBAC to support pod finalizers.
  prow/knative/cluster/301-rbac.yaml
  prow/oss/cluster/crier.yaml
Due: post-oss-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow

Include comment on regexp expansion for junit files in Spyglass
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate

Allow deck k8s SA act as prow-control-plane@knative-tests.iam.gserviceaccount.com
  prow/knative/cluster/301-rbac.yaml
Due: post-oss-test-infra-deploy-knative-prow

[ESPv2] Update to prow images with clang-10
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Run incremental E2E tests in pull-en-server-release-e2e-canary
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Add GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp Prow job
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/OWNERS
  prow/prowjobs/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/secrets-store-csi-driver-provider-gcp-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix indentation
  prow/prowjobs/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/secrets-store-csi-driver-provider-gcp-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix typo
  prow/oss/config.yaml
Due: none

Prow components send metrics
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/plank.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
Due: post-oss-test-infra-deploy-prow

Naming all ports exposed
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/tide.yaml
Due: post-oss-test-infra-deploy-prow

Add missing "app" labels to Prow services.
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/tide.yaml
Due: post-oss-test-infra-deploy-prow

Add cluster to secrets-store-csi-driver-provider-gcp
  prow/prowjobs/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/secrets-store-csi-driver-provider-gcp-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

EN: prow jobs running 30 minutes apart
  prow/prowjobs/google/exposure-notifications-server/en-server.yaml
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Update secrets-store-csi-driver-provider-gcp with correct cluster name
  prow/prowjobs/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/secrets-store-csi-driver-provider-gcp-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

- Update to oss-prow specific - Add Makefile rule for deploying - Set up email alert
  mixins/dashboards_out/boskos-http.json
  mixins/dashboards_out/boskos.json
  mixins/dashboards_out/deck.json
  mixins/dashboards_out/ghproxy.json
  mixins/dashboards_out/hook.json
  mixins/dashboards_out/plank.json
  mixins/dashboards_out/prow.json
  mixins/dashboards_out/sinker.json
  mixins/dashboards_out/slo.json
  mixins/dashboards_out/tide.json
  mixins/prometheus_out/prow_prometheusrule.yaml
  prow/oss/cluster/monitoring/BUILD.bazel
  prow/oss/cluster/monitoring/Makefile
  prow/oss/cluster/monitoring/OWNERS
  prow/oss/cluster/monitoring/README.md
  prow/oss/cluster/monitoring/additional-scrape-configs_secret.yaml
  prow/oss/cluster/monitoring/alertmanager-prow_secret.yaml
  prow/oss/cluster/monitoring/grafana_configmaps.yaml
  prow/oss/cluster/monitoring/grafana_deployment.yaml
  prow/oss/cluster/monitoring/grafana_expose.yaml
  prow/oss/cluster/monitoring/ing_ingress.yaml
  prow/oss/cluster/monitoring/mixins/Makefile
  prow/oss/cluster/monitoring/mixins/dashboards_out/BUILD.bazel
  prow/oss/cluster/monitoring/mixins/grafana_dashboards/BUILD.bazel
  prow/oss/cluster/monitoring/mixins/grafana_dashboards/boskos-http.jsonnet
  prow/oss/cluster/monitoring/mixins/grafana_dashboards/boskos.jsonnet
  prow/oss/cluster/monitoring/mixins/lib/BUILD.bazel
  prow/oss/cluster/monitoring/mixins/lib/config.libsonnet
  prow/oss/cluster/monitoring/mixins/prometheus/BUILD.bazel
  prow/oss/cluster/monitoring/mixins/prometheus/boskos_alerts.libsonnet
  prow/oss/cluster/monitoring/mixins/prometheus/ci_absent_alerts.libsonnet
  prow/oss/cluster/monitoring/mixins/prometheus/hook_alert.libsonnet
  prow/oss/cluster/monitoring/mixins/prometheus/plank_alerts.libsonnet
  prow/oss/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
  prow/oss/cluster/monitoring/mixins/prometheus_out/BUILD.bazel
  prow/oss/cluster/monitoring/monitoring-prow-canary-k8s-io_managedcertificate.yaml
  prow/oss/cluster/monitoring/monitoring-prow-k8s-io_managedcertificate.yaml
  prow/oss/cluster/monitoring/prow_servicemonitors.yaml
  prow/oss/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
  prow/oss/cluster/monitoring/secrets/grafana_secret.yaml
Due: post-oss-test-infra-deploy-prow

Update based on review comments
  prow/oss/cluster/monitoring/Makefile
  prow/oss/cluster/monitoring/README.md
  prow/oss/cluster/monitoring/additional-scrape-configs_secret.yaml
  prow/oss/cluster/monitoring/mixins/Makefile
  prow/oss/cluster/monitoring/mixins/vendor/github.com/kubernetes-monitoring/kubernetes-mixin/OWNERS
  prow/oss/cluster/monitoring/mixins/vendor/kubernetes-mixin/OWNERS
Due: post-oss-test-infra-deploy-prow

Make oss-prow deploy job deploy the monitoring stack.
  prow/oss/Makefile
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Dummy change to test oss-prow deploy job.
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Use :latest instead of :alpine base image
  prow/prowjobs/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/secrets-store-csi-driver-provider-gcp-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Fix monitoring make target
  prow/oss/cluster/monitoring/mixins/Makefile
Due: post-oss-test-infra-deploy-prow

Add a no op receiver as default alert receiver
  prow/oss/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
Due: post-oss-test-infra-deploy-prow

Fix Makefile for monitoring
  prow/oss/cluster/monitoring/mixins/Makefile
Due: post-oss-test-infra-deploy-prow

YAML cleanup: consistent indentation before list elements
  prow/oss/cluster/monitoring/grafana_deployment.yaml
  prow/oss/cluster/monitoring/prometheus_operator_deployment.yaml
  prow/oss/cluster/monitoring/prometheus_operator_rbac.yaml
  prow/oss/cluster/monitoring/prometheus_rbac.yaml
  prow/oss/cluster/monitoring/prow_prometheus.yaml
  prow/oss/cluster/monitoring/prow_servicemonitors.yaml
Due: post-oss-test-infra-deploy-prow

[ESPv2] Update coverage job images
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

[ESPv2] Fix incorrect image name
  prow/prowjobs/GoogleCloudPlatform/esp-v2/esp-v2.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Bump oss-prow from v20201012-f0efae8e46 to v20201019-3b28521b87
  prow/oss/cluster/controller-manager.yaml
  prow/oss/cluster/crier.yaml
  prow/oss/cluster/deck.yaml
  prow/oss/cluster/gerrit.yaml
  prow/oss/cluster/ghproxy.yaml
  prow/oss/cluster/grandmatriarch_default.yaml
  prow/oss/cluster/grandmatriarch_test-pods.yaml
  prow/oss/cluster/hook.yaml
  prow/oss/cluster/horologium.yaml
  prow/oss/cluster/plank.yaml
  prow/oss/cluster/sinker.yaml
  prow/oss/cluster/tide.yaml
  prow/oss/config.yaml
  prow/prowjobs/GoogleCloudPlatform/oss-test-infra/gcp-oss-test-infra-config.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-deploy-prow, post-oss-test-infra-upload-testgrid-config

Bump knative-prow from v20201012-f0efae8e46 to v20201019-3b28521b87
  prow/knative/cluster/400-crier.yaml
  prow/knative/cluster/400-deck.yaml
  prow/knative/cluster/400-ghproxy.yaml
  prow/knative/cluster/400-hook.yaml
  prow/knative/cluster/400-horologium.yaml
  prow/knative/cluster/400-plank.yaml
  prow/knative/cluster/400-sinker.yaml
  prow/knative/cluster/400-tide.yaml
  prow/knative/cluster/500-needs-rebase.yaml
  prow/knative/cluster/500-status-reconciler.yaml
  prow/knative/config.yaml
Due: pull-knative-prow-config-validate, post-oss-test-infra-deploy-knative-prow

Knative specific changes
  prow/knative/cluster/monitoring/Makefile
  prow/knative/cluster/monitoring/additional-scrape-configs_secret.yaml
  prow/knative/cluster/monitoring/grafana_expose.yaml
  prow/knative/cluster/monitoring/mixins/Makefile
  prow/knative/cluster/monitoring/mixins/lib/config.libsonnet
  prow/knative/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
Due: post-oss-test-infra-deploy-knative-prow

EN jobs: fix verification server e2e test job entrypoint
  prow/prowjobs/google/exposure-notifications-verification-server/en-verification-server.yaml
Due: pull-oss-test-infra-check-testgrid-config, post-oss-test-infra-upload-testgrid-config

Expose knative prow boskos metrics, and deprecate boskos-metrics deployment
  prow/knative/cluster/build/400-boskos-metrics.yaml
  prow/knative/cluster/build/400-boskos.yaml
Due: post-oss-test-infra-deploy-knative-prow
